@import url(../libs/font-awesome/css/font-awesome.css);
.btn__group > .btn {
  border-radius: 0; }

.btn__group > .btn + .btn {
  margin-left: -1px; }

.btn__group > .btn:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.btn__group > .btn:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

/** 
 * -----------------------------------------------------------------------------
 *  _buttons.scss
 * -----------------------------------------------------------------------------
 * 
 * Interface buttons can be links, buttons or submit inputs and can be used 
 * anywhere in the UI for different needs.
 *
 * Example:
 *
 * <a class="button [button--modifier]" role="button" href="#">Button text</a>
 * <button class="button [button--modifier]" type="submit">Button text</button>
 * <input class="button [button--modifier]" type="submit" value="Button text">
 */
/**
 * Button constructor
 *
 * 1. Corrects inability to style clickable `input` types in iOS
 * 2. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 3. Inherit text color from ancestor.
 * 4. Inherit font styles from ancestor.
 * 5. Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+.
 * 6. Prevent button text from being selectable.
 * 7. Prevent wrapping across multiple lines.
 */
.btn {
  -webkit-appearance: none;
  /* 1 */
  background: transparent;
  border: 1px solid;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 2 */
  color: inherit;
  /* 3 */
  cursor: pointer;
  display: inline-block;
  font: inherit;
  /* 4 */
  line-height: normal;
  /* 5 */
  margin: 0;
  padding: 0.4em 0.75em;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* 6 */
  vertical-align: middle;
  white-space: nowrap;
  /* 7 */ }

/**
 * UI states
 */
.btn:hover,
.btn:focus,
.btn:active {
  text-decoration: none; }

.btn:disabled,
.btn.is-disabled {
  cursor: default; }

/**
 * Remove excess padding and border in Firefox 4+
 */
.btn::moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Visual variations
 */
.btn {
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 white;
  color: #333333;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6), color-stop(100%, #c9c9c9));
  background-image: -webkit-linear-gradient(#e6e6e6, #c9c9c9);
  background-image: linear-gradient(#e6e6e6, #c9c9c9);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #f0f0f0;
  background-clip: padding-box; }
  .btn:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #f2f2f2;
    cursor: pointer;
    background-color: #d9d9d9;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d9d9d9), color-stop(100%, #c2c2c2));
    background-image: -webkit-linear-gradient(#d9d9d9, #c2c2c2);
    background-image: linear-gradient(#d9d9d9, #c2c2c2); }
  .btn:active:not(:disabled) {
    border: 1px solid #c2c2c2;
    box-shadow: inset 0 0 8px 4px #bababa, inset 0 0 8px 4px #bababa, 0 1px 1px 0 #eeeeee; }
  .btn:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.btn--primary {
  border: 1px solid #2774b7;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #97bbdb;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #5697cf;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5697cf), color-stop(100%, #297cc4));
  background-image: -webkit-linear-gradient(#5697cf, #297cc4);
  background-image: linear-gradient(#5697cf, #297cc4);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1d6aac;
  background-clip: padding-box; }
  .btn--primary:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #70a3ce;
    cursor: pointer;
    background-color: #468ac5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #468ac5), color-stop(100%, #2874b6));
    background-image: -webkit-linear-gradient(#468ac5, #2874b6);
    background-image: linear-gradient(#468ac5, #2874b6); }
  .btn--primary:active:not(:disabled) {
    border: 1px solid #2774b7;
    box-shadow: inset 0 0 8px 4px #266ca8, inset 0 0 8px 4px #266ca8, 0 1px 1px 0 #eeeeee; }
  .btn--primary:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.btn--success {
  border: 1px solid #42bd42;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #b9dab9;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #80c780;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #80c780), color-stop(100%, #4ec14e));
  background-image: -webkit-linear-gradient(#80c780, #4ec14e);
  background-image: linear-gradient(#80c780, #4ec14e);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #36b536;
  background-clip: padding-box; }
  .btn--success:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #97ca97;
    cursor: pointer;
    background-color: #72bc72;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #72bc72), color-stop(100%, #44bc44));
    background-image: -webkit-linear-gradient(#72bc72, #44bc44);
    background-image: linear-gradient(#72bc72, #44bc44); }
  .btn--success:active:not(:disabled) {
    border: 1px solid #42bd42;
    box-shadow: inset 0 0 8px 4px #41b041, inset 0 0 8px 4px #41b041, 0 1px 1px 0 #eeeeee; }
  .btn--success:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.btn--warning {
  border: 1px solid #f79b18;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #f4d8af;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #f2b865;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2b865), color-stop(100%, #f8a227));
  background-image: -webkit-linear-gradient(#f2b865, #f8a227);
  background-image: linear-gradient(#f2b865, #f8a227);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fa9301;
  background-clip: padding-box; }
  .btn--warning:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #efc281;
    cursor: pointer;
    background-color: #ecac51;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ecac51), color-stop(100%, #f69b1a));
    background-image: -webkit-linear-gradient(#ecac51, #f69b1a);
    background-image: linear-gradient(#ecac51, #f69b1a); }
  .btn--warning:active:not(:disabled) {
    border: 1px solid #f79b18;
    box-shadow: inset 0 0 8px 4px #f4940c, inset 0 0 8px 4px #f4940c, 0 1px 1px 0 #eeeeee; }
  .btn--warning:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.btn--danger {
  border: 1px solid #d82721;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #e6a9a7;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #dd6864;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dd6864), color-stop(100%, #de312b));
  background-image: -webkit-linear-gradient(#dd6864, #de312b);
  background-image: linear-gradient(#dd6864, #de312b);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #cd1e18;
  background-clip: padding-box; }
  .btn--danger:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #dc827f;
    cursor: pointer;
    background-color: #d45753;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d45753), color-stop(100%, #d72923));
    background-image: -webkit-linear-gradient(#d45753, #d72923);
    background-image: linear-gradient(#d45753, #d72923); }
  .btn--danger:active:not(:disabled) {
    border: 1px solid #d82721;
    box-shadow: inset 0 0 8px 4px #c92722, inset 0 0 8px 4px #c92722, 0 1px 1px 0 #eeeeee; }
  .btn--danger:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.btn--info {
  border: 1px solid #2ab7e2;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #b4dfeb;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #71c8e2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #71c8e2), color-stop(100%, #38bce3));
  background-image: -webkit-linear-gradient(#71c8e2, #38bce3);
  background-image: linear-gradient(#71c8e2, #38bce3);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #17b2e1;
  background-clip: padding-box; }
  .btn--info:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #8bcee2;
    cursor: pointer;
    background-color: #5fbeda;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5fbeda), color-stop(100%, #2bb7e0));
    background-image: -webkit-linear-gradient(#5fbeda, #2bb7e0);
    background-image: linear-gradient(#5fbeda, #2bb7e0); }
  .btn--info:active:not(:disabled) {
    border: 1px solid #2ab7e2;
    box-shadow: inset 0 0 8px 4px #21b0db, inset 0 0 8px 4px #21b0db, 0 1px 1px 0 #eeeeee; }
  .btn--info:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.btn--inverse {
  border: 1px solid #2c3636;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #7b7b7b;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #535656;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #535656), color-stop(100%, #323e3e));
  background-image: -webkit-linear-gradient(#535656, #323e3e);
  background-image: linear-gradient(#535656, #323e3e);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #202d2d;
  background-clip: padding-box; }
  .btn--inverse:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #616161;
    cursor: pointer;
    background-color: #484848;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #484848), color-stop(100%, #2c3636));
    background-image: -webkit-linear-gradient(#484848, #2c3636);
    background-image: linear-gradient(#484848, #2c3636); }
  .btn--inverse:active:not(:disabled) {
    border: 1px solid #2c3636;
    box-shadow: inset 0 0 8px 4px #262d2d, inset 0 0 8px 4px #262d2d, 0 1px 1px 0 #eeeeee; }
  .btn--inverse:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

/*
 * Override Bourbon's defaults
 */
.btn {
  font-size: 14px;
  font-weight: normal; }

/** 
 * -----------------------------------------------------------------------------
 *  _navbar.scss
 * ----------------------------------------------------------------------------- 
 */
.navbar {
  background-color: #222222; }
  .navbar a {
    color: white; }
    .navbar a:hover {
      color: #e6e6e6; }

.tabs__list {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 200px; }
  .tabs__list > li {
    margin-bottom: 1px; }
  .tabs__list > li > a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #222222;
    display: block;
    line-height: 35.5px;
    padding: 0 10px;
    text-decoration: none; }
  .tabs__list > li > a:hover {
    background-color: #eeeeee; }
  .tabs__list > li.is-active > a {
    border: 1px solid #cccccc;
    border-right: none;
    background-color: white; }

.tabs__content {
  background-color: white;
  border: 1px solid #cccccc;
  border-bottom-left-radius: 4px;
  display: block;
  overflow: auto; }
  .tabs__content > .tab__pane {
    display: none; }
    .tabs__content > .tab__pane.is-active {
      display: block; }

.tabs__content > .tab__pane > table {
  width: 100%; }
  .tabs__content > .tab__pane > table th, .tabs__content > .tab__pane > table td {
    text-align: left; }

.toolbar {
  background-color: #222222;
  height: 44px; }

.brand {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  background-repeat: no-repeat;
  background-image: url("../images/jaduIdent.png");
  height: 24px;
  margin: 0 20px;
  overflow: hidden;
  position: relative;
  top: 10px;
  width: 75px; }
