<div class="slide">
    <div class="slide-inner padded">
        <button class="close" data-dismiss="deck">×</button>

        <div class="btn__toolbar">
          <div class="btn__group"><button class="btn"><i class="icon-chevron-left"></i></button><button class="btn"><i class="icon-chevron-right"></i></button></div>
          <h3>Article 1</h3>
        </div>

          <img src="http://www.dumb.com/m_pictures/1b60c22e7d92a900f6534a5880845979.jpg" class="pull-left" />

          <div class="pull-left">

            <div class="form__group ">
              <label for="inputText" class="control__label">Date uploaded</label>
              <div class="controls">
                <input type="text" class="form__control" id="inputTextMedium" name="inputTextMedium" value="04/07/2014 12:34pm" disabled="disabled" />
              </div>
            </div>
            
            <div class="form__group ">
              <label for="inputText" class="control__label">Type</label>
              <div class="controls">
                <select class="form__control" id="inputSelect" name="inputSelect">
                  <option value="value1">Photograph</option>
                  <option value="value2">Second option</option>
                </select>
              </div>
            </div>

            <div class="form__group ">
              <label for="inputText" class="control__label">Description</label>
              <div class="controls">
                <textarea class="form__control" id="inputTextarea4" name="inputTextarea4" placeholder="Placeholder" rows="8">I'm clearly not parked on a double yellow line.</textarea>
              </div>
            </div>

          </div>

        <div class="form__actions form__actions--flush">
          <input type="submit" class="btn btn--primary" value="Save Changes">
          <input type="button" class="btn btn--danger pull-right" value="Delete">
        </div>
    </div>

</div>