{% extends "@pulsar/pulsar/components/tab.html.twig" %}

{% block tab_sidebar %}
    <h2 class="heading">Block Lists</h2>

     <p>A simple way to present lists of information which can be marked up using
     <code>&lt;div&gt; &lt;ul&gt;</code> or <code>&lt;ol&gt;</code>.</p>

     <p>
     {{
        html.link({
            'label': html.icon('book') ~ ' Pulsar documentation',
            'href': 'https://jadu.gitbooks.io/pulsar/content/block_list.html'
        })
    }}</p>
{% endblock %}

{% block tab_content %}

    <ul class="block-list">
        <li class="block-list__item">One</li>
        <li class="block-list__item">Two</li>
        <li class="block-list__item">Three</li>
    </ul>

    <ul class="block-list block-list--underlined">
        <li class="block-list__item">One</li>
        <li class="block-list__item">Two</li>
        <li class="block-list__item">Three</li>
    </ul>

    <ul class="block-list block-list--bordered">
        <li class="block-list__item">One</li>
        <li class="block-list__item">Two</li>
        <li class="block-list__item">Three</li>
    </ul>

    <h2> With header</h2>

    <ul class="block-list">
        <li class="block-list__header">Block list header</li>
        <li class="block-list__item">One</li>
        <li class="block-list__item">Two</li>
        <li class="block-list__item">Three</li>
    </ul>

    <ul class="block-list block-list--underlined">
        <li class="block-list__header">Underlined block list</li>
        <li class="block-list__item">One</li>
        <li class="block-list__item">Two</li>
        <li class="block-list__item">Three</li>
    </ul>

    <ul class="block-list block-list--bordered">
        <li class="block-list__header">Bordered block list</li>
        <li class="block-list__item">One</li>
        <li class="block-list__item">Two</li>
        <li class="block-list__item">Three</li>
    </ul>

    <h2> With header &amp; footer</h2>

    <ul class="block-list">
        <li class="block-list__header">Block list header</li>
        <li class="block-list__item">One</li>
        <li class="block-list__item">Two</li>
        <li class="block-list__item">Three</li>
        <li class="block-list__footer">Block list footer</li>
    </ul>

    <ul class="block-list block-list--underlined">
        <li class="block-list__header">Underlined block list</li>
        <li class="block-list__item">One</li>
        <li class="block-list__item">Two</li>
        <li class="block-list__item">Three</li>
        <li class="block-list__footer">Block list footer</li>
    </ul>

    <ul class="block-list block-list--bordered">
        <li class="block-list__header">Bordered block list</li>
        <li class="block-list__item">One</li>
        <li class="block-list__item">Two</li>
        <li class="block-list__item">Three</li>
        <li class="block-list__footer">Block list footer</li>
    </ul>

{% endblock %}
