{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}

{% block tab_content %}

    <div class="card card--rounded g-col g-col--3 g-col--first">
        <div class="card__body card__body--padded card__body--light u-text-align-center">
            <img src="https://www.placecage.com/1000/700" class="card-img" />
            <h3>School</h3>
            <a href="#" class="card-link">Preview</a>
            <a href="#" class="card-link">Choose</a>
        </div>
    </div>

    <div class="card card--rounded g-col g-col--3">
        <div class="card__body card__body--padded card__body--light u-text-align-center">
            <img src="https://www.placecage.com/1000/700" class="card-img" />
            <h3>Venue</h3>
            <a href="#" class="card-link">Preview</a>
            <a href="#" class="card-link">Choose</a>
        </div>
    </div>

    <div class="card card--rounded g-col g-col--3">
        <div class="card__body card__body--padded card__body--light u-text-align-center">
            <img src="https://www.placecage.com/1000/700" class="card-img" />
            <h3>Event</h3>
            <a href="#" class="card-link">Preview</a>
            <a href="#" class="card-link">Choose</a>
        </div>
    </div>

    <div class="card card--rounded g-col g-col--3">
        <div class="card__body card__body--padded card__body--light u-text-align-center">
            <img src="https://www.placecage.com/1000/700" class="card-img" />
            <h3>Tourism</h3>
            <a href="#" class="card-link">Preview</a>
            <a href="#" class="card-link">Choose</a>
        </div>
    </div>

{% endblock %}
