{% import 'pulsar/helpers/html.html.twig' as html %}
{% import 'pulsar/helpers/form.html.twig' as form %}
{% import 'pulsar/helpers/flash.html.twig' as flash %}
{% import 'pulsar/helpers/datagrid.html.twig' as datagrid %}

<h2 class="heading">{{ heading|raw }}</h2>

<div class="tab__inner tab--unpadded">
	{{ form.create() }}
		{{ form.editor(label = 'My awesome editor') }}
	{{
        form.form_end([
            form.submit(label = 'Primary Action', class = 'btn--primary')
        ])
    }}
</div>
