<div class="tab__inner">
	<div class="example">
		{{ flash.message('This is the default flash.message style', false) }}
	</div>
	<div class="example">
		{{ flash.success('This is the flash.success style', false) }}
	</div>
	<div class="example">
		{{ flash.warning('This is the flash.warning style', false) }}
	</div>
	<div class="example">
		{{ flash.error('This is the flash.error style', false) }}
	</div>
</div>