{% import 'helpers/html.html.twig' as html %}
{% import 'helpers/form.html.twig' as form %}
{% import 'helpers/flash.html.twig' as flash %}
<div class="tab__inner">
  <div class="example">
    {{ flash.message(message = 'This is the default flash.message style', sticky = false) }}
  </div>
  <div class="example">
    {{ flash.success(message = 'This is the flash.success style', sticky = false) }}
  </div>
  <div class="example">
    {{ flash.warning(message = 'This is the flash.warning style', sticky = false) }}
  </div>
  <div class="example">
    {{ flash.error(message = 'This is the flash.error style', sticky = false) }}
  </div>
</div>