<div class="tab__inner">
	<p>{{ flash.message('This is the default flash.message style', false) }}</p>
	<p>{{ flash.success('This is the flash.success style', false) }}</p>
	<p>{{ flash.warning('This is the flash.warning style', false) }}</p>
	<p>{{ flash.error('This is the flash.error style', false) }}</p>
</div>