<div class="tab__inner">
	{{ flash.message('This is the default flash.message style', false) }}
	{{ flash.success('This is the flash.success style', false) }}
	{{ flash.warning('This is the flash.warning style', false) }}
	{{ flash.error('This is the flash.error style', false) }}
</div>