{% import 'pulsar/helpers/html.html.twig' as html %}
{% import 'pulsar/helpers/form.html.twig' as form %}
{% import 'pulsar/helpers/flash.html.twig' as flash %}
<div class="tab__inner">
  <div class="example">
    {{ flash.message(message = 'This is the default message style', sticky = false) }}
  </div>
  <div class="example">
    {{ flash.message(message = 'This is the success style', type = 'success', sticky = false) }}
  </div>
  <div class="example">
    {{ flash.message(message = 'This is the warning style', type = 'warning', sticky = false) }}
  </div>
  <div class="example">
    {{ flash.message(message = 'This is the error style', type = 'error', sticky = false) }}
  </div>
</div>