{% import 'pulsar/v2/helpers/html.html.twig' as html %}
{% import 'pulsar/helpers/form.html.twig' as form %}
{% import 'pulsar/helpers/flash.html.twig' as flash %}

<h2 class="heading">{{ heading|raw }}</h2>

<div class="tab__inner tab--padded">

    <h2>Standalone</h2>
    {{ html.loading() }}
    <br />

    <h2>After form inputs</h2>
    {{ form.create() }}
    {{
        form.select(
            label = 'Select input',
            class = 'form__group--small is-loading',
            id = 'inputSelect',
            name = 'inputSelect',
            options = {value1: 'loading...'}
        )
    }}
    </form>

</div>
