{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}

{% block tab_content %}

    <h2 class="heading">Standalone</h2>
    {{ html.loading() }}
    <br />

    <h2 class="heading">Standalone with custom label</h2>
    {{ html.loading({
        'label': 'Custom loading'
    }) }}
    <br />

{% endblock tab_content %}
