{% import 'pulsar/v2/helpers/html.html.twig' as html %}
{% import 'pulsar/v2/helpers/form.html.twig' as form %}
{% import 'pulsar/v2/helpers/flash.html.twig' as flash %}

<h2 class="heading">Message</h2>

<div class="tab__inner tab--padded">
    <div class="message">
        <time class="message__time">16:32 <small>(2 days ago)</small></time>
        <span class="message__sender">Paul Stanton</span>
        <span class="message__recipient">to Customer, Support</span>
        <div class="message__body">rah rah rah</div>
    </div>
    <div class="message">
        <time class="message__time">16:32 <small>(2 days ago)</small></time>
        <span class="message__sender">Paul Stanton</span>
        <span class="message__recipient">to Customer, Support</span>
        <div class="message__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue, odio in facilisis tincidunt, magna turpis sodales lacus, vel consectetur velit massa ac nibh. Quisque nec mauris enim. Pellentesque consectetur fermentum urna, vel accumsan lorem porta nec. Mauris at venenatis lorem. Vestibulum ac tempus dolor. Cras dui leo, malesuada at turpis ut, fringilla tempus dolor. Morbi consectetur ullamcorper sem, ut porttitor libero consectetur eu. Aliquam sollicitudin libero eget pharetra sagittis. Donec molestie libero vel urna varius, nec bibendum turpis iaculis. Cras blandit urna rhoncus arcu ultrices, eu lacinia lacus venenatis. Maecenas dui nibh, facilisis et eros non, fermentum porttitor diam. Aliquam aliquet rutrum purus, vitae egestas dolor laoreet a. Nunc vel eleifend lectus. Donec elementum ultricies nibh, a facilisis ligula fringilla at. Morbi tristique id leo eu fermentum.</p>

            <p>Vestibulum turpis tellus, dictum in quam ut, viverra varius ipsum. Nunc eget sollicitudin lorem. Duis nisi arcu, interdum id malesuada at, imperdiet sit amet est. Aliquam posuere venenatis molestie. Morbi ac vehicula ante. Donec quis volutpat odio, nec ultricies diam. Etiam arcu nisi, tempus nec bibendum volutpat, mollis quis diam. Phasellus mattis tortor eget est venenatis euismod. Nam sed sagittis urna. Sed feugiat fringilla diam.</p>

            <p>In laoreet viverra lectus, nec finibus dui porttitor ac. Vivamus nec magna sit amet leo varius rutrum. Duis rutrum velit in justo pulvinar, vitae lobortis tortor feugiat. Pellentesque euismod volutpat placerat. Maecenas rutrum gravida consectetur. Maecenas cursus arcu nibh, in molestie augue tempus vel. Sed sit amet dui vel felis ultrices maximus. Sed tincidunt commodo varius. Nunc dictum ipsum gravida, pharetra ex sed, volutpat quam. Suspendisse interdum erat vitae enim porttitor, vitae viverra ante viverra. Donec consequat elementum diam sed interdum. Aliquam orci enim, cursus vel luctus eget, dictum a mauris. Cras pellentesque odio in quam dapibus suscipit.</p>

            <p>Etiam et elit sed quam vulputate scelerisque sed vel dolor. Duis faucibus tortor sit amet eros volutpat consequat. In a consequat neque, sed varius turpis. Morbi vulputate dignissim aliquet. Donec consequat euismod tortor sit amet viverra. Maecenas eget risus nec est porta maximus. Cras mattis risus magna, eu feugiat arcu volutpat consequat.</p>

            <p>Vestibulum luctus aliquam orci, vitae consectetur ipsum eleifend nec. Nunc condimentum leo elit, a vestibulum velit sollicitudin et. Nulla at venenatis felis. Nunc fringilla nisl et turpis consectetur porttitor. Vestibulum id est eu dui gravida ultricies vel sed leo. Aliquam erat volutpat. Curabitur sed aliquam arcu, et tincidunt est. Suspendisse ultricies faucibus ante, et gravida est fermentum tincidunt. Ut mauris ipsum, gravida a purus id, sollicitudin malesuada felis. Nulla porttitor suscipit lorem sit amet bibendum. Curabitur imperdiet vel massa placerat aliquet. Donec consectetur, magna quis vehicula sodales, purus risus convallis ipsum, non vulputate orci enim fermentum arcu.</p>
        </div>
    </div>
    <div class="message">
        <time class="message__time">16:32 <small>(2 days ago)</small></time>
        <span class="message__sender">Paul Stanton</span>
        <span class="message__recipient">to Customer, Support</span>
        <div class="message__body">rah rah rah</div>
    </div>
</div>
