{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import 'pulsar/v2/helpers/html.html.twig' as html %}
{% import 'pulsar/v2/helpers/form.html.twig' as form %}
{% import 'pulsar/helpers/flash.html.twig' as flash %}

{% block tab_content %}

    <p>Simple key/value presentation of data</p>

    {%
        set data = {
            "File" : "true_lies.avi",
            "Size" : "1.2Gb",
            "Type" : "Video"
        }
    %}

    {{ html.metadata({ 'items': data }) }}

    <h2 class="heading">Bordered variation</h2>

    {{
        html.metadata({
            'items': data,
            'class': 'metadata--bordered'
        })
    }}

{% endblock tab_content %}
