{% import 'pulsar/v2/helpers/html.html.twig' as html %}
{% import 'pulsar/helpers/form.html.twig' as form %}
{% import 'pulsar/helpers/flash.html.twig' as flash %}

<h2 class="heading">{{ heading|raw }}</h2>

<div class="tab__inner tab--padded">

    <h2>Metadata</h2>
    <p>Simple key/value presentation of data</p>

    {%
        set data = {
            "File" : "true_lies.avi",
            "Size" : "1.2Gb",
            "Type" : "Video"
        }
    %}

    {{ html.metadata({ 'items': data }) }}

    <h3>Bordered variation</h3>

    {{
        html.metadata({
            'items': data,
            'class': 'metadata--bordered'
        })
    }}

</div>
