{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}

{% block tab_content %}

    <p>Simple key/value presentation of data</p>

    {%
        set data = {
            "Example long title" : "true_lies.avi",
            "Example very long title" : "true_lies.avi",
            "File" : "true_lies.avi",
            "Size" : "1.2Gb",
            "Type" : "Video"
        }
    %}

    {{ html.metadata({ 'items': data }) }}

{% endblock tab_content %}
