<div class="tab__inner">

  <div class="example-popovers">
    <div class="popover top">
      <div class="arrow"></div>
      <h3 class="popover__title">Popover top</h3>
      <div class="popover__content">
        Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
      </div>
    </div>

    <div class="popover right">
      <div class="arrow"></div>
      <h3 class="popover__title">Popover right</h3>
      <div class="popover__content">
        Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
      </div>
    </div>

    <div class="popover bottom">
      <div class="arrow"></div>
      <h3 class="popover__title">Popover bottom</h3>
      <div class="popover__content">
        Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
      </div>
    </div>

    <div class="popover left">
      <div class="arrow"></div>
      <h3 class="popover__title">Popover left</h3>
      <div class="popover__content">
        Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
      </div>
    </div>
  </div>

  <p><a href="#" class="btn" data-toggle="popover" title="" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title">Toggle Demo Popover</a></p>

</div>