{% import 'pulsar/helpers/html.html.twig' as html %}
{% import 'pulsar/helpers/form.html.twig' as form %}
{% import 'pulsar/helpers/flash.html.twig' as flash %}

<h2 class="heading">{{ heading|raw }}</h2>

<div class="tab__inner tab--padded">
  <div class="example-popovers">
    <div class="popover top">
      <div class="arrow"></div>
      <h3 class="popover__title">Popover top</h3>
      <div class="popover__content">
        Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
      </div>
    </div>

    <div class="popover right">
      <div class="arrow"></div>
      <h3 class="popover__title">Popover right</h3>
      <div class="popover__content">
        Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenawtis vestibulum.

        {{
          flash.message(
            message = 'This is an inline flash message',
            sticky = false
          )
        }}
      </div>
    </div>

    <div class="popover bottom">
      <div class="arrow"></div>
      <h3 class="popover__title">Popover bottom</h3>
      <div class="popover__content">
        Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
      </div>
    </div>

    <div class="popover left popover--danger">
      <div class="arrow"></div>
      <h3 class="popover__title">Danger FIFA</h3>
      <div class="popover__content">
        You need to get lots of yellow and red cards and kick some very big goals to win.
      </div>
      <div class="popover__footer">
        {{ html.button(label = html.icon('thumbs-up-alt') ~ ' Kick Big Goal ', class = 'btn--danger pill') }}
      </div>
    </div>
  </div>

  <p><a href="#" class="btn" data-toggle="popover" title="" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title">Toggle Demo Popover</a></p>
</div>
