<div class="tab__inner">
	<div class="example">
		{{ html.progress(50) }}
		{{ html.progress(60, 'progress-bar--success') }}
		{{ html.progress(70, 'progress-bar--warning') }}
		{{ html.progress(80, 'progress-bar--danger') }}
	</div>
</div>