<div class="tab__inner tab--padded">
<div class="actionsbar"></div>
    <div class="tab__sidebar">
        <p>This is the sidebar, it's job us to explain this interface and provide any relevant information that the user may need in their quest to complete it. This could be inline video too!</p>
    </div>
    <div class="tab__main">
        <h2>Body text</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium lectus vitae tincidunt commodo. Cras sodales interdum est vel lobortis. Vivamus urna dolor, gravida vel dolor non, lacinia lobortis eros. Integer euismod elementum justo non tempor. Duis libero erat, iaculis ac nulla sit amet, vulputate sodales erat. Integer elementum metus sagittis turpis varius tristique. Nullam in est rhoncus, porttitor felis ac, viverra nibh. Donec euismod egestas congue. Pellentesque non blandit quam, non semper felis. Curabitur facilisis sem felis, vel vestibulum nunc bibendum vitae. Morbi placerat purus nec velit condimentum, nec commodo diam semper. Aenean non diam dolor. Nulla justo massa, feugiat in posuere vitae, scelerisque id massa. Nam venenatis tortor vel luctus varius.</p>

        <div class="columns columns--2">
            <h4>Unordered</h4>
            <hr />
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>

            <h4>Ordered</h4>
            <hr />
            <ol>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ol>
        </div>
        <div class="columns columns--2">
            <h4>Description</h4>
            <hr />
            <dl>
                <dt>Lorem ipsum dolor</dt>
                <dd>consectetur adipiscing elit</dd>
                <dt>Lorem ipsum dolor</dt>
                <dd>consectetur adipiscing elit</dd>
                <dt>Lorem ipsum dolor</dt>
                <dd>consectetur adipiscing elit</dd>
            </dl>

            <h4>Description (horizontal)</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Lorem</dt>
                <dd>Ipsum</dd>
                <dt>Ipsum dolor</dt>
                <dd>Ipsum</dd>
                <dt>Lorem ipsum dolor sit amet</dt>
                <dd>Ipsum</dd>
                <dt>Lorem ipsum dolor</dt>
                <dd>Ipsum</dd>
                <dt>Lorem ipsum</dt>
                <dd>Ipsum</dd>
                <dt>Lorem</dt>
                <dd>Ipsum</dd>
            </dl>
        </div>

        <h2>Tables</h2>
        <div class="columns columns--3">
            <h4>Default</h4>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>Column</th>
                        <th>Column</th>
                        <th>Column</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Column</td>
                        <td>Column</td>
                        <td>Column</td>
                    </tr>
                    <tr>
                        <td>Column</td>
                        <td>Column</td>
                        <td>Column</td>
                    </tr>
                    <tr>
                        <td>Column</td>
                        <td>Column</td>
                        <td>Column</td>
                    </tr>
                    <tr>
                        <td>Column</td>
                        <td>Column</td>
                        <td>Column</td>
                    </tr>
                </tbody>
            </table>
            <h4>Bordered</h4>
            <hr />
            <table class="table table--bordered">
                <thead>
                    <tr>
                        <th>Column</th>
                        <th>Column</th>
                        <th>Column</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Column</td>
                        <td>Column</td>
                        <td>Column</td>
                    </tr>
                    <tr>
                        <td>Column</td>
                        <td>Column</td>
                        <td>Column</td>
                    </tr>
                    <tr>
                        <td>Column</td>
                        <td>Column</td>
                        <td>Column</td>
                    </tr>
                    <tr>
                        <td>Column</td>
                        <td>Column</td>
                        <td>Column</td>
                    </tr>
                </tbody>
            </table>
            <h4>Striped</h4>
            <hr />
            <table class="table table--bordered table--striped">
                <thead>
                    <tr>
                        <th>Column</th>
                        <th>Column</th>
                        <th>Column</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Column</td>
                        <td>Column</td>
                        <td>Column</td>
                    </tr>
                    <tr>
                        <td>Column</td>
                        <td>Column</td>
                        <td>Column</td>
                    </tr>
                    <tr>
                        <td>Column</td>
                        <td>Column</td>
                        <td>Column</td>
                    </tr>
                    <tr>
                        <td>Column</td>
                        <td>Column</td>
                        <td>Column</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h1>Heading one</h1>
        <h2>Heading two</h2>
        <h3>Heading three</h3>
        <h4>Heading four</h4>
        <h5>Heading five</h5>
        <h6>Heading six</h6>
    </div>
</div>

