{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/helpers/datagrid.html.twig' as datagrid %}

<div class="tab__inner tab--padded">
<div class="actionsbar"></div>
	<p>Simple uploader</p>

	<div class="uploader">
		<ol class="block-list block-list--bordered">
			<li class="block-list__item">
				<label for="file-a" href="#">
					{{
						form.file({
							'id': 'file-a',
							'class': 'hide'
						})
					}}
					<span class="uploader__label">No file selected</span>
				</label>
			</li>
		</ol>
		{{
			html.button({
				'label': 'Upload File',
				'class': 'btn--primary hide',
				'data-action': 'upload'
			})
		}}
		{{
			html.button({
				'label': 'Add File',
				'data-action': 'browse'
			})
		}}
	</div>

</div>
