{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/v2/helpers/datagrid.html.twig' as datagrid %}

<div class="tab__inner tab--padded">
<div class="actionsbar"></div>
	<p>Detailed uploader</p>
<form>
	<div class="uploader" data-uploader-type="detailed">
		<div class="block-list block-list--bordered">
		 	<div class="block-list__item">
				<label class="uploader__control" for="file-1">
					{{
						form.text({
							'label': 'Name',
							'class': 'uploader__name hide',
							'placeholder': 'optional'
						})
					}}
					<input type="file" class="hide" id="file-1" name="file-1">
					<span class="uploader__label">No file selected</span>
				</label>
				<dl class="metadata hide">
					<dt class="metadata__key">File</dt><!--
 				 --><dd class="metadata__value"></dd>
      			</dl>
			</div>
		</div>
		{{
			html.button({
				'label': 'Add File',
				'data-action': 'browse'
			})
		}}
	</div>
</form>
	<hr />
</div>
