<div class="toolbar__controls">
    <button class="mobile-menu-button t-mobile-menu-button" aria-expanded="false" aria-controls="aria-main-nav" aria-label="Toggle main menu">Menu</button>

    <div class="nav-user project-switcher">
        <div class="btn__group drop dropdown btn--naked">
            <button data-toggle="dropdown" class="btn dropdown__toggle">
                Project - Website&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown__menu pull-left" aria-labelledby="guid-43764456">
                <li class="dropdown__header" id="guid-43764456">Switch project</li>
                <li>
                    <a href="#" role="button">
                        <i class="icon-ok-sign"></i>Website <span class="hide">(current project)</span>
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <i class="icon-circle-blank muted"></i>DeployerLGAQ
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="toolbar-help toolbar-icon">
        <a href="/guide/index.html" target="_blank" class="toolbar-help-link">
            <i aria-hidden="true" class="icon-question-sign"></i>&nbsp;user guides
        </a>
    </div>

    <div class="nav-user">
        <div class="btn__group dropdown user-menu btn--naked">
            <button aria-haspopup="true" aria-expanded="false" aria-controls="guid-2038271773" data-toggle="dropdown" class="btn dropdown__toggle">James Jacobs&nbsp;<span class="caret"></span>
            </button>

            <ul id="guid-2038271773" class="dropdown__menu pull-left">
                <li>
                    <a href="#">
                        <i aria-hidden="true" class="icon-signout"></i> Sign out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
