{% extends 'pulsar/layouts/base.html.twig' %}

{% set pageModule = '../../../js/area/greeter/greeter-demo' %}

{% block body %}

	<section class="greeter">
		<header class="greeter__header">
			<h1 class="greeter__title">Welcome to <a href="#" class="greeter__link">version 37</a>, Paul.</h1>
			<h2 class="greeter__sub-title">Your Jadu software just became a little bit more awesome.</h2>

			<a href="#" class="greeter__link greeter__call-to-action">Find out what's new</a>
		</header>

		<form class="greeter__form">
			<textarea class="greeter__textarea" data-ui-component="input" placeholder="Tell us what you think&hellip;"></textarea>
			<button class="greeter__button" data-ui-component="submit" type="submit">Send to Jadu</button>
		</form>
		<footer class="greeter__footer">
			<a href="http://jadu.net" class="greeter__brand-bottom">Jadu</a>
		</footer>
	</section>


{% endblock %}
