{% extends 'pulsar/layouts/base.html.twig' %}

{% set pageModule = '../../../js/area/greeter/greeter-demo' %}

{% block pageStyle %}
	<style type="text/css">
		.greeter {
			margin: 1em auto;
		}
	</style>
{% endblock %}

{% block body %}

	<section class="greeter">
		<header class="greeter__header">
			<h1 class="greeter__title">Welcome to <a href="#" class="greeter__link">version 37</a>, Paul.</h1>
			<h2 class="greeter__sub-title">Your Jadu software just became a little bit more awesome.</h2>

			<a href="#" class="greeter__link greeter__call-to-action">Find out what's new</a>
		</header>

		<form class="greeter__form">
			<textarea class="greeter__textarea" data-ui-component="input" placeholder="Tell us what you think&hellip;"></textarea>
			<div class="greeter__actions" data-ui-component="submit-wrapper">
				<button class="greeter__button" data-ui-component="submit" type="submit">Send to Jadu</button>
			</div>
		</form>

		<footer class="greeter__footer">
			<a href="http://jadu.net" class="greeter__brand-bottom">Jadu</a>
		</footer>
	</section>




<!--
	<section class="greeter">
		<header class="greeter__header">
			<h1 class="greeter__title">Paul, we have a question.</h1>
			<h2 class="greeter__sub-title">What three things do you love most about Jadu.</h2>
		</header>

		<form class="greeter__form">
			<textarea class="greeter__textarea" data-ui-component="input" placeholder="Tell us what you think&hellip;"></textarea>
			<button class="greeter__button" data-ui-component="submit" type="submit">Send to Jadu</button>
		</form>

		<footer class="greeter__footer">
			<a href="http://jadu.net" class="greeter__brand-bottom">Jadu</a>
		</footer>
	</section>





	<section class="greeter">
		<header class="greeter__header">
			<h1 class="greeter__title">Welcome back, Paul.</h1>
			<h2 class="greeter__sub-title">Did you know there have been 6 new versions of Jadu since yours was updated?</h2>

			<a href="#" class="greeter__link greeter__call-to-action">Find out what's new and how you can update</a>
		</header>

		<footer class="greeter__footer">
			<a href="http://jadu.net" class="greeter__brand-bottom">Jadu</a>
		</footer>
	</section>





	<section class="greeter">
		<header class="greeter__header">
			<h1 class="greeter__title">Hello again, Paul.</h1>
			<h2 class="greeter__sub-title">Did you know that a new version of Jadu CMS is usually released every two weeks?</h2>

			<a href="#" class="greeter__link greeter__call-to-action">Find out what's new and how you can update</a>
		</header>

		<footer class="greeter__footer">
			<a href="http://jadu.net" class="greeter__brand-bottom">Jadu</a>
		</footer>
	</section>
-->

{% endblock %}
