.lex-table td.cell--inverse,
.lex-table td.cell--inverse:hover {
    background-color: #2d86b3 !important;
}

.lex-table tbody > tr.row-inverse > td,
.lex-table tbody > tr.row-inverse:hover > td {
    background-color: #2d86b3;
}

.lex-wrapper {
    padding: 20px;
}
