
.lex-item {
    background-color: green;
    color: white;
    margin: 10px 0;
    padding: 10px;
}

.lex-table td.cell--inverse,
.lex-table td.cell--inverse:hover {
    background-color: #2d86b3 !important;
}

.lex-table tbody > tr.row-inverse > td,
.lex-table tbody > tr.row-inverse:hover > td {
    background-color: #2d86b3;
}

.lex-wrapper {
    padding: 20px;
}

// Used in reports pattern UI
// style to show chart container in lieu of an actual working chart
.lexicon-report-chart {
    border: 1px dashed #ccc;
    background-color: #efefef;
    color: #ccc;
    line-height: 240px;
    text-align: center;
    width: 100%;
}
