.lex-table td.cell--inverse,
.lex-table td.cell--inverse:hover {
    background-color: #2d86b3 !important;
}

.lex-table tbody > tr.row-inverse > td,
.lex-table tbody > tr.row-inverse:hover > td {
    background-color: #2d86b3;
}

.lex-wrapper {
    padding: 20px;
}

// Used in reports pattern UI
// style to show chart container in lieu of an actual working chart
.lexicon-report-chart {
    border: 1px dashed #ccc;
    background-color: #efefef;
    line-height: 240px;
    text-align: center;
    width: 100%;
}

.cheatsheet-set {
    article {
        border-bottom: 1px solid #ccc;
        width: calc(100%/6);
    }

    .icon-name,
    .icon-unicode {
        font-family: 'proxima_novalight', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    }

    .v-top {
        vertical-align: top;
    }

    .dt {
        display: table;
    }

    .dtc {
        display: table-cell;
    }

    .tl {
        text-align: left;
    }

    .tr {
        text-align: right;
    }

    .ma0 {
        margin: 0;
    }

    .pa0 {
        padding: 0;
    }

    .pt2 {
        padding-top: .5rem;
    }

    .pb2 {
        padding-bottom: .5rem;
    }

    .pr2 {
        padding-right: .5rem;
    }

    .pr4 {
        padding-right: 1.5rem;
    }

    .w2 {
        width: 2rem;
    }

    .w-100 {
        width: 100%;
    }

    .word-wrap {
        word-break: break-all;
    }

    .nb2 {
        margin-bottom: -.5rem;
    }

    .nr4 {
        margin-right: -1.5rem;
    }

    .justify-start {
        justify-content: flex-start;
    }

    .items-stretch {
        align-items: stretch;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .flex-row {
        flex-direction: row;
    }

    .flex {
        display: flex;
    }

    .gray5 {
        color: #adb5bd;
    }
}
