{% import '@pulsar/pulsar/helpers/html.html.twig' as html %}
{{ 
    html.button_dropdown(
        caret = false,
        class = 'widget__controls',
        label = html.icon('angle-down'),
        type = 'link',
        menu_items = [
            html.link(
                label = html.icon('trash') ~ ' Remove',
                class = 'link--danger',
                attributes = 'data-widget-action=remove'
            )
        ]
    ) 
}}
<h3>{{ settings.name }}</h3>
<script>
require(['highcharts'], function() {
  
  var $container = $('[data-last-appended=true] .highchart');

  var chart = new Highcharts.Chart({
    chart: {
        backgroundColor: '#FFF',
        height: 200,
        spacing: 0,
        renderTo: $container[0],
        type: 'spline'
    },
    legend: {
        align: 'left',
        borderWidth: 0,
        floating: true,
        layout: 'vertical',
        verticalAlign: 'top'
    },
    credits: {
      enabled: false
    },
    title: {
      text: null
    },
    tooltip: {
        headerFormat: "{point.key}<br />",
        pointFormat: "{point.y}"
    },
    plotOptions: {
      
    },
    xAxis: {
      categories: ['11am', '12am', '1pm', '2pm', '3pm', '4pm', 'now'],
      labels: {
        enabled: true
      },
      lineWidth: 0,
      tickWidth: 0,
      gridLineColor: '#fff',
            gridLineDashStyle: 'longdash',
            gridLineWidth: 1,
    },
    yAxis: {
      gridLineWidth: 0,
      labels: {
        enabled: false
      },
      min: 0,
      title: null
    },
    series: [{
              name: 'cms',
              data: [3, 4, 3, 5, 4, 10, 12]
            }, {
              name: 'gcloud',
              data: [2, 3, 2, 5, 7, 8, 10]
            }, {
              name: 'xforms',
              data: [6, 4, 2, 8, 5, 9, 3]
            }, {
              name: 'jadu',
              data: [1, 3, 4, 3, 3, 5, 4]
            }]
   });    
  });
</script>
<div class="highchart"></div>