{% extends '@pulsar/pulsar/layouts/dashboard.html.twig' %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/v2/helpers/pulsar.html.twig' as pulsar %}

{% block title %}{{ parent() }}{% endblock %}

{% set heading = 'My Dashboard' %}

{% block summary %}
  <div id="tray" class="tray">
  {% include '@pulsar/pulsar/components/widget_list.html.twig' %}
  </div>
{% endblock %}

{% block actionsbar %}
  {{
    html.button_group({
      'items': [
        html.button({
          'label': html.icon('dashboard') ~ ' Widgets',
          'href': '#',
          'type': 'link',
          'data': {
            'toggle': 'tray',
            'target': '#tray'
          }
        })
      ]
    })
  }}
{% endblock %}

{% block widgets %}
{% endblock %}

{% block javascript %}
  <script id="dashboard-state" type="application/json">{{ initial_state|raw }}</script>
{% endblock %}
