{% extends '@pulsar/pulsar/layouts/dashboard.html.twig' %}
{% import '@pulsar/pulsar/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/helpers/pulsar.html.twig' as pulsar %}

{% block title %}{{ parent() }}{% endblock %}

{% set heading = '' %}

{% 
    set actions_menu = [
        html.link(label = html.icon('plus') ~ ' Create dashboard', href = '#save'),
        html.link(label = html.icon('save') ~ ' Save', href = '#save'),
        html.link(label = html.icon('save') ~ ' Save as template', href = '#save'),
        html.link(label = html.icon('share') ~ ' Share', href = '#save'),
        html.divider(),
        html.link(label = html.icon('trash') ~ ' Delete', href = '#delete', class = 'link--danger')
    ]
%}

{% block summary %}
  <div class="tray">
    {% include '@pulsar/pulsar/components/widget_list.html.twig' %}
  </div>
{% endblock %}

{% block actionsbar %}
  {{ 
    html.button_group([
      html.button(label = html.icon('dashboard') ~ ' Widgets', href = '#', type = 'link', attributes = 'data-toggle=tray')
    ])
  }}
{% endblock %}

{% block widgets %}
<div class="widget">
<h3>Administrators</h3> 

<p class="big-ass-number">638 <span class="label label--success"><i class="icon-arrow-up"></i> 7</span></p>

<p class="big-ass-number">14 <span class="label label--danger"><i class="icon-arrow-down"></i> 1</span></p>

</div>
{% endblock %}

