.DS_Store
*.orig
*~HEAD
/.sass-cache/
/node_modules/
/composer.lock
/npm-debug.log
/vendor/**/.git
/vendor/
/tmp/
/composer.phar
/.bashrc
.vagrant/
.grunt/
.idea/
/coverage
/css
/dist
/docs/_site
/docs/.sass-cache
/tests/logs
/css
libs/livereload-js
libs/phantomcss
.vagrant
pulsar.zip
/shots
/fonts
/fonts/_config.fonts.scss

/.csscomb.json
/validation-status.json
/validation-report.json
/tests/validation/error_reports/*
/tests/validation/html_output/*
