<phpunit bootstrap="tests/unit/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Pulsar Unit Tests">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="coverage/clover.xml"/>
    </logging>
</phpunit>
