<phpunit bootstrap="tests/unit/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Pulsar Unit Tests">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">tests/unit</directory>
            <directory suffix=".php">vendor</directory>
        </blacklist>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="tests/logs/clover.xml"/>
    </logging>
</phpunit>
