{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{%
    set data = {
        'columns': [
            { 'title': 'Title' },
            { 'title': 'Owner' },
            { 'title': 'Modified'},
            {
                'title': 'Live',
                'attrs': {
                    'data-orderable': 'false',
                    'class': 'u-text-align-center u-shrink-to-fit'
                }
            },
            {
                'title': 'Visible',
                'attrs': {
                    'data-orderable': 'false',
                    'class': 'u-text-align-center u-shrink-to-fit'
                }
            }
        ],
        'data': []
    }
%}

{% block tab_content %}
    {{
        html.datatable({
            'data-empty-table': 'There are currently no Arnie films to display',
            'data-order': '[[ 3, "desc" ]]',
            'data': data,
            'caption': 'A list of films featuring Arnold Schwarzenegger'
        })
    }}
{% endblock tab_content %}

{% block tab_sidebar %}
    <h2>Empty DataTable</h2>
    <p>The 'no results' message is automatically shown, and can be customised with the `data-empty-table` attribute.</p>
    <pre><code tabindex="0" class="hljs">&#123;&#123;
    html.datatable(&#123;
        'class': 'table--full table--horizontal',
        'data-empty-table': 'There are currently no Arnie films to display',
        'data-order': '[[ 3, "desc" ]]',
        'data': data
    &#125;)
&#125;&#125;</code></pre>
{% endblock tab_sidebar %}
