{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}

    <pre>DropZone with file input</pre>

    {{
        html.dropzone({
            'id': 'dropzone_with_input',
            'helperContent': '<h5>Multimedia</h5> <ul> <li>Images</li> <li>Video</li> <li>Audio</li> </ul> <h5>Text</h5> <ul> <li>Plain text</li> <li>Rich text</li> <li>Web page</li> </ul> <h5>Documents</h5> <ul> <li>Microsoft Word</li> <li>Microsoft Excel</li> <li>Open Document</li> <li>Open Office</li> <li>PDF</li> </ul>',
            'data-dropzone-whitelist': 'image/*',
            'data-dropzone-max-files': '1',
            'data-dropzone-input-node-id': 'dropzone_input',
            'data-dropzone-idle-html': '<a class="dropzone__browse" href="#">Browse Files&hellip;</a>'
        })
    }}

    {{
        form.file({
            'id': 'dropzone_input'
        })
    }}

    <pre>DropZone with default options</pre>

    {{
        html.dropzone({
            'id': 'dropzone_defaults',
            'data-dropzone-idle-html': 'overriding the idle text'
        })
    }}

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157px" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
