{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}
    <h2 class="heading">DropZone</h2>
    {{
        html.dropzone({
            'class': 'lex-dropzone',
            'id': 'lexicon-dropzone',
            'data-helper-content': 'Images, Video, Audio, Plain text, Rich text, Web page, Microsoft Word, Microsoft Excel, Open Document, Open Office, PDF',
            'data-helper-container': 'body',
            'data-helper-title': 'Allowed files',
            'data-dropzone-max-files': '4',
            'data-dropzone-input-node-id': 'dropzone_input_hidden',
            'data-dropzone-idle-html': '<button class="dropzone__browse btn" aria-label="Browse files to upload">Browse Files</button>',
            'data-dropzone-whitelist': 'audio/* image/* video/* application/ogg text/plain text/html application/pdf application/vnd.ms-office application/vnd.ms-powerpoint application/msword application/vnd.openxmlformats-officedocument.wordprocessingml.document application/vnd.ms-excel application/vnd.openxmlformats-officedocument.spreadsheetml.sheet application/vnd.ms-xpsdocument application/vnd.ms-works application/vnd.oasis.opendocument.spreadsheet application/vnd.oasis.opendocument.text application/vnd.sun.xml.calc application/vnd.sun.xml.writer application/vnd.sun.xml.writer.global application/rtf text/rtf text/richtext'
        })
    }}

    {{
        form.file({
            'id': 'dropzone_input_hidden'
        })
    }}

{% endblock tab_content %}

{% block tab_sidebar %}
   

{% endblock tab_sidebar %}
