{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}

{% block tab_content %}

    <h2>jsTree Demo</h2>

    <div id="container">
      <ul>
        <li data-jstree='{ "opened" : true }'>Level 1
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3
                        <ul>
                            <li>Level 4
                                <ul>
                                    <li>Level 5
                                        <ul>
                                            <li>Level 6
                                                <ul>
                                                    <li>A really lont text for testing purposes! More text! More text! More!</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>Level 4</li>
                            <li>Level 4</li>
                        </ul>
                    </li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li data-jstree='{ "opened" : true }'>Level 1
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li data-jstree='{ "opened" : true }'>Level 1
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li data-jstree='{ "opened" : true }'>Level 1
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li data-jstree='{ "opened" : true }'>Level 1
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li data-jstree='{ "opened" : true }'>Level 1
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li data-jstree='{ "opened" : true }'>Level 1
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li data-jstree='{ "opened" : true }'>Level 1
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li data-jstree='{ "opened" : true }'>Level 1
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li data-jstree='{ "opened" : true }'>Level 1
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
          <ul>
            <li>Level 2</li>
            <li>Level 2</li>
            <li>Level 2
                <ul>
                    <li>Level 3</li>
                    <li>Level 3</li>
                    <li>Level 3</li>
                </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}

{% endblock tab_sidebar %}
