{% extends '@cssTests/visual-regression-layout.html.twig' %}
{% block body %}
{{
    flash.message({
        'message': 'This is a non-dismissable message with <a href="#">an example link</a>',
        'dismissable': false,
        'raw': true
    })
}}
{% endblock %}
