{% extends '@cssTests/visual-regression-layout.html.twig' %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}
{% block body %}
{{
    flash.message({
        'message': 'This is the success message style with <a href="#">an example link</a>',
        'type': 'success'
    })
}}
{% endblock %}
