<nav class="breadcrumb">
    <ul>
        <li><a href="#">Bread</a></li>
        <li><a href="#">Crumb</a></li>
        <li><a href="#">Trail</a></li>
        <li><span>Thing</span></li>
    </ul>
</nav>
