{% extends "layout.html.twig" %}

{% block title %}Testing stuffs | {{ parent() }}{% endblock %}

{% set heading = 'This is my heading' %}

{% block tabs_list %}
	{{ 
		html.tabs([
			'tab1',
			'tab2',
			'tab3'
		])
	}}
{% endblock %}


{% set tab1 %}
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin posuere arcu, quis porttitor augue vulputate ac. Morbi consectetur nulla augue, non blandit tortor placerat non. Curabitur augue mauris, imperdiet quis suscipit eget, dapibus ut tortor. In in leo velit. In posuere, sem ut laoreet dignissim, sem lorem pulvinar mauris, ac placerat sapien tortor sit amet nisi. Mauris quis blandit risus. Morbi nec hendrerit elit, in pellentesque odio. Mauris vulputate tortor vitae nunc accumsan cursus. Cras placerat mi magna, in mollis quam sagittis euismod. Quisque auctor mattis mattis. Sed imperdiet erat tristique arcu convallis, in iaculis sapien dignissim. Nam purus enim, porta non turpis ut, scelerisque commodo risus. Mauris lacus urna, porttitor in nulla sollicitudin, tincidunt iaculis nisl. Maecenas dignissim mi leo, vitae molestie massa condimentum nec. Donec odio nulla, cursus a orci ac, lacinia venenatis odio. Etiam scelerisque dapibus urna non fringilla.</p>

	<p>Duis nec sodales diam. Curabitur ac tellus nisi. Vivamus consectetur ullamcorper nulla at luctus. In faucibus tortor non metus vestibulum faucibus. Suspendisse magna diam, rutrum ac feugiat sit amet, pretium sed metus. Cras nec mauris eu turpis pretium aliquet scelerisque consectetur sem. Pellentesque mattis rhoncus risus vel adipiscing. Duis ut dui malesuada, vulputate eros sit amet, suscipit nisi. Praesent sit amet ornare nibh. Proin blandit nisl quis arcu consequat luctus.</p>

	<h1>Heading 1</h1>

	<h2>Heading 2</h2>

	<h3>Heading 3</h3>

	<h4>Heading 4</h4>

	<h5>Heading 5</h5>

	<h6>Heading 6</h6>

	{{ 
        html.button_group([ 
            html.button('Left'), 
            html.button('Middle'),
            html.button('Right') 
        ]) 
    }}
{% endset %}

{% set tab2 %}
	This is tab 2

{% endset %}

{% block tabs_content %}
	{{ html.tabs_content([tab1, tab2]) }}
{% endblock %}