{% extends '@pulsar/pulsar/components/tab.html.twig' %}

{% block tab_content %}
    <style>
        .table tbody > tr.row-inverse > td,
        .table tbody > tr.row-inverse:hover > td {
            background-color: #2d86b3;
        }
    </style>
    {% include 'lexicon/includes/button-grid_links.html.twig' %}
{% endblock tab_content %}

{% block tab_sidebar %}
    <a href="https://jadu.gitbooks.io/pulsar/content/text.html">
        <img src="../../../images/cover.png" alt="Pulsar documentation front cover" width="157" />
    </a>
    <br />
    {{
        html.button({
            'label': 'View Documentation',
            'type': 'link',
            'href': 'https://jadu.gitbooks.io/pulsar/content/text.html'
        })
    }}
{% endblock tab_sidebar %}
