/* -------------------------------------------------------------------------- *\
    Configuration
\* -------------------------------------------------------------------------- */

$padding: ($line-height-base / 2);


/* -------------------------------------------------------------------------- *\
    Default Presentation
\* -------------------------------------------------------------------------- */

.block-list {
  margin-bottom: 1em;
  max-width: 500px;


  &__item {
    display: block;
    padding: $padding $padding;
  }

  a.block-list__item {
    color: inherit;
    text-decoration: none;
    word-wrap: break-word;
  }

  label.block-list__item {
    margin: 0;
    text-align: left;
  }

  a.block-list__item:hover,
  label.block-list__item:hover {
    background-color: $gray-lighter;
    color: $link-color;
  }

  &__item > .remove-button,
  &__item > .badge {
    float: right;
  }


  &__item > .preview {
    margin-right: $padding;
    vertical-align: top;
  }


  &__item > .progress {
    @extend .progress-bar--compact;
    margin: .5em 0 0 0;
  }

  .preview {
    max-height: 75px;
    max-width: 75px;
  }
}




/* -------------------------------------------------------------------------- *\
    Variations
\* -------------------------------------------------------------------------- */

.block-list--full {
  max-width: 100%;
}


.block-list--underlined {
  .block-list__item {
    border-bottom: 1px solid $gray;
  }

  .block-list__item.has-info {
    border-bottom-color: lighten($info-color, 5);
  }

  .block-list__item.has-success {
    border-bottom-color: lighten($success-color, 20);
  }

  .block-list__item.has-warning {
    border-bottom-color: darken($warning-color, 2);
  }

  .block-list__item.has-error {
    border-bottom-color: lighten($danger-color, 10);
  }
}


.block-list--bordered {
  @extend .block-list--padded;
  border: 1px solid $gray;
  border-radius: $border-radius;

  .block-list__item:not(:last-of-type) {
    border-bottom: 1px solid $gray;
  }
}
