.label {
  @include inline-block;
  @include content-box;
  padding: .25em .6em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  color: $label-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: $label-bg;
  border-radius: $border-radius;
  text-transform: lowercase;

  // Add hover effects, but only for links
  &[href] {
    &:hover,
    &:focus {
      color: $label-link-hover-color;
      text-decoration: none;
      cursor: pointer;
      background-color: darken($gray-light, 10%);
    }
  }

  // Addable/Removable labels
  [data-filter-action="add"],
  [data-filter-action="remove"] {
    border-left: 1px dotted;
    border-color: white;
    color: inherit;
    margin-left: 5px;
    text-decoration: none;

    i {
        margin-left: 7px;
    }

    &:hover {
      margin-top: 1px;
    }
  }
}

// Colors
// Contextual variations (linked labels get darker on :hover)
.label--danger {
  @include label-variant($label-danger-bg);
  $badge-primary-bg: darken($badge-primary-bg, 10%);
}

.label--primary {
  @include label-variant($label-primary-bg);
}

.label--success {
  @include label-variant($label-success-bg);
}

.label--warning {
  @include label-variant($label-warning-bg);
}

.label--info {
  @include label-variant($label-info-bg);
}

.label--inverse {
  @include label-variant($label-inverse-bg);
  
  i {
    color: $white;
  }  
}

