.label-group {

    .label {
        line-height: 1.2;

        &:first-child {
            margin-right: 20px;

            @include border-radius(4px 0 0 4px);
            @include css-arrow(10px, right)
        }

        &:last-child {
            margin-left: -30px;
            padding-left: 20px;
            
            @include border-radius(0 4px 4px 0);
        }

    }
}

.label-group--tall {
    .label {
        font-size: 100%;
        line-height: 1.2;

        &:first-child {
            @include css-arrow(13px, right)
        }

        &:last-child {
            margin-left: -30px;
            padding-left: 25px;
        }
    }
}

.label-group--tallest {
    .label {
        font-size: 110%;
        line-height: 1.2;
        
        &:first-child {
            @include css-arrow(14px, right)
        }

        &:last-child {
            margin-left: -30px;
            padding-left: 30px;
        }
    }
}
