.settings {
  background-color: #f7f7f7;
  display: block;
  max-width: 250px;
}

.settings__title {
  display: table-cell;
  line-height: 1em;
  margin: 0;
  padding: .5em;
  font-family: $font-family-semibold;
  font-size: 1.2em;
}

.settings__toggle,
.setting__icon {
  @extend .naked-link;
  background-color: darken(#f7f7f7, 5);
  display: table-cell;
  font-size: 1.25em;
  padding: .5em;
  text-align: center;
  width: 50px;

  &:hover {
    background-color: darken(#f7f7f7, 5);
  }
}


.setting__controls {
  display: table-cell;
  padding: .5em 0;
  vertical-align: top;

  label {
    margin: 0;
    padding-left: .5em;
    padding-right: .5em;
  }

  .warning {
    margin-top: .5em;
    padding: .5em;

    p {
      margin-bottom: .5em;
    }
  }
}

.setting__actions {
  text-align: center;
}


.setting__icon i:before {
  color: $gray;
}

.setting__icon--enabled i:before {
  color: $jadu-green;
}
