{% import '@pulsar/pulsar/helpers/html.html.twig' as html %}
{{ html.link(label = html.icon('remove'), class = 'widget__controls', attributes = 'data-widget-action="remove"') }}
<h3>Administrators</h3>
<dl>
  <dt>Active</dt>
  <dd>638</dd>
  <dt>Inactive</dt>
  <dd>12</dd>
</dl>