{% import '@pulsar/pulsar/helpers/html.html.twig' as html %}
{{ 
    html.button_dropdown(
        caret = false,
        class = 'widget__controls',
        label = html.icon('angle-down'),
        type = 'link',
        menu_items = [
            html.link(
                label = html.icon('trash') ~ ' Remove',
                class = 'link--danger',
                attributes = 'data-widget-action=remove'
            )
        ]
    ) 
}}
<h3>{{ config.widget_title }}</h3>
<dl>
  <dt>Active</dt>
  <dd>638</dd>
  <dt>Inactive</dt>
  <dd>12</dd>
</dl>