{% import '@pulsar/pulsar/helpers/html.html.twig' as html %}
{{ 
    html.button_dropdown(
        caret = false,
        class = 'widget__controls',
        label = html.icon('angle-down'),
        type = 'link',
        menu_items = [
            html.link(
                label = html.icon('trash') ~ ' Remove',
                class = 'link--danger',
                attributes = 'data-widget-action=remove'
            )
        ]
    ) 
}}
<h3>{{ settings.name }}</h3>

<dl class="widget_summary">
  <dt class="widget_summary__label">Active</dt>
  <dd class="widget_summary__figure">638</dd>
  <dd><span class="label label--success"><i class="icon-arrow-up"></i> 7</span></dd>

  <dt class="widget_summary__label">Inactive</dt>
  <dd class="widget_summary__figure">17</dd>
  <dd><span class="label label--danger"><i class="icon-arrow-down"></i> 1</span></dd>
</dl>
