{% set cssPath  = base_path ~ 'css/' %}
{% set imgPath  = base_path ~ 'images/' %}
{% set jsPath   = base_path ~ 'js/' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Build 88 - Jadu Deployer</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="TODO">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- TODO: favicons here -->

        <link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar.css' }}" />

        <script src="{{ base_path ~ 'dist/js/bundle.js' }}" id="main-js"></script>
        <script src="{{ base_path ~ 'js/main.js' }}" ></script>
        <script src="{{ base_path ~ 'dist/js/lexicon-bundle.js' }}" ></script>

        {# demo styles, will need putting in project specific sass file #}
        {% include '@pulsar/playground/deployer/partials/style.html.twig' %}

    </head>
    <body>
        <a class="skip-link" href="#skip-target" tabindex="1">Skip to main content</a>
        <div class="container" id="top">
            <div class="inner-wrapper">
                {% include '@pulsar/playground/deployer/partials/nav.html.twig' %}
                <header class="toolbar">
                    {% include '@pulsar/playground/deployer/partials/toolbar-controls.html.twig' %}
                    {#
                        The flash-container needs to be in the DOM before the flash message is added, ideally on page load
                        When empty, needs to be completely empty no white space
                    #}
                    {% spaceless %}
                    <div class="flash-container js-flash-container" role="status">

                        {# this should be added to the DOM after the flash-container parent in order for it to be annouced to SRs #}
                        {# example flash markup
                        <section class="flash flash--info" aria-labelledby="guid-1921523354">
                            <i aria-hidden="true" class="icon-spinner icon-spin"></i><h2 id="guid-1921523354">This build is processing. This process can take up to 10 minutes.</h2>
                            <button class="close" data-dismiss="flash">
                                <i class="icon-remove"><span class="hide">Close</span></i>
                            </button>
                        </section>
                        #}
                    </div>
                    {% endspaceless %}
                    <h1 class="main-title" tabindex="-1">Build 88</h1>
                </header>
                <div class="content-main">
                    <div class="tabs__content">
                        <div class="ribbon-wrapper">
                            <section class="ribbon" aria-label="content summary">
                                <div class="ribbon__content">
                                    <dl class="ribbon__list">
                                        <dt class="ribbon__list-key">Created</dt>
                                        <dd class="ribbon__list-value">1 hour ago (13:06)</dd>
                                        <dt class="ribbon__list-key">Created by</dt>
                                        <dd class="ribbon__list-value">Paul Bele</dd>
                                        <dt class="ribbon__list-key">Dependancies</dt>
                                        <dd class="ribbon__list-value"><span class="label">client packages only</span></dd>
                                        <dt class="ribbon__list-key">Build Status</dt>
                                        <dd class="ribbon__list-value"><span class="label label--success">success</span></dd>
                                    </dl>
                                </div>
                            </section>
                        </div>

                        <div class="tab__pane is-active">
                            <div class="tab__container">
                                <section class="actionsbar" aria-label="page actions">
                                    <div class="float--right">
                                        {# This is a link, because it navigates somewhere -->
                                        <a class="btn btn--primary" href="http://localhost:3001/app/app.php/playground/deployer/package.html.twig">View Package</a> #}

                                        {# example when build is processing (swapped to button as links can't be disabled)
                                        <button class="btn btn--primary is-disabled" disabled>Package Building <i aria-hidden="true" class="icon-spinner icon-spin"></i></button>

                                        If simplier, the same result could be got from keeping the link and adding aria-role="button" aria-disabled="true" and using JS to prevent click.
                                        #}
                                    </div>
                                </section>
                                <div class="tab__inner">
                                    <main class="tab__content" id="skip-target">

                                        <h2 class="u-margin-top">Build timeline</h2>

                                        <ol class="timeline">
                                            <li class="timeline-content">
                                                <p>Package built successfully</p>
                                                <time datetime="2020-01-20 08:30">20/01/2020 08:30</time>
                                            </li>
                                            <li class="timeline-content">
                                                <p>Finished file upload</p>
                                                <time datetime="2020-01-20 08:30">20/01/2020 08:30</time>
                                            </li>
                                            <li class="timeline-content">
                                                <p>Starting file upload to environment server</p>
                                                <time datetime="2020-01-20 08:30">20/01/2020 08:28</time>
                                            </li>
                                            <li class="timeline-content">
                                                <p>Updated dependencies to repository REWORD</p>
                                                <time datetime="2020-01-20 08:30">20/01/2020 08:20</time>
                                            </li>
                                            <li class="timeline-content">
                                                <p>Bumped project to version 1.28.2</p>
                                                <time datetime="2020-01-20 08:30">20/01/2020 08:18</time>
                                            </li>
                                            <li class="timeline-content">
                                                <p>Build process started</p>
                                                <time datetime="2020-01-20 08:30">20/01/2020 08:15</time>
                                            </li>
                                        </ol>
                                    </main>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
