{% set cssPath  = base_path ~ 'css/' %}
{% set imgPath  = base_path ~ 'images/' %}
{% set jsPath   = base_path ~ 'js/' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Environments - Jadu Deployer</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="TODO">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- TODO: favicons here -->

        <link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar.css' }}" />

        <script src="{{ base_path ~ 'dist/js/bundle.js' }}" id="main-js"></script>
        <script src="{{ base_path ~ 'js/main.js' }}" ></script>
        <script src="{{ base_path ~ 'dist/js/lexicon-bundle.js' }}" ></script>

        {# demo styles, will need putting in project specific sass file #}
        {% include '@pulsar/playground/deployer/partials/style.html.twig' %}

    </head>
    <body>
        <a class="skip-link" href="#skip-target" tabindex="1">Skip to main content</a>
        <div class="container" id="top">
            <div class="inner-wrapper">
                {% include '@pulsar/playground/deployer/partials/nav.html.twig' %}
                <header class="toolbar">
                    {% include '@pulsar/playground/deployer/partials/toolbar-controls.html.twig' %}
                    {#
                        flash-container needs to be in the DOM before the flash message is added, ideally on page load
                        When empty, needs to be completely empty no white space
                    #}
                    {% spaceless %}
                    <div class="flash-container js-flash-container" role="status">

                        {# This should be added to the DOM after the flash-container parent in order for it to be annouced to SRs #}
                        {# example flash markup
                        <section class="flash flash--success" aria-labelledby="guid-1921523354">
                            <i aria-hidden="true" class="icon-spinner icon-spin"></i><h2 id="guid-1921523354">Environment successfully created</h2>
                            <button class="close" data-dismiss="flash">
                                <i class="icon-remove"><span class="hide">Close</span></i>
                            </button>
                        </section>
                        #}
                    </div>
                    {% endspaceless %}
                    <h1 class="main-title main-title--standalone" tabindex="-1">Environments</h1>
                </header>
                <div class="content-main">
                    <div class="tabs__content">
                        <div class="tab__pane is-active">
                            <div class="tab__container">
                                <section class="actionsbar" aria-label="page actions">
                                    <div class="float--right">
                                        <button class="btn btn--primary" data-toggle="modal" data-target="#newEnvironmentModal">New Environment</button>
                                    </div>
                                </section>
                                <div class="tab__inner">
                                    <main class="tab__content" id="skip-target">

                                        <p>The following environments configured for use with Deployer.</p>

                                        <table class="table table--full table--horizontal u-margin-bottom-none" data-table-detail-table>
                                            <caption class="hide">Environments</caption>
                                            <thead>
                                                <tr>
                                                    <th>URL</th>
                                                    <th>Status</th>
                                                    <th>Installed Dependencies</th>
                                                    <th>Last connection</th>
                                                    <th>Memory limit</th>
                                                    <th>Enabled</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><a href="http://localhost:3001/app/app.php/playground/deployer/environment.html.twig">uat.jadu.net</a></td>
                                                    <td><i class="status is-online"></i> Live</td>
                                                    <td><span class="label label--primary">continuum #112</span> <span class="label">package 1.28.2</span></td>
                                                    <td>2 mins ago</td>
                                                    <td>64MB</td>
                                                    <td>Yes</td>
                                                </tr>

                                                <tr>
                                                    <td><a href="http://localhost:3001/app/app.php/playground/deployer/environment.html.twig">uat2.jadu.net</a></td>
                                                    <td><i class="status is-offline"></i> Offline</td>
                                                    <td><span class="label label--primary">continuum #112</span> <span class="label">package 1.28.1</span></td>
                                                    <td>20 mins ago</td>
                                                    <td>64MB</td>
                                                    <td>Yes</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="http://localhost:3001/app/app.php/playground/deployer/environment.html.twig">uat3.jadu.net</a></td>
                                                    <td><i class="status is-online"></i> Live</td>
                                                    <td><span class="label label--primary">continuum #112</span> <span class="label">package 1.26.2</span></td>
                                                    <td>2 mins ago</td>
                                                    <td>64MB</td>
                                                    <td>Yes</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </main>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal modal--large" id="newEnvironmentModal" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="newEnvironmentModal-title" aria-describedby="newEnvironmentModal-description" aria-hidden="false">
            <div class="modal__dialog">
                <div class="modal__content">
                    <form>
                        <div class="modal__header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close dialog">×</button>
                            <h1 class="modal__title" id="newEnvironmentModal-title">New Environment</h1>
                        </div>
                        <div class="modal__body">

                            <p id="newEnvironmentModal-description">Add a new environment by adding the URL of your website. After you save the new environment, a new API key will be generated. You will need to add this key into your website <strong>Utilities &gt; Integrations &gt; Deployer.</strong></p>

                            <div class="form__group form__group--full">
                                <label for="guid-1754188012" class="control__label">URL&nbsp;<span aria-hidden="true" class="required-indicator">*</span></label>
                                <div class="controls">
                                    <input id="guid-1754188012" type="text" class="form__control" required value="uat.jadu.net">
                                </div>
                            </div>
                            <div class="form__group form__group--full">
                                <label for="guid-23498728347" class="control__label">Memory limit (MB)&nbsp;<span aria-hidden="true" class="required-indicator">*</span></label>
                                <div class="controls">
                                    <input id="guid-23498728347" aria-describedby="guid-186440945" type="text" class="form__control" required value="64">
                                    <span class="help-block" id="guid-186440945">The amount of memory available for a deployment</span>
                                </div>
                            </div>
                            <div class="form__group  form__group--toggle">
                                <label class="toggle-switch-wrapper-label" for="guid-1299616969">
                                    <span class="control__label">Enable</span>
                                    <span class="controls">
                                        <input id="guid-1299616969" type="checkbox" class="form__control toggle-switch">
                                        <span class="toggle-switch-label"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="modal__footer">
                            <button type="submit" class="btn btn--primary">Save</button>
                            <button type="button" class="btn btn--naked" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
