{% set cssPath  = base_path ~ 'css/' %}
{% set imgPath  = base_path ~ 'images/' %}
{% set jsPath   = base_path ~ 'js/' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Package 1.28.2 - Jadu Deployer</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="TODO">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- TODO: favicons here -->

        <link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar.css' }}" />

        <script src="{{ base_path ~ 'dist/js/bundle.js' }}" id="main-js"></script>
        <script src="{{ base_path ~ 'js/main.js' }}" ></script>
        <script src="{{ base_path ~ 'dist/js/lexicon-bundle.js' }}" ></script>

        {# demo styles, will need putting in project specific sass file #}
        {% include '@pulsar/playground/deployer/partials/style.html.twig' %}

    </head>
    <body>
        <a class="skip-link" href="#skip-target" tabindex="1">Skip to main content</a>
        <div class="container" id="top">
            <div class="inner-wrapper">
                {% include '@pulsar/playground/deployer/partials/nav.html.twig' %}
                <header class="toolbar">
                    {% include '@pulsar/playground/deployer/partials/toolbar-controls.html.twig' %}
                    {#
                        The flash-container needs to be in the DOM before the flash message is added, ideally on page load
                        When empty, needs to be completely empty no white space
                    #}
                    {% spaceless %}
                    <div class="flash-container js-flash-container" role="status">
                        {# this should be added to the DOM after the flash-container parent in order for it to be annouced to SRs #}
                        {# example flash markup
                        <section class="flash flash--info" aria-labelledby="guid-1921523354">
                            <i aria-hidden="true" class="icon-spinner icon-spin"></i><h2 id="guid-1921523354">This package is currently being deployed. This process can take up to 10 minutes.</h2>
                            <button class="close" data-dismiss="flash">
                                <i class="icon-remove"><span class="hide">Close</span></i>
                            </button>
                        </section>
                        #}
                    </div>
                    {% endspaceless %}
                    <h1 class="main-title" tabindex="-1">Package 1.28.2</h1>
                </header>
                <div class="content-main">
                    <div class="tabs__content">
                        <div class="ribbon-wrapper">
                            <section class="ribbon" aria-label="content summary">
                                <div class="ribbon__content">
                                    <dl class="ribbon__list">
                                        <dt class="ribbon__list-key">Created</dt>
                                        <dd class="ribbon__list-value">1 hour ago (13:06)</dd>
                                        <dt class="ribbon__list-key">Created by</dt>
                                        <dd class="ribbon__list-value">Paul Bele</dd>
                                        <dt class="ribbon__list-key">Dependancies</dt>
                                        <dd class="ribbon__list-value"><span class="label">client packages only</span></dd>
                                    </dl>

                                    <dl class="ribbon__list">
                                        <dt class="ribbon__list-key">Last deployed</dt>
                                        <dd class="ribbon__list-value">1 hour ago (13:06)</dd>
                                        <dt class="ribbon__list-key">Last deployed to</dt>
                                        <dd class="ribbon__list-value">uat.jadu.net</dd>
                                        <dt class="ribbon__list-key">Last deployed by</dt>
                                        <dd class="ribbon__list-value">James Jacobs</dd>
                                    </dl>
                                </div>
                            </section>
                        </div>
                        <div class="tab__pane is-active">
                            <div class="tab__container">
                                <section class="actionsbar" aria-label="page actions">
                                    <div class="float--left">
                                        <div class="btn__group dropdown">
                                            <button id="actions_menu" aria-haspopup="true" aria-expanded="false" aria-controls="guid-1472654815" data-toggle="dropdown" class="btn dropdown__toggle">
                                                Actions&nbsp;<span class="caret"></span>
                                            </button>
                                            <ul id="guid-1472654815" class="dropdown__menu pull-left">
                                                <li>
                                                    <a href="http://localhost:3001/app/app.php/playground/deployer/build.html.twig">
                                                        <i aria-hidden="true" class="icon-file-text-o"></i>&nbsp;View build log
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i aria-hidden="true" class="icon-download"></i>&nbsp;Download package
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="float--right">
                                        {# button not a link as it triggers a modal #}
                                        <button class="btn btn--primary" data-toggle="modal" data-target="#deployModal">Deploy Package</button>

                                        {# example when package is being deployed
                                        <button class="btn btn--primary is-disabled" disabled>Package Building <i aria-hidden="true" class="icon-spinner icon-spin"></i></button>
                                        #}
                                    </div>
                                </section>
                                <div class="tab__inner">
                                    <main class="tab__content" id="skip-target">
                                        <h2 class="u-margin-top">Deployments</h2>
                                        <table class="table table--full table--horizontal u-margin-bottom-none" data-table-detail-table>
                                            <caption class="hide">Deployments</caption>
                                            <thead>
                                                <tr>
                                                    <th>Environment</th>
                                                    <th>Started</th>
                                                    <th>Finished</th>
                                                    <th>Deployed by</th>
                                                    <th>Status</th>
                                                    <th class="shrink-to-fit">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                data-table-detail-panel-custom-title="Deployment log"
                                                data-table-detail-content="
                                                    <dl class=&quot;metadata margin-bottom--large&quot;>
                                                        <dt class=&quot;metadata__key&quot;>Environment</dt>
                                                        <dd class=&quot;metadata__value&quot;>uat.jadu.net</dd>

                                                        <dt class=&quot;metadata__key&quot;>Started</dt>
                                                        <dd class=&quot;metadata__value&quot;>1 hours ago (13:06)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Finished</dt>
                                                        <dd class=&quot;metadata__value&quot;>20 mins ago (13:46)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Deployed by</dt>
                                                        <dd class=&quot;metadata__value&quot;>Paul Bele</dd>

                                                        <dt class=&quot;metadata__key&quot;>Status</dt>
                                                        <dd class=&quot;metadata__value&quot;>
                                                            <span class=&quot;label label--success&quot;>Success</span>
                                                        </dd>
                                                    </dl>

                                                    <ol class=&quot;timeline&quot;>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Package deployed successfully</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:30</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Storing current migration status in the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:28</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files into the install /var/www/jadu/</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:20</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files from the install to the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:18</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Creating backup in /var/www/jadu/backups/20201117130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:15</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Removing backup 2019-10-1720201017130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:13</time>
                                                        </li>
                                                    </ol>
                                                ">
                                                    <td>uat.jadu.net</td>
                                                    <td>1 hour ago (13:06)</td>
                                                    <td>20 mins ago (13:46)</td>
                                                    <td>Paul Bele</td>
                                                    <td><span class="label label--success">success</span></td>
                                                    <td class="table-actions-td">
                                                        <button class="btn btn--outline" data-toggle="modal" data-target="#rollbackModal">
                                                            Rollback <span class="hide">deployement from uat.jadu.net</span>
                                                        </button>
                                                        <button class="btn btn--outline" data-table-detail-view-detail="true">
                                                            View log <span class="hide">for deployement of package 1.28.11</span>
                                                        </button>
                                                    </td>
                                                </tr>

                                                <tr
                                                data-table-detail-panel-custom-title="Deployment log"
                                                data-table-detail-content="
                                                    <dl class=&quot;metadata margin-bottom--large&quot;>
                                                        <dt class=&quot;metadata__key&quot;>Environment</dt>
                                                        <dd class=&quot;metadata__value&quot;>uat.jadu.net</dd>

                                                        <dt class=&quot;metadata__key&quot;>Started</dt>
                                                        <dd class=&quot;metadata__value&quot;>1 hours ago (13:06)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Finished</dt>
                                                        <dd class=&quot;metadata__value&quot;>20 mins ago (13:46)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Deployed by</dt>
                                                        <dd class=&quot;metadata__value&quot;>Paul Bele</dd>

                                                        <dt class=&quot;metadata__key&quot;>Status</dt>
                                                        <dd class=&quot;metadata__value&quot;>
                                                            <span class=&quot;label label--success&quot;>Success</span>
                                                        </dd>
                                                    </dl>

                                                    <ol class=&quot;timeline&quot;>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Package deployed successfully</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:30</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Storing current migration status in the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:28</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files into the install /var/www/jadu/</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:20</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files from the install to the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:18</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Creating backup in /var/www/jadu/backups/20201117130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:15</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Removing backup 2019-10-1720201017130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:13</time>
                                                        </li>
                                                    </ol>
                                                ">
                                                    <td>uat.jadu.net</td>
                                                    <td>1 hour ago (13:06)</td>
                                                    <td>20 mins ago (13:46)</td>
                                                    <td>Paul Bele</td>
                                                    <td><span class="label label--success">success</span></td>
                                                    <td class="table-actions-td">
                                                        <button class="btn btn--outline" data-toggle="modal" data-target="#rollbackModal">
                                                            Rollback <span class="hide">deployement from uat.jadu.net</span>
                                                        </button>
                                                        <button class="btn btn--outline" data-table-detail-view-detail="true">
                                                            View log <span class="hide">for deployement of package 1.28.11</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr
                                                data-table-detail-panel-custom-title="Deployment log"
                                                data-table-detail-content="
                                                    <dl class=&quot;metadata margin-bottom--large&quot;>
                                                        <dt class=&quot;metadata__key&quot;>Environment</dt>
                                                        <dd class=&quot;metadata__value&quot;>uat.jadu.net</dd>

                                                        <dt class=&quot;metadata__key&quot;>Started</dt>
                                                        <dd class=&quot;metadata__value&quot;>1 hours ago (13:06)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Finished</dt>
                                                        <dd class=&quot;metadata__value&quot;>20 mins ago (13:46)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Deployed by</dt>
                                                        <dd class=&quot;metadata__value&quot;>Paul Bele</dd>

                                                        <dt class=&quot;metadata__key&quot;>Status</dt>
                                                        <dd class=&quot;metadata__value&quot;>
                                                            <span class=&quot;label label--success&quot;>Success</span>
                                                        </dd>
                                                    </dl>

                                                    <ol class=&quot;timeline&quot;>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Package deployed successfully</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:30</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Storing current migration status in the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:28</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files into the install /var/www/jadu/</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:20</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files from the install to the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:18</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Creating backup in /var/www/jadu/backups/20201117130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:15</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Removing backup 2019-10-1720201017130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:13</time>
                                                        </li>
                                                    </ol>
                                                ">
                                                    <td>uat.jadu.net</td>
                                                    <td>1 hour ago (13:06)</td>
                                                    <td>20 mins ago (13:46)</td>
                                                    <td>Paul Bele</td>
                                                    <td><span class="label label--success">success</span></td>
                                                    <td class="table-actions-td">
                                                        <button class="btn btn--outline" data-toggle="modal" data-target="#rollbackModal">
                                                            Rollback <span class="hide">deployement from uat.jadu.net</span>
                                                        </button>
                                                        <button class="btn btn--outline" data-table-detail-view-detail="true">
                                                            View log <span class="hide">for deployement of package 1.28.11</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr
                                                data-table-detail-panel-custom-title="Deployment log"
                                                data-table-detail-content="
                                                    <dl class=&quot;metadata margin-bottom--large&quot;>
                                                        <dt class=&quot;metadata__key&quot;>Environment</dt>
                                                        <dd class=&quot;metadata__value&quot;>uat.jadu.net</dd>

                                                        <dt class=&quot;metadata__key&quot;>Started</dt>
                                                        <dd class=&quot;metadata__value&quot;>1 hours ago (13:06)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Finished</dt>
                                                        <dd class=&quot;metadata__value&quot;>20 mins ago (13:46)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Deployed by</dt>
                                                        <dd class=&quot;metadata__value&quot;>Paul Bele</dd>

                                                        <dt class=&quot;metadata__key&quot;>Status</dt>
                                                        <dd class=&quot;metadata__value&quot;>
                                                            <span class=&quot;label label--success&quot;>Success</span>
                                                        </dd>
                                                    </dl>

                                                    <ol class=&quot;timeline&quot;>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Package deployed successfully</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:30</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Storing current migration status in the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:28</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files into the install /var/www/jadu/</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:20</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files from the install to the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:18</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Creating backup in /var/www/jadu/backups/20201117130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:15</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Removing backup 2019-10-1720201017130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:13</time>
                                                        </li>
                                                    </ol>
                                                ">
                                                    <td>uat.jadu.net</td>
                                                    <td>1 hour ago (13:06)</td>
                                                    <td>20 mins ago (13:46)</td>
                                                    <td>Paul Bele</td>
                                                    <td><span class="label label--success">success</span></td>
                                                    <td class="table-actions-td">
                                                        <button class="btn btn--outline" data-toggle="modal" data-target="#rollbackModal">
                                                            Rollback <span class="hide">deployement from uat.jadu.net</span>
                                                        </button>
                                                        <button class="btn btn--outline" data-table-detail-view-detail="true">
                                                            View log <span class="hide">for deployement of package 1.28.11</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr
                                                data-table-detail-panel-custom-title="Deployment log"
                                                data-table-detail-content="
                                                    <dl class=&quot;metadata margin-bottom--large&quot;>
                                                        <dt class=&quot;metadata__key&quot;>Environment</dt>
                                                        <dd class=&quot;metadata__value&quot;>uat.jadu.net</dd>

                                                        <dt class=&quot;metadata__key&quot;>Started</dt>
                                                        <dd class=&quot;metadata__value&quot;>1 hours ago (13:06)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Finished</dt>
                                                        <dd class=&quot;metadata__value&quot;>20 mins ago (13:46)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Deployed by</dt>
                                                        <dd class=&quot;metadata__value&quot;>Paul Bele</dd>

                                                        <dt class=&quot;metadata__key&quot;>Status</dt>
                                                        <dd class=&quot;metadata__value&quot;>
                                                            <span class=&quot;label label--success&quot;>Success</span>
                                                        </dd>
                                                    </dl>

                                                    <ol class=&quot;timeline&quot;>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Package deployed successfully</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:30</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Storing current migration status in the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:28</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files into the install /var/www/jadu/</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:20</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files from the install to the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:18</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Creating backup in /var/www/jadu/backups/20201117130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:15</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Removing backup 2019-10-1720201017130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:13</time>
                                                        </li>
                                                    </ol>
                                                ">
                                                    <td>uat.jadu.net</td>
                                                    <td>1 hour ago (13:06)</td>
                                                    <td>20 mins ago (13:46)</td>
                                                    <td>Paul Bele</td>
                                                    <td><span class="label label--success">success</span></td>
                                                    <td class="table-actions-td">
                                                        <button class="btn btn--outline" data-toggle="modal" data-target="#rollbackModal">
                                                            Rollback <span class="hide">deployement from uat.jadu.net</span>
                                                        </button>
                                                        <button class="btn btn--outline" data-table-detail-view-detail="true">
                                                            View log <span class="hide">for deployement of package 1.28.11</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr
                                                data-table-detail-panel-custom-title="Deployment log"
                                                data-table-detail-content="
                                                    <dl class=&quot;metadata margin-bottom--large&quot;>
                                                        <dt class=&quot;metadata__key&quot;>Environment</dt>
                                                        <dd class=&quot;metadata__value&quot;>uat.jadu.net</dd>

                                                        <dt class=&quot;metadata__key&quot;>Started</dt>
                                                        <dd class=&quot;metadata__value&quot;>1 hours ago (13:06)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Finished</dt>
                                                        <dd class=&quot;metadata__value&quot;>20 mins ago (13:46)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Deployed by</dt>
                                                        <dd class=&quot;metadata__value&quot;>Paul Bele</dd>

                                                        <dt class=&quot;metadata__key&quot;>Status</dt>
                                                        <dd class=&quot;metadata__value&quot;>
                                                            <span class=&quot;label label--success&quot;>Success</span>
                                                        </dd>
                                                    </dl>

                                                    <ol class=&quot;timeline&quot;>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Package deployed successfully</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:30</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Storing current migration status in the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:28</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files into the install /var/www/jadu/</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:20</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files from the install to the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:18</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Creating backup in /var/www/jadu/backups/20201117130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:15</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Removing backup 2019-10-1720201017130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:13</time>
                                                        </li>
                                                    </ol>
                                                ">
                                                    <td>uat.jadu.net</td>
                                                    <td>1 hour ago (13:06)</td>
                                                    <td>20 mins ago (13:46)</td>
                                                    <td>Paul Bele</td>
                                                    <td><span class="label label--success">success</span></td>
                                                    <td class="table-actions-td">
                                                        <button class="btn btn--outline" data-toggle="modal" data-target="#rollbackModal">
                                                            Rollback <span class="hide">deployement from uat.jadu.net</span>
                                                        </button>
                                                        <button class="btn btn--outline" data-table-detail-view-detail="true">
                                                            View log <span class="hide">for deployement of package 1.28.11</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr
                                                data-table-detail-panel-custom-title="Deployment log"
                                                data-table-detail-content="
                                                    <dl class=&quot;metadata margin-bottom--large&quot;>
                                                        <dt class=&quot;metadata__key&quot;>Environment</dt>
                                                        <dd class=&quot;metadata__value&quot;>uat.jadu.net</dd>

                                                        <dt class=&quot;metadata__key&quot;>Started</dt>
                                                        <dd class=&quot;metadata__value&quot;>1 hours ago (13:06)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Finished</dt>
                                                        <dd class=&quot;metadata__value&quot;>20 mins ago (13:46)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Deployed by</dt>
                                                        <dd class=&quot;metadata__value&quot;>Paul Bele</dd>

                                                        <dt class=&quot;metadata__key&quot;>Status</dt>
                                                        <dd class=&quot;metadata__value&quot;>
                                                            <span class=&quot;label label--success&quot;>Success</span>
                                                        </dd>
                                                    </dl>

                                                    <ol class=&quot;timeline&quot;>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Package deployed successfully</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:30</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Storing current migration status in the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:28</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files into the install /var/www/jadu/</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:20</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files from the install to the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:18</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Creating backup in /var/www/jadu/backups/20201117130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:15</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Removing backup 2019-10-1720201017130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:13</time>
                                                        </li>
                                                    </ol>
                                                ">
                                                    <td>uat.jadu.net</td>
                                                    <td>1 hour ago (13:06)</td>
                                                    <td>20 mins ago (13:46)</td>
                                                    <td>Paul Bele</td>
                                                    <td><span class="label label--success">success</span></td>
                                                    <td class="table-actions-td">
                                                        <button class="btn btn--outline" data-toggle="modal" data-target="#rollbackModal">
                                                            Rollback <span class="hide">deployement from uat.jadu.net</span>
                                                        </button>
                                                        <button class="btn btn--outline" data-table-detail-view-detail="true">
                                                            View log <span class="hide">for deployement of package 1.28.11</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr
                                                data-table-detail-panel-custom-title="Deployment log"
                                                data-table-detail-content="
                                                    <dl class=&quot;metadata margin-bottom--large&quot;>
                                                        <dt class=&quot;metadata__key&quot;>Environment</dt>
                                                        <dd class=&quot;metadata__value&quot;>uat.jadu.net</dd>

                                                        <dt class=&quot;metadata__key&quot;>Started</dt>
                                                        <dd class=&quot;metadata__value&quot;>1 hours ago (13:06)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Finished</dt>
                                                        <dd class=&quot;metadata__value&quot;>20 mins ago (13:46)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Deployed by</dt>
                                                        <dd class=&quot;metadata__value&quot;>Paul Bele</dd>

                                                        <dt class=&quot;metadata__key&quot;>Status</dt>
                                                        <dd class=&quot;metadata__value&quot;>
                                                            <span class=&quot;label label--success&quot;>Success</span>
                                                        </dd>
                                                    </dl>

                                                    <ol class=&quot;timeline&quot;>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Package deployed successfully</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:30</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Storing current migration status in the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:28</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files into the install /var/www/jadu/</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:20</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files from the install to the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:18</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Creating backup in /var/www/jadu/backups/20201117130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:15</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Removing backup 2019-10-1720201017130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:13</time>
                                                        </li>
                                                    </ol>
                                                ">
                                                    <td>uat.jadu.net</td>
                                                    <td>1 hour ago (13:06)</td>
                                                    <td>20 mins ago (13:46)</td>
                                                    <td>Paul Bele</td>
                                                    <td><span class="label label--success">success</span></td>
                                                    <td class="table-actions-td">
                                                        <button class="btn btn--outline" data-toggle="modal" data-target="#rollbackModal">
                                                            Rollback <span class="hide">deployement from uat.jadu.net</span>
                                                        </button>
                                                        <button class="btn btn--outline" data-table-detail-view-detail="true">
                                                            View log <span class="hide">for deployement of package 1.28.11</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr
                                                data-table-detail-panel-custom-title="Deployment log"
                                                data-table-detail-content="
                                                    <dl class=&quot;metadata margin-bottom--large&quot;>
                                                        <dt class=&quot;metadata__key&quot;>Environment</dt>
                                                        <dd class=&quot;metadata__value&quot;>uat.jadu.net</dd>

                                                        <dt class=&quot;metadata__key&quot;>Started</dt>
                                                        <dd class=&quot;metadata__value&quot;>1 hours ago (13:06)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Finished</dt>
                                                        <dd class=&quot;metadata__value&quot;>20 mins ago (13:46)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Deployed by</dt>
                                                        <dd class=&quot;metadata__value&quot;>Paul Bele</dd>

                                                        <dt class=&quot;metadata__key&quot;>Status</dt>
                                                        <dd class=&quot;metadata__value&quot;>
                                                            <span class=&quot;label label--success&quot;>Success</span>
                                                        </dd>
                                                    </dl>

                                                    <ol class=&quot;timeline&quot;>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Package deployed successfully</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:30</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Storing current migration status in the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:28</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files into the install /var/www/jadu/</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:20</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files from the install to the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:18</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Creating backup in /var/www/jadu/backups/20201117130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:15</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Removing backup 2019-10-1720201017130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:13</time>
                                                        </li>
                                                    </ol>
                                                ">
                                                    <td>uat.jadu.net</td>
                                                    <td>1 hour ago (13:06)</td>
                                                    <td>20 mins ago (13:46)</td>
                                                    <td>Paul Bele</td>
                                                    <td><span class="label label--success">success</span></td>
                                                    <td class="table-actions-td">
                                                        <button class="btn btn--outline" data-toggle="modal" data-target="#rollbackModal">
                                                            Rollback <span class="hide">deployement from uat.jadu.net</span>
                                                        </button>
                                                        <button class="btn btn--outline" data-table-detail-view-detail="true">
                                                            View log <span class="hide">for deployement of package 1.28.11</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr
                                                data-table-detail-panel-custom-title="Deployment log"
                                                data-table-detail-content="
                                                    <dl class=&quot;metadata margin-bottom--large&quot;>
                                                        <dt class=&quot;metadata__key&quot;>Environment</dt>
                                                        <dd class=&quot;metadata__value&quot;>uat.jadu.net</dd>

                                                        <dt class=&quot;metadata__key&quot;>Started</dt>
                                                        <dd class=&quot;metadata__value&quot;>1 hours ago (13:06)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Finished</dt>
                                                        <dd class=&quot;metadata__value&quot;>20 mins ago (13:46)</dd>

                                                        <dt class=&quot;metadata__key&quot;>Deployed by</dt>
                                                        <dd class=&quot;metadata__value&quot;>Paul Bele</dd>

                                                        <dt class=&quot;metadata__key&quot;>Status</dt>
                                                        <dd class=&quot;metadata__value&quot;>
                                                            <span class=&quot;label label--success&quot;>Success</span>
                                                        </dd>
                                                    </dl>

                                                    <ol class=&quot;timeline&quot;>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Package deployed successfully</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:30</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Storing current migration status in the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:28</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files into the install /var/www/jadu/</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:20</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Copying files from the install to the backup</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:18</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Creating backup in /var/www/jadu/backups/20201117130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:15</time>
                                                        </li>
                                                        <li class=&quot;timeline-content&quot;>
                                                            <p>Removing backup 2019-10-1720201017130437</p>
                                                            <time datetime=&quot;2020-01-20 08:30&quot;>20/01/2020 08:13</time>
                                                        </li>
                                                    </ol>
                                                ">
                                                    <td>uat.jadu.net</td>
                                                    <td>1 hour ago (13:06)</td>
                                                    <td>20 mins ago (13:46)</td>
                                                    <td>Paul Bele</td>
                                                    <td><span class="label label--success">success</span></td>
                                                    <td class="table-actions-td">
                                                        <button class="btn btn--outline" data-toggle="modal" data-target="#rollbackModal">
                                                            Rollback <span class="hide">deployement from uat.jadu.net</span>
                                                        </button>
                                                        <button class="btn btn--outline" data-table-detail-view-detail="true">
                                                            View log <span class="hide">for deployement of package 1.28.11</span>
                                                        </button>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </main>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#
        Behaviour on show:
            1. change aria-hidden="false" to aria-hidden="true"
            2. add style="display: block"
            3. focus should be managed, shift focus to the first focusable element in the modal form

        Behaviour on hide:
            1. change aria-hidden="true" to aria-hidden="false"
            2. add style="display: none" or remove style attribute
            3. focus should be returned to triggering button
        #}
        <div class="modal modal--danger" id="rollbackModal" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="rollbackModal-title" aria-describedby="rollbackModal-description" aria-hidden="false">
            <div class="modal__dialog">
                <div class="modal__content">
                    <form>
                        <div class="modal__header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close dialog"></button>
                            <h1 class="modal__title" id="rollbackModal-title">Rollback Deployment</h1>
                        </div>
                        <div class="modal__body">
                            <p id="rollbackModal-description">This will rollback the package deployment on <strong>uat.jadu.net</strong> and attempt to restore the previously installed files from backup. Database and file migrations will also be rolled back.</p>
                        </div>
                        <div class="modal__footer">
                            <button type="submit" class="btn btn--danger">Rollback</button>
                            <button type="button" class="btn btn--naked" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {#
        Behaviour on show:
            1. change aria-hidden="false" to aria-hidden="true"
            2. add style="display: block"
            3. focus should be managed, shift focus to the first focusable element in the modal form

        Behaviour on hide:
            1. change aria-hidden="true" to aria-hidden="false"
            2. add style="display: none" or remove style attribute
            3. focus should be returned to triggering button
        #}
        <div class="modal" id="deployModal" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="deploymentModal-title" aria-describedby="deploymentModal-description" aria-hidden="false">
            <div class="modal__dialog">
                <div class="modal__content">
                    <form>
                        <div class="modal__header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close dialog"></button>
                            <h1 class="modal__title" id="deploymentModal-title">Deploy package 1.28.2</h1>
                        </div>
                        <div class="modal__body">

                            <p id="deploymentModal-description">Deploy this package to an environment. Deployments can take up to 30 minutes to completes. A single package can only be deployed to an individual environment once. If you need to re-deploy, either create a new package and deploy that or rollback the last deployment.</p>

                            <div class="form__group form__group--full">
                                <label for="guid-293847928" class="control__label">Select environment to deploy to&nbsp;<span aria-hidden="true" class="required-indicator">*</span></label>
                                <div class="controls">
                                    <select id="guid-293847928" class="form__control select" required>
                                        <option value="">Please choose</option>
                                        <option value="value1">uat.jadu.net</option>
                                        <option value="value2">abc.jadu.net</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="modal__footer">
                            <button type="submit" class="btn btn--primary">Deploy</button>
                            <button type="button" class="btn btn--naked" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
