<h1>Heading One</h1>
<h2>Heading Two</h2>
<h3>Heading Three</h3>
<h4>Heading Four</h4>
<h5>Heading Five</h5>
<h6>Heading Six</h6>

<h2>Body text</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium lectus vitae tincidunt commodo. Cras sodales interdum est vel lobortis. Vivamus urna dolor, gravida vel dolor non, lacinia lobortis eros. Integer euismod elementum justo non tempor. Duis libero erat, iaculis ac nulla sit amet, vulputate sodales erat. Integer elementum metus sagittis turpis varius tristique. Nullam in est rhoncus, porttitor felis ac, viverra nibh. Donec euismod egestas congue. Pellentesque non blandit quam, non semper felis. Curabitur facilisis sem felis, vel vestibulum nunc bibendum vitae. Morbi placerat purus nec velit condimentum, nec commodo diam semper. Aenean non diam dolor. Nulla justo massa, feugiat in posuere vitae, scelerisque id massa. Nam venenatis tortor vel luctus varius.<p>

<h2>Columns (2 &ndash; 4)</h2>

<p class="columns columns--2">Aliquam erat volutpat. Nunc laoreet suscipit nisl a pulvinar. Praesent nec vulputate velit. Etiam vitae ipsum ullamcorper, egestas turpis et, rutrum nulla. Quisque est sem, consequat in ante quis, mattis sodales lacus. In hac habitasse platea dictumst. Nam facilisis vitae metus at blandit. Aenean imperdiet faucibus felis, et vestibulum nulla laoreet quis. Quisque eget ligula at nisl feugiat adipiscing ac eget purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam imperdiet venenatis faucibus. Vestibulum et molestie orci, non suscipit turpis. Mauris nec ligula sit amet nisi pulvinar condimentum. Morbi ornare adipiscing mollis. Vivamus vestibulum lectus ac cursus facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

<p class="columns columns--3">Aliquam erat volutpat. Nunc laoreet suscipit nisl a pulvinar. Praesent nec vulputate velit. Etiam vitae ipsum ullamcorper, egestas turpis et, rutrum nulla. Quisque est sem, consequat in ante quis, mattis sodales lacus. In hac habitasse platea dictumst. Nam facilisis vitae metus at blandit. Aenean imperdiet faucibus felis, et vestibulum nulla laoreet quis. Quisque eget ligula at nisl feugiat adipiscing ac eget purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam imperdiet venenatis faucibus. Vestibulum et molestie orci, non suscipit turpis. Mauris nec ligula sit amet nisi pulvinar condimentum. Morbi ornare adipiscing mollis. Vivamus vestibulum lectus ac cursus facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

<p class="columns columns--4">Aliquam erat volutpat. Nunc laoreet suscipit nisl a pulvinar. Praesent nec vulputate velit. Etiam vitae ipsum ullamcorper, egestas turpis et, rutrum nulla. Quisque est sem, consequat in ante quis, mattis sodales lacus. In hac habitasse platea dictumst. Nam facilisis vitae metus at blandit. Aenean imperdiet faucibus felis, et vestibulum nulla laoreet quis. Quisque eget ligula at nisl feugiat adipiscing ac eget purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam imperdiet venenatis faucibus. Vestibulum et molestie orci, non suscipit turpis. Mauris nec ligula sit amet nisi pulvinar condimentum. Morbi ornare adipiscing mollis. Vivamus vestibulum lectus ac cursus facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

<h2>Lists</h2>
<div class="columns columns--4">
    <h4>Unordered</h4>
    <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
    </ul>
    
    <h4>Ordered</h4>
    <ol>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
    </ol>

    <h4>Description</h4>
    <dl>
        <dt>Lorem ipsum dolor</dt>
        <dd>consectetur adipiscing elit</dd>
        <dt>Lorem ipsum dolor</dt>
        <dd>consectetur adipiscing elit</dd>
        <dt>Lorem ipsum dolor</dt>
        <dd>consectetur adipiscing elit</dd>
    </dl>

    <h4>Description (horizontal)</h4>
    <dl class="dl-horizontal">
        <dt>Lorem</dt>
        <dd>Ipsum</dd>
        <dt>Ipsum dolor</dt>
        <dd>Ipsum</dd>
        <dt>Lorem ipsum dolor sit amet</dt>
        <dd>Ipsum</dd>
        <dt>Lorem ipsum dolor</dt>
        <dd>Ipsum</dd>
        <dt>Lorem ipsum</dt>
        <dd>Ipsum</dd>
        <dt>Lorem</dt>
        <dd>Ipsum</dd>
    </dl>
</div>

<h2>Tables</h2>
<div class="columns columns--3">
    <h4>Default</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Column</th>
                <th>Column</th>
                <th>Column</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Column</td>
                <td>Column</td>
                <td>Column</td>
            </tr>
            <tr>
                <td>Column</td>
                <td>Column</td>
                <td>Column</td>
            </tr>
            <tr>
                <td>Column</td>
                <td>Column</td>
                <td>Column</td>
            </tr>
            <tr>
                <td>Column</td>
                <td>Column</td>
                <td>Column</td>
            </tr>
        </tbody>
    </table>
    <h4>Bordered</h4>
    <table class="table table--bordered">
        <thead>
            <tr>
                <th>Column</th>
                <th>Column</th>
                <th>Column</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Column</td>
                <td>Column</td>
                <td>Column</td>
            </tr>
            <tr>
                <td>Column</td>
                <td>Column</td>
                <td>Column</td>
            </tr>
            <tr>
                <td>Column</td>
                <td>Column</td>
                <td>Column</td>
            </tr>
            <tr>
                <td>Column</td>
                <td>Column</td>
                <td>Column</td>
            </tr>
        </tbody>
    </table>
    <h4>Striped</h4>
    <table class="table table--bordered table--striped">
        <thead>
            <tr>
                <th>Column</th>
                <th>Column</th>
                <th>Column</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Column</td>
                <td>Column</td>
                <td>Column</td>
            </tr>
            <tr>
                <td>Column</td>
                <td>Column</td>
                <td>Column</td>
            </tr>
            <tr>
                <td>Column</td>
                <td>Column</td>
                <td>Column</td>
            </tr>
            <tr>
                <td>Column</td>
                <td>Column</td>
                <td>Column</td>
            </tr>
        </tbody>
    </table>
</div>