{%- macro list(tabs) -%}
    {% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}

    <div class="nav-inline t-nav-inline">
        <ul class="nav-inline__list">
    {%- for tab in tabs -%}
            <li class="nav-inline__item{% if tab.active is defined and tab.active == tab.id %} nav-inline__item--is-active is-active{% endif %}{% if tab.hidden is defined and tab.hidden == true %} hide{% endif %}">
                {% if tab.disabled is defined and tab.disabled == true %}
                    {% set href = '#' %}
                    {% set type = 'link' %}
                {% else %}
                    {% set href = '#' ~ tab.id %}
                    {% set type = 'tab' %}
                    {%
                        if tab.src is defined
                        and tab.src != null
                        and (
                               tab.src|json_encode|slice(0, 1) == '/'
                            or tab.src|json_encode|slice(1, 1) == '#'
                            or tab.src|json_encode|slice(1, 4) == 'http'
                        )
                    %}
                        {% set type = 'link' %}
                        {% set href = tab.src %}
                    {% elseif tab.href is defined and tab.href != null %}
                        {% set type = 'link' %}
                        {% set href = tab.href %}
                    {% endif %}
                {% endif %}

                {%
                    set options = {
                        'class': 'nav-inline__link',
                        'label': tab.label,
                        'href': href,
                        'data-toggle': type,
                        'disabled': tab.disabled|default(false)
                    }
                %}
                {{ html.link(options|merge(tab.data|default({}))) }}
            </li>
    {%- endfor -%}
        </ul>
    </div>
{%- endmacro -%}

{%- macro content(tabs) -%}
    {%- set active_tab = '' -%}
    {%- for tab in tabs -%}
        {% if tab.active is defined and tab.active and tab.src|json_encode|slice(1, 1) == '#' %}
            {% set active_tab = tab.src %}
        {% endif %}
    {%- endfor -%}

    {%- for tab in tabs -%}
        {%-
            if tab.src is defined
            and tab.src != null
            and tab.src|json_encode|slice(0, 1) != '/'
            and tab.src|json_encode|slice(1, 1) != '#'
            and tab.src|json_encode|slice(1, 4) != 'http'
        -%}
            <div class="tab__pane{% if (tab.active is defined and tab.active == tab.id) or (active_tab == '#' ~ tab.id) %} is-active{% endif %}" id="{{ tab.id }}"{% if tab.attr is defined and tab.attr != null %} {{ tab.attr|raw }}{% endif %}>
                {{ tab.src|raw }}
            </div>
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}
