{% if breadcrumb is defined %}
{% import 'pulsar/helpers/html.html.twig' as html %}
<nav class="breadcrumb">
    <ul>
    {% for key, value in breadcrumb %}
        <li>
        {% if value is not empty %}
            {{ html.link(label = key, href = value) }}
        {% else %}
            <span>{{ key }}</span>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
</nav>
{% endif %}
