<nav class="nav-main" aria-label="Primary" id="aria-main-nav">
    <div class="nav-primary t-nav-primary">
        <div class="nav-primary-contents">
            <a tabindex="1" href="#" class="jadu-branding" aria-label="Home">
                <span class="jadu-logomark">
                    <span class="hide">Return to home</span>
                </span>
                <span class="jadu-wordmark">Jadu</span>
            </a>
            <ul class="nav-items">
                <li data-target="#lexicon" class="nav-item t-nav-item is-active">
                    <button data-target="#lexicon"  class="nav-link nav-link-primary t-nav-link" aria-current="page" aria-haspopup="true" aria-expanded="false" aria-controls="aria-secondary-nav">
                        <i aria-hidden="true" class="icon-info-sign icon-fw nav-link__icon t-nav-icon"></i>
                        <span class="nav-link__label">Lexicon</span>
                    </button>

                    <div class="nav-secondary t-nav-secondary" id="aria-secondary-nav">
                        <button class="nav-close" data-nav-action="close" >
                            <i class="icon-remove"><span class="hide">Close expanded menu</span></i>
                        </button>
                        <div class="nav-list" data-nav="#lexicon" id="lexicon">
                            <h2 class="nav-item nav-item--header t-nav-header" id="aria-secondary-nav-heading-Lexicon">Lexicon</h2>
                            <ul class="nav-items">
                                <li class="nav-item t-nav-item">
                                    <a href="/app/app.php/lexicon"  class="nav-link t-nav-link">
                                        <span class="nav-link__label">Components</span>
                                    </a>
                                </li>
                                <li class="nav-item t-nav-item">
                                    <a href="/app/app.php/lexicon/modules.html.twig"  class="nav-link t-nav-link">
                                        <span class="nav-link__label">Modules</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </li>
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon/html.html.twig"  class="nav-link nav-link-primary t-nav-link">
                        <i aria-hidden="true" class="icon-code icon-fw nav-link__icon t-nav-icon"></i>
                        <span class="nav-link__label">HTML helpers</span>
                    </a>
                </li>
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon/forms.html.twig"  class="nav-link nav-link-primary t-nav-link">
                        <i aria-hidden="true" class="icon-check icon-fw nav-link__icon t-nav-icon"></i>
                        <span class="nav-link__label">Form helpers</span>
                    </a>
                </li>
                <li data-target="#patterns" class="nav-item t-nav-item">
                    <button data-target="#patterns"  class="nav-link nav-link-primary t-nav-link" aria-haspopup="true" aria-expanded="false" aria-controls="aria-secondary-nav">
                        <i aria-hidden="true" class="icon-cubes icon-fw nav-link__icon t-nav-icon"></i>
                        <span class="nav-link__label">Patterns</span>
                    </button>

                    <div class="nav-secondary t-nav-secondary" id="aria-secondary-nav">
                        <button class="nav-close" data-nav-action="close" >
                            <i class="icon-remove"><span class="hide">Close expanded menu</span></i>
                        </button>

                        <div class="nav-list" data-nav="#patterns" id="patterns">
                            <h2 class="nav-item nav-item--header t-nav-header" id="aria-secondary-nav-heading-Patterns">Patterns</h2>
                            <ul class="nav-items">
                                <li class="nav-item t-nav-item">
                                    <a href="/app/app.php/lexicon/patterns/disabled-ui/"  class="nav-link t-nav-link">
                                        <span class="nav-link__label">Disabled UI</span>
                                    </a>
                                </li>
                                <li class="nav-item t-nav-item">
                                    <a href="/app/app.php/lexicon/patterns/filters/"  class="nav-link t-nav-link">
                                        <span class="nav-link__label">Filters</span>
                                    </a>
                                </li>
                                <li class="nav-item t-nav-item">
                                    <a href="/app/app.php/lexicon/patterns/masterswitch/"  class="nav-link t-nav-link">
                                        <span class="nav-link__label">Masterswitch</span>
                                    </a>
                                </li>
                                <li class="nav-item t-nav-item">
                                    <a href="/app/app.php/lexicon/patterns/no-results/"  class="nav-link t-nav-link">
                                        <span class="nav-link__label">No Results</span>
                                    </a>
                                </li>
                                <li class="nav-item t-nav-item">
                                    <a href="/app/app.php/lexicon/patterns/reporting/"  class="nav-link t-nav-link">
                                        <span class="nav-link__label">Reporting</span>
                                    </a>
                                </li>
                                <li class="nav-item t-nav-item">
                                    <a href="/app/app.php/lexicon/patterns/rules/"  class="nav-link t-nav-link">
                                        <span class="nav-link__label">Rules</span>
                                    </a>
                                </li>
                                <li class="nav-item t-nav-item">
                                    <a href="/app/app.php/lexicon/patterns/settings/" aria-label="Pattern Settings"  class="nav-link t-nav-link">
                                        <span class="nav-link__label">Settings</span>
                                    </a>
                                </li>
                                <li class="nav-item t-nav-item">
                                    <a href="/app/app.php/lexicon/patterns/table-detail/"  class="nav-link t-nav-link">
                                        <span class="nav-link__label">Table Detail</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon/tables.html.twig"  class="nav-link nav-link-primary t-nav-link">
                        <i aria-hidden="true" class="icon-table icon-fw nav-link__icon t-nav-icon"></i>
                        <span class="nav-link__label">Tables</span>
                    </a>
                </li>
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon/utilities.html.twig"  class="nav-link nav-link-primary t-nav-link">
                        <i aria-hidden="true" class="icon-wrench icon-fw nav-link__icon t-nav-icon"></i>
                        <span class="nav-link__label">Utilities</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="nav-tertiary t-nav-tertiary" id="aria-tertiary-nav">
        <button class="nav-close" data-nav-action="close" >
            <i class="icon-remove"><span class="hide">Close expanded menu</span></i>
        </button>
        <div class="nav-list">
            <h2 class="nav-item nav-item--header t-nav-header" id="aria-tertiary-nav-heading">More Categories</h2>
            <ul class="nav-items">
                <li data-target="#lexicon" class="nav-item t-nav-item is-active">
                    <button data-target="#lexicon"  class="nav-link t-nav-link" aria-current="page" aria-haspopup="true" aria-expanded="false" aria-controls="aria-quaternary-nav">
                        <i aria-hidden="true" class="icon-info-sign icon-fw nav-link__icon t-nav-icon"></i>
                        <span class="nav-link__label">Lexicon</span>
                    </button>
                </li>
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon/html.html.twig"  class="nav-link t-nav-link">
                        <i aria-hidden="true" class="icon-code icon-fw nav-link__icon t-nav-icon"></i>
                        <span class="nav-link__label">HTML helpers</span>
                    </a>
                </li>
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon/forms.html.twig"  class="nav-link t-nav-link">
                        <i aria-hidden="true" class="icon-check icon-fw nav-link__icon t-nav-icon"></i>
                        <span class="nav-link__label">Form helpers</span>
                    </a>
                </li>
                <li data-target="#patterns" class="nav-item t-nav-item">
                    <button data-target="#patterns"  class="nav-link t-nav-link" aria-haspopup="true" aria-expanded="false" aria-controls="aria-quaternary-nav">
                        <i aria-hidden="true" class="icon-cubes icon-fw nav-link__icon t-nav-icon"></i>
                        <span class="nav-link__label">Patterns</span>
                    </button>
                </li>
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon/tables.html.twig"  class="nav-link t-nav-link">
                        <i aria-hidden="true" class="icon-table icon-fw nav-link__icon t-nav-icon"></i>
                        <span class="nav-link__label">Tables</span>
                    </a>
                </li>
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon/utilities.html.twig"  class="nav-link t-nav-link">
                        <i aria-hidden="true" class="icon-wrench icon-fw nav-link__icon t-nav-icon"></i>
                        <span class="nav-link__label">Utilities</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav-quaternary t-nav-quaternary" id="aria-quaternary-nav">
        <button class="nav-close-ltr" data-nav-action="close" >
            <i class="icon-remove"><span class="hide">Close expanded menu</span></i>
        </button>
        <div class="nav-list" data-nav="#lexicon">
            <h2 class="nav-item nav-item--header t-nav-header" id="aria-quaternary-nav-heading-Lexicon">Lexicon</h2>
            <ul class="nav-items">
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon"  class="nav-link t-nav-link">
                        <span class="nav-link__label">Components</span>
                    </a>
                </li>
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon/modules.html.twig"  class="nav-link t-nav-link">
                        <span class="nav-link__label">Modules</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-list" data-nav="#patterns">
            <h2 class="nav-item nav-item--header t-nav-header" id="aria-quaternary-nav-heading-Patterns">Patterns</h2>
            <ul class="nav-items">
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon/patterns/disabled-ui/"  class="nav-link t-nav-link">
                        <span class="nav-link__label">Disabled UI</span>
                    </a>
                </li>
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon/patterns/filters/"  class="nav-link t-nav-link">
                        <span class="nav-link__label">Filters</span>
                    </a>
                </li>
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon/patterns/masterswitch/"  class="nav-link t-nav-link">
                        <span class="nav-link__label">Masterswitch</span>
                    </a>
                </li>
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon/patterns/no-results/"  class="nav-link t-nav-link">
                        <span class="nav-link__label">No Results</span>
                    </a>
                </li>
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon/patterns/reporting/"  class="nav-link t-nav-link">
                        <span class="nav-link__label">Reporting</span>
                    </a>
                </li>
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon/patterns/rules/"  class="nav-link t-nav-link">
                        <span class="nav-link__label">Rules</span>
                    </a>
                </li>
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon/patterns/settings/" aria-label="Pattern Settings"  class="nav-link t-nav-link">
                        <span class="nav-link__label">Settings</span>
                    </a>
                </li>
                <li class="nav-item t-nav-item">
                    <a href="/app/app.php/lexicon/patterns/table-detail/"  class="nav-link t-nav-link">
                        <span class="nav-link__label">Table Detail</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
