<link rel="mask-icon" href="/images/favicons/cxm/safari-pinned-tab.svg" color="#54_b9_a9">
<link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/cxm/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/cxm/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/cxm/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/cxm/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/cxm/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/cxm/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/cxm/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/cxm/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/cxm/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/images/favicons/cxm/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/images/favicons/cxm/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="/images/favicons/cxm/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/images/favicons/cxm/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/images/favicons/cxm/manifest.json">
<link rel="shortcut icon" href="/images/favicons/cxm/favicon.ico">
<meta name="msapplication-TileColor" content="#54_b9_a9">
<meta name="msapplication-TileImage" content="/images/favicons/cxm/mstile-144x144.png">
<meta name="msapplication-config" content="/images/favicons/cxm/browserconfig.xml">
<meta name="theme-color" content="#ffffff">