<link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/deployer/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/deployer/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/deployer/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/deployer/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/deployer/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/deployer/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/deployer/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/deployer/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/deployer/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/deployer/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="194x194" href="/images/favicons/deployer/favicon-194x194.png">
<link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/deployer/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/deployer/favicon-16x16.png">
<link rel="manifest" href="/images/favicons/deployer/site.webmanifest">
<link rel="shortcut icon" href="/images/favicons/deployer/favicon.ico">
<meta name="msapplication-TileColor" content="#3d4796">
<meta name="msapplication-TileImage" content="/images/favicons/deployer/mstile-144x144.png">
<meta name="msapplication-config" content="/images/favicons/deployer/browserconfig.xml">
<meta name="theme-color" content="#3d4796">