{% spaceless %}
<div class="flash-container js-flash-container">
{% if flash_message is defined %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}
{{
	flash.message({
		'message': flash_message.message|default,
		'type': flash_message.type|default,
		'autohide': flash_message.autohide|default
	})
}}
{% endif %}
</div>
{% endspaceless %}
