<div class="toolbar">
    <a href="#" class="mobile-menu-button">Menu</a>

    <form class="nav-search">
        <input type="search" placeholder="Search" class="nav-search__field" />
        <button class="nav-search__submit">{{ html.icon('search') }}</button>
    </form>

    <div class="nav-user">
        {{
            html.button_dropdown({
                "label": "Paul Stanton",
                "class": "user-menu btn--naked",
                "items": [
                    html.link({
                        "label": html.icon('user') ~ " My details",
                        "href": "#foo"
                    }),
                    html.link({
                        "label": html.icon('key') ~ " Change password",
                        "href": "#foo"
                    }),
                    html.divider(),
                    html.link({
                        "label": html.icon('power-off') ~ " Sign out",
                        "href": "#foo"
                    }),
                ]
            })
        }}
    </div>
</div>
