{% import '@pulsar/pulsar/helpers/html.html.twig' as html %}
{{ 
    html.button_dropdown(
        caret = false,
        class = 'widget__controls',
        label = html.icon('angle-down'),
        type = 'link',
        menu_items = [
            html.link(
                label = html.icon('trash') ~ ' Remove',
                class = 'link--danger',
                attributes = 'data-widget-action=remove'
            )
        ]
    ) 
}}
<h3>Browser Usage</h3>
<div id="browsers" class="highchart"></div>
<script>
require(['highcharts'], function() {

    var $container = $('#browsers');

    var chart = new Highcharts.Chart({
        chart: {
            height: 200,
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            renderTo: $container[0]
        },
        title: {
            text: ''
        },
        tooltip: {
          pointFormat: "{series.name}: <b>{point.percentage:.1f}%</b>"
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    distance: 5,
                    connectorColor: '#CCC',
                    format: '{point.name}'
                },
                startAngle: -30
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                ['IE',        44.0],
                ['Firefox',   26.8],
                ['Chrome',    12.8],
                ['Safari',    8.5],
                ['Opera',     1]
            ]
        }],
        credits: {
          enabled: false
        }
    });

});
</script>