{% extends '@pulsar/pulsar/layouts/tabbed.html.twig' %}
{% import '@pulsar/pulsar/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/helpers/flash.html.twig' as flash %}

{% block title %}{{ parent() }}{% endblock %}

{% set heading = 'Pulsar Lexicon' %}

{%
    set actions_menu = [
        html.link(label = html.icon('save') ~ ' Save', href = '#save'),
        html.link(
          label = html.icon('print') ~ ' Print',
          href = '#print'
        ),
        html.divider(),
        html.link(
          label = html.icon('trash') ~ ' Delete',
          href = '#delete',
          class = 'link--danger disabled',
          attributes = 'data-on-datagrid-item-selected=enable'
        )
    ]
%}

{% set tab_buttons %}{% include       'lexicon/tabs/buttons_labels.html.twig' %}{% endset %}
{% set tab_decks %}{% include         'lexicon/tabs/decks.html.twig' %}{% endset %}
{% set tab_editor %}{% include        'lexicon/tabs/editor.html.twig' %}{% endset %}
{% set tab_flash %}{% include         'lexicon/tabs/flash.html.twig' %}{% endset %}
{% set tab_forms %}{% include         'lexicon/tabs/forms.html.twig' %}{% endset %}
{% set tab_loading %}{% include       'lexicon/tabs/loading.html.twig' %}{% endset %}
{% set tab_modals %}{% include        'lexicon/tabs/modals.html.twig' %}{% endset %}
{% set tab_tooltips %}{% include      'lexicon/tabs/tooltips.html.twig' %}{% endset %}
{% set tab_data_grid %}{% include     'lexicon/tabs/datagrid.html.twig' %}{% endset %}
{% set tab_popovers %}{% include      'lexicon/tabs/popovers.html.twig' %}{% endset %}
{% set tab_progress_bars %}{% include 'lexicon/tabs/progress_bars.html.twig' %}{% endset %}
{% set tab_rich_list %}{% include     'lexicon/tabs/rich_list.html.twig' %}{% endset %}
{% set tab_simple_file %}{% include   'lexicon/tabs/simple_file.html.twig' %}{% endset %}
{% set tab_typography %}{% include    'lexicon/tabs/typography.html.twig' %}{% endset %}
{% set tab_interactions %}{% include  'lexicon/tabs/interactions.html.twig' %}{% endset %}
{% set tab_form_summary %}{% include  'lexicon/tabs/analytics.html.twig' %}{% endset %}
{% set tab_filters %}{% include       'lexicon/tabs/filters.html.twig' %}{% endset %}
{% set tab_empty_table %}{% include   'lexicon/tabs/empty_table.html.twig' %}{% endset %}

{%
  set tabs = [
    {
      "id"        : "components",
      "label"     : html.icon("th") ~ " Components",
      "sub_tabs"  : [
        {
          "id"    : "buttons",
          "label" : html.icon("plus-sign-alt") ~ " Buttons",
          "src"   : tab_buttons
        },
        {
          "id"    : "editor",
          "label" : html.icon("file-text-alt") ~ " Editor",
          "src"   : tab_editor
        },
        {
          "id"    : "flash",
          "label" : html.icon("warning-sign") ~ " Flash messages",
          "src"   : tab_flash
        },
        {
          "id"    : "forms",
          "label" : html.icon("check-sign") ~ " Forms",
          "src"   : tab_forms
        },
        {
          "id"    : "loading",
          "label" : html.icon("spinner") ~ " Loading",
          "src"   : tab_loading
        },
        {
          "id"    : "progress",
          "label" : html.icon("tasks") ~ " Progress bars",
          "src"   : tab_progress_bars
        },
        {
          "id"    : "table",
          "label" : html.icon("table") ~ " Table",
          "src"   : tab_data_grid
        },
        {
          "id"    : "tooltips",
          "label" : html.icon("quote-left") ~ " Tooltips",
          "src"   : tab_tooltips
        },
        {
          "id"    : "type",
          "label" : html.icon("font") ~ " Typography",
          "src"   : tab_typography
        }
      ]
    },
    {
      "id"        : "Modules",
      "label"     : html.icon("th-large") ~ " Modules",
      "sub_tabs"  : [
        {
          "id"    : "decks",
          "label" : html.icon("columns") ~ " Decks",
          "src"   : tab_decks
        },
        {
          "id"    : "modals",
          "label" : html.icon("list-alt") ~ " Modals",
          "src"   : tab_modals
        },
        {
          "id"    : "popovers",
          "label" : html.icon("comment") ~ " Popovers",
          "src"   : tab_popovers
        },
        {
          "id"    : "rich_list",
          "label" : html.icon("columns") ~ " Rich list",
          "src"   : tab_rich_list
        },
      ]
    },
    {
      "id"        : "Patterns",
      "label"     : html.icon("puzzle-piece") ~ " Patterns",
      "sub_tabs"  : [
        {
          "id"    : "simple_file",
          "label" : html.icon("paperclip") ~ " Simple Attachments",
          "src"   : tab_simple_file
        },
      ]
    },
    {
      "id"        : "interactions",
      "label"     : html.icon("forward") ~ " Interactions",
      "src"       : tab_interactions
    },
    {
      "id"        : "examples",
      "label"     : html.icon("desktop") ~ " UI Examples",
      "sub_tabs"  : [
        {
          "id"    : "summary",
          "label" : html.icon("bar-chart") ~ " Table with summary",
          "src"   : tab_form_summary,
          "attr"  : "data-summary=#analytics"
        },
        {
          "id"    : "filters",
          "label" : html.icon("filter") ~ " Table with filters",
          "src"   : tab_filters
        },
        {
          "id"    : "empty_table",
          "label" : html.icon("table") ~ " Table with no results",
          "src"   : tab_empty_table
        }
      ]
    }
  ]
%}

{% block summary %}
  <div class="summary hide" data-tab="#analytics">
    <div id="container"></div>
  </div>
{% endblock %}

{% block tabs_list %}
  <div class="actionsbar actionsbar--left">
    <div class="btn__toolbar">
      <div class="btn__group">
        <a class="btn btn__back" href="#back" onclick="history.back(); return false;"><i class="icon-arrow-left"></i></a>
        {% if actions_menu is not empty %}
          {{
            html.button_dropdown(
              label = 'Actions ' ~ html.badge(class = 'hide'),
              class='actions-menu',
              menu_items = actions_menu
            )
          }}
        {% endif %}
      </div>
    </div>
  </div>

  {{ html.tabs(tabs) }}
{% endblock %}

{% block tabs_content %}
  {{ html.tabs_content(tabs) }}
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="../views/lexicon/js/main.js"></script>
{% endblock %}
