.box {
    background-color: var(--color-bg-light);
    padding: $padding-base;
}

.box--rounded {
    border-radius: $border-radius;
}

.box--naked {
    background-color: var(--color-bg-surface-0);
}
