.portal__details {
  margin: $line-height-base $gutter-width 0 $gutter-width;
}

.portal__details--left {
  float: left;
  width: 70%;
}

.portal__details--right {
  float: left;
  margin-left: 2%;
  width: 28%;

  span {
    display: block;
    font-weight: normal;
    font-family: $font-family-regular;
    margin-bottom: 1em;
  }

  ul {
    width: 100%;
  }

  li {
    border-bottom: 1px solid #efefef;
    margin-bottom: .5em;
    width: 100%;
  }
}

.help-block {
  margin-bottom: 0;
}

.btn__toolbar h3 {
  display: inline-block;
  line-height: 36px;
  margin-left: $gutter-width;
}

#deck-evidence-item {
  img {
    margin-right: 2%;
    margin-bottom: $line-height-base;
    width: 70%;
  }

  .form__group:hover {
    box-shadow: none;
  }

  div.pull-left {
    width: 28%;

    label {
      margin-left: 0;
    }
  }
}

.portal__details {
  dl {

    dt {
      font-weight: normal;
      font-family: $font-family-regular;
      margin-right: 2%;
      width: 30%;
    }

    dd {
      margin-bottom: 1em;
      margin-left: 32%;
    }

    dd > p {
      clear: none;
      margin-left: 0;
    }
  }
}

.muted {
  color: $gray-light;
  margin-left: $gutter-width;
}

.column--55 {
  float: left;
  width: 55%;

  .controls {
    width: 60%;
  }
}

.column--45 {
  float: left;
  width: 45%;

  .form__group:hover {
    box-shadow: none;
  }
}