$font-family-light:   'proxima_novalight', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-family-regular: 'proxima_nova_rgregular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

@font-face {
  font-family: 'proxima_novalight';
  src: url($font-path + 'proxima_nova/proximanova-light.eot');
  src: url($font-path + 'proxima_nova/proximanova-light.eot?#iefix') format('embedded-opentype'),
       url($font-path + 'proxima_nova/proximanova-light.woff2') format('woff2'),
       url($font-path + 'proxima_nova/proximanova-light.woff') format('woff'),
       url($font-path + 'proxima_nova/proximanova-light.ttf') format('truetype'),
       url($font-path + 'proxima_nova/proximanova-light.svg#proxima_novalight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url($font-path + 'proxima_nova/proximanova-regular.eot');
  src: url($font-path + 'proxima_nova/proximanova-regular.eot?#iefix') format('embedded-opentype'),
       url($font-path + 'proxima_nova/proximanova-regular.woff2') format('woff2'),
       url($font-path + 'proxima_nova/proximanova-regular.woff') format('woff'),
       url($font-path + 'proxima_nova/proximanova-regular.ttf') format('truetype'),
       url($font-path + 'proxima_nova/proximanova-regular.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}