{% extends "@pulsar/pulsar/components/tab.html.twig" %}

{%- block actions_left -%}
{%- endblock -%}

{%- block actions_right -%}
{%- endblock -%}

{% block tab_settings %}

        <h2>Workflow settings</h2>
        <p class="u-margin-bottom-small">Choose which admin groups are available for selection in workflow steps <span class="required-indicator" data-toggle="tooltips" title="required">*</span></p>
        <p><button class="btn u-width-full">Manage Admin Groups</button></p>

        <div class="form__group form__group--toggle">
            <label class="toggle-switch-wrapper-label" for="toggle">
                <span class="control__label">Prevent editing of content progressing through workflow</span>
                <span class="controls">
                    <input id="toggle" name="toggle" type="checkbox" class="form__control toggle-switch" />
                    <span class="toggle-switch-label"></span>
                </span>
            </label>
        </div>

        <div class="form__group form__group--full form__group--top form__group--flush form-choice">
            <label class="control__label">Use this workflow on these content types</label>
            <div class="controls">
                <label class="control__label">
                    <input name="choice-a2" value="boogie" type="checkbox" class="form__control checkbox" />
                    <span class="form-choice__label">A-Z Services</span>
                </label>
                <label class="control__label">
                    <input name="choice-a2" value="sun" type="checkbox" class="form__control checkbox" />
                    <span class="form-choice__label">Document pages</span>
                </label>
                <label class="control__label">
                    <input name="choice-a2" value="moon" type="checkbox" class="form__control checkbox" />
                    <span class="form-choice__label">Events</span>
                </label>
                <label class="control__label">
                    <input name="choice-a2" value="moon" type="checkbox" class="form__control checkbox" />
                    <span class="form-choice__label">FAQs</span>
                </label>
                <label class="control__label">
                    <input name="choice-a2" value="moon" type="checkbox" class="form__control checkbox" />
                    <span class="form-choice__label">Galleries</span>
                </label>
                <label class="control__label">
                    <input name="choice-a2" value="good" type="checkbox" class="form__control checkbox" />
                    <span class="form-choice__label">Homepages</span>
                </label>
                <label class="control__label">
                    <input name="choice-a2" value="moon" type="checkbox" class="form__control checkbox" />
                    <span class="form-choice__label">News</span>
                </label>
                <label class="control__label">
                    <input name="choice-a2" value="moon" type="checkbox" class="form__control checkbox" />
                    <span class="form-choice__label">Press releases</span>
                </label>
            </div>
        </div>

{% endblock tab_settings %}

{% block tab_content %}

<form method="POST" enctype="application/x-www-form-urlencoded" class="form">

    <div class="u-margin-bottom--large">
        <label for="text-1"  class="control__label hide">Workflow title</label>
        <input id="text-1" name="text-1" type="text" class="form__control" value="My Awesome Advanced Workflow" />
    </div>

    <div id="rule-form-container" class="rules-container rules-container--v2 rules-container--spaced rules-container--linear">

        <div class="rule-block rule-block--if" id="step0">
            <div class="rule-block__header">
                <span id="aria-heading[0]" class="rule-block__heading">Step 1</span>
            </div>
            <div class="rule-block__controls">
                <h3 id="aria-title[0]" class="u-margin-bottom">Content Authors</h3>
                <fieldset id="workflow-step-0" class="form__group form__group--top form__group--flush form__group--compound">
                    <legend class="control__label" id="workflow-step-0[label]">This workflow will be used when content is created by these administrators</legend>
                    <div class="controls">
                        <label for="privilege-level[0]" class="control__label hide">Privilege level</label>
                        <select id="privilege-level[0]" aria-labelledby="aria-heading[0] aria-title[0]" class="form__control select js-select2 js-privilege-level privilege-level-select">
                            <option value="1">
                                Administrator (1)
                            </option>
                            <option value="2">
                                Webmaster (2)
                            </option>
                        </select>

                        <label for="workflow-level-admins[0]" class="control__label hide">Choose administrators</label>
                        <select id="workflow-level-admins[0]" class="form__control js-select2 js-workflow-admins-select2 administrator-select" multiple="">
                            <option value="1">Admin</option>
                        </select>
                    </div>

                    <input type="hidden" name="stepLevelIDs[]" id="stepLevelIDs[0]" value="0">
                    <input type="hidden" name="stepPositions[]" value="0">
                </fieldset>
            </div>
        </div>

        <div class="rule-block rule-block--and" id="step1">
            <div class="rule-block__header">
                <span class="rule-block__heading">Step 2</span>
            </div>
            <div class="rule-block__controls">
                <div class="row-actions">
                    <button type="button" class="btn row-action js-move-up" disabled=""><i class="icon-arrow-circle-up"><span class="hide">Move up</span></i></button><!--
                    --><button type="button" class="btn row-action js-move-down" disabled=""><i class="icon-arrow-circle-down"><span class="hide">Move down</span></i></button><!--
                    --><button type="button" class="btn remove-button js-remove-step"><i class="icon-remove-sign"><span class="hide">Remove</span></i></button>
                </div>

                <h3 class="u-margin-bottom">Reviewers</h3>
                <fieldset id="workflow-step-1" class="form__group form__group--top form__group--flush form__group--compound">
                    <legend class="control__label" id="workflow-step-1[label]">When content is submitted by the previous step, these admins will be asked for approval</legend>
                    <div class="controls">
                        <label for="privilege-level[1]" class="control__label hide">Privilege level</label>
                        <select id="privilege-level[1]" class="form__control select js-select2 js-privilege-level privilege-level-select" onchange="updateAvailableAdminsAfterLevelSelect(1); return false;" tabindex="-1" aria-hidden="true">
                            <option value="1">
                                Administrator (1)
                            </option>
                            <option value="2">
                                Webmaster (2)
                            </option>
                        </select>

                        <label for="workflow-level-admins[1]" class="control__label hide">Choose administrators</label>
                        <select id="workflow-level-admins[1]" class="form__control js-select2 js-workflow-admins-select2 administrator-select" data-placeholder="-1" multiple="" tabindex="-1" aria-hidden="true">
                            <option value="2">bravo really longname bravo really longname bravo really longname bravo really longname bravo really longname bravo really longname bravo really longname bravo really longname bravo really longname</option>
                            <option value="3">Charlie bravo really longname bravo really longname bravo really longname bravo really longname bravo really longname bravo really longname bravo really longname bravo really longname </option>
                        </select>
                    </div>

                    <input type="hidden" name="stepLevelIDs[]" id="stepLevelIDs[1]" value="2">
                    <input type="hidden" name="stepPositions[]" value="1">
                </fieldset>
            </div>
        </div>

        <div class="rule-links">
            <div class="rule-link rule-link--and">
                <button type="button" class="btn js-add-step" data-step="2">add step</button>
            </div>
        </div>

        <div class="rule-block rule-block--return">
            <div class="rule-block__header">
                <span class="rule-block__heading">End</span>
            </div>
            <div class="rule-block__controls">
                <p class="">If approved, content can then be published. Any further changes will require re-approval.</p>
            </div>
        </div>
    </div>

    <br />

    <div class="form__actions form__actions--flush u-margin-top-large">
        <button type="submit" class="btn btn--primary">Save</button>
        <a href="/home" class="btn btn--naked">Cancel</a>
    </div>
</form>

{% endblock tab_content %}
