{%- macro message(message, type = 'default', sticky = true) -%}
  {% import '@pulsar/pulsar/helpers/html.html.twig' as html %}
  
  {% if type == 'success' %}
    {% set icon = 'ok' %}
  {% elseif type == 'warning' %}
    {% set icon = 'warning-sign' %}
  {% elseif type == 'error' %}
    {% set icon = 'warning-sign' %}
  {% else %}
    {% set icon = 'info-sign' %}
  {% endif %}

  <div class="flash flash--{{ type }}{% if sticky == true %} is-sticky{% endif %}">
    {% if sticky == true %}<button class="close" data-dismiss="flash">{{ html.icon('remove') }}</button>{% endif %}
    {{ html.icon(icon) }} {{ message|raw }}
  </div>

{%- endmacro -%}
