{% extends 'pulsar/layouts/base.html.twig' %}

{% block body %}

<form class="form">
{{
    form.button_group({
        'label': 'Band',
        'items': [
            form.radio_inline({
                'label': 'AM',
                'name': 'bands',
                'bare': true
            }),
            form.radio_inline({
                'label': 'FM',
                'name': 'bands',
                'bare': true
            }),
            form.radio_inline({
                'label': 'MW',
                'name': 'bands',
                'bare': true
            })
        ]
    })
}}
</form>

<form class="form">

<div class="form__group form__button-group">
    <label class="control__label">Band</label>
    <div class="controls"><div class="form__group form__indent"><div class="controls"><label class="control__label radio--inline-v2"><input name="bands" type="radio" class="form__control">AM</label></div></div><div class="form__group form__indent"><div class="controls"><label class="control__label radio--inline-v2"><input name="bands" type="radio" class="form__control">FM</label></div></div><div class="form__group form__indent"><div class="controls"><label class="control__label radio--inline-v2"><input name="bands" type="radio" class="form__control">MW</label></div></div></div></div>


<div class="form__group form__button-group">
    <label class="control__label">Band</label>
    <div class="btn__toolbar">
        <div class="controls btn__group">
            <label class="control__label radio--inline-v2">
                <input name="bands" type="radio" class="form__control">AM
            </label>

            <label class="control__label radio--inline-v2">
                <input name="bands" type="radio" class="form__control">FM
            </label>

            <label class="control__label radio--inline-v2">
                <input name="bands" type="radio" class="form__control">MW
            </label>
        </div>
    </div>
</div>
</form>

<div style="margin: 20px auto; width: 500px;">
    <div class="btn__toolbar">
        <div class="btn__group">
            <div class="btn__group">
                <button type="button" class="btn dropdown__toggle" data-toggle="dropdown">
                    Actions <span class="caret"></span>    </button>
                    <ul class="dropdown__menu">
                      <li>  <a href="#modal-members" class="disabled" title="" data-toggle="tooltips" data-placement="right" data-html="true" data-container="body" data-original-title="You must select <br/>at least one case">
                        <i class="icon-group"></i> Assign to user
                    </a></li>
                </ul>
            </div>

            <div class="btn__group">
                <button type="button" class="btn dropdown__toggle" data-toggle="dropdown">
                    Filters <span class="caret"></span>    </button>
                    <ul class="dropdown__menu">
                      <li>  <a href="#deck-apply-filter" data-toggle="deck">
                        <i class="icon-filter"></i>Apply filter
                    </a></li>
                    <li>  <a href="#deck-save-filter" data-toggle="deck">
                        <i class="icon-save"></i>Save filter
                    </a></li>
                    <li>  <a href="/q/app_dev.php/" class="disabled" data-toggle="modal">
                        <i class="icon-remove"></i>Clear filter
                    </a></li>
                    <li>  <a href="#deck-edit-filter" class="disabled" data-toggle="deck">
                        <i class="icon-pencil"></i>Edit filter
                    </a></li>
                    <li>  <a href="#modal-discard-filter" class="disabled" data-toggle="modal">
                        <i class="icon-trash"></i>Delete filter
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div style="margin: 20px auto; width: 500px;">
    <div class="btn__toolbar">
        <div class="btn__group">
            <div class="btn__group">
                <button type="button" class="btn dropdown__toggle" data-toggle="dropdown">
                    Actions <span class="caret"></span>    </button>
                    <ul class="dropdown__menu">
                      <li>  <a href="#modal-members" class="disabled" title="" data-toggle="tooltips" data-placement="right" data-html="true" data-container="body" data-original-title="You must select <br/>at least one case">
                        <i class="icon-group"></i> Assign to user
                    </a></li>
                </ul>
            </div>

            <div class="btn__group">
                <button type="button" class="btn dropdown__toggle" data-toggle="dropdown">
                    Filters <span class="caret"></span>    </button>
                    <ul class="dropdown__menu">
                      <li>  <a href="#deck-apply-filter" data-toggle="deck">
                        <i class="icon-filter"></i>Apply filter
                    </a></li>
                    <li>  <a href="#deck-save-filter" data-toggle="deck">
                        <i class="icon-save"></i>Save filter
                    </a></li>
                    <li>  <a href="/q/app_dev.php/" class="disabled" data-toggle="modal">
                        <i class="icon-remove"></i>Clear filter
                    </a></li>
                    <li>  <a href="#deck-edit-filter" class="disabled" data-toggle="deck">
                        <i class="icon-pencil"></i>Edit filter
                    </a></li>
                    <li>  <a href="#modal-discard-filter" class="disabled" data-toggle="modal">
                        <i class="icon-trash"></i>Delete filter
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div style="margin: 20px auto; width: 500px;">
    <div class="btn__toolbar">
        <div class="btn__group">
            <div class="btn__group">
                <button type="button" class="btn dropdown__toggle" data-toggle="dropdown">
                Actions <span class="caret"></span>    </button>
                <ul class="dropdown__menu">
                    <li>
                        <a href="#modal-members" class="disabled" title="" data-toggle="tooltips" data-placement="right" data-html="true" data-container="body" data-original-title="You must select <br/>at least one case">
                        <i class="icon-group"></i> Assign to user
                        </a>
                    </li>
                </ul>
            </div>

            <div class="btn__group">
                <button type="button" class="btn dropdown__toggle" data-toggle="dropdown">
                Actions <span class="caret"></span>    </button>
                <ul class="dropdown__menu">
                    <li>
                        <a href="#modal-members" class="disabled" title="" data-toggle="tooltips" data-placement="right" data-html="true" data-container="body" data-original-title="You must select <br/>at least one case">
                        <i class="icon-group"></i> Assign to user
                        </a>
                    </li>
                </ul>
            </div>

            <div class="btn__group">
                <button type="button" class="btn dropdown__toggle" data-toggle="dropdown">
                    Filters <span class="caret"></span>    </button>
                <ul class="dropdown__menu">
                    <li>
                        <a href="#deck-apply-filter" data-toggle="deck">
                        <i class="icon-filter"></i>Apply filter
                        </a>
                    </li>
                    <li>
                        <a href="#deck-save-filter" data-toggle="deck">
                        <i class="icon-save"></i>Save filter
                        </a>
                    </li>
                    <li>
                        <a href="/q/app_dev.php/" class="disabled" data-toggle="modal">
                        <i class="icon-remove"></i>Clear filter
                        </a>
                    </li>
                    <li>
                        <a href="#deck-edit-filter" class="disabled" data-toggle="deck">
                        <i class="icon-pencil"></i>Edit filter
                        </a>
                    </li>
                    <li>
                        <a href="#modal-discard-filter" class="disabled" data-toggle="modal">
                            <i class="icon-trash"></i>Delete filter
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div style="margin: 20px auto; width: 500px;">
    <div class="btn__toolbar">
        <div class="btn__group">
            <div class="btn__group">
                <button type="button" class="btn dropdown__toggle" data-toggle="dropdown">
                Actions <span class="caret"></span>    </button>
                <ul class="dropdown__menu">
                    <li>
                        <a href="#modal-members" class="disabled" title="" data-toggle="tooltips" data-placement="right" data-html="true" data-container="body" data-original-title="You must select <br/>at least one case">
                        <i class="icon-group"></i> Assign to user
                        </a>
                    </li>
                </ul>
            </div>

            <div class="btn__group"><button type="button" class="btn">Left</button><button type="button" class="btn">Middle</button><button type="button" class="btn">Right</button></div>

            <div class="btn__group">
                <button type="button" class="btn dropdown__toggle" data-toggle="dropdown">
                    Filters <span class="caret"></span>    </button>
                <ul class="dropdown__menu">
                    <li>
                        <a href="#deck-apply-filter" data-toggle="deck">
                        <i class="icon-filter"></i>Apply filter
                        </a>
                    </li>
                    <li>
                        <a href="#deck-save-filter" data-toggle="deck">
                        <i class="icon-save"></i>Save filter
                        </a>
                    </li>
                    <li>
                        <a href="/q/app_dev.php/" class="disabled" data-toggle="modal">
                        <i class="icon-remove"></i>Clear filter
                        </a>
                    </li>
                    <li>
                        <a href="#deck-edit-filter" class="disabled" data-toggle="deck">
                        <i class="icon-pencil"></i>Edit filter
                        </a>
                    </li>
                    <li>
                        <a href="#modal-discard-filter" class="disabled" data-toggle="modal">
                            <i class="icon-trash"></i>Delete filter
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div style="margin: 20px auto; width: 500px;">
    <div style="margin-bottom: 20px;">
        <div class="btn__group"><button type="button" class="btn">Left</button><button type="button" class="btn">Right</button></div>
    </div>
</div>

<div style="margin: 20px auto; width: 500px;">
    <div style="margin-bottom: 20px;">
        <div class="btn__group"><button type="button" class="btn">Left</button><button type="button" class="btn">Middle</button><button type="button" class="btn">Right</button></div>
    </div>
</div>




{% endblock %}
