{% extends '@pulsar/playground/workflow-comments/final-editor/base.html.twig' %}

{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/tabs.html.twig' as tabs %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}

{% block title %}{{ parent() }}{% endblock %}

{% set heading = "My Example Document" %}

{%
    set nav_data = {
        "1": {
            "label": "Test 01",
            "class": "",
            "href": "/app/app.php/playground/workflow-comments/test-01/index.html.twig",
            "icon": "folder"
        },
        "2": {
            "label": "Test 02",
            "class": "",
            "href": "/app/app.php/playground/workflow-comments/test-02/index.html.twig",
            "icon": "folder"
        },
        "3": {
            "label": "Test 03",
            "class": "",
            "href": "/app/app.php/playground/workflow-comments/test-03/index.html.twig",
            "icon": "folder"
        },
        "4": {
            "label": "Test 04",
            "class": "",
            "href": "/app/app.php/playground/workflow-comments/test-04/index.html.twig",
            "icon": "folder"
        },
        "5": {
            "label": "Test 05",
            "class": "",
            "href": "/app/app.php/playground/workflow-comments/test-05/index.html.twig",
            "icon": "folder"
        },
        "6": {
            "label": "Final Editor's View",
            "class": "is-active",
            "href": "/app/app.php/playground/workflow-comments/final-editor/index.html.twig",
            "icon": "folder"
        },
        "7": {
            "label": "Final Approver's View",
            "class": "",
            "href": "/app/app.php/playground/workflow-comments/final-approver/index.html.twig",
            "icon": "folder"
        }
    }
%}

{% set tab_two %}
    {% include 'playground/workflow-comments/final-editor/tab_two.html.twig' %}
{% endset %}

{%
    set tabs_content = [
        {
          "id"    : "two",
          "label" : "Content",
          "src"   : tab_two,
          "active": true
        }
    ]
%}

{% block tabs_list %}
    {{ tabs.list(tabs_content) }}
{% endblock %}

{%- block panel -%}

    {% if _get.note is defined %}
        {% set note = '"' ~ _get.note ~ '"' %}
    {% endif %}

    <div class="panel with-timeline">
        <div class="panel__title u-display-inline-block">Content Pending Approval</div>
        <div class="progress-list progress-list-mini u-float-right">
            <a href="#" class="progress-list__item progress-list__item--blue">
                <span class="progress-list__label">
                    Draft
                </span>
                <span class="progress-list__arrow">&gt;</span>
            </a>

            <a href="#" class="progress-list__item progress-list__item--orange">
                <span class="progress-list__label">
                    Pending Approval
                </span>
                <span class="progress-list__arrow">&gt;</span>
            </a>

            <a href="#" class="progress-list__item progress-list__item--white">
                <span class="progress-list__label">
                    Published
                </span>
                <span class="progress-list__arrow">&gt;</span>
            </a>
        </div>
        <div class="panel__body">
            <div class="timeline__item" data-timestamp="2018-03-29T10:59:04+00:00" data-id="2650349">
                <div class="timeline-avatar timeline-avatar--user"><span>AB</span></div>
                    <div class="timeline-content">
                        <div class="timeline-content__inner"><h4 class="timeline-content__title">Alex Bearing [Editor]:</h4>
                        <div class="timeline-content__date"><i aria-hidden="true" class="icon-clock-o icon--info u-hidden-print cursor-help"></i><time class="u-visible-print-inline">10 Mar 2018, 10:01 AM</time><time class="timeago u-hidden-print" datetime="Thu, 10 Mar 2018 10:01:04 +0100" data-timezone="Europe/London"> Thursday 29th March 2018 (11:59)</time></div>
                        <div class="timeline-content__body" data-id="2650349">
                            <p id="message-120530" class="timeline-content__text">"Test"</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-float-right" style="font-size: 12px;"><a href="#">View detailed history of comments here.</a></div>
            <div class="panel__actions"><a href="index.html.twig" class="btn btn--danger">Cancel Approval</a></div>
        </div>
    </div>



{%- endblock -%}

{% block tabs_content %}
    {{ tabs.content(tabs_content) }}
{% endblock %}
