.portal-messages {
  time {
    clear: both;
    float: right;
  }
}

.portal-messages__list,
.portal-messages__message {
  // min-height: 500px;
  // max-height: 500px;
  height: 75vh;

  overflow-y: scroll;
}

.portal-messages__list {
  background-color: $off-white;
  border-right: 1px solid $gray;
  box-shadow: inset -5px -5px 5px rgba(0,0,0,.1);
  float: left;
  width: 35%;

  li {
    background-color: white;
    border-bottom: 1px solid $gray;
    box-shadow: inset -5px 0px 5px -2px rgba(0,0,0,.1);
    float: left;
    list-style-type: none;
    padding: 3px 5px 2px 5px;
    width: 100%;

    &:hover {
      background-color: rgba(0,0,0,.01);
      cursor: pointer;
      .subject:after {
        background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(0,0,0,.01));
        background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(0,0,0,.01));
        background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(0,0,0,.01));
        background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(0,0,0,.01));
      }
    }

    &:last-of-type {
      border-bottom: 3px double $gray;
    }

    .subject {
      position: relative;
      width: 99%;

      &:after {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), white);
        background-image: -moz-linear-gradient(left, rgba(255,255,255,0), white);
        background-image: -ms-linear-gradient(left, rgba(255,255,255,0), white);
        background-image: -o-linear-gradient(left, rgba(255,255,255,0), white);
        content: "";
        width: 30px;
        display: block;
        z-index: 0;
      }
    }

    &.is-selected {
      background-color: rgba(217,235,234, 1);
      .sender {
        font-family: $font-family-regular;
      }
      .subject:after {
        background-image: -webkit-linear-gradient(left, rgba(217,235,234, 0), lighten($primary-color, 30%));
        background-image: -moz-linear-gradient(left, rgba(217,235,234, 0), lighten($primary-color, 30%));
        background-image: -ms-linear-gradient(left, rgba(217,235,234, 0), lighten($primary-color, 30%));
        background-image: -o-linear-gradient(left, rgba(217,235,234, 0), lighten($primary-color, 30%));
      }
    }

  }

  .badge {
    margin-left: $gutter-width;
  }

  .sender,
  .subject {
    display: inline;
    overflow: hidden;
    float: left;
    @include nowrap;
  }

  .subject {
    font-size: $font-size-small;
    line-height: $line-height-small;
    width: 100%;
  }

  .label {
    box-shadow: -15px 0px 5px 0px white;
    float: right;
    margin-top: -1.5em;
    position: relative;
    z-index: 2;
  }
}

.portal-messages__message {
  float: left;
  padding: 15px $gutter-width;
  width: 65%;

  .sender,
  .subject,
  .recipient {
    display: inline-block;
  }

  header {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 1em;
  }

  .subject {
    font-family: $font-family-regular;
    font-size: $font-size-large;
    line-height: 1.35;
    margin-bottom: .5em;
  }

  .message-body,
  .file-reference {
    border-top: 1px solid $gray-lighter;
    
    &,
    > p {
      margin-top: 1em;
    }
  }

  .file-reference {
    padding-top: 1em;
    
    li {
      display: inline-block;
      list-style-type: none;
      margin-right: 2%;
      max-width: 18%;

      img {
        width: 100%;
      }

      a {
        color: $text-color;
        display: block;
        text-align: center;

        &:hover {
          color: $black;
        }
      }
    }
  }
  
  p {
    clear: none;
    margin-left: 0;
  }

  .message-reply {
    margin-bottom: .5em;
  }

}

.history {
  background-color: $off-white;
  cursor: pointer;
  color: $text-color;
  display: block;
  margin: -1.1em (-$gutter-width) 1em;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  position: relative;
  text-align: center;

  &,
  span {
    transition: background-color .15s;
  }

  span {
    background-color: $off-white;
    padding: 0 $gutter-width;
    position: relative;
    z-index: 1;
  }

  &:after {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    background: $gray;
    content: "";
    width: 100%;
    display: block;
    z-index: 0;
  }

  &:hover,
  &:hover > span {
    background-color: darken($off-white, 5%);
  }
}