.pagination--simple {
  background: none;
  border: none;
  color: $text-color;
  float: left;
  font-size: $font-size-small;
  margin-right: $gutter-width;
  text-decoration: none;

  &:hover {
  	background: none;
  	background-image: none;
  	border: none;
    text-decoration: underline;
    text-shadow: none;
  }
}