
#quantum_case_filters {
    color: #999;
    text-shadow: 0px -1px 0px #000;

    & > div {
        display: inline-block;
        margin: 1em 1% 0 0;
        vertical-align: top;
        width: 19%;

        > label {
            font-size: $font-size-large;
        }

        select {
            width: 100%;
        }
    }

    label {
        margin-left: 0;
    }

}

#quantum_case_filters_type_choices {
    label {
        margin-bottom: .5em;
    }
}

.filter-actions {
    margin: 1em 0 0 0;
    padding-bottom: 1em;
    text-align: right;
}