$toolbar-height: 90px;
$brand-height: 63px;

.toolbar {
  background-color: $tpt-gray;
  height: $toolbar-height;
}

.branding {
  background-image: url('/views/quantum/portal/images/tpt-logo.png');
  height: $brand-height;
  top: 10px;
  width: 109px;
}