{% extends '@pulsar/pulsar/layouts/tabbed.html.twig' %}

{% block body %}

    <div class="progress-list">

        <a href="#" class="progress-list__item progress-list__item--complete">
            <span class="progress-list__label">
                {{
                    html.badge({
                        'label': '1',
                        'class': 'badge--round badge--outline'
                    })
                }}
                Get the app
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

        <a href="#" class="progress-list__item progress-list__item--current">
            <span class="progress-list__label">
                {{
                    html.badge({
                        'label': '2',
                        'class': 'badge--round badge--outline'
                    })
                }}
                Set it up
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

        <a href="#" class="progress-list__item">
            <span class="progress-list__label">
                {{
                    html.badge({
                        'label': '3',
                        'class': 'badge--round badge--outline'
                    })
                }}
                Test it
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

        <a href="#" class="progress-list__item">
            <span class="progress-list__label">
                {{
                    html.badge({
                        'label': '4',
                        'class': 'badge--round badge--outline'
                    })
                }}
                Finished!
            </span>
        </a>

    </div>

{% endblock %}
