{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}

{% block tab_settings %}

    <div class="settings-section settings-section--primary">

    </div>

    <div class="settings-section">

    </div>

{% endblock tab_settings %}

{% block tab_content %}

{% endblock tab_content %}
