.content {
    display: flex;
    position: relative;

    // @include respond-min($screen-tablet) {
    //     -ms-grid-columns: 250px auto;
    //     grid-template-columns: 250px auto;
    // }
}

.page {
    border-left: 1px solid #ccc;
    padding: .7rem 50px 0;
    position: relative;
    max-width: 1000px;
    // width: 100%;
}

.is-open + .page {
    left: 94%;

    @include respond-min($screen-tablet) {
        left: 0;
    }
}

footer {
  margin-bottom: 2rem;
}

.brand {
    background-color: $pulsar-main;
    font-weight: lighter;
    letter-spacing: 5px;
    margin: 0 0 1rem;
    padding: 1rem 1.5rem;
    text-transform: uppercase;

    a {
        color: #fff;
    }
}

.brand-image {
    border: 1px solid white;
    border-radius: 30px;
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
    width: 30px;
}

.nav-toggle {
    font-size: 1.5rem;
    opacity: 1;
    position: absolute;
    top: 0;
    left: .5rem;

    @include respond-min($screen-tablet) {
        opacity: 0;
    }
}

