.sidebar {
    background-color: #f1efee;
    box-shadow: inset 0 0 10px 0 #ccc;
    right: 100%;
    min-width: 250px;
    position: absolute;

    @include respond-min($screen-tablet) {
        left: 0;
        position: relative;
        // width: 100%;
    }

    ol {
        list-style-type: none;
        margin-top: 0;
        padding-left: 0;
    }

    &.is-open {
        left: 0;
        position: absolute;
        width: 94%;
    }
}

.sidebar-nav-header,
.sidebar-nav-item {
    display: block;
    padding: .25rem 2rem;
}

.sidebar-nav-header {
    background-color: rgba(255, 255, 255, .5);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: $large-font-size;
    margin: 1rem -1px 1rem 0;
    padding: .7rem 1rem;
    position: relative;
}

.sidebar-nav-item {
    &:hover {
        background-color: darken(#f1efee, 3);
    }

    &.active {
        background-color: darken(#f1efee, 5);

        &:hover {
            background-color: darken(#f1efee, 7);
        }
    }
}

.sidebar-nav-item {
    color: $pulsar-main;

    &::before {
        background-color: $pulsar-main;
        border-radius: 3px;
        content: '';
        display: inline-block;
        height: 3px;
        left: -.8rem;
        position: relative;
        vertical-align: middle;
        width: 3px;
    }
}
