.page {
    h1 {
        border-bottom: 1px solid #ccc;
    }

    h2 {
        border-bottom: 1px solid #ccc;
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    h3 {
        font-size: 1.25rem;
        margin-top: 1.5rem;
    }

    h4, h5, h6 {
        font-size: 1rem;
        margin: 1rem 0;
    }

    blockquote {
        background-color: #f1efee;
        margin: 0;
        padding: .5rem 1rem;
    }
}
