.actionsbar {
	@include inline-block;
	margin: $line-height-base $gutter-width 2px $gutter-width;
}

.actionsbar--left {
	float: left;
	margin-right: 0;
	width: $tab-column-width;
}

.actionsbar--right {
	float: right;
}

@include ie-lte(7) {
	.btn__back {
		margin-right: -1px;
		padding: 11px;
	}
}