// .actionsbar {
// 	height: $baseLineHeight * 1.5;
// 	margin: 0 $gutterWidth ($baseLineHeight / 2) $gutterWidth;
// 	outline: 1px solid red;

// 	h1 {
// 		@include inline-block;
// 		font-size: 1.75em;
// 		line-height: 1em;
// 		border: 1px solid red;
// 	}

// }

.actionsbar {
	@include inline-block;
	margin: $line-height-base $gutter-width 2px $gutter-width;
}

.actionsbar--left {
	float: left;
	margin-right: 0;
	width: $tab-column-width;
}

.actionsbar--right {
	float: right;
}
