.btn__group > .btn + .btn {
  margin-left: -1px;
}

.btn__group > .btn:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.btn__group > .btn:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

// Optional: Group multiple button groups together for a toolbar
.btn__toolbar {
  @include clearfix;

  // .btn__group {
  //  float: left;
  // }

  // Space out series of button groups
  > .btn,
  > .btn__group {
    + .btn,
    + .btn__group {
      margin-left: 5px;
    }
  }
}

.btn__group > .btn:not(:first-child):not(:last-child):not(.dropdown__toggle) {
  border-radius: 0;
}

// Make the div behave like a button
.btn__group,
.btn__group-vertical {
  position: relative;
  @include inline-block;
  vertical-align: middle; // match .btn alignment given font-size hack above
  > .btn {
    position: relative;
    float: left;
    // Bring the "active" button to the front
    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }
  }
}

// Prevent double borders when buttons are next to each other
.btn__group .btn + .btn {
  margin-left: -1px;
}


// Set corners individual because sometimes a single button can be in a .btn__group and we need :first-child and :last-child to both match
.btn__group > .btn:first-child {
  margin-left: 0;
  &:not(:last-child):not(.dropdown__toggle) {
    @include border-right-radius(0);
  }
}
// Need .dropdown__toggle since :last-child doesn't apply given a .dropdown-menu immediately after it
.btn__group > .btn:last-child:not(:first-child),
.btn__group > .dropdown__toggle:not(:first-child) {
  @include border-left-radius(0);
}

// Custom edits for including btn__groups within btn__groups (useful for including dropdown buttons within a btn__group)
.btn__group > .btn__group {
  margin-left: -1px;  
}
.btn__group > .btn__group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn__group > .btn__group:first-child {
  > .btn:last-child,
  > .dropdown__toggle {
    @include border-right-radius(0);
  }
}
.btn__group > .btn__group:last-child > .btn:first-child {
  @include border-left-radius(0);
}

// On active and open, don't show outline
.btn__group .dropdown__toggle:active,
.btn__group.open .dropdown__toggle {
  outline: 0;
}



// Split button dropdowns
// ----------------------

// Give the line between buttons some depth
.btn__group > .btn + .dropdown__toggle {
  padding-left: 8px;
  padding-right: 8px;
}
.btn__group > .btn-lg + .dropdown__toggle {
  padding-left: 12px;
  padding-right: 12px;
}

// The clickable button for toggling the menu
// Remove the gradient and set the same inset shadow as the :active state
.btn__group.open .dropdown__toggle {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}


// Reposition the caret
.btn .caret {
  margin-left: 0;
}
// Carets in other button sizes
.btn-lg .caret {
  border-width: 5px;
}
// Upside down carets for .dropup
.dropup .btn-lg .caret {
  border-bottom-width: 5px;
}


// Checkbox and radio options
.btn__group[data-toggle="buttons"] > .btn > input[type="radio"],
.btn__group[data-toggle="buttons"] > .btn > input[type="checkbox"] {
  display: none;
}