/** 
 * -----------------------------------------------------------------------------
 *  _buttons.scss
 * -----------------------------------------------------------------------------
 * 
 * Interface buttons can be links, buttons or submit inputs and can be used 
 * anywhere in the UI for different needs.
 *
 * Example:
 *
 * <a class="button [button--modifier]" role="button" href="#">Button text</a>
 * <button class="button [button--modifier]" type="submit">Button text</button>
 * <input class="button [button--modifier]" type="submit" value="Button text">
 */

/**
 * Button constructor
 *
 * 1. Corrects inability to style clickable `input` types in iOS
 * 2. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 3. Inherit text color from ancestor.
 * 4. Inherit font styles from ancestor.
 * 5. Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+.
 * 6. Prevent button text from being selectable.
 * 7. Prevent wrapping across multiple lines.
 */

.btn {
    -webkit-appearance: none; /* 1 */
    background: transparent;
    border: 1px solid;
    -moz-box-sizing: border-box;
    box-sizing: border-box; /* 2 */
    color: inherit; /* 3 */
    cursor: pointer;
    display: inline-block;
    font: inherit; /* 4 */
    line-height: normal; /* 5 */
    margin: 0;
    padding: 0.4em 0.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none; /* 6 */
    vertical-align: middle;
    white-space: nowrap; /* 7 */
}

/**
 * UI states
 */

.btn:hover,
.btn:focus,
.btn:active {
    text-decoration: none;
}

.btn:disabled,
.btn.is-disabled {
    cursor: default;
}

/**
 * Remove excess padding and border in Firefox 4+
 */

.btn::moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Visual variations
 */

.btn {
    @include button(simple, darken($white, 10%));
}

.btn--primary {
    @include button(simple, $btn-primary-color);
    .badge {
        background-color: $badge-primary-bg-darker;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
}

.btn--success {
    @include button(simple, $btn-success-color);
    .badge {
        background-color: $badge-success-bg-darker;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
}

.btn--warning {
    @include button(simple, $btn-warning-color);
    .badge {
        background-color: $badge-warning-bg-darker;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
}

.btn--danger {
    @include button(simple, $btn-danger-color);
    .badge {
        background-color: $badge-danger-bg-darker;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
}

.btn--info {
    @include button(simple, $btn-info-color);
    .badge {
        background-color: $badge-info-bg-darker;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
}

.btn--inverse {
    @include button(simple, $btn-inverse-color);
    .badge {
        background-color: $badge-inverse-bg-darker;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
}

/*
 * Override Bourbon's defaults
 */

.btn {
    font-size: 14px;
    font-weight: normal;
    padding: 7px 14px;
}