// Jadu brand colours

// Principles
$jadu-blue: 	#3399cc;
$jadu-orange: 	#fcb130;
$jadu-green: 	#89b029;
$jadu-teal: 	#06a79d;
$jadu-red: 		#d12918;
$jadu-yellow: 	#ffcc33;
$jadu-black: 	#1e1e1e;

$jadu-copy-gray: 	#989699;

// Pulsar palette
$black:         $jadu-black;
$blue:          #2455c3;
$blue-light:    lighten(#2455c3, 45%);
$gray-darker:   lighten(#000, 13.5%); // #222
$gray-dark:     lighten(#000, 20%);   // #333
$gray:          #ccc;
$gray-light:    lighten(#000, 60%);   // #999
$gray-lighter:  lighten(#000, 93.5%); // #eee
$off-white:     #fafafa;
$white:         #fff;

$text-color:                    $jadu-copy-gray;

$link-color:                    $blue;
$link-hover-color:              darken($blue, 20%);

$inverse-link-color:            $white;
$inverse-link-hover-color:      darken($white, 10%);

// State colours
$primary-color:                 lighten(#357ebd, 10%);
$success-color:                 lighten(#5cb85c, 10%);
$warning-color:                 lighten(#eea236, 10%);
$danger-color:                  lighten(#d43f3a, 10%);
$info-color:                    lighten(#46b8da, 10%);
$inverse-color:                 lighten(#3a3c3c, 10%);

// Buttons
$btn-primary-color:             $primary-color;
$btn-success-color:             $success-color;
$btn-warning-color:             $warning-color;
$btn-danger-color:              $danger-color;
$btn-info-color:                $info-color;
$btn-inverse-color:             $inverse-color;

// Labels
$label-bg:                      $gray;
$label-primary-bg:              $primary-color;
$label-success-bg:              $success-color;
$label-info-bg:                 $info-color;
$label-warning-bg:              $warning-color;
$label-danger-bg:               $danger-color;
$label-inverse-bg:              $inverse-color;
$label-color:                   #fff;
$label-link-hover-color:        #fff;

// Badges
$badge-bg:                      $gray;
$badge-primary-bg:              $primary-color;
$badge-primary-bg-darker:       darken($badge-primary-bg, 20%);
$badge-primary-color:           $white;
$badge-success-bg:              $success-color;
$badge-success-bg-darker: 		darken($badge-success-bg, 20%);
$badge-success-color:           $white;
$badge-info-bg:                 $info-color;
$badge-info-bg-darker: 			darken($badge-info-bg, 20%);
$badge-info-color:              $white;
$badge-warning-bg:              $warning-color;
$badge-warning-bg-darker: 		darken($badge-warning-bg, 20%);
$badge-warning-color:           $white;
$badge-danger-bg:               $danger-color;
$badge-danger-bg-darker: 		darken($badge-danger-bg, 20%);
$badge-danger-color:            $white;
$badge-inverse-bg:              $inverse-color;
$badge-inverse-bg-darker: 		darken($badge-inverse-bg, 20%);
$badge-inverse-color:           $white;
$badge-color:                   inherit;
$badge-active-bg:               #fff;
$badge-active-color:            #fff;
$badge-link-hover-color:        #fff;

// Dropdowns
$dropdown-bg:                    #fff;
$dropdown-border:                rgba(0,0,0,.15);
$dropdown-fallback-border:       #ccc;
$dropdown-divider-bg:            #e5e5e5;
$dropdown-link-active-color:     #fff;
$dropdown-link-active-bg:        $primary-color;
$dropdown-link-color:            $gray-dark;
$dropdown-link-hover-color:      #fff;
$dropdown-link-hover-bg:         $dropdown-link-active-bg;
$dropdown-caret-color:           #000;

// Tables
$table-cell-padding:                 8px;
$table-condensed-cell-padding:       5px;
$table-bg:                           transparent;
$table-bg-accent:                    #f9f9f9;
$table-bg-hover:                     #f5f5f5;
$table-bg-active:                    $table-bg-hover;
$table-border-color:                 #ddd;

// Forms
$state-warning-text:             #c09853;
$state-warning-bg:               #fcf8e3;
$state-warning-border:           darken($state-warning-bg, 10%);

$state-danger-text:              #b94a48;
$state-danger-bg:                #f2dede;
$state-danger-border:            darken($state-danger-bg, 10%);

$state-success-text:             #468847;
$state-success-bg:               #dff0d8;
$state-success-border:           darken($state-success-bg, 10%);

$state-info-text:                #3a87ad;
$state-info-bg:                  #d9edf7;
$state-info-border:              darken($state-info-bg, 10%);