// Pulsar palette

$black: #222;
$blue: #2455c3;
$offWhite: #efefef;
$white: #fff;

// Semantic colour names

$textColor: $black;

$linkColor: $blue;
$linkHoverColor: darken($blue, 20%);

$inverseLinkColor: $white;
$inverseLinkHoverColor: darken($white, 10%);
