.panel {
    background-color: color(gray, lightest);
    border-radius: $border-radius;
    margin: $line-height-base 0;

    &__title {
        font-size: $font-size-xlarge;
        line-height: 1em;
        padding: $padding-base-vertical $padding-base-horizontal;

        i::before {
          width: 30px;
        }
    }

    &__body {
        margin-left: 38px;
        max-height: 20em;
        overflow-y: auto;
        padding: 0 $padding-base-horizontal .5em;

        p,
        ul {
            margin-bottom: $padding-base-vertical;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .btn--outline {
        box-shadow: inset 0 0 0 2px color(base, alt);
        vertical-align: baseline;
    }

    a {
        font-family: $font-family-regular;

        &,
        &:visited,
        &:hover,
        &:active,
        &:focus {
            color: inherit;
        }

        // &,
        // &:visited {
        //     opacity: .8;
        // }
    }

}

@each $state, $state-color, $state-color-alt in $state-colors {
        .panel--#{$state} {
            background-color: $state-color;
            color: $state-color-alt;

            .btn--outline {
                box-shadow: inset 0 0 0 2px $state-color-alt;
            }

            a,
            a:link,
            a:hover,
            a:active,
            a:visited {
                color: $state-color-alt;
            }
        }
    }

.form-v2 > .panel:first-of-type {
    margin-top: 0;
}
