.toolbar {
    background-color: #efefef;
    display: block;
    float: left;
    height: 72px;
    margin-bottom: 18px;
    padding: 18px 20px;
    width: 100%;

    @include respond-min($screen-desktop) {
        background-color: $white;
        margin-bottom: 0;
        padding: 18px 20px 0;
    }
}

.user-menu {
    > .btn {
        height: 35px;
        padding-left: 0;
        padding-right: 0;
    }
    > .dropdown__menu {
        left: auto;
        right: 0;
    }
}

.nav-user {
    float: right;
}
