.remove-button {
    background: none;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: color(text);
    display: inline-block;
    line-height: auto;
    padding: 0;
    vertical-align: top;
    white-space: nowrap;

    [class^="icon-"],
    [class*=" icon-"] {
        color: color(gray, light);
        font-size: 1.2em;
        vertical-align: middle;
    }

    &:hover {
        [class^="icon-"],
        [class*=" icon-"] {
            color: color(black);
        }
    }
}
