.progress-list {
    display: table;
    margin-bottom: 1em;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
}

.progress-list__item {
    background-color: $progress-bg;
    border-right: 3px solid color(white);
    box-shadow: inset 2px 1px 2px rgba(0, 0, 0, .1);
    color: color(black);
    display: table-cell;
    padding: .75em 0 .75em 40px;
    text-decoration: none;
    vertical-align: top;

    &:not(:last-child) {
        @include css-arrow(23px, right, $progress-bg);

        &::before {
            border-left-color: color(white);
            border-width: 27px;
            margin-top: -27px;
        }
    }

    &:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        padding-left: 15px;
    }

    &:last-child {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        padding-right: 15px;
    }

    &::before,
    &::after {
        z-index: 1;
    }

    &:hover {
        background-color: $progress-bg-hover;
        color: color(black);

        &::after {
            border-left-color: $progress-bg-hover;
        }
    }
}


.progress-list__label {
    @include word-break-all;

    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 2;

    .badge {
        display: none;
        margin-right: 5px;

        @include respond-min($screen-desktop) {
            display: inline-block;
        }
    }
}



.progress-list__arrow {
    @extend %hide;
}


.progress-list__item--complete {
    background-color: color(success);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    color: color(success, alt);

    .badge {
        color: color(white) !important;
    }

    &:not(:last-child)::after {
        border-left-color: color(success);
    }

    &:hover {
        background-color: darken(color(success), 2);
        color: color(success, alt);

        &::after {
            border-left-color: darken(color(success), 2);
        }
    }
}


.progress-list__item--current {
    background-color: color(primary);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    color: color(primary, alt);

    .badge {
        color: color(white) !important;
    }

    &:not(:last-child)::after {
        border-left-color: color(primary);
    }

    &:hover {
        background-color: darken(color(primary), 2);
        color: color(primary, alt);

        &::after {
            border-left-color: darken(color(primary), 2);
        }
    }
}

@include ie-lte(8) {
    .progress-list__item:nth-of-type(1) {
        z-index: 5;
    }

    .progress-list__item:nth-of-type(2) {
        z-index: 4;
    }

    .progress-list__item:nth-of-type(3) {
        z-index: 3;
    }

    .progress-list__item:nth-of-type(4) {
        z-index: 2;
    }

    .progress-list__item:nth-of-type(5) {
        z-index: 1;
    }
}
