.form-choice > .controls > .control__label {
    @include span(3, false, false, 9);
}

// align inputs with the text labels properly
.form-choice .form__control {
    &.checkbox,
    &.radio {
        vertical-align: baseline;
        width: auto; // suppress default grid width
    }

    &.select,
    &.select2 {
        @include span(5, false, false, 9);
    }
}

.choice--block > .controls {
    .control__label {
        box-shadow: inset 0 0 0 1px color(border); // nicer border effects
        border-radius: $border-radius;
        margin: 0 5px 5px 0;
        max-width: 100%;
        padding: 10px;
        user-select: none; // stop nasty blue text selection when clicking
        width: 100%; // mobile-first width

        @include ie-lte(8) {
            border: 1px solid color(border);
        }

        &:last-child {
            margin: 0;
        }
    }

    .control__label.is-selected {
        background-color: color(background, light);
        box-shadow: inset 0 0 0 2px color(black);

        @include ie-lte(8) {
            border: 1px solid color(black);
        }
    }
}

@include respond-min($screen-tablet) {
    @each $variant, $width in $input-widths {
        .form-choice.form__group--#{$variant} > .controls > .control__label {
            width: #{$width};
        }
    }
}

.choice--block-inline {
    .controls {
        display: flex;
        flex-wrap: wrap;
        width: 100% !important;
    }

    > .controls > .control__label {
        clear: none;

        &:last-child {
            margin: 0 5px 5px 0;
        }
    }
}

.choice--block-hide-input {
    > .controls .form__control {
        @extend %hide;
    }
}
