// Ensure selected Pulsar radio controls aren't clipped
.form-choice {
    overflow: visible;
}

fieldset.form-choice {
    padding: 0;

    > .control__label {
        border-bottom: 0;
        float: left; // as we can't use inline-block
        font-size: inherit;
        line-height: inherit;
    }

    > .controls {
        clear: left;
    }
}

// Align form-choice to grid
@include respond-min($screen-tablet) {
    .form-choice > .controls > .control__label {
        @include col-span-width(4, 9);
        line-height: $line-height-medium;

        .form__control {
            margin-left: 0;
        }
    }
}

// align inputs with the text labels properly
.form-choice .form__control {
    &.checkbox,
    &.radio {
        vertical-align: text-bottom;
        // width: auto; // suppress default grid width
    }

    &.select,
    &.select2 {
        width: 100%;

        @include respond-min($screen-tablet) {
            @include col-span-width(5, 9);
        }
    }
}

.choice--block > .controls {
    .control__label {
        box-shadow: inset 0 0 0 1px color(border); // nicer border effects
        border-radius: $border-radius;
        margin: 0 0 5px;
        max-width: 100%;
        padding: 10px;
        user-select: none; // stop nasty blue text selection when clicking
        width: 100%;

        @include respond-min($screen-tablet) {
            @include col-span-width(4, 9);
            margin: 0 1% 5px 0;
        }

        @include ie-lte(8) {
            border: 1px solid color(border);
        }
    }

    .control__label.is-selected {
        background-color: color(background, light);
        box-shadow: inset 0 0 0 2px color(black);

        @include ie-lte(8) {
            border: 1px solid color(black);
        }
    }

    .control__label:focus,
    .control__label.is-selected:focus {
        box-shadow: inset 0 0 0 2px color(primary);
    }
}

// legacy (non-grid widths)
@include respond-min($screen-tablet) {
    @each $variant, $width in $input-widths {
        .form-choice.form__group--#{$variant} > .controls > .control__label {
            width: #{$width};
        }
    }
}

// column variations
@for $i from 1 through 9 {
    .choice--block.form__control-col--#{$i} > .controls .control__label {
        width: 100%;

        @include respond-min($screen-tablet) {
            @include col-span-width($i, 9);

            // remove right margin to stop the last child in a given 'row'
            // from wrapping onto the next line because the margin makes the
            // element exceed the container
            //
            // number of columns in grid / column width of choice blocks
            $nth: round(9 / $i);

            .choice--block-inline &:nth-child(#{$nth}n) {
                margin-right: 0;
            }
        }
    }
}

.choice--block-inline {
    .controls {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0; // remove gutter
        width: 100% !important;
    }

    > .controls > .control__label {
        clear: none;

        &:last-child {
            margin-right: 0;
        }
    }

    // default width
    > .controls > .control__label {
        width: 100%;

        @include respond-min($screen-tablet) {
            @include col-span-width(4, 12);

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}

// column variations based on 12 column grid
@include respond-min($screen-tablet) {
    @for $i from 1 through 12 {
        .choice--block-inline.form__control-col--#{$i} .controls > .control__label {
            @include col-span-width($i, 12);

            margin-right: 1%; // override default nth-child(3n)

            // remove right margin to stop the last child in a given 'row'
            // from wrapping onto the next line because the margin makes the
            // element exceed the container
            //
            // number of columns in grid / column width of choice blocks
            $nth: round(12 / $i);

            &:nth-child(#{$nth}n) {
                margin-right: 0;
            }
        }
    }
}

.choice--block-hide-input {
    > .controls .form__control {
        @extend %hide;
    }
}
