.tour-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
  background-color: #000;
  opacity: .8;
}

.tour-step-backdrop {
  position: relative;
  z-index: 1101;
  background: inherit;
}

.tour-step-background {
  position: absolute;
  z-index: 1100;
  background: inherit;
  border-radius: 6px;
}

.popover[class*="tour-"] {
  min-width: 280px;

  &,
  .popover-title {
    background-color: color(primary);
    color: color(white);
  }

  &.top .arrow::after {
    border-top-color: color(primary);
  }

  &.bottom .arrow::after {
    border-bottom-color: color(primary);
  }

  &.left .arrow::after {
    border-left-color: color(primary);
  }

  &.right .arrow::after {
    border-right-color: color(primary);
  }

  .btn {
    background: none;
    box-shadow: none;
    border: 1px solid color(white);
    text-shadow: none;
    color: color(white);

    &.disabled {
      border: 1px solid rgba(255, 255, 255, .25);
      color: rgba(255, 255, 255, .25);
    }
  }

}

.popover[class*="tour-"] {
  z-index: 1100;
}

.popover[class*="tour-"] .popover-navigation {
  padding: 9px 14px;

  .btn__group {
    margin-right: 10px;
  }
}

.popover[class*="tour-"] .popover-navigation *[data-role="end"] {
  float: right;
}

.popover[class*="tour-"] .popover-navigation *[data-role="prev"],
.popover[class*="tour-"] .popover-navigation *[data-role="next"],
.popover[class*="tour-"] .popover-navigation *[data-role="end"] {
  cursor: pointer;
}

.popover[class*="tour-"] .popover-navigation *[data-role="prev"].disabled,
.popover[class*="tour-"] .popover-navigation *[data-role="next"].disabled,
.popover[class*="tour-"] .popover-navigation *[data-role="end"].disabled {
  cursor: default;
}

.popover[class*="tour-"].orphan {
  position: fixed;
  margin-top: 0;
}

.popover[class*="tour-"].orphan .arrow {
  display: none;
}
