%range-slider,
.range-slider {
    -webkit-appearance: none;
    border-radius: 5px;
    display: block;
    height: 75px;
    overflow: visible;
    width: 100%;

    &::-ms-tooltip {
        display: none;
    }

    // Slider thumb
    &::-webkit-slider-thumb {
        margin-top: -7px;
        appearance: none;
        background: color(primary);
        border: 0;
        border-radius: 50%;
        cursor: ew-resize;
        height: $gutter-width;
        transition: background .15s ease-in-out;
        width: $gutter-width;

        &:hover {
            background: color(primary);
        }
    }

    &::-ms-thumb {
        background: color(primary);
        border: 0;
        border-radius: 50%;
        cursor: ew-resize;
        height: $gutter-width;
        margin-top: 1px;
        transition: background .15s ease-in-out;
        width: $gutter-width;

        &:hover {
            background: color(primary);
        }
    }

    &:active::-ms-thumb {
        background: color(primary);
    }

    &::-moz-range-thumb {
        appearance: none;
        background: color(primary);
        border: 0;
        border-radius: 50%;
        cursor: ew-resize;
        height: $gutter-width;
        transition: background .15s ease-in-out;
        width: $gutter-width;

        &:hover {
            background: color(primary);
        }
    }

    &:active::-moz-range-thumb {
        background: color(primary);
    }

    // Slider track
    &::-webkit-slider-runnable-track {
        background: color(gray, lightest);
        border-radius: 5px;
        border: 1px solid $input-border;
        color: transparent;
        height: 7px;
        width: 100%;
    }

    &::-ms-track {
        background: color(gray, lightest);
        border-radius: 5px;
        border: 1px solid $input-border;
        color: transparent;
        height: 7px;
        width: 100%;
        overflow: visible;
    }

    &::-ms-fill-lower {
        background: color(gray, lightest);
        border-radius: 5px;
        overflow: visible;
    }

    &::-ms-fill-upper {
        background: color(gray, lightest);
        border-radius: 5px;
        overflow: visible;
    }

    &::-moz-range-track {
        background: color(gray, lightest);
        border-radius: 5px;
        border: 1px solid $input-border;
        color: transparent;
        height: 7px;
        width: 100%;
    }

    &::-moz-focus-outer {
        border: 0;
    }

    &:focus {
        border: 0;
        box-shadow: none;
        outline: none;

        &::-webkit-slider-thumb {
            box-shadow: 0 0 0 3px color(white), 0 0 0 6px color(border, focus);
        }

        &::-moz-range-thumb {
            box-shadow: 0 0 0 3px color(white), 0 0 0 6px color(border, focus);
        }

        &::-ms-thumb {
            box-shadow: 0 0 0 3px color(white), 0 0 0 6px color(border, focus);
        }
    }
}
