/* -------------------------------------------------------------------------- *\
    Default Presentation
\* -------------------------------------------------------------------------- */

.uploader {
  margin-bottom: 1em;

  .block-list {
    margin-bottom: .25em;
  }

  .block-list__item {
    padding: 0;
    position: relative;

    > label {
      cursor: pointer;
      padding: 11px;
      width: 100%;
    }
  }

  .form__group {
    display: inline-block;
    margin: 0;
    width: 95%;

    &:hover {
      box-shadow: none;
    }
  }

  .control__label {
    margin: 0;
    padding-top: 2px;
    text-align: left;
    width: 15%;
  }

  .form__control {
    height: 26px;
    line-height: 26px;
    padding: 0 6px;
  }

  .controls {
    display: inline-block;
    width: 83.5%;
  }

  &__name {
    display: block;
    margin: 11px 0 0;
  }

  .remove-button {
    position: absolute;
    top: 11px;
    right: 12px;
    width: 17px;
  }

  [data-action=remove-all] {
    color: color(gray, light);
    padding: 8px 14px 6px;
    text-shadow: none;
    vertical-align: middle;

    &:hover {
      color: color(black);
      vertical-align: middle;
    }
  }

  .metadata {
    font-size: $font-size-small;
    margin-left: 11px;
  }
}
