.toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 20px 0;

    .main-title {
        flex: 1 1 100%;
    }
}

.toolbar-actions {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
}

.toolbar-actions .dropdown {
    flex-grow: 1;
    margin-left: 5px;

    @include respond-min($screen-tablet) {
        flex-grow: 0;
    }

    &:first-of-type {
        margin-left: 0;
    }

    .btn {
        width: 100%;
    }

    [class*=icon-] {
        font-size: 18px;
        vertical-align: middle;

        @include respond-min($screen-desktop) {
            font-size: 14px;
            vertical-align: baseline;
        }
    }

    .toolbar-action__text {
        display: none;
        margin-left: 0;

        @include respond-min($screen-desktop) {
            display: inline;
            margin-left: 5px;
        }
    }

    .caret {
        margin-left: 3px;
    }

    .dropdown__menu {
        .media {
            line-height: 24px;
            padding: 10px;

            &:hover {
                background-color: color(background, light);
            }
        }
    }

    // First two actions
    &:nth-child(-n+2) .dropdown__menu {
        left: 0;
        right: auto;
    }

    // Last two actions
    &:nth-child(n+3) .dropdown__menu {
        left: auto;
        right: 0;
    }
}

.toolbar-icon,
%toolbar-icon {
    position: relative; // stop is-new indicator wandering off when parents switch to static position
}
