.panel {
    background-color: color(gray, lighter);
    border-radius: $border-radius;
    margin: $line-height-base 0;
    position: relative;

    &__title {
        background: rgba(0, 0, 0, .01);
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        clear: none;
        font-size: $font-size-large * 1.1;
        line-height: $font-size-large * 1.3;
        margin-bottom: 0;
        padding: 12px $padding-large-horizontal;

        i::before {
          width: 30px;
        }

        .panel--padded & {
            margin-top: -($padding-large-vertical * 2);
            padding-top: 12px + ($padding-large-vertical * 2);
        }
    }

    &__body {
        padding: 10px $padding-large-horizontal;

        p,
        ul {
            margin-bottom: $margin-base-vertical;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .btn {
            vertical-align: bottom;
        }
    }

    a {
        font-family: $font-family-regular;

        &,
        &:visited,
        &:hover,
        &:active,
        &:focus {
            color: inherit;
        }
    }

    .btn.panel__remove {
        position: absolute;
        top: 12px;
        right: 12px;

        &:active,
        &:hover {
            background-color: inherit;
            box-shadow: none;
            top: 12px;
        }

        &:active {
            opacity: .5;
        }
    }
}

.panel--scroll .panel__body {
    max-height: 20em;
    overflow-y: auto;
}

@each $state, $state-color, $state-color-alt in $state-colors {
    .panel--#{'' + $state} .remove-button > [class^="icon-"] {
        color: color(white);
    }
}

.panel__icon {
    float: left;
    font-size: $font-size-large * 1.1;
    margin: 14px 10px 0 $padding-large-horizontal;
}

@each $state, $state-color, $state-color-alt in $state-colors {
    // Exclude unneeded states
    @if $state != base and $state != new and $state != white {
        .panel--#{'' + $state} {
            background-color: $state-color;
            color: $state-color-alt;

            .panel__title {
                color: $state-color-alt;
            }

            a,
            a:link,
            a:hover,
            a:active,
            a:visited {
                color: $state-color-alt;
            }

            a:focus {
                color: color(black);
            }
        }
    }
}

.form-v2 > .panel:first-of-type {
    margin-top: 0;
}

.panel.centered .panel__body {
    margin-left: 0;
}

.panel--padded {
    padding-bottom: ($padding-large-vertical * 2);
    padding-top: ($padding-large-vertical * 2);
}

// Panels within form groups should respect their width
@each $variant, $width in $input-widths {
    .form__group .panel {
        width: map-get($input-widths, xlarge);
    }

    .form__group--#{$variant} .panel {
        width: #{$width};
    }
}

// When panel actions is a sibling of body, position it appropriately
.panel__body + .panel__actions {
    padding: 0 12px 10px;

    &.panel__actions--inline {
        padding-left: 0;
    }
}

.panel__actions {
    margin-top: 10px;
    min-height: 33px;

    .btn {
        margin-right: 5px;
    }

    .panel__btn--right {
        float: right;

        @include respond-max($screen-phablet) {
            float: none;
        }

        @include respond-max($screen-phone) {
            float: none;
            margin-top: 10px;
        }
    }
}

.panel__actions--inline {
    display: inline-block;
    margin: 0 0 0 $padding-large-horizontal;
}

.panel__actions--center {
    position: relative;
    text-align: center;
}

.panel__actions--right {
    margin: $padding-large-horizontal 0 0;
    text-align: right;
}

.panel.with-timeline .panel__actions {
    margin-bottom: 10px;
    margin-left: 70px;

    @include respond-max($screen-tablet) {
        margin-left: 0;
    }
}
