/**
 * -----------------------------------------------------------------------------
 *  _buttons.scss
 * -----------------------------------------------------------------------------
 *
 * Interface buttons can be links, buttons or submit inputs and can be used
 * anywhere in the UI for different needs.
 *
 * Example:
 *
 * <a class="button [button--modifier]" role="button" href="#">Button text</a>
 * <button class="button [button--modifier]" type="submit">Button text</button>
 * <input class="button [button--modifier]" type="submit" value="Button text">
 */

/**
 * Button constructor
 *
 * 1. Corrects inability to style clickable `input` types in iOS
 * 2. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 3. Inherit text color from ancestor.
 * 4. Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+.
 * 5. Prevent button text from being selectable.
 * 6. Prevent wrapping across multiple lines.
 * 7. Remove excess padding and border in Firefox 4+
 */

.btn {
    @include inline-block;
    -webkit-appearance: none; /* 1 */
    background: transparent;
    border: 0;
    border-radius: $border-radius;
    -moz-box-sizing: border-box;
    box-sizing: border-box; /* 2 */
    color: inherit; /* 3 */
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    line-height: normal; /* 4 */
    margin: 0;
    padding: 8px 14px 6px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none; /* 5 */
    vertical-align: bottom;
    white-space: nowrap; /* 6 */

    @include ie-lte(7) {
        padding: 7px;
    }

    &::-moz-focus-inner { /* 7 */
      border: 0;
      padding: 0;
    }
}

.btn--small {
    font-size: .8em !important;
    padding: 3px 8px !important;
}

/**
 * UI states
 */

.btn {
  border-bottom-style: solid;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &:disabled,
  &.is-disabled,
  &.disabled {
    cursor: not-allowed !important;

    &:hover {
      cursor: not-allowed !important;
    }
  }
}

/**
 * Mixin to theme button states
 */

@mixin button-states($state) {

    $shadow-color: darken(color($state), 10);

    background-color: color($state);
    box-shadow: 0 2px 0 $shadow-color;
    color: color($state, alt) !important; // should be immutable
    position: relative;

    &:hover {
      box-shadow: 0 1px 0 $shadow-color;
      color: color($state, alt) !important;  // should be immutable
      top: 1px;
    }

    &:active,
    &.active {
      background-color: darken(color($state), 5);
      box-shadow: 0 0 0 $shadow-color;
      top: 2px;
    }

    &:disabled,
    &.is-disabled,
    &.disabled {
      background-color: color($state, light);
      box-shadow: 0 2px 0 darken(color($state, light), 7);
      color: pick_best_color(color($state, light), (#fff, color(gray, dark)));
    }
}

@mixin btn-active($base) {
    &.active {
    $border-active: adjust-color($base, $saturation: 9%, $lightness: -14%);
    $inset-shadow-active: adjust-color($base, $saturation: 7%, $lightness: -17%);
    border: 1px solid $border-active;
    box-shadow: inset 0 0 8px 4px $inset-shadow-active, inset 0 0 8px 4px $inset-shadow-active, 0 1px 1px 0 #eee;
    }
}

.btn {
    @include button-states('base');
}

.btn--primary {
    @include button-states('primary');

    .badge {
        background-color: $badge-primary-bg-darker;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
}

.btn--success {
    @include button-states('success');

    .badge {
        background-color: $badge-success-bg-darker;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
}

.btn--warning {
    @include button-states('warning');

    .badge {
        background-color: $badge-warning-bg-darker;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
}

.btn--danger {
    @include button-states('danger');

    .badge {
        background-color: $badge-danger-bg-darker;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
}

.btn--info {
    @include button-states('info');

    .badge {
        background-color: $badge-info-bg-darker;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
}

.btn--inverse {
    @include button-states('inverse');

    .badge {
        background-color: $badge-inverse-bg-darker;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
}

@include ie-lte(7) {
    a.btn {
        line-height: 20px;
    }
}

.btn--naked,
.btn--naked.is-disabled,
.btn--naked:disabled,
.btn--naked:hover:not(:disabled),
.btn--naked:active,
.btn--naked > .btn,
.btn--naked > .btn:active {
    background: none;
    border: 0;
    box-shadow: none;
    color: color(text);
    display: inline-block;
    line-height: auto;
    vertical-align: top;
}

.btn--naked.is-disabled,
.btn--naked:disabled {
    color: color(text, disabled);

    &:hover {
        color: color(text, disabled);
    }
}

// IE8 fix btn--naked background and border
.btn--naked,
.btn--naked > .btn {
    @include ie-lte(8) {
        background: none;
        border: 0;
        box-shadow: none;
    }
}

.btn--naked.btn__group.open .dropdown__toggle {
    box-shadow: none;
}

.btn--outline {
    box-shadow: inset 0 0 0 2px color(base);
    border: 0;

    &,
    &:active {
        background-color: transparent;
    }

    &:hover {
        top: 1px;
    }

    @each $state, $state-color, $state-color-alt in $state-colors {
        &.btn--#{$state} {
            box-shadow: inset 0 0 0 2px $state-color;
            color: $state-color-alt;
        }
    }
}
