
.table {
    border-top: 1px solid #ccc;
    clear: both;
    width: 100%;

    &:hover > .table-link {
        color: $link-color;
        outline: 1px solid red;
    }

}

.table__tr {
    vertical-align: top;
}

.table__th,
.table__td {
    border-bottom: 1px solid #ccc;
    height: $line-height-large;
    padding: 11.5px 5px 12px 5px;
    text-align: left;
    white-space: nowrap;

    &:hover > .table__td {
        background-color: $table-bg-hover;
    }

    &:hover .table-link {
        border-bottom: 1px solid $link-color;
        color: $link-color;
    }

    &.centered {
        text-align: center;
    }
}



.table__th {
    background-color: #fff;
    font-weight: normal;
    font-family: $font-family-regular;

    &:hover {
        background-color: $blue-light;
        cursor: pointer;
    }
}

.table__th > .table-link {
    color: $black;
    text-decoration: none;

    &:hover {
        color: $link-color;
        text-decoration: underline;
    }
}

.table__th--shrink,
.table__td--shrink {
    width: 1%;
}

.table-selection {
    text-align: center;
    min-width: 60px;
    max-width: 60px;
    position: relative;
    width: 60px;
}

.table-link {
    border-bottom: 1px dotted #ccc;
    color: $black;
    text-decoration: none;
}

.table-action {
    border-right: 1px solid #ccc;
    padding: 0 5px;

    &:last-child {
        border-right: 0;
    }
}


.dataTables_length {
    display: inline-block;
}

.dataTables_filter {
    display: inline-block;
}

.table__th {
    &.sorting:after,
    &.sorting_asc:after,
    &.sorting_desc:after {
        @include icon-FontAwesome();
        font-size: 18px;
        left: 0;
        margin-left: 10px;
    }
}


.dataTables_info {
    float: left;
    margin-top: 12px;
}

.dataTables_filter {
    float: right;
    margin-top: 10px;

    [type="search"] {
        border: 1px solid #ccc;
        color: black;
        border-radius: 4px;
        margin-left: 10px;
        padding: 5px;
    }
}

.dataTables_top {
    color: #ccc;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.dataTables_bottom {
    display: block;
    margin-top: 10px;
    width: 100%;
}

.dataTables_length {
    float: right;
}

.dataTables_paginate > span {
    padding-left: 10px;
    padding-right: 10px;
}

.paginate_button {
    padding: 5px;
}

.table__th.sorting_asc:after {
    content: $circle-arrow-up;
}

.table__th.sorting_desc:after {
    content: $circle-arrow-down;
}

.table__th.sorting_asc,
.table__th.sorting_desc {
    background-color: darken(#fff, 10);
}

.table__td.sorting_1 {
    background-color: darken(#fff, 3);
}

.table .child {
    background-color: #efefef;
    border-bottom: 1px solid #ccc;
    padding: 11.5px 0 12px 0;
}

// .dtr-inline.collapsed .parent .table__td:first-child:before {
//     content: $minus-sign;
//     color: $jadu-red;
// }


.table-child-toggle {
    color: $jadu-blue;
    display: none;
    position: absolute;
    left: 0;
    top: 14px;

    .collapsed & {
        display: inline-block;
    }

    .parent &:before {
        color: $jadu-red;
        content: $minus-sign;
    }
}








.table .child ul {
    margin: 0 0 0 65px;
}

.table .child ul li {
    display: table-row;
}

.dtr-title {
    display: table-cell;
    padding: 0 5px 0 0;
}

.dtr-data {
    display: table-cell;
    padding: 0 5px;
}

