.progress-list {
    margin-bottom: 1em;
    overflow: hidden;
    width: 100%;

    @include respond-min($screen-tablet) {
        display: table;
        table-layout: fixed;
    }
}

.progress-list__item {
    background-color: $progress-bg;
    border-bottom: 3px solid color(white);
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, .1);
    color: color(black);
    display: block;
    padding: .7em 0 .5em .5em;
    text-decoration: none;
    vertical-align: top;

    @include respond-min($screen-tablet) {
        border: 0;
        box-shadow: inset 2px 1px 2px rgba(0, 0, 0, .1);
        display: table-cell;
        padding: .75em 0 .75em 40px;
    }

    // scss-lint:disable DeclarationOrder
    &:not(:last-child) {
        @include css-arrow(10px, bottom, $progress-bg);

        &::before {
            border-top-color: color(white);
            border-width: 15px;
            margin-left: -15px;
        }

        @include respond-min($screen-tablet) {
            @include css-arrow(23px, right, $progress-bg);
            border-right: 3px solid color(white);

            &::before {
                border-left-color: color(white);
                border-width: 27px;
                margin-left: 0;
                margin-top: -27px;
            }

            &::after {
                border-top-color: transparent;
                margin-left: 0;
            }
        }
    }
    // scss-lint:enable DeclarationOrder

    &:first-child {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;

        @include respond-min($screen-tablet) {
            border-bottom-left-radius: $border-radius;
            border-top-left-radius: $border-radius;
            border-top-right-radius: 0;
            padding-left: 15px;
        }
    }

    &:last-child {
        border-bottom: 0;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        padding-right: 15px;

        @include respond-min($screen-tablet) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: $border-radius;
            border-top-right-radius: $border-radius;
            padding-right: 15px;
        }
    }

    &::before,
    &::after {
        z-index: 1;
    }

    &:hover {
        background-color: $progress-bg-hover;
        color: color(black);

        &::after {
            border-top-color: $progress-bg-hover;

            @include respond-min($screen-tablet) {
                border-top-color: transparent;
                border-left-color: $progress-bg-hover;
            }
        }
    }
}

.progress-list__label {
    @include word-break-all;

    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 2;

    .badge {
        display: none;
        margin-right: 5px;

        @include respond-min($screen-desktop) {
            display: inline-block;
        }
    }
}

.progress-list__arrow {
    @extend %hide;
}

.progress-list__item--complete {
    background-color: color(success);
    color: color(success, alt);

    @include respond-min($screen-tablet) {
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    }

    .badge {
        color: color(white) !important;
    }

    &:not(:last-child)::after {
        border-top-color: color(success);

        @include respond-min($screen-tablet) {
            border-top-color: transparent;
            border-left-color: color(success);
        }
    }

    &:hover {
        background-color: darken(color(success), 2);
        color: color(success, alt);

        &::after {
            border-top-color: darken(color(success), 2);

            @include respond-min($screen-tablet) {
                border-top-color: transparent;
                border-left-color: darken(color(success), 2);
            }
        }
    }
}

.progress-list__item--current {
    background-color: color(primary);
    color: color(primary, alt);

    @include respond-min($screen-tablet) {
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    }

    .badge {
        color: color(white) !important;
    }

    &:not(:last-child)::after {
        border-top-color: color(primary);

        @include respond-min($screen-tablet) {
            border-left-color: color(primary);
            border-top-color: transparent;
        }
    }

    &:hover {
        background-color: darken(color(primary), 2);
        color: color(primary, alt);

        &::after {
            border-top-color: darken(color(primary), 2);

            @include respond-min($screen-tablet) {
                border-left-color: darken(color(primary), 2);
                border-top-color: transparent;
            }
        }
    }
}

@include ie-lte(8) {
    .progress-list__item:nth-of-type(1) {
        z-index: 5;
    }

    .progress-list__item:nth-of-type(2) {
        z-index: 4;
    }

    .progress-list__item:nth-of-type(3) {
        z-index: 3;
    }

    .progress-list__item:nth-of-type(4) {
        z-index: 2;
    }

    .progress-list__item:nth-of-type(5) {
        z-index: 1;
    }
}

.progress-steps {
    margin-bottom: 0;
}

.progress-steps__step {
    background-color: color(white);
    border: 2px solid color(border);
    border-radius: 50px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin-right: 20px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 36px;

    &:not(:last-child)::after {
        content: '';
        border-bottom: 3px dotted #ccc;
        display: inline-block;
        position: absolute;
        width: 24px;
        top: 15px; // 50% height - borders
        left: 34px;
    }
}

.progress-steps__step--current {
    background-color: color(primary, light);
    border-color: color(primary);
    border-radius: 4px;
    font-family: $font-family-regular;
}

.progress-steps__step--complete {
    background-color: color(success, light);
    border-color: color(success);
    color: color(success);

    &:not(:last-child)::after {
        border-bottom: 3px solid color(success);
    }
}
