$border-radius: 4px;

.slotpicker-slots__heading {
    font-size: 1.1em;
    margin-bottom: 0;
    margin-top: 40px;
}

.ui-datepicker {
    padding-bottom: 1em;
    width: 100%;
}

.ui-datepicker-calendar {
    width: 400px;
}

.ui-datepicker-calendar td {
    background-color: #fefefe;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px 0 30px;
    text-align: left;
    text-indent: 5px;
    transition: background-color .1s ease-in-out;

    a {
        color: #000;
        text-decoration: none;
    }

    &:hover {
        background-color: darken(#fafafa, 2);
    }

    &.ui-datepicker-unselectable {
        background-color: lighten(#ccc, 10);
        color: #999;
        cursor: not-allowed;
    }

    &.ui-datepicker-other-month {
        background-color: #fff;
        border: 0;
    }
}

.ui-datepicker-calendar th {
    color: #999;
    font-family: 'proxima_nova_rgregular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
}

.ui-datepicker-header {
    height: 32px;
    margin-top: 1em;
    text-align: center;
    width: 400px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    color: #999;
    font-size: .75em;
    text-transform: uppercase;
}

.ui-datepicker-prev {
    float: left;

    &::before {
        content: '\f0d9';
        padding: 5px;
        font-family: 'FontAwesome';
    }
}

.ui-datepicker-next {
    float: right;

    &::after {
        content: '\f0da';
        padding: 5px;
        font-family: 'FontAwesome';
    }
}

.ui-datepicker-calendar td.ui-datepicker-today {
    position: relative;

    &::after {
        background-color: #ccc;
        border-top-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        bottom: 3px;
        color: #000;
        font-size: 12px;
        left: 3px;
        line-height: 1em;
        padding: 3px 0;
        position: absolute;
        text-align: center;
        text-indent: 0;
        right: 3px;
    }
}

.ui-datepicker-calendar td.ui-datepicker-today::after {
    content: 'today';
}

.ui-datepicker-calendar td.ui-datepicker-current-day {
    background-color: #2575b0;
    color: #fff;

    a {
        color: #fff;
    }

    &.ui-datepicker-today::after {
        background-color: #fff;
        color: #2575b0;
    }
}

.slotpicker-calendar {
    display: inline-block;
    vertical-align: top;
    width: 400px;
}

.slotpicker-slots {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    width: 250px;
}

.slotpicker-slots__subheading {
    border-top: 1px solid #bebebe;
    color: #bebebe;
    display: block;
    height: 42px;
    margin-top: 12px;
    padding-top: 12px;
}

.slotpicker-slots__list {
    list-style-type: none;
    margin-bottom: 12px;
}

.slotpicker-slots__slot {
    height: 32px;
}


.slotpicker-calendar .loading {
    display: none;

    .ui-datepicker {
        opacity: 1;
    }
}

.slotpicker-calendar.is-loading {
    position: relative;

    .ui-datepicker {
        opacity: .15;
    }

    .loading {
        display: block;
        left: 148px;
        position: absolute;
        top: 165px;
        opacity: 1;
    }

    .loading i {
        height: 50px;
        width: 50px;
    }
}
