span.select2-selection.select2-selection--single {
	height: 44px;
	padding-top: 8px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 8px;
}

.select2-dropdown {
    z-index: $zindex-modal;
}
