$signin-bg-color:          rgba(51,153,204,.9);
$signin-bg-color-fallback: rgb(51,153,204);

$signin-full-width:        400px;
$signin-mobile-width:      300px;

html, body {
	height: 100%;
	margin: 0;
}

.video {
	height: 100%;
	width: 100%;
}

// prevent white flash before video plugin is initialised
.signin-backdrop {
	background-color: black;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

// Fixes an issue with Safari where animations break when on top of a video
.signin-container {
	transform: translate3d(0, 0, 0);
}

.signin-brand {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50px;
    width: 200px;
}

.jadu-logomark {
    background: url($branding-navigation-fallback);
    background: url($branding-navigation), linear-gradient(transparent, transparent);
    background-size: $branding-navigation-width $branding-navigation-height;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
    height: $branding-navigation-height;
    width: $branding-navigation-width;
}

.jadu-wordmark {
    display: none;
}

.signin {
	background-color: $signin-bg-color-fallback;
	background-color: $signin-bg-color;
	border-radius: 2px;
	box-shadow: 0 0 50px #000;
	color: white;
	margin: 0 auto;
	min-height: 350px;
	padding: 0 0 10px 0;
	opacity: 1;
	overflow: hidden;
	position: relative;
	top: 5em;
	width: $signin-mobile-width;
	zoom: 1;

	@include respond-min($screen-tablet) {
		min-height: 320px;
		padding: 0 0 20px 0;
		width: $signin-full-width;
	}

	transition: background-color .25s;


	&--error {
		background-color: color(danger);
		animation: shake 400ms ease-in-out;

		.loading--circle i {
			border: 1px solid rgba(0,0,0,.2);
			border-top-color: white;
		}
	}

	&--success {
		background-color: color(success);
	}

	form {
		overflow: visible;
	}

	input, button {
		&:focus {
			outline: none;
			box-shadow: 0 0 5px black;
		}
	}

	input {
		color: black;
	}

	a {
		color: white;
	}

	.btn {
		background: none;
		border: 2px solid white;
		box-shadow: none;

		&:hover,
		&:focus {
			background-color: rgba(0, 0, 0, .1);
			top: 0;
		}

		&:active {
			top: 1px;
		}

		&.is-loading {
			padding-top: 4px;
			padding-bottom: 5px;

			&:hover {
				background-color: none;
			}
		}
	}

	&.active-success {
		animation-delay: .8s;
		animation-duration: .25s;
		animation-fill-mode: both;
		animation-name: success-container;
		background-color: rgb(41, 124, 70);
		background-color: rgba(41, 124, 70, .9);
	}
}

.signin__inner {
	transition: background-color 0.5s, margin-left 0.5s;
	float: left;
	width: 1210px;

	.active-reset & {
		position: relative;
		margin-left: -$signin-mobile-width;

		@include respond-min($screen-tablet) {
			margin-left: -$signin-full-width;
		}
	}

	.active-forgot & {
		position: relative;
		margin-left: -$signin-mobile-width * 2;

		@include respond-min($screen-tablet) {
			margin-left: -$signin-full-width * 2;
		}
	}

	.active-twostep & {

		.signin-form,
		.signin-reset {
			opacity: 0;
			visibility: hidden;
			z-index: -1;
		}

		.signin-twostep {
			opacity: 1;
			z-index: 1;
		}
	}

	.active-success & {
		.signin-form,
		.signin-reset,
		.signin-twostep {
			opacity: 0;
			visibility: hidden;
			z-index: -1;
		}

		.signin-success {
			opacity: 1;
			z-index: 1;
		}
	}

}


.signin__panel {
	float: left;
	text-align: center;
	transition: opacity 0.5s, z-index 0.5s;
	width: $signin-mobile-width;

	@include respond-min($screen-tablet) {
		width: $signin-full-width;
	}
}

.signin__actions {
	margin: 0 auto 1em auto;
}

.signin__input {
	background-color: none;
	border: none;
	box-shadow: inset 0 3px 0 #efefef;
	border-radius: 2px;
	display: inline-block;
	margin: 0 auto 1em auto;
	padding: 10px;
	width: 80%;
}

.signin__code1,
.signin__code2 {
	@extend .signin__input;
	display: inline-block;
	font-family: courier;
	letter-spacing: 5px;
	margin: 0 5px 1em 5px;
	padding: 10px 10px 10px 12px;
	width: 20%;

	@include respond-min($screen-tablet) {
		padding: 10px 10px 10px 20px;
	}
}

.signin__submit {
	display: inline-block;
	margin: 0 auto;
}

.signin__group {
	position: relative;
	.signin__reset {
		color: $signin-bg-color;
		position: absolute;
		text-decoration: none;
		top: 10px;
		right: 50px;
	}
	.tooltip-arrow {
		border-left-color: $signin-bg-color !important;
	}
	.tooltip-inner {
		background-color: $signin-bg-color;
	}

	label {
		@extend .hide;
	}
}

.signin__info {
	display: block;
	margin-bottom: 1em;
	padding: 0 5px;
}

.signin__link {
	display: inline-block;
	font-size: .8em;

	&:focus {
		outline-color: white;
	}
}

.signin__hint {
	@include icon-FontAwesome();
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-name: hint-wobble;
	display: inline-block;
	font-size: 1.5em;
	left: 5px;
	position: absolute;
	width: 25px;
	top: 2px;

	@include respond-min($screen-tablet) {
		left: 12px;
		top: 6px;
	}

	&:before {
		content: '\f0a4';
	}

	.signin-twostep & {
		left: 55px;

		@include respond-min($screen-tablet) {
			left: 85px;
		}
	}

	.signin__code2 + & {
		left: inherit;
		right: 50px;

		@include respond-min($screen-tablet) {
			left: inherit;
			right: 80px;
		}

		&:before {
			content: '\f0a5';
		}
	}
}

.shake {
  animation: shake 500ms ease-in-out;
}

.signin__icon {
	background: url($branding-site-fallback);
	background: url($branding-site), linear-gradient(transparent, transparent);
	background-size: $branding-site-height $branding-site-width;
	background-position: 50% 0;
	background-repeat: no-repeat;
	border-radius: $branding-site-radius;
	display: inline-block;
	margin: 20px auto 0 auto;
	text-align: center;
	height: $branding-site-height;
	width: $branding-site-width;

	.signin--error &,
	.signin-reset &,
	.signin-forgot &,
	.signin-twostep &,
	.signin-success & {
		@include icon-FontAwesome();
		background-image: none;
		border-radius: 65px;
		line-height: 65px;
		margin-bottom: 6px;
	}

	.signin-reset &,
	.signin-forgot &,
	.signin-twostep &,
	.signin-success & {
		background-color: #fff;

		&:before {
			display: inline-block;
			color: #2f8dbd;
			width: 66px;
		}
	}

	.signin--error &:before {
		content: '\f119';
		font-size: 75px;
	}

	.signin-twostep &:before {
		content: '\f10b';
		font-size: 65px;

		.signin--error & {
			color: color(danger);
		}
	}

	.signin-forgot &:before {
		content: '\f128';
		font-size: 65px;
		width: 40px;
		margin-left: -2px;
	}

	.signin-reset & {
		background-color: #fff;

		&:before {
			//&#xf0e0;
			content: '\f0e0';
			display: inline-block;
			color: #2f8dbd;
			font-size: 35px;
			width: 66px;
		}
	}

	.active-success .signin-success & {
		animation-duration: 1s;
		animation-fill-mode: both;
		animation-name: success-icon;

		&:before {
			content: '\f087';
			color: color(success);
			font-size: 35px;
		}
	}
}


.signin-twostep,
.signin-success {

	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	.signin__group {
		margin-top: 1.5em;
	}
}

// 2FA code input in control centre UI
.form__group .controls,
.modal {
	.form__control.signin__code1,
    .form__control.signin__code2 {
        display: inline-block;
        font-family: courier;
        letter-spacing: 2px;
        padding: 0 10px;
        width: 55px;
    }
}

// Scale effect is disabled in Firefox because of horrible performance issues
@keyframes success-icon {
  0%    { transform: translateY(0) scale(1); }
  80%	{ transform: translateY(150%) }
  100%	{ transform: translateY(150%) scale(20); -moz-transform: translateY(150%) scale(1); }
}

// Scale effect is disabled in Firefox because of horrible performance issues
@keyframes success-container {
  0%    { transform: scale(1); -moz-transform: scale(1); }
  100%	{ transform: scale(20); -moz-transform: scale(1); }
}

@keyframes hint-wobble {
  0%, 50%, 100% { transform: translateX(0); }
  25%, 75% { transform: translateX(-5px); }
}

@keyframes shake {
  0%    { transform: translateX(0);}
  12.5% { transform: translateX(-10px) rotateY(-5deg)}
  37.5% { transform: translateX(10px) rotateY(4deg)}
  62.5% { transform: translateX(-5px) rotateY(-2deg)}
  87.5% { transform: translateX(5px) rotateY(1deg)}
  100%  { transform: translateX(0)}
}

@keyframes fade-in {
	from { opacity: 0; }
	to   { opacity: 1; }
}



// Full-bleed background image for IE7 & 8
// The required markup & image for this is contained in a conditional comment
.signin-oldie-bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;

  img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
  }

  & + .video {
  	background: none;
  }
}


// IE8 fixes for icon positions
.ie8 .signin-reset .signin__icon {
	padding-left: 15px;
}

.ie8 .signin-twostep .signin__icon,
.ie8 .signin-success .signin__icon {
	padding-left: 18px;
}

#recaptcha_widget_div {
	display: inline-block;
	margin: 0 auto 1em auto;
}

.signin-twostep-help {
	text-align: left;
	list-style-position: outside;
}
