//
// Tooltips
// --------------------------------------------------


// Base class
.tooltip {
  @include opacity(0);
  position: absolute;
  z-index: $zindex-tooltip;
  display: block;
  visibility: visible;
  font-size: $font-size-small;
  font-family: $font-family-base;
  line-height: 1.2;

  &.in { @include opacity(1); }

  &.top { margin-top: -3px; padding: 5px 0; }

  &.right { margin-left: 3px; padding: 0 5px; }

  &.bottom { margin-top: 3px; padding: 5px 0; }

  &.left { margin-left: -3px; padding: 0 5px; }
}

// Wrapper for the tooltip content
.tooltip-inner {
  max-width: $tooltip-max-width;
  padding: 3px 8px;
  color: $tooltip-color;
  text-align: center;
  text-decoration: none;
  background-color: rgba(color(black), .9);
  background-color: color(black);
  border-radius: $border-radius;
}

// Arrows
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip {
  &.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color: rgba(color(black), .9);
    border-top-color: color(black);
  }

  &.top-left .tooltip-arrow {
    bottom: 0;
    left: 5px;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color: rgba(color(black), .9);
    border-top-color: color(black);
  }

  &.top-right .tooltip-arrow {
    bottom: 0;
    right: 5px;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color: rgba(color(black), .9);
    border-top-color: color(black);
  }

  &.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
    border-right-color: rgba(color(black), .9);
    border-right-color: color(black);
  }

  &.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-left-color: rgba(color(black), .9);
    border-left-color: color(black);
  }

  &.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -$tooltip-arrow-width;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-bottom-color: rgba(color(black), .9);
    border-bottom-color: color(black);
  }

  &.bottom-left .tooltip-arrow {
    top: 0;
    left: 5px;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-bottom-color: rgba(color(black), .9);
    border-bottom-color: color(black);
  }

  &.bottom-right .tooltip-arrow {
    top: 0;
    right: 5px;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-bottom-color: rgba(color(black), .9);
    border-bottom-color: color(black);
  }
}

div[data-toggle="tooltips"] {
    display: inline-block;
}
