// Outer container
.progress {
  background-color: $progress-bg;
  border-radius: $border-radius;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  height: $line-height-computed;
  margin-bottom: $line-height-computed;
  overflow: hidden;
}

// Bar of progress
.progress-bar {
  background-color: color(primary);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  color: color(white);
  float: left;
  font-size: $font-size-small;
  height: 100%;
  overflow: hidden;
  padding-right: 5px;
  text-align: right;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
  transition: width .6s ease;
  width: 0%;
}

.progress-bar--success {
  background-color: color(success);
}

.progress-bar--warning {
  background-color: color(warning);
}

.progress-bar--danger {
  background-color: color(danger);
}

.progress-bar--compact {
  height: 5px;
}
