.example .wrapper {
    padding: 20px;
}

.example .item {
    background-color: green;
    color: white;
    margin: 10px 0;
    padding: 10px;
}

.example .table td.cell--inverse,
.example .table td.cell--inverse:hover {
    background-color: #2d86b3 !important;
}

.example .table tbody > tr.row-inverse > td,
.example .table tbody > tr.row-inverse:hover > td {
    background-color: #2d86b3;
}
