

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.form {
    background-color: color(white);
    // padding: 0 20px 0 20px;
}

.form--standalone {
    padding: 0 20px 20px 20px;
}

.form__group {
    margin-bottom: 24px;
}

.form__control {
    border-radius: $input-border-radius;
    height: $input-height-base;

    &.checkbox,
    &.radio {
        border: 0 !important;
        height: 16px;
        padding: 0 !important;
        vertical-align: top;
    }

    &.checkbox {
        margin-top: 4px;
    }

    &.radio {
        margin-top: 3px;
    }

    &:not([type="file"]) {
        border: 1px solid $input-border;
        padding: 0 $padding-base-horizontal;
    }

    &.textarea {
        height: auto;
        min-height: 68px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
}

.control__label {
    padding-top: 11px;
    padding-right: 10px;
}

.form__group--top .control__label {
    margin-bottom: .5em;
}

.legend {
    font-size: $font-size-large;
    margin-bottom: .5em;
}

.form__actions {
    border-top: 1px solid color(border);
    box-shadow: none;
    min-height: 60px;
    padding: $line-height-base 0;
    position: relative;

    @include respond-min($screen-desktop) {
        &:not(.form__actions--flush) {
            padding-left: 25%;
        }
    }
}

.checkbox-group,
.radio-group {
    .control__label {
        padding-top: 0;
    }

    &.form__group--indent .controls {
        width: 100%;
    }
}

// input widths

$inputs: (
    mini:    50px,
    small:   100px,
    medium:  200px,
    regular: 300px,
    large:   400px,
    xlarge:  500px,
    full:    100%
);

.form__control:not(.checkbox):not(.radio) {

    // form elements should be 100% on mobile
    background-color: #fafafa;
    width: 100%;

    @include respond-min($screen-tablet) {

        // default width
        .form__group & {
            max-width: 100%;
            width: 300px;
        }

        @each $variant, $width in $inputs {

            // 1. allow input-specific widths for fine-grained control
            // 2. allow a class on the main group to control the width of it's controls
            &.form__control--#{$variant},
            .form__group--#{$variant} & {
                width: #{$width};
            }
        }
    }

}

// validation

.form__group {
  &.has-changed {
    @include form__control-validation($state-info-text, color(info), $state-info-bg);
  }

  &.has-warning {
    @include form__control-validation($state-warning-text, color(warning), $state-warning-bg);
  }

  &.has-error {
    @include form__control-validation($state-danger-text, color(danger), $state-danger-bg);
  }

  &.has-success {
    @include form__control-validation($state-success-text, color(success), $state-success-bg);
  }
}

.help-block {
    color: color(text, light);
}

.form__button-group {

    > .control__label {
        padding-top: 3px;
    }

    .controls > .control__label {
        @extend .btn;
    }

    .controls > .control__label:not(:first-of-type) {
        margin-left: -1px;
    }

    // Position elements outside of the container as display:none or
    // visibility:hidden causes the inputs to stop being interactive in IE8
    .form__control {
        left: -9999px;
        position: absolute;
        top: 0;
    }

    .form__control:checked + .control__label {
        @extend .btn:active;
    }
}

// Loading spinner (mainly for select/select2 elements)
.form__control + .loading {
  left: 310px;
}

// Paragraph as first child of .controls, assuming absence of a proper input
.controls > p:first-child {
    margin-bottom: 0;
    min-height: 44px;
    padding-top: 12px;
}

.required-indicator {
    display: inline-block;
    font-size: 1.2em;
    text-align: center;
    width: 10px;
}

// Make sure checkboxes and radios reduce the label's clickable area to the
// width of the label only
.form-checkbox-inline,
.form-radio-inline {
    > .controls > .control__label {
        display: inline-block;
    }
}
