/**
 * The greeter is a panel which is displayed when a user first logs into the
 * Jadu CMS.
 *
 * 1. Use text-align to move the send button to the right.
 * 2. Make sure input text colour is correctly set over the input background
 *    colour.
 * 3. Remove default textarea border.
 * 4. Stop textarea from being resized horizontally.
 * 5. Give the user plenty of space to write their responses.
 * 6. Prevent unwanted outline outside of the textarea.
 * 7. This container is required to contain an absolutely positioned element
 *    which will be added by javascript which will allow us to bind hover
 *    behaviour over the disabled input.
 * 8. Makes the hint text line up correctly with the submit label.
 * 9. The hand icon which points to the input.
 *
 * 10. Relative position required for the movement we'll do in [8].
 * 11. Hovering over the button causes the button to be 'pushed in' by 1px which
 *    helps to explain the affordance (it can be pushed).
 * 12. Make sure active state overrides the hover state.
 * 13. Disabled state changes to outset when the user begins to type.
 * 14. Compensate for [11] so that the rest of the layout doesn't move when
 *     animating the top offset.
 * 15. Offset the button slightly to achieve the inset/outset effect.
 * 16. Use auto margin to align right without floats.
 */

/* -------------------------------------------------------------------------- *\
    Configuration
\* -------------------------------------------------------------------------- */

// Dimensions
$greeter-min-height:                    200px !default;
$greeter-width-responsive:              80% !default;
$greeter-width-max:                     600px !default;
$greeter-padding:                       $gutter-width !default;
$greeter-form-width-max:                500px;
$greeter-button-border-width:           3px;

// Type
$greeter-font-size-large:               2em !default;
$greeter-font-size-medium:              1.25em !default;
$greeter-font-size-small:               .9em !default;

// Colours
$greeter-bg-color:                      color(jadu-blue, dark) !default;
$greeter-bg-color-lighter:              color(jadu-blue, light) !default;
$greeter-bg-color-darker:               darken($greeter-bg-color, 3) !default;
$greeter-text-color:                    color(white) !default;
$greeter-text-color-alt:                color(black) !default;
$greeter-link-underline-color:          $greeter-bg-color-lighter !default;
$greeter-button-bg-color:               darken(color(jadu-blue, dark), 6) !default;
$greeter-button-bg-color-hover:         darken($greeter-button-bg-color, 8) !default;
$greeter-button-border-color:           darken($greeter-button-bg-color, 10) !default;
$greeter-button-bg-color-disabled:      $greeter-bg-color-darker !default;
$greeter-button-border-color-disabled:  darken($greeter-bg-color, 10) !default;

// Branding
$greeter-brand-top-image:               '../images/branding/continuum-brandmark.svg' !default;
$greeter-brand-top-image-fallback:      '../images/branding/continuum-brandmark.png' !default;
$greeter-brand-top-width:               200px !default;
$greeter-brand-top-height:              36px !default;
$greeter-brand-bottom-image:            '../images/branding/jadu-brandmark.svg' !default;
$greeter-brand-bottom-image-fallback:   '../images/branding/jadu-brandmark.png' !default;
$greeter-brand-bottom-width:            100px !default;
$greeter-brand-bottom-height:           40px !default;

// Animations
@-webkit-keyframes bounce {
    0%, 50%, 100% {
        -webkit-transform: translateY(0);
    }

    25%, 75% {
        -webkit-transform: translateY(-5px);
    }
}

@keyframes bounce {
    0%, 50%, 100% {
        transform: translateY(0);
    }

    25%, 75% {
        transform: translateY(-5px);
    }
}

/* -------------------------------------------------------------------------- *\
	Default Presentation
\* -------------------------------------------------------------------------- */

.greeter {
    background-clip: border-box;
    background-color: $greeter-bg-color;
    background-image: url($greeter-brand-top-image-fallback);
    background-image: url($greeter-brand-top-image), linear-gradient(transparent, transparent);
    background-size: $greeter-brand-top-width $greeter-brand-top-height;
    background-position: 20px 20px;
    background-origin: padding-box;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: $greeter-text-color;
    min-height: $greeter-min-height;
    max-width: $greeter-width-max;
    padding: $greeter-padding;
    width: $greeter-width-responsive;

    &__link {
        border-bottom: 1px dotted $greeter-link-underline-color;
        text-decoration: none;

        &,
        &:link,
        &:visited {
            color: $greeter-text-color;
        }

        &:hover {
            border-bottom-color: $greeter-text-color;
        }
    }

    &__header {
        background-clip: border-box;
        background: url($greeter-brand-top-image-fallback);
        background: url($greeter-brand-top-image), linear-gradient(transparent, transparent);
        background-size: $greeter-brand-top-width $greeter-brand-top-height;
        background-origin: padding-box;
        background-repeat: no-repeat;
        padding-top: $greeter-brand-top-height + $gutter-width;
        text-align: right;

        // Support transparent PNG background images in IE8
        @include ie-lte(8) {
            background-image: url($greeter-brand-top-image-fallback) !important;
            filter: progid:DXImageTransform.Microsoft.gradient(
                startColorstr=#00FFFFFF, endColorstr=#00FFFFFF
            );
        }
    }

    &__title {
        font-size: $greeter-font-size-large;
        line-height: 1em;
        margin-bottom: .25em;
    }

    &__sub-title {
        font-size: $greeter-font-size-medium;
        line-height: 1em;
        margin-bottom: .5em;
    }

    &__call-to-action {
        font-size: $greeter-font-size-small;
    }

    &__form {
        margin: 2em auto 0;
        overflow: visible;
        text-align: right; /* [1] */
        max-width: $greeter-form-width-max;
        width: 100%;

        input,
        textarea { /* [2] */
            color: $greeter-text-color-alt;
        }
    }

    &__textarea {
        border: 0; /* [3] */
        box-shadow: inset 0 3px 0 color(gray, lighter);
        max-width: ($greeter-width-max - ($greeter-padding * 2)); /* [4] */
        max-height: 16em;
        min-height: 8em; /* [5] */
        padding: .5em;
        resize: vertical; /* [4] */
        width: 100%;

        &:focus {
            outline: none; /* [6] */
        }
    }

    &__actions { /* [7] */
        display: inline-block;
        position: relative;
    }

    &__hint {
        display: inline-block;
        margin: 0;
        margin-left: $greeter-padding / 2;
        margin-right: auto;
        opacity: 0;
        position: relative;
        top: 3px; /* [8] */

        i { /* [9] */
            display: inline-block;
            font-size: 1.5em;
            margin-right: ($greeter-padding / 2);
            -webkit-animation-duration: 1s;
              animation-duration: 1s;
            -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
            -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
            -webkit-animation-name: bounce;
              animation-name: bounce;
        }
    }

    &__button {
        background-color: $greeter-button-bg-color;
        border: 0;
        border-bottom: $greeter-button-border-width solid $greeter-button-border-color;
        border-radius: 4px;
        color: color(white);
        font-size: $greeter-font-size-small;
        line-height: 1em;
        padding: 10px 10px 7px;
        position: relative; /* [10] */
        text-decoration: none;

        &:hover:not(:disabled) { /* [11] */
            border-bottom-color: $greeter-button-border-color;
            border-bottom-width: $greeter-button-border-width - 1;
            background-color: $greeter-button-bg-color-hover;
            margin-bottom: 1px;
            top: 1px;
        }

        &:active,
        &:hover:active, /* [12] */
        &:disabled { /* [13] */
            border-bottom: 0;
            box-shadow: inset 0 1px 0 $greeter-button-border-color;
            margin-bottom: $greeter-button-border-width; /* [14] */
            top: $greeter-button-border-width; /* [15] */
        }

        &:disabled {
            box-shadow: inset 0 1px 0 $greeter-button-border-color-disabled;
            background-color: $greeter-button-bg-color-disabled;
        }
    }

    &__footer {
        font-size: $greeter-font-size-small;
        text-align: right;
    }

    &__brand-bottom {
        background: url($greeter-brand-bottom-image-fallback);
        background: url($greeter-brand-bottom-image), linear-gradient(transparent, transparent);
        background-size: $greeter-brand-bottom-width $greeter-brand-bottom-height;
        background-repeat: no-repeat;
        display: block;
        height: $greeter-brand-bottom-height;
        margin-left: auto; /* [16] */
        text-indent: -9999px;
        width: $greeter-brand-bottom-width;
    }
}
