// Data grid view
.table--datagrid {
  border-collapse: separate;
  outline: 1px solid $gray;
  width: 100%;

  @include ie-lte(7) {
    border-collapse: collapse;
  }

  // Links
  a {
    color: $black;
    text-decoration: none;
  }

  // Colour links when user hovers over the table
  &:hover tbody a {
    color: $link-color;
  }

  // Rows
  tr {
    line-height: $line-height-base;
    position: relative;

    @include respond-min($screen-tablet) {
      position: static;
    }

    th, td {
      @include respond-min($screen-tablet) {
        border-bottom: 1px solid $gray;
      }
      height: $line-height-base * 1.8;
      @include respond-max($screen-tablet) {
        height: $line-height-base;
      }
      padding: 0 $gutter-width / 2;

      text-align: left;

      &.preview {
        @include respond-min($screen-tablet) {
          text-align: center;
        }

        img {
          height: 30px;
          vertical-align: middle;
          width: 30px;
        }
      }

      &.centered {
        @include respond-min($screen-tablet) {
          text-align: center;
        }
      }

      &.shrink-to-fit {
        @include respond-min($screen-tablet) {
          width: 1px;
        }
      }

      &.no-wrap {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  // Set up tables for smaller viewports
  tr th {
    display: none;

    @include respond-min($screen-tablet) {
      display: table-cell;
    }
  }

  tr td {
    display: table;
    padding-left: 0;
    vertical-align: baseline;
    width: 100%;

    &:before {
      background-color: darken($white, 5%);
      content: attr(data-table-header);
      display: inline-block;
      font-family: $font-family-semibold;
      font-weight: normal;
      height: 100%;
      min-width: 35%;
      padding: $padding-small-vertical ($gutter-width / 2) 0;
      margin-right: $gutter-width / 2;
      text-align: right;
      vertical-align: baseline;
      width: auto;
    }

    &:last-child {
      border-bottom: 1px solid $gray;
    }

    @include respond-min($screen-tablet) {
      display: table-cell;
      padding: 0 $gutter-width / 2;

      vertical-align: middle;
      width: auto;

      &:before {
        display: none;
      }
    }
  }

  // Row effects
  tbody > tr {
    &:hover {
      background-color: $off-white;
    }
    &:last-of-type {
      th, td {
        border-bottom: 0;
      }
    }
  }

  // Actions column
  .row__actions {
    &:before {
      display: none;
    }
    height: auto;
    padding-top: $padding-small-vertical;
    position: absolute;
    left: $gutter-width * 0.75;
    width: auto;

    @include respond-max($screen-tablet) {
      background-color: transparent;
    }
    @include respond-min($screen-phone) {
      left: $gutter-width * 1.75;
    }
    @include respond-min($screen-tablet) {
      height: $line-height-base * 1.8;
      min-width: 50px;
      padding: 0;
      position: static;
      text-align: center;
      width: 50px;
    }

    // First column after the actions doesn't need so much space
    + th,
    + td {
      padding-left: 0;
    }
  }

  .label {
    white-space: normal;
  }
}

/* Fixes gaps in grey bg on table headers in responsive views */
@include respond-max($screen-tablet) {
    .table--datagrid tr td:before {
        padding-bottom: 8px !important;
    }
}


@include ie-lte(9) {

    .table--datagrid tr {
        position: relative;
    }

    .table--datagrid td {
        border-bottom: 1px solid $gray;
    }

    /* Fixes responsive table headings being hidden (in pulsar) in mobile views for < IE9 */
    .table--datagrid tr th {
        display: table-cell;
    }

    /* Fix grey boxes in <IE10  */
    .table--datagrid tr td:before {
        display: none !important;
    }
}

tr.row--highlight {
  @include highlight-row($blue);
}

tr.row--success-highlight {
  @include highlight-row($success-color);
}

tr.row--danger-highlight {
  @include highlight-row($danger-color);
}

tr.row--warning-highlight {
  @include highlight-row($warning-color);
}

tr.row--success {
  @include highlight-row($success-color);
  > td {
    background-color: lighten($success-color, 25%);
    &:before {
      background-color: lighten($success-color, 20%);
    }
  }
  &:hover > td {
    background-color: lighten($success-color, 23%);
    &:before {
      background-color: lighten($success-color, 18%);
    }
    @include respond-max($screen-tablet) {
      &.row__actions {
        background-color: lighten($success-color, 18%);
      }
    }
    background-color: lighten($success-color, 23%);
  }
}

tr.row--danger {
  @include highlight-row($danger-color);
  > td {
    background-color: lighten($danger-color, 25%);
    &:before {
      background-color: lighten($danger-color, 20%);
    }
  }
  &:hover > td {
    background-color: lighten($danger-color, 24%);
    &:before {
      background-color: lighten($danger-color, 19%);
    }
    @include respond-max($screen-tablet) {
      &.row__actions {
        background-color: lighten($danger-color, 19%);
      }
    }
    background-color: lighten($danger-color, 24%);
  }
}

tr.row--warning {
  @include highlight-row($warning-color);
  > td {
    background-color: lighten($warning-color, 25%);
    &:before {
      background-color: lighten($warning-color, 20%);
    }
    @include respond-max($screen-tablet) {
      &.row__actions {
        background-color: lighten($warning-color, 20%);
      }
    }
  }
  &:hover > td {
    background-color: lighten($warning-color, 23%);
    &:before {
      background-color: lighten($warning-color, 18%);
    }
    @include respond-max($screen-tablet) {
      &.row__actions {
        background-color: lighten($warning-color, 18%);
      }
    }
  }
}

tr.is-selected {
  @include highlight-row($blue);
  > td {
    background-color: lighten($blue, 50%);
    &:before {
      background-color: lighten($blue, 45%);
    }
  }
  &:hover > td {
    background-color: lighten($blue, 48%);
    &:before {
      background-color: lighten($blue, 43%);
    }
    @include respond-max($screen-tablet) {
      &.row__actions {
        background-color: lighten($blue, 43%);
      }
    }
  }
}

tr.row--no-results td {
  padding: 1em 0;
  text-align: center;
}
