table {
    background-color: $table-bg;
    border-collapse: separate;
}

th {
    text-align: left;
}

// Columns
table {
    th {
        background-color: darken($white, 5%);
        font-family: $font-family-regular;
        font-weight: normal;
    }
}

.table {
    margin-top: -6px;
    margin-bottom: $line-height-base + 5;

    width: 97.7%;

    // Cells
    thead,
    tbody,
    tfoot {
        > tr {
            > th,
            > td {
                padding: 0 5px;
                line-height: $line-height-base * 2 - 1; // account for border
                vertical-align: top;
                border-top: 1px solid $table-border-color;
            }
        }
    }
    // Bottom align for column headings
    thead > tr > th {
        vertical-align: bottom;
    }
    // Remove top border from thead by default
    caption + thead,
    colgroup + thead,
    thead:first-child {
        tr:first-child {
            th,
            td {
                border-top: 1px solid transparent;
            }
        }
    }
    // Account for multiple tbody instances
    tbody + tbody {
        border-top: 2px solid $table-border-color;
    }

}

.table--bordered {
    border: 1px solid $table-border-color;

    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                border: 1px solid $table-border-color;
            }
        }
    }
}

.table--striped {
    > tbody {
        > tr:nth-child(odd) {
            > td,
            > th {
                background-color: $table-bg-accent;
            }
        }
    }
}


.row--align-top {
    th,
    td {
        vertical-align: top;
    }
}

.row--align-middle {
    th,
    td {
        vertical-align: middle;
    }
}

.row--no-results {
    td {
        background-color: #fafafa;
        padding: 24px 0;
    }

    p {
        margin: 0;
    }

    .loading {
        margin: 0 auto;
    }
}
