.breadcrumb {
    color: color(gray, light);
    margin-bottom: 11px;
    font-size: $font-size-small;

    a,
    a:link,
    a:visited {
        color: color(gray, light);
    }

    a:active,
    a:hover {
        color: color(gray);
    }
}
