.nav__primary {
  float: left;
  height: $toolbar-internal-height;

  @include respond-max($screen-phone) {
    height: 44px;
  }
  // width: $nav-primary-width;

  @include respond-max($screen-phone) {
    clear: none;
  }

  .nav-item {
    // max-width: $nav-primary-item-width;

    @include respond-max($screen-tablet-max) {
      font-size: $font-size-medium;
      line-height: 1.2;
    }

    @include respond-max($screen-phone) {
      display: inline-block;
      font-size: .8em !important;
      height: 44px;

      > a {
        height: 41px;
        padding: 0 2px;
      }
    }

    @include respond-max($screen-tablet) {
      > a {
        padding-left: $gutter-width / 2.5;
        padding-right: $gutter-width / 2.5;
      }
    }
  }
}
