.card {
    border: 1px solid color(border);
    border-radius: $border-radius;
    margin-bottom: $line-height-base;

    @include respond-min($screen-small) {
        margin-bottom: 0;
    }

    &:hover {
        background-color: color(background, light);
    }
}

.card__header {
    background: color(gray, off-white);
    border-bottom: 1px solid color(border);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    font-family: $font-family-regular;
    padding: .75em;
}

.card__heading {
    margin: 0;
}

.card__title {
    display: inline-block;
    font-family: $font-family-regular;
    font-size: $font-size-large;
    line-height: 1em;
    margin: 0 0 1em;
}

.card__body {
    display: block; // allow spans as well as divs
    padding: .75em;

    li:last-child {
        border-bottom: 0;
    }
}

.card__footer {
    background: color(gray, off-white);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-top: 1px solid color(border);
    padding: .25em .75em;
}

.card-link + .card-link {
    margin-left: $margin-base;
}

.card-img {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    display: block;
    max-width: 100%;
    width: 100%;
}

.card-img + .card__body {
    border-top: 1px solid color(border);
}

.card--full-bleed {
    border: 0;

    .card__body {
        border: 1px solid color(border);
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}

@each $state, $state-color, $state-color-alt in $state-colors {
    .card--#{"" + $state} {
        background-color: color($state, light);
        border-color: color($state);

        &:hover {
            background-color: darken(color($state, light), 2);
        }

        .card-img + .card__body {
            border-color: color($state);
        }
    }
}
