/**
 * Dropzone
 */

.dropzone {
    background-color: color(gray, off-white);
    border: 2px dashed color(gray, light);
    border-radius: $border-radius;
    padding: 1.5em;
    text-align: center;
}

.dropzone__icon {
    font-size: 1.75em;
    margin-bottom: .5em;
}

.dropzone__label {
    font-family: $font-family-regular;
    line-height: 1;
    margin-bottom: 0;
}

.dropzone__helper {
    margin-bottom: 0;
}

/**
 * State
 */

.dropzone-window-active .dropzone {
    border: 2px solid color(primary);
    color: color(primary);
}

.dropzone-dropzone-active .dropzone {
    background-color: color(primary, light);
}
