.card {
    background: color(gray, off-white);
    border: 1px solid color(gray, lightest);
}

.card--rounded {
    border-radius: .25em;

    // if card__header absent, apply rounded corners to card body
    > .card__body {
        border-top-left-radius: .25em;
        border-top-right-radius: .25em;
    }

    .card__body {
        border-bottom-right-radius: .25em;
        border-bottom-left-radius: .25em;
    }

    .card__footer {
        margin-top: -.25em;
    }
}

.card__header {
    padding: .75em;
}

.card__heading {
    display: inline-block;
    margin: 0;
}

.card__body {
    li:last-child {
        border-bottom: 0;
    }
}

.card__body--padded {
    padding: .75em;
}

.card__body--light {
    background-color: color(white);

    + .card__header {
        border-top: 1px solid color(gray, lightest);
    }

    + .card__footer {
        border-top: 1px solid color(gray, lightest);
    }
}

.card__footer {
    background: color(gray, off-white);
    padding: .25em .75em;

    > *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.card-link {
    text-decoration: none;

    &:hover {
        text-decoration: underlined;
    }
}

.card-link--padded {
    padding: 0 5px;
}

.card-img {
    max-width: 100%;
}
