// scss-lint:disable SelectorFormat
.hearing_type  .form__field-matrix {
    margin-left: 5%;
}
// scss-lint:enable SelectorFormat

.form__field-matrix {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    th {
        background-color: color(white);
        font-family: $font-family-light;
        font-size: .75em;
        font-weight: normal;
        text-align: center;

        @include respond-min($screen-tablet) {
          font-size: 1em;
        }
    }

    [data-action=check-column] span,
    [data-action=check-row] span {
        border-radius: 4px;
        cursor: pointer;
        padding: 3px 5px;
        white-space: nowrap;

        &:hover,
        &.active {
            background-color: color(primary);
            color: color(white);
            cursor: hand;
        }
    }

    tfoot {
        text-align: center;
    }

    [data-action=check-all] {
        text-decoration: underline;
        text-transform: lowercase;
        font-size: .8em;
    }

}

.choice-matrix__choice,
.choice-matrix__choice--ban,
.choice-matrix__choice--info {
    border-bottom: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
    line-height: 0;

    tr:last-of-type & {
        border-bottom: 0;
    }

    &:last-of-type {
        border-right: 0;
    }

    label {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        text-align: center;
        width: 100%;
    }

    div {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAHCCAYAAACt2pocAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA3NpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NTc3MiwgMjAxNC8wMS8xMy0xOTo0NDowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo5NTgzM2E2My0wNTkyLTQwMDUtYjg4Ni02OTQ0OWJlZDdlOWYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QzVDMTI1RkEzQjM2MTFFNEI2OUZERUExNDExREE3MDIiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QzVDMTI1RjkzQjM2MTFFNEI2OUZERUExNDExREE3MDIiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6YWU3OGQ1NzMtYWU4MS00ZDRiLWExMGMtZTdiYTZkYjdiMTJmIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjk1ODMzYTYzLTA1OTItNDAwNS1iODg2LTY5NDQ5YmVkN2U5ZiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Plz/g/IAABPgSURBVHja7J0NbBVVFoDv6x9tKdCWUio/BREFRRFpl7qsf6tklxh0iSG7yCoaow2gIRvjGmNcd2PMZsMSY4iAqWSDP8uyhlUXN8qyiAgsS12KLPIjWH4sWGrBtpYHLf2bPWfeGZhO57135829817xnOTm9U3n3XO/Offn3PPOmwkZhiEuB0kTl4kwCIMwCIMwCIMwCIOkoGT4raC6utrX5ysqKqx6DHofSgqICiGIlX6AQn7deL8WATEhoOGLbHWugJeFXmCSPUb6QJA18P1KyzqpDuIK4YBJ+VkrJkR/mX6lIGic6AXBvuul/yYI4Wmwe5q1bI1fSa8LsY5kQ3haR2xz/SKXBoaSCSENEgNikQSMdgivK/uiOMfdYAKBUOmiuMFEs6JyCK+z1goJmJUEECiEp1krxjiR9nB1QXiyCClcKGEZmYuywuPUrXZBVAGjAyKhld0PjC6IhF2URGB0QvhyGr3A6Ibw7f1KwmiHULUghmjdcFv9A4FQubK7wQQGoTqKYsEsdBwLREL8ZSiDMAiDMAiDMAiDMAiDMAiDMAiDMAiDMAiDMAiD+BbfIdPyqhpfn99VWWbVY9D7/ptBRxAr/QD5jv36tYigr7Kh4YtsdZqRfC8wKZFBZ4cga5jf2VvWSXUQVwgHTMrPWjEh+sv0KwVB40QvCPZdL/03QQhPg93TrGVrfMIZdDogPK0jtrk+4Qw6XRDSIDEgpDPodEJ4XdkTzqDTDaHSRUk4g04FhNdZS3kGnSoIT7NWjHEi7eHqgvBkEVKoJIPOghDJyqBTAaMDIqGV3Q+MLoiEXZREYHRC+HIavcDohvDt/UrCcAZdMlZ2zqBTppwz6BiEQRiEQRiEQRiEQRiEQRiEQRiEQRiEQRiEQRjEt0iFTDs7O7U35H8NIaOlQ4jbS41eYdbMzEypz0uFTHWD/GZruvHF4aPm3wOGjxcrZnSJwTkRIFmQpHctOwTKhW9qxYJ/ZYjWtpDRb8aIE+JiD2iMwJzvNFI/gy4ahB3mw9pQalskHoQlbV0p3LVkIXqGjBb3jtdskd31wjgeDhk6IZbPSrs4cylbRyxp7zaMxRszRfPXR8z30yZfafx6Wk9IB0RJjrev7dK8QDy+IeMiBMqne4+JP+xIN5INIQ3S1d1jQrSe6tuYmgNHY8L8dpt+CGmQD2vTXCHsMH/8NM1wgzhwSD+ENMiZ9vinYTdbWn3JMkFCSPtajee6jMq/hYU4dybuuRU3jEP3QhysPaIEQrnTeCIsjCffPycFIyOyllDuNI7OE6GX7hkoxMCiwCC0OY0qYHRAJLSy+4HRBZGwi5IIjE4IX06jFxjdEL69XxmYICCUuPGxYIKCULYfcYMJEkJ5FOV02DD+cjBTZMJWZe7kHlGQZfiGULqy9wfhkCmDMAiDMAiDMAiDMAiDMAiDMAiDRCRlHiPIFuGuFV+mQlkAZTKUYioojVT2QnkVyu5UtcjLUPBboFVQ8qD8CsoMKCVUZtCxPDrnDH0mZSzyeyiVULZDmUgNdJMwFPxScSe9x7DkKpgs8PwqGPTP+mmErwAdNGI1vIyHMjsGQDxBoPeg1ALMw4GDAMRmusr3uvwb4V6Akg1lFJQeKHVQME3md1AOO6dfqG89djt4f2dgYwSUroOXJlDqhFhDXWcDWegtKE/Q2FhH4P+AsoXOta8nWFcT1a3fIqBoGbxcB4pnOBbE9TSoF9vGQTS5g4BKoJ6wo/5N8HIAji/WZhFQgv15HpSZjgnjU7LANAkIlEdocgi7/A/rnke6tHUtnP83wtWyp4R9QI1/RLKON2htmRnFZcG6N5Iu9SBwhcbCSzkommc7tpYG8GI/EFDPAw4Y1FFOOpVb5EmXboPT7n0+IXBimAmvjY7zd5JO5SA4Lb5oa8AaGuDtPrqTObuBBdAi26lOS14knepAaODhDLPPdvg6WtVVQFgNn2jrXqirRHbQy1oEF7WTjmMIcsAPBBT72MBF8hrHeSdJtzKQYvJcLQuV0ILYkSBEowNC0HrS7rBAo817VgIyGEqr7X0hgviAmB/lcw20qFrSSrqVeb9N1HhL6qGMiHLuW+QIeoVwu0DxLphni/QyMXSDFupi+aogoK40mlDqo3VpFSBug+4ADXgVlkC5hdyWeJNM4iBkgaNw1abaDh8nl1wFhCDv4KTNQuW0R2lRvSDi/uMZhxsxXgUENBr399fY3R+Qp8ndV76yLyH3226pcdRgP5awzt/n4uov0bIfgSuH02oWAMyNEaDzCoF15kKdcxzOaAccm6/DIoKCDLNBUV6U/8/3AJFLXafEAZFHzmiltv0IKEQHcRntF9xkBK0x8WQpuSj1UOdPHP/DupeRLn17dlCAg/AwBQucsoKm5FaKjLxMwYm7KRjxNhSchabQBDHP0XWxzsOkI7AoyjpyH2ZSlMTp0qAL/nMKyGUQwHt0xVvsURRaDHFstdq7WZBxrVfg5TaaceYlWA3uQa6HshUgnkhKgM62BqylsbFYwrW3bwOW0biaCxB7kx0y3WvbZFndbQctlI3k0QryaovJfZ9ujSO/oVKVIJY8S2UUBeUepYaX2Fz0RrLYk7I+VDJA7A7mMyJg4W+sUk0475dBGIRBGIRBGIRBGIRB9O9Hmtf82dfnC+b9ki3CXUtSOIMu2RbxlUEHk4WZQQeDPnkZdNCI1UJhBh3APBw4CEAoyaCzpl+oz8ygg/fBZdCBUjODDpQqy6Cjupqobv0WAUVmBh0onuFYEBPKoIN6wo76zQw6OK4vgw6UBJZBR7q0dS0zgw6ulrYMOqpbXwYdXKGx8FIOiubZjinJoIN6HnDAmBl0pFO5RbRk0EFjza+34TU5GXSgWFkGHVjAzKCjOi1Rn0FHAw9nGOUZdARhNXyirXuZGXSyg/77nUEHV6mEFkRlGXS0nrQ7LMAZdNHk8sygg27QQl1MWQYd1JVGEwpn0MlEOswMOrhqgWXQga5y2qPozaAjN0JJBh002sygs7s/IsgMOlDcPzPo4MqZGXQAMDdGgC6hDDqoc47DGe2AY3oz6ECR0gw6B4T+DDpQqDyDDup0zaAjXfr27KDAzKCjYIFTfGXQUZ2HSUdgURQlGXQYRaHF0Mygs3ezIONaSjPoACJ5GXS0BvjOoAOI/p1B5zdUqhLEEs6gUyH8jVWqCWfQMQiDMAiDMAiDMAiDMAiDMEiyRMdWV7Q3Nxvf1dWJjrNnxYXWyDd2AwYPFlmDBokhpaUiu6AglLIgHeGw8fXOneLMgQMifOpUzHPzrrjCKLruOjHy5ptFVl6eEijfO8Tujg6jbutWcWLbNvzb02fTs7LE6FtvFaW33YZ/h5IGcq6x0dj7+uuivanJ18XILiwUkx96SAwsLg4FDvLtF18Y+9euFd0XLkSfSTIzcTwIATravv1WGD090a0zYICYNHeuGDpxYigwkNaTJ43dr74qjO7uPv/LHTZMjKioEMMnT8bBHXJOAmcOHhQntm/Hv/s2Jj1dTF2wQAweNSqkHQRmImPXK69cnI3sV3TC7Nli+JQpUo04smGDUffJJ32O4+xW/sQTfS6C8nXk8Pr1fSByi4tF+eOPS0Pg2Dq1a5fr/7Bu1KF1QWw9ccI4va/3d5aZAweKmx59FLuUNMRnVVWi89y5qOegDtSlDeToxt7fuIXS0sSk+++X7gbRIDJzc+PqUgaCY6O5trbXseIbbxQFV13lG2LKY4+Jomuv7XUcdaFO5SA42zhl1PTpUp8NNzTEhMgrKQmV3n67lE7fIN8eOuR0M6SmSYTYs2pVTAh8P2TMmBDWGUunEhDnvD9o5EgpS+x57bW4EJYMHD48pk41YyTcO9c4Oz9fDuL8eSkIlJyhQ2PqVALSp0F5eUohrMUwlk4lIFmwXvRauFpalEK4NdypUw0IbIrsch6cQGkIaFA8CLcx4dSpBARd7V6Nrq+Xh4CVPx4ESpNjnXLqVALiXLDQLW/68ktDFQR61M59jVOnkq0u7BNMl8S+p/jq44/R/FEhbqqslN4sHXr33T7uD+pUbpHMnJzQ0AkTeh1rOXZM4L7EL8RXW7YYzq6KulCnFqdx3MyZ5pXqtWd37BC9QqAPdmzTpj7WQF3avF9sHDqKUa3mEQJ8KdN9ce40YV/jef/uORx09T33iNa6OnOwu00IzkXNdb1oazO+fP998c1nnwm31X38rFnB7NnPnz5t7Fq+3DXwgFtejFfhQM0tKroYt+rp6jJgdhNn9u8XDbt399llWp/FnabsJk1JFAV3cJ+/+aYZTYwZu4LGpaWnx3U3cPG74cEHxeDRo4OLotj212ZcyznjeJW8ESPMuBZ0y+DjWnb5urra+GrzZtfuEktwPI25804xsqLCd9hUWVJNd2engX0fx0DzkSNRg3E4tcL2WBRNmiRKpk4V6ZmZqRH7dZOu9nYDA9loIWsM4RhAC+AuMCM7W3k0ntOcUk0y/D6Hyq/wc6xcQIovF5BFPNgZhEG+HyArLheQRu5aDMIgDMIgDJLoxkpDnfgbd7yPEP76rVRcujMB/oisjl7/BKU2VUHwNlUv0P4G7+60wdZwYQObKS79VPx5KJuUBB927tzptw5sHN6r4TA1TvanrmsIGm/qcgtseeuSOUZeIojtZBE7BCaTtDuKPcFkHn3G/Hx1dfVLyQLBn7NOoSvqtAJ++Yc3n8h3lHLR+/4q1tOXsI4piT741A8I3mcxS0R+6t0eZex1uViky21c4mNs6DG0WQCzKigQvOsS3lbkXtXTHT2SdirAvKh71sLbFT4lot9uxxIc9EUuXa5IYtuA46YeYbw8cMirRfCOGe8Iufv54G/cZznKWgmrNJGON3RNv2iNFnqNJ8UxLOVsuOuJYBG0Rr6sVbx0Lfzh/QcSawPeMyXa7UBxNZ8uqe8DGo9Pqe5aOBBl7o7xgLh0e1xnGS/kI5uoa7bqMYKWG6vaP4ozVlDXWOhiGSpBSslvClrqSLcyEOn7XInIvVDwrpdLFIAov5lekZC7ny+uG6uh7IHysAKQM6RbGYh0hSJyN5p3FHUt2Qvo69ZtQYjaW7d5GXSKRXqSkQVBr/U4rQOBCEy7qOu446H2ShbE9yRnonh3nL1PcqFbQjqVe7/PCdvtpGK4KPjTgwaavZyymjZjJTRNx9oW302bMeUg6Lytp8bGasDbwnHjbofbYU3Ts2J0K/MWvF7ceK/7kflkFelbcyYwNgqp++V7+ZzX/QheoaWqQjhRBOteqv0prjRWdlM3cxPrvlqxyltRrIF17gaI54KMa62jLna3SwAinqveaN9YAUA27T+aEn2Kq59w0BzyqQ67DO54FnEObKxjT6IQfi1iX32THmlUEfu13Bcr9osbonix32kE/TwAKJk4MhTPNpvEpWj8DOEejUdX53mRwtF4e4DhWRGw8DdWqSacnMkgDMIgDMIgDMIgDMIgAexHaqr8fb6ski3CXUtSOIMuuTvEmiolcS0Y9EnMoKupUpZBR3UlwSI1VbFiv4U0BpzpUPU0hpp6Tb81VRdjv/A+wNhvTVUkg66sUkkGHdTTTnVlUd0BgNRURTLoyiqVZ9BRnVNJh8ZZK9IFAsmgM2HQUposEsmgK6vUlkFHdXvPoJMe7BFrtICibAlfSzqDLqqvVVNlZtDJWsVL13pRXCYZdPglfz/PoKupimTQlVUGlkFHusaSbmUW4Qw6n8IZdL4rFJxB569Lf88y6MoqIxl0NVWBZdCRruOkW+mCyBl0NsFjWjLo5C0Scd7Wg8nXxDkTM+gWRHFnnqb/vR2nW0UeYq/RjZ9vdo2aqkKNY8PKoJvv5WPeQCJXKJAMOi/WSGyrW1YZyaCrqVKeQUd17iYdKRFFkc6gUxVF8Regi8Si5lBsys9TXPGR5usA4sng41qXYFIi0pj0DDoA4Aw6XSD2AANn0H3vQTiDjkEYhEEYhEEYhEEYhEEYhEGSJVqe4trT1WF0nWsWnWEskSSJzLxCKAUiY2CBSMvICqU0SLjuc+O7L6tF2+mvYp6XM2yMMeTqCpFXeoMyICU7xOaD24yWQztEd3vY0+fSs/NE/oTpouDaW5P7bIXuC+eNhh1/FW3fHHVtZG5J7y+4zjfUusLmDB8nSqb/QqQPyA3+aRftZ04YDf9eK7ra3J9wUTjpDlF4w129Gtb0+UdG0/4t7n08Z7Ao+dFckV2U2PNHEpq1YAAb9VtWR4WIXKI0uWMkWBfWiXUHAmJ0dxmntq3BmUnHbCewbtShHaTxv38XHd99E/e8rvPfSR1zCtaNOrSOkQvN9caJf64MZIEb/dOFYkDBCD0P5Go59J/AVmqvuqQXxO6ONiNcty/ueYPHlYmM3CGu/zt7fM/FlT7+4rpPFE2920jPkntMmjTI2WOfCaMnfhJC8bTZsRQbTfs2y00qoAt14oKptGvJDHDV4kWn/DNDw82Bg3jRKQ3Sda5F6jxwGA1ogNHTecG3Eyer09MY6Wo7K3Xe1x9FUtsLr78Tyo/9gUjq9GSRjJxBgXctLzrlQQbmBw/iQaf8ozZhdxe0eNEp/1zdIcMDB/GiUxpk0JU3gReeERgE6kKdymctdBXySq830M2IJSPvetTcJMFur8//cJUeNHaKufewZrdoArqErHviOfiQP+GHIh5IzrAxUZWnZQ4IQbH6vhFPl7b9CLrVeEV1C+rw4sIntLEq/sHPtA58rBt1BBJ8wH31iQ3LXbe7sdx4+06x9WhN36uakSVGz3wcg3nBPcU1XhTF+yruL4qiLa7lRZIa17JLv4809t2eSsd+RUrGfp2SjGg8pzkxCIMwCIMwCINcTiD/F2AALYldKjo8ZiIAAAAASUVORK5CYII=');
        background-position-x: 50%;
        background-position-y: 0;
        background-repeat: no-repeat;
        color: white;
        cursor: pointer;
        height: 50px;
        min-width: 40px;
        text-align: center;
        width: 100%;

        &:hover {
            background-color: rgba(0, 0, 0, .025);
            background-position-y: 12.5%;
        }
    }

    input {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;

        &:checked ~ div {
            background-position-y: 25%;
        }
    }
}

.choice-matrix__choice--ban {

    div {
        background-position-y: 37.5%;
    }

    div:hover {
        background-position-y: 50%;
    }

    input:checked ~ div {
        background-position-y: 62.5%;
    }
}

.choice-matrix__choice--info {

    div {
        background-position-y: 75%;
    }

    div:hover {
        background-position-y: 87.5%;
    }

    input:checked ~ div {
        background-position-y: 100%;
    }
}
