.label,
%label {
    @include inline-block;
    @include content-box;
    @include label-variant(color(base), color(base, alt), false);
    border-radius: $border-radius;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    padding: .25em .6em;
    text-align: center;
    text-transform: lowercase;
    vertical-align: baseline;
    white-space: nowrap;

    // Add hover effects, but only for links
    &[href] {
        &:hover,
        &:focus {
            text-decoration: none;
            cursor: pointer;
            background-color: color(gray, lighter);
        }
    }

    // Removable labels
    .btn.remove-button,
    .btn.remove-button [class^="icon-"],
    .btn.remove-button [class*=" icon-"] {
        &,
        &:hover {
            box-shadow: none;
            color: inherit;
            font-size: 1em;
            line-height: inherit;
            margin-left: 2px;
            text-decoration: none;
            top: 0;
        }
    }

    // Override default button styling
    .btn.remove-button:active {
        background-color: inherit !important;
    }
}

// Newer removable label styles
.label--removable {
    padding: 0;

    .label__text {
        padding: .25em .6em;
        display: inline-block;
    }

    .btn.remove-button {
        padding: .25em .45em;
        background-color: rgba(0, 0, 0, .15);
        border-radius: 0 $border-radius $border-radius 0;
        margin-left: 0 !important;

        [class^="icon-"] {
            margin-left: 0 !important;
        }

        &:focus {
            @include pulsar-label-remove-button-focused;
        }

        &:focus:active {
            @include pulsar-label-remove-button-focused;
        }

        &:active {
            background-color: rgba(0, 0, 0, .2) !important;
        }
    }
}

// Colors
// Contextual variations (linked labels get darker on :hover)
@each $state, $state-color, $state-color-alt in $state-colors {

    // Ignore the base state
    @if $state != 'base' {
        .label--#{'' + $state} {
            @include label-variant($state-color, $state-color-alt, true);
        }
    }
}

.label--large {
    line-height: 2;

    .remove-button {
        line-height: inherit;
    }
}

// Linked labels
a:focus .label {
    @include pulsar-link-label-focused;
}

