.form {
    margin: 1em 20px;
}

.form__group{
    margin-bottom: .5em;
}

.form__actions {
    margin-left: -20px;
    position: relative;
}

.form__control {
    border-radius: $input-border-radius;
    height: $input-height-base;

    &:not([type="file"]) {
        border: 1px solid $input-border;
        padding: 0 $padding-base-horizontal;
    }

    &.textarea {
        height: auto;
        min-height: 68px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
}

.control__label {
    padding-top: 11px;
}

.form__group--top .control__label {
    margin-bottom: .5em;
}

.legend {
    font-size: $font-size-large;
    margin-bottom: .5em;
}

.form__actions {
    background-color: $gray-lighter;
    box-shadow: inset 0 -4px 0 $gray;
    min-height: 60px;
    padding: $line-height-base $gutter-width;

    @include respond-min($screen-desktop) {
        &:not(.form__actions--flush) {
            padding-left: 25%;

            // > :first-child {
            //   margin-left: $gutter-width * 2; // align left edge with controls above
            // }
        }
    }
}


.form__group {
    outline: 1px solid red;
}

.controls {
    outline: 1px solid blue;
}
