$nav-color-light: color(jadu-blue, dark) !default;
$nav-color-dark:  darken(color(jadu-blue, dark), 5%) !default;
$nav-color-muted: lighten($nav-color-dark, 40);
$nav-border-radius: 8px;

.nav-main {
    // -webkit-backface-visibility: hidden;
    // -webkit-transform: translate3d(-100%, 0, 0);
    backface-visibility: hidden;
    display: table-cell;
    height: 100%;
    left: -75px;
    position: absolute;
    top: 0;
    // transform: translate3d(-100%, 0, 0);
    vertical-align: top;
    width: $nav-primary-width;
    z-index: $zindex-nav;

    @include respond-min($screen-desktop) {
        left: auto;
        position: static;
        // -webkit-transform: none;
        // transform: none;
        // -webkit-backface-visibility: visible;
        // backface-visibility: visible;
        width: $nav-primary-width - 1;
    }

    &.is-open {
        width: 100%;

        @include respond-min($screen-desktop) {
            width: $nav-primary-width - 1;
        }
    }

    .lt-ie10 & {
        left: -($nav-primary-width);
    }

    .muted {
        color: $nav-color-muted;
    }
}

.nav-primary,
.nav-secondary,
.nav-quickstart {
    display: inline-block;
    margin: 0;
    height: 100%;
    overflow: auto;
    padding: 0;
    position: relative;
    vertical-align: top;
}

.nav-inline {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    @include respond-min($screen-desktop) {
        width: auto;
    }

    @include ie-lte(9) {
        height: 49px;
    }

    &__list {
        border-bottom: 1px solid color(border);
        display: inline-block;
        list-style: none;
        margin-bottom: 0;
        min-width: 100%;
    }

    &__item {
        display: inline-block;
        font-size: 1.1em;
        line-height: 46px;
        margin-right: $padding-small-horizontal;
        padding: 0 $gutter-width;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__item.is-active {
        border-bottom: 2px solid $nav-color-light;
        margin-bottom: -1px;
    }

    &__item.is-active > &__link {
        color: color(black);
        font-family: $font-family-regular;
    }

    &__link {
        color: color(gray, light);
        text-decoration: none;

        &:hover,
        &:focus,
        &:link,
        &:visited {
            color: color(black);

            .caret {
                border-top-color: color(black);
            }
        }

        &.is-disabled {
            color: color(text, disabled);
        }

        .caret {
            border-top-color: color(gray, light);
        }
    }

    &::-webkit-scrollbar-track {
        background-color: #efefef;
        border-radius: 50px !important;
    }

    &::-webkit-scrollbar {
        height: 6px;
        background-color: #efefef;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 50px !important;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }

    .popover {
        font-size: 14px;
        padding: 5px 0;
        margin: 0;
        list-style: none;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        background-clip: padding-box;
        min-width: 160px;

        .arrow {
            display: none;
        }

        a {
            display: block;
            padding: 3px 15px 3px 10px;
            clear: both;
            font-weight: normal;
            line-height: 24px;
            color: #4d4d4d;
            white-space: nowrap;
            text-decoration: none;

            &:hover {
                background-color: #1f7bb8;
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .popover-content {
        padding: 0;

        ul {
            list-style: none;
        }
    }

}

.mobile-menu-button {
    border: 1px solid $nav-color-dark;
    border-radius: 4px;
    color: $nav-color-dark;
    display: inline-block;
    float: left;
    line-height: normal;
    margin-top: 5px;
    padding: 8px 14px 6px;
    text-decoration: none;

    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;

    @include respond-min($screen-desktop) {
        display: none;
    }

    &:hover,
    &.open {
        background: $nav-color-dark;
        color: color(white);
    }
}

.nav-items {
    margin: 0;
    padding: 0;
}

.nav-item {
    list-style-type: none;

    .remove-button {
        line-height: 36px;
        float: right;
    }
}

.nav-divider {
    border-color: darken($nav-color-dark, 6);
    margin: 5px 0;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-primary {
    background-color: $nav-color-light;
    box-shadow: inset 0 0 0 $nav-color-dark;
    position: fixed;
    text-align: center;
    transition: box-shadow 100ms linear;
    width: $nav-primary-width;
    z-index: $zindex-nav;

    .is-active {
        background-color: $nav-color-dark;
    }

    .nav-main:not(.is-open) & {
        box-shadow: inset -4px 0 0 $nav-color-dark;
    }

    .nav-link {
        color: lighten($nav-color-light, 40);
        display: block;
        height: 72px;
        font-family: $font-family-regular;
        font-size: .75em;
        line-height: 1em;
        max-width: $nav-primary-width;
        min-width: $nav-primary-width;
        padding: 16px 5px 0;
        position: relative;
        text-overflow: ellipsis;
        transition: background-color 50ms linear, color 50ms linear;
    }

    .nav-link:hover {
        background-color: darken($nav-color-dark, 2%);
        color: white;
    }

    .nav-link.is-active:hover {
        background-color: $nav-color-dark;
    }

    .nav-link__icon {
        color: white;
        display: block;
        font-size: 1.5em;
        margin-bottom: 7px;
        width: 100%;
    }

    .nav-items,
    .jadu-branding {
        // -webkit-transform-origin: 50% 0%;
        // -webkit-transform: translate3d(70%, 0, 0) scale3d(.9, .9, .9);
        // -webkit-transition-delay: ease, 0s;
        // -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
        // filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: .7;
        // transform-origin: 50% 0%;
        // transform: translate3d(70%, 0, 0) scale3d(.9, .9, .9);
        // transition: opacity 300ms 100ms ease, transform 500ms ease;

        @include respond-min($screen-desktop) {
            // filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
            opacity: 1;
            // -webkit-transform: none;
            // transform: none;
            // transition: all 0s ease 0s;
            // -webkit-transition: all 0s ease 0s;
        }

        .open-nav & {
            // -webkit-transform: translate3d(0, 0, 0);
            // filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
            opacity: 1;
            // transform: translate3d(0, 0, 0);
        }
    }
}

.nav-secondary,
.nav-quickstart {
    background-color: $nav-color-dark;
    box-shadow: inset -4px 0 0 darken($nav-color-dark, 4);
    left: $nav-primary-width;
    margin-left: -320px;
    overflow: hidden;
    position: absolute;
    top: 0;
    // transition: margin-left 100ms ease-in-out;
    // width: 100%;
    z-index: $zindex-nav-secondary;

    @include respond-min($screen-desktop) {
        position: fixed;
        width: 245px;
    }

    // cope with presence of scrollbars in IE
    @include ie-lte(10) {
        width: 280px;
    }

    .nav-container {
        display: none;
    }

    .nav-container.is-active {
        display: block;
        margin: 0 20px;
    }

    .nav-link {
        border-top-right-radius: $nav-border-radius;
        border-bottom-left-radius: $nav-border-radius;

        &:hover {
            background-color: darken($nav-color-dark, 4%);
            color: white;
        }

        &:active {
            background-color: $white;
            color: $nav-color-dark;
        }
    }
}

.nav-tertiary {
    left: 640px;
}

.nav-remove-search {
    color: white;
    display: inline-block;
    margin-top: 6px;
    opacity: 0;
    text-decoration: none;
    transition: opacity 50ms linear;
    vertical-align: top;

    &:hover {
        color: white;
    }
}

.nav-secondary.is-open,
.nav-quickstart.is-open {
    margin-left: 0;
}

.jadu-branding {
    display: block;
    margin: 10px 0 4px;
    text-decoration: none;

    &.is-active {
        background: none;
    }
}

.nav-search {
    display: none;

    @include respond-min($screen-tablet) {
        clear: right;
        display: block;
        margin-left: 20px;
        margin-top: 19px;
        position: relative;
    }
}

.nav-search__field {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    color: #555;
    padding: 8.5px;
    width: 192px;

    &::-webkit-input-placeholder {
        color: #555;
    }
}

.nav-search__submit {
    background: none;
    border: 0;
    color: #555;
    position: absolute;
    left: 180px;
    top: 3px;
}

.nav-close {
    color: white;
    display: block;
    padding: 0 20px 23px;
    text-decoration: none;
    margin-top: 24px;
    text-align: right;
    width: 100%;

    &:hover i::before {
        content: '\f0a8';
        color: white;
    }
}

.ui {
    display: table;
    height: 100%;
}

.main {
    display: table-cell;
}

.jadu-logomark {
    background: url($branding-navigation-fallback);
    background: url($branding-navigation), linear-gradient(transparent, transparent);
    background-size: $branding-navigation-width $branding-navigation-height;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
    height: $branding-navigation-height;
    width: $branding-navigation-width;

	// Support transparent PNG background images in IE8
    @include ie-lte(8) {
        filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr=#00FFFFFF, endColorstr=#00FFFFFF
        );
    }
}

.jadu-wordmark {
    display: none;
}

// IE8 fix for issue with open mobile nav being cut off
.lt-ie9 .open-nav > .container {
    display: table-cell;
    height: 100%;
}

// Quickstart menu
.quickstart-icon {
    background-color: color(white);
    border-radius: 20px;
    color: $nav-color-dark;
    font-size: 10px;
    height: 18px;
    line-height: 18px;
    margin-right: 1px;
    text-align: center;
    width: 18px;

    @include respond-min($screen-xsmall) {
        font-size: 14px;
        height: 36px;
        line-height: 36px;
        width: 36px;
    }

    // remove icons when editing on small screen devices
    .is-editing & {
        font-size: 10px;
        height: 18px;
        line-height: 18px;
        width: 18px;
        // display: none;

        @include respond-min($screen-xsmall) {
            display: inline-block;
            height: 36px;
            line-height: 36px;
            width: 36px;
        }
    }
}

.nav-quickstart {
    width: 245px;
    -webkit-font-smoothing: subpixel-antialiased;

    &.is-editing {
        position: absolute;
        width: 100%;
        left: 0; // switch left position to padding so that width 100% is correctly calculated
        padding-left: 75px;
        position: absolute;

        @include respond-min($screen-smaller) {
            position: relative;
            width: 495px;
        }

        > .nav-list {
            width: 50%;
        }
    }

    .nav-list {
        float: left;
        width: 245px;
        display: table-cell;
        margin: 0;
        padding: 0 $gutter-width;
        user-select: none;
        height: 100%;
    }

    .nav-items {
        list-style-type: none;
        margin: 0 -10px;
    }

    .nav-item {
        background-clip: content-box;
        -webkit-font-smoothing: subpixel-antialiased;
    }

    // Maintain a decent hit target size for touch
    .nav-link {
        // margin: 0 auto 2px;
        padding-bottom: 10px;
        padding-top: 10px;


    }

    .is-sortable {
        @extend .sortable--unstyled;
        min-height: 400px;

        .nav-link {
            border-radius: 0;
            cursor: move;
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
            transition-duration: .25s;
            transition-property: box-shadow, background-color;

            &:active {
                background-color: $nav-color-light;
                box-shadow: 0 0 10px rgba(0, 0, 0, .5);
                color: color(white);
                cursor: move;
                cursor: grabbing;
                cursor: -moz-grabbing;
                cursor: -webkit-grabbing;
            }
        }

        .ui-sortable-handle {
            background-color: rgba(255, 255, 255, .1);
            border-bottom: 2px dashed rgba(255, 255, 255, .1);

            &:hover {
                border-bottom: 2px solid transparent;
                transform: rotate(2deg);
            }

            &:last-child {
                border-bottom: 0;
            }
        }

        .ui-sortable-handle,
        .ui-sortable-helper {
            transition-duration: .25s;
            transition-property: transform;
        }


        > .is-sorting,
        > .is-dragging, {
            background-color: $nav-color-light;
            height: 48px;
        }

        > .is-sorting {
            border: 2px dashed $nav-color-muted;
            height: 50px; // 48px + 2px border, prevents elements 'jumping'
            margin-bottom: 0;
        }

        > .is-dragging {
            box-shadow: 0 0 10px rgba(0, 0, 0, .5);
            transform: rotate(5deg);

            .nav-link {
                cursor: move;
                cursor: grabbing;
                cursor: -moz-grabbing;
                cursor: -webkit-grabbing;
            }
        }
    }
}

.quickstart__additional {
    box-shadow: inset 1px 0 0 darken($nav-color-dark, 7), -1px 0 0 lighten($nav-color-dark, 7);

    &.nav-list {
        padding: 0 $gutter-width / 2;
    }

    .remove-button {
        display: none;
    }

    .nav-items {
        margin: 0;
    }
}

.quickstart__header {
    height: 70px;

    > .nav-close {
        float: right;
        height: 70px;
        line-height: 75px;
        margin-top: 0;
        width: auto;
    }
}

.nav-main .quickstart-save {
    position: absolute;
    top: 20px;
    right: 53px;

    &:hover {
        top: 21px;
    }
}
