.panel {
    background-color: color(gray, lightest);
    border-radius: $border-radius;
    margin: $line-height-base 0;
    position: relative;

    &__title {
        font-size: $font-size-xlarge;
        line-height: 32px;
        padding: 8px 5px 0 10px;

        i::before {
          width: 30px;
        }
    }

    &__body {
        max-height: 20em;
        padding: 10px $padding-base-horizontal;

        p,
        ul {
            margin-bottom: $margin-base-vertical;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    a {
        font-family: $font-family-regular;

        &,
        &:visited,
        &:hover,
        &:active,
        &:focus {
            color: inherit;
        }
    }

    .btn.panel__remove {
        position: absolute;
        top: 12px;
        right: 12px;

        &:active,
        &:hover {
            background-color: inherit;
            box-shadow: none;
            top: 12px;
        }

        &:active {
            opacity: .5;
        }
    }
}

@each $state, $state-color, $state-color-alt in $state-colors {
    .panel--#{$state} .remove-button > [class^="icon-"] {
        color: color(white);
    }
}

.panel__icon {
    float: left;
    font-size: 24px;
    margin: 10px 10px 0 12px;
}

@each $state, $state-color, $state-color-alt in $state-colors {
    // Exclude unneeded states
    @if $state != base and $state != new and $state != white {
        .panel--#{$state} {
            background-color: $state-color;
            color: $state-color-alt;

            a,
            a:link,
            a:hover,
            a:active,
            a:visited {
                color: $state-color-alt;
            }
        }
    }
}

.form-v2 > .panel:first-of-type {
    margin-top: 0;
}

.panel.centered .panel__body {
    margin-left: 0;
}

.panel--padded {
    padding-top: 24px;
    padding-bottom: 24px;
}

// Panels within form groups should respect their width
@each $variant, $width in $input-widths {
    .form__group .panel {
        width: map-get($input-widths, xlarge);
    }

    .form__group--#{$variant} .panel {
        width: #{$width};
    }
}

.panel__actions {
    margin-top: 10px;
    min-height: 33px;

    .btn {
        margin-right: 5px;
    }

    .view-history-link {
        float: right;

        @include respond-max($screen-phablet) {
            float: none;
        }

        @include respond-max($screen-phone) {
            float: none;
            margin-top: 10px;
        }
    }
}

.panel__actions--inline {
    display: inline-block;
    margin: 0 0 0 10px;
}

.panel__actions--center {
    position: relative;
    text-align: center;
}

.panel__actions--right {
    margin: 10px 0 0;
    text-align: right;
}

.panel--danger a.view-history-link {
    color: color(white) !important;
}

.panel.with-timeline .panel__actions {
    margin-bottom: 10px;
    margin-left: 70px;

    @include respond-max($screen-tablet) {
        margin-left: 0;
    }
}
