// Variables
$btn-padding-x: 10px;
$btn-padding-top: 10px;
$btn-padding-bottom: 9px;

$btn-small-padding-x:       $btn-padding-x / 2.5;
$btn-small-padding-top:     $btn-padding-top / 2.5;
$btn-small-padding-bottom:  $btn-padding-bottom / 2.5;

// Variant constructor
@mixin button-variant($state) {
    background-color: color($state);
    color: color($state, alt);

    &:hover {
        background-color: darken(color($state), 10);
        color: color($state, alt);
    }

    &:disabled,
    &.disabled,
    &.is-disabled {
        color: color($state, alt);
    }
}

// Button Constructor
.btn {
    @include button-variant('base');
    border: 0;
    border-radius: $border-radius;
    cursor: pointer;
    display: inline-block;
    font-family: $font-family-base;
    line-height: normal;
    padding: $btn-padding-top $btn-padding-x $btn-padding-bottom;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    .icon,
    [class*=icon-] {
        font-size: 14px;
    }

    &:focus,
    &:hover:focus {
        @include pulsar-button-focused;
    }

    &:disabled,
    &.disabled,
    &.is-disabled {
        opacity: .5;
        pointer-events: none;
    }
}

// State variations
@each $state, $state-color, $state-color-alt in $state-colors {
    .btn--#{'' + $state} {
        @include button-variant($state);
    }
}

// Outline button styles
.btn.btn--outline {
    background: none;
    border: 1px solid color(base);
    color: color(base, alt);

    // Double chain focus states to stop outline state variation overriding background colour
    &.btn--outline:focus,
    &.btn--outline:hover:focus {
        @include pulsar-button-focused;
        border: 0;
    }

    @each $state, $state-color, $state-color-alt in $state-colors {
        &.btn--#{'' + $state} {
            border-color: $state-color;
            color: color($state, dark);

            &:hover {
                background-color: $state-color;
                color: $state-color-alt;
            }
        }
    }
}

// Naked button styles
.btn--naked {
    background: none;
    border: 0;
    color: color(text);

    &:hover {
        background: none;
    }
}

// Small buttons
.btn--small {
    font-size: $font-size-medium;
    padding: $btn-small-padding-top $btn-small-padding-x $btn-small-padding-bottom;
}
