.tray__widgets .widget {
  background-color: color(gray, dark);
  cursor: pointer;
  cursor: hand;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.dashboard .widget {
  background-color: color(white);
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  display: block;
  float: left;
  height: 250px;
  margin: 0 1% 2%;
  position: relative;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition: transform .2s;
  -webkit-transition: -webkit-transform .2s;
  width: 23%;

  &:hover {
    .widget__controls {
      display: block;
    }
  }

  h3 {
    border-bottom: 1px solid color(gray);
    line-height: 40px;
    margin: 0;
    padding: 2px 10px 0;
  }
}

.span-2 {
  width: 50%;
}

.widget__controls {
  color: color(black);
  // display: none;
  float: right;
  line-height: 2.5em;
  padding: 0 10px;
  text-decoration: none;

  .dropdown__menu {
    left: auto;
    right: 0;
  }
}

.tray__detail .widget {
  background-color: darken(color(gray, dark), 1);
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 4px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2),
              1px 0 0 rgba(0, 0, 0, .2),
              0 -1px 0 rgba(0, 0, 0, .2),
              inset 1px 0 0 rgba(0, 0, 0, .2);
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  float: left;
  padding: 10px;

  [class^="icon-"],
  [class*=" icon-"] {
    padding-right: 4px;
  }

  &:hover {
    background-color: darken(color(gray, dark), 2);
  }
}

.widget__price {
  float: right;
  margin-top: $line-height-base / 2;
}

// .ui-sortable-helper {
//   box-shadow: 0 0 10px rgba(0, 0, 0, .5);
//   cursor: -webkit-grabbing;
//   cursor:    -moz-grabbing;
//   cursor:         grabbing;
//   transform: rotate(7deg) !important;
//   -ms-transform: rotate(7deg) !important;
//   -webkit-transform: rotate(7deg) !important;
// }

.ui-state-highlight {
  outline: 1px solid red;
}

.highchart {
  height: 209px;
  width: 100%;
}

.dashboard .ui-sortable-placeholder {
  background-color: #fafafa !important;
  box-shadow: none !important;
  border: 1px dashed #ccc !important;
  height: 250px !important;
  visibility: visible !important;
}

.ui-resizable-handle {
  z-index: 999;
}

.widget {
  .big-ass-number {
    margin: 1em 0 0 3%;

    dt,
    dd {
      float: left;
      margin: 0;
    }

    // scss-lint:disable SelectorFormat
    .widget_summary__label {
      clear: left;
      line-height: 1em;
      margin-right: 3%;
    }

    .widget_summary__figure {
      font-size: 2em;
      font-family: $font-family-regular;
    }
    // scss-lint:enable SelectorFormat
  }
}
