@media (max-width: 600px) {
	.masterswitch-control {
		> .control__label,
		> .controls {
			@include span($form-label-cols);
			display: table-cell;
		}
	}
}

.masterswitch-content {
	&.is-disabled {
		cursor: not-allowed;
		opacity: .25;

		.u-ui-disabled & {
			opacity: 1;
		}
	}
}
