.label {
  @include inline-block;
  @include content-box;
  border-radius: $border-radius;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  padding: .25em .6em;
  text-align: center;
  text-transform: lowercase;
  vertical-align: baseline;
  white-space: nowrap;
  @include label-variant($base-color, $base-color-alt);

  // Add hover effects, but only for links
  &[href] {
    &:hover,
    &:focus {
      text-decoration: none;
      cursor: pointer;
      background-color: darken($gray-light, 10%);
    }
  }

  // Addable/Removable labels
  [data-filter-action="add"],
  [data-filter-action="remove"] {
    border-left: 1px dotted;
    border-color: white;
    color: inherit;
    margin-left: 5px;
    text-decoration: none;

    i {
        margin-left: 7px;
    }

    &:hover {
      margin-top: 1px;
    }
  }
}

// Colors
// Contextual variations (linked labels get darker on :hover)
.label--primary {
  @include label-variant($primary-color, $primary-color-alt);
}

.label--success {
  @include label-variant($success-color, $success-color-alt);
}

.label--warning {
  @include label-variant($warning-color, $warning-color-alt);
}

.label--danger {
  @include label-variant($danger-color, $danger-color-alt);
  $badge-primary-bg: darken($badge-primary-bg, 10%);
}

.label--info {
  @include label-variant($info-color, $info-color-alt);
}

.label--inverse {
  @include label-variant($inverse-color, $inverse-color-alt);
  
  i {
    color: $white;
  }  
}

