// Constructor
.flash {
    padding: (($line-height-base / $line-height-small) / 2) $gutter-width;
    width: 100%;

    @include respond-min($screen-phone) {
        padding: ($line-height-base / 2) $gutter-width;
    }

    @include respond-min($screen-desktop) {
        top: auto;
        z-index: $zindex-flash;
    }

        &.is-sticky {
        display: none; // Flashes should be hidden on page load, then animated in so the user sees them.
    }

    i {
        margin: 0 ($gutter-width / 4) 0 0;

        @include respond-min($screen-phone) {
            margin-right: $gutter-width / 2;
        }
    }
}

// Make sure sticky flashes appear over the breadcrumb
.flash__wrapper--sticky {
    position: absolute;
    width: 100%;
}

// Default
.flash,
.flash--default {
    background: color(inverse, flash);
    color: color(inverse, alt);
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);

    a {
        color: inherit;
        text-decoration: underline;
    }
}

// Variations
.flash--success {
    background: color(success, flash);
    background: rgba(color(success, flash), .8);
    color: color(success, alt);
}

.flash--warning {
    background: color(warning, flash);
    background: rgba(color(warning, flash), .8);
    color: color(warning, alt);
    text-shadow: none;
}

.flash--error {
    background: color(danger, flash);
    background: rgba(color(danger, flash), .8);
    color: color(danger, alt);
}

.flash--info {
    background: color(info);
    color: color(info, alt);
    text-shadow: none;
}

// Close buttons
.flash {
    .close {
        color: inherit;
        float: right;
        font-size: 1em;
        margin-left: $gutter-width / 4;
        margin-right: -($gutter-width / 2);
        opacity: .9;
        text-decoration: none;

        @include respond-min($screen-phone) {
            margin-left: $gutter-width / 2;
            margin-right: -$gutter-width;
        }

        &:hover {
            opacity: 1;
        }
    }
}

.flash-container {
    clear: both;
    top: -5px;
    left: 0;
    margin-bottom: 0;
    position: relative;
    width: auto;
    z-index: $zindex-flash;
}
