.password__graybar {
  background-color: color(gray, lighter);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 3px;
  position: relative;
  width: 100%;
}

.password__colorbar {
  background-image: url($image-path + 'passwordstrength.jpg');
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
}

.password__percent {
  margin-right: 5px;
}

.password__percent,
.password__text {
  font-size: 1em;
}

.password__meter span.input-group-btn {
  vertical-align: top !important;
}

.password__meter input {
    &:focus {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    }
}

.password__wrapper.form__control {
    background-color: transparent !important;
    display: inherit;
    padding: 0 !important;
}

.password__criteria {
    ul {
        list-style: none;
    }

    li {
        &::before {
            content: '\f14a';
            color: blue;
            font-family: 'FontAwesome';
            margin: 0 5px 0 0;
        }
    }
}
