// Constructor
.flash {
    padding: (($line-height-base / $line-height-small) / 2) $gutter-width;
    width: 100%;

    @include respond-min($screen-phone) {
        padding: ($line-height-base / 2) $gutter-width;
    }

    @include respond-min($screen-desktop) {
        top: auto;
        z-index: $zindex-flash;
    }

        &.is-sticky {
        display: none; // Flashes should be hidden on page load, then animated in so the user sees them.
    }

    i {
        margin: 0 ($gutter-width / 4) 0 0;

        @include respond-min($screen-phone) {
            margin-right: $gutter-width / 2;
        }
    }
}

// Make sure sticky flashes appear over the breadcrumb
.flash__wrapper--sticky {
    position: absolute;
    width: 100%;
}

// Default
.flash,
.flash--default {
    background: color(inverse);
    color: color(inverse, alt);

    a {
        color: inherit;
        text-decoration: underline;
    }
}

// Variations
@each $state, $state-color, $state-color-alt in $state-colors {
    // Exclude unneeded states
    @if $state != base and $state != new and $state != white {
        .flash--#{$state} {
            background-color: $state-color;
            color: $state-color-alt;

            a,
            a:link,
            a:hover,
            a:active,
            a:visited {
                color: $state-color-alt;
            }
        }
    }
}

// For backwards compatibility with old flash error class name
.flash--error {
    @extend .flash--danger;
}

// Close buttons
.flash {
    .close {
        color: inherit;
        float: right;
        font-size: 1em;
        margin-left: $gutter-width / 4;
        margin-right: -($gutter-width / 2);
        opacity: .9;
        text-decoration: none;

        @include respond-min($screen-phone) {
            margin-left: $gutter-width / 2;
            margin-right: -$gutter-width;
        }

        &:hover {
            opacity: 1;
        }
    }
}

.flash-container {
    clear: both;
    top: -5px;
    left: 0;
    margin-bottom: 0;
    position: relative;
    width: auto;
    z-index: $zindex-flash;
}
