.toolbar {
    background-color: #efefef;
    display: block;
    float: left;
    min-height: 53px;
    margin-bottom: 23px;
    padding: 18px 20px;
    width: 100%;

    @include respond-min($screen-desktop) {
        background-color: $white;
        margin-bottom: 19px;
        padding: 18px 40px 0;
    }
}

.user-menu > .btn {
    height: 35px;
	padding-left: 0;
	padding-right: 0;
}

.user-menu .dropdown__menu {
    left: auto;
}

.nav-user {
  float: right;
}
