.edit-button {
  @extend .btn--naked;
  background-color: transparent;
  border: 0;
  padding: 0;
  vertical-align: top;
  white-space: nowrap;

  [class^="icon-"],
  [class*=" icon-"] {
    color: color(gray, light);
    font-size: 1.2em;
    vertical-align: middle;
  }

  &:hover {
    [class^="icon-"],
    [class*=" icon-"] {
      color: color(black);
    }
  }
}

a + .edit-button {
  margin-left: 10px;
}
