//
// Popovers
// --------------------------------------------------


.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zindex-popover;
  display: none;
  max-width: $popover-max-width;
  padding: 0;
  text-align: left; // Reset given new insertion method
  background-color: $popover-bg;
  -webkit-bg-clip: padding-box;
     -moz-bg-clip: padding;
  background-clip: padding-box;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .15);

  // Overrides for proper insertion
  white-space: normal;

  // Offset the popover to account for the popover arrow
  &.top { margin-top: -10px; }

  &.right { margin-left: 10px; }

  &.bottom { margin-top: 10px; }

  &.left { margin-left: -10px; }
}



.popover-title {
  margin: 0; // reset heading margin
  padding: 8px 14px;
  font-size: $font-size-base;
  font-family: $font-family-regular;

  font-weight: normal;
  letter-spacing: 0;
  line-height: 18px;
  background-color: $popover-title-bg;
  border-bottom: 1px solid darken($popover-title-bg, 5%);
}

.popover-content {
  padding: 9px 14px;

  p,
  ul,
  ol {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  fieldset {
    margin: .5em .75em;
  }
}

.popover-footer {
  background-color: $popover-title-bg;
  border-top: 1px solid darken($popover-title-bg, 5%);
  padding: 9px 14px;

  .btn {
    margin: 0;
  }
}

// Arrows
//
// .arrow is outer, .arrow:after is inner

.popover .arrow {
  &,
  &::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
}

.popover .arrow {
  border-width: $popover-arrow-outer-width;
}

.popover .arrow::after {
  border-width: $popover-arrow-width;
  content: '';
}

.popover {
  &.top .arrow {
    left: 50%;
    margin-left: -$popover-arrow-outer-width;
    border-bottom-width: 0;
    border-top-color: $popover-arrow-outer-fallback-color; // IE8 fallback
    border-top-color: $popover-arrow-outer-color;
    bottom: -$popover-arrow-outer-width;

    &::after {
      content: ' ';
      bottom: 1px;
      margin-left: -$popover-arrow-width;
      border-bottom-width: 0;
      border-top-color: $popover-arrow-color;
    }
  }

  &.right .arrow {
    top: 50%;
    left: -$popover-arrow-outer-width;
    margin-top: -$popover-arrow-outer-width;
    border-left-width: 0;
    border-right-color: $popover-arrow-outer-fallback-color; // IE8 fallback
    border-right-color: $popover-arrow-outer-color;

    &::after {
      content: ' ';
      left: 1px;
      bottom: -$popover-arrow-width;
      border-left-width: 0;
      border-right-color: $popover-arrow-color;
    }
  }

  &.bottom .arrow {
    left: 50%;
    margin-left: -$popover-arrow-outer-width;
    border-top-width: 0;
    border-bottom-color: $popover-arrow-outer-fallback-color; // IE8 fallback
    border-bottom-color: $popover-arrow-outer-color;
    top: -$popover-arrow-outer-width;

    &::after {
      content: ' ';
      top: 1px;
      margin-left: -$popover-arrow-width;
      border-top-width: 0;
      border-bottom-color: $popover-arrow-color;
    }
  }

  &.left .arrow {
    top: 50%;
    right: -$popover-arrow-outer-width;
    margin-top: -$popover-arrow-outer-width;
    border-right-width: 0;
    border-left-color: $popover-arrow-outer-fallback-color; // IE8 fallback
    border-left-color: $popover-arrow-outer-color;

    &::after {
      content: ' ';
      right: 1px;
      border-right-width: 0;
      border-left-color: $popover-arrow-color;
      bottom: -$popover-arrow-width;
    }
  }

}


.popover--scrolling {
  .popover-content {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    word-wrap: break-word;
  }
}

.popover {
  &--info {
    .popover-title {
      background-color: $state-info-bg;
      border-bottom-color: darken($state-info-bg, 5);
      color: $state-info-text;
    }

    &.bottom .arrow::after {
      border-bottom-color: $state-info-bg;
    }
  }

  &--warning {
    .popover-title {
      background-color: $state-warning-bg;
      border-bottom-color: darken($state-warning-bg, 10);
      color: $state-warning-text;
    }

    &.bottom .arrow::after {
      border-bottom-color: $state-warning-bg;
    }
  }

  &--success {
    .popover-title {
      background-color: $state-success-bg;
      border-bottom-color: darken($state-success-bg, 5);
      color: $state-success-text;
    }

    &.bottom .arrow::after {
      border-bottom-color: $state-success-bg;
    }
  }

  &--danger {
    .popover-title {
      background-color: $state-danger-bg;
      border-bottom-color: darken($state-danger-bg, 5);
      color: $state-danger-text;
    }

    &.bottom .arrow::after {
      border-bottom-color: $state-danger-bg;
    }
  }
}

[data-toggle="popover"],
[rel="clickover"] {
    cursor: pointer;
}
