.table {
    width: 100%;

    th,
    td {
        border-bottom: 1px solid color(border);
        padding: 11px 5px 12px;
        text-align: left;
    }

    a {
        border-bottom: 1px dotted color(text, link);
        text-decoration: none;
    }
}

.table--fixed {
    table-layout: fixed;
}
