@import 'component.buttons';

.remove-button {
    @extend .btn--naked;
    background-color: transparent;
    border: 0;
    vertical-align: top;
    white-space: nowrap;

    [class^="icon-"],
    [class*=" icon-"] {
        color: color(gray, light);
        font-size: 1.2em;
        vertical-align: middle;
    }

    &:hover {
        [class^="icon-"],
        [class*=" icon-"] {
            color: color(black);
        }
    }
}

.remove-button--inverse {
    [class^="icon-"] {
        color: color(white);
    }

    &:hover [class^="icon-"] {
        color: color(gray, off-white);
    }
}

a + .remove-button {
    margin-left: 10px;
}

*:not(.btn__group) > .remove-button {
    padding: 0;
}

.btn__group > .remove-button {
    padding: 0 ($padding-base-horizontal / 2);
}

.btn__group .btn + .remove-button {
    margin-left: 0;
}
