// State variations
@each $state, $state-color, $state-color-alt in $state-colors {
    .icon--#{$state}::before {
        color: $state-color;
    }
}

.icon--muted {
  color: color(gray);
}

.icon-grid::before {
  content: '\f039';
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

.icon-standout {
    background-color: color(base);
    border-radius: 1em;
    display: inline-block;
    line-height: 2em;
    margin-right: 10px;
    height: 2em;
    text-align: center;
    width: 2em;

    // State variations
    @each $state, $state-color, $state-color-alt in $state-colors {
        &--#{$state} {
            background: $state-color;

            .icon-standout__icon::before {
                color: $state-color-alt;
            }
        }
    }
}
