.status {
    display: inline-block;
    height: 12px;
    width: 12px;
    position: relative;
    top: 1px;
    vertical-align: baseline;
}

.status {
    &.is-active,
    &.is-online {
        background-color: color(success);
        border-radius: 6px;
    }

    &.is-offline {
        background-color: color(danger);
        border-radius: 2px;
    }

    &.is-inactive {
        background-color: color(white);
        border: 2px solid color(border);
        border-radius: 6px;
    }
}

.status--icon {
    &.is-active,
    &.is-online {
        color: color(success);
    }

    &.is-offline {
        color: color(danger);
    }
}
