.panel {
    background-color: color(gray, lightest);
    border-radius: $border-radius;
    margin: $line-height-base 0;
    position: relative;

    &__title {
        font-size: $font-size-xlarge;
        line-height: 32px;
        padding: 5px 5px 0 10px;

        i::before {
          width: 30px;
        }
    }

    &__body {
        max-height: 20em;
        overflow-y: auto;
        padding: 10px $padding-base-horizontal;

        p,
        ul {
            margin-bottom: $padding-base-vertical;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .btn--outline {
        box-shadow: inset 0 0 0 2px color(base, alt);
        vertical-align: baseline;
    }

    a {
        font-family: $font-family-regular;

        &,
        &:visited,
        &:hover,
        &:active,
        &:focus {
            color: inherit;
        }
    }

    .btn.panel__remove {
        position: absolute;
        top: 12px;
        right: 12px;

        &:active,
        &:hover {
            background-color: inherit;
            box-shadow: none;
            top: 12px;
        }

        &:active {
            opacity: .5;
        }
    }

}

@each $state, $state-color, $state-color-alt in $state-colors {
    .panel--#{$state} .remove-button > [class^="icon-"] {
        color: color(white);
    }
}

.panel__icon {
    float: left;
    font-size: 24px;
    margin: 10px 10px 0 12px;
}

@each $state, $state-color, $state-color-alt in $state-colors {
        .panel--#{$state} {
            background-color: $state-color;
            color: $state-color-alt;

            .btn--outline {
                box-shadow: inset 0 0 0 2px $state-color-alt;
            }

            a,
            a:link,
            a:hover,
            a:active,
            a:visited {
                color: $state-color-alt;
            }
        }
    }

.form-v2 > .panel:first-of-type {
    margin-top: 0;
}

.panel.centered .panel__body {
    margin-left: 0;
}

.panel--padded {
    padding-top: 24px;
    padding-bottom: 24px;
}
