.slotpicker-calendar {

    .pika-single {
        all: initial;
        border: 0;
        display: block;
        padding: 0;
        position: relative;
        width: 100%;
    }

    .pika-label,
    .pika-table th {
        font-weight: normal;
        font-family: $font-family-regular;
    }

    .pika-table tbody td:not(.is-empty) {
        border: 1px solid #ccc;
    }

    // .pika-table tbody td.is-selected {
    //     border: 1px solid color(primary);
    // }

    .pika-button,
    .pika-button:hover {
        all: initial;
        background-color: #fafafa;
        transition: background-color .1s ease-in-out;
        cursor: pointer;
        display: block;
        padding: 5px 0 30px;
        position: relative;
        text-align: left;
        text-indent: 5px;
        width: 100%;
    }

    .pika-button:hover {
        background-color: color(background, light) !important;
        color: color(text) !important;
    }

    .is-today .pika-button::after,
    .has-event .pika-button::after {
        background: color(grey, lighter);
        border-top-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        bottom: 3px;
        color: color(text);
        font-size: 12px;
        left: 3px;
        padding: 3px 0;
        position: absolute;
        text-align: center;
        text-indent: 0;
        right: 3px;
    }

    .is-today .pika-button {
        background-color: transparent;
        color: color(text);
        font-weight: normal;

        &::after {
            content: 'today';
        }
    }

    .is-selected.is-today .pika-button::after {
        background: color(primary, alt);
        color: color(primary);
    }

    .has-event .pika-button::after {
        background: color(success);
        color: color(success, alt);
        content: 'booked';
    }

    .is-today.has-event .pika-button::after {
        content: 'today, booked';
        font-size: 10px;
        padding: 0;
    }

    .is-selected .pika-button {
        background-color: color(primary);
        border-radius: 0;
        color: color(primary, alt);
        font-weight: normal;

        &:hover {
            background-color: color(primary, dark) !important;
            border-radius: 0 !important;
            color: color(primary, alt) !important;
        }
    }

    .is-selected.has-event .pika-button::after {
        background: color(primary, alt);
        color: color(success);
    }
}

.slotpicker-slots__heading {
    margin-bottom: 0;
    margin-top: 25px;
}

.slotpicker-slots__subheading {
    border-top: 1px solid color(border);
    color: color(text, light);
    display: block;
    height: 42px;
    margin-top: 12px;
    padding-top: 12px;
}

.slotpicker-slots__list {
    list-style-type: none;
    margin-bottom: 12px;
}

.slotpicker-slots__slot {
    height: 32px;
}
