@keyframes "spin" {
 from {
    -webkit-transform: rotate(0deg);
   	-moz-transform: rotate(0deg);
   	-o-transform: rotate(0deg);
   	-ms-transform: rotate(0deg);
   	transform: rotate(0deg);
 }

 to {
    -webkit-transform: rotate(360deg);
   	-moz-transform: rotate(360deg);
   	-o-transform: rotate(360deg);
   	-ms-transform: rotate(360deg);
   	transform: rotate(360deg);
 }
}

@-moz-keyframes spin {
 from {
   -moz-transform: rotate(0deg);
   transform: rotate(0deg);
 }

 to {
   -moz-transform: rotate(360deg);
   transform: rotate(360deg);
 }
}

@-webkit-keyframes "spin" {
 from {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
 }

 to {
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
 }
}

@-ms-keyframes "spin" {
 from {
   -ms-transform: rotate(0deg);
   transform: rotate(0deg);
 }

 to {
   -ms-transform: rotate(360deg);
   transform: rotate(360deg);
 }
}

@-o-keyframes "spin" {
 from {
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
 }

 to {
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
 }
}

.loading {
  height: 20px;
  position: relative;
  width: 20px;
}

.loading i {
  border: 1px solid color(primary);
  border-top-color: color(white);
  border-radius: 50%;
  -webkit-animation: spin 400ms infinite linear;
     -moz-animation: spin 400ms infinite linear;
      -ms-animation: spin 400ms infinite linear;
       -o-animation: spin 400ms infinite linear;
          animation: spin 400ms infinite linear;
  float: left;
  height: 20px;
  left: 0;
  position: absolute;
  text-indent: -9999px;
  top: 0;
  width: 20px;

  @include ie-lte(8) {
   border: 0;
   text-indent: 0;
  }
}


.form__group.is-loading {

  .controls {
    position: relative;
  }

  .loading {
    display: block;
    position: absolute;
    right: -10px;
    top: $line-height-base / 2;
  }
}
