.dropzone-window-active {
    background-color: red;
}

.dropzone-dropzone-active {
    background-color: blue;
}

/**
 * Dropzone
 */

.dropzone {
    border: 2px dotted red;
    padding: 1rem;
}

/**
 * Validation
 */

.dropzone__error {
    color: red;
    margin: 0;
}

/**
 * File
 */

.dropzone__file {
    border: 1px solid green;
    display: inline-block;
    font-size: .75rem;
    max-width: 7rem;
    padding: .5rem;
    text-align: center;
    vertical-align: top;

    &:hover {
        border-color: red;
        box-shadow: 0 0 0 2px red;
        cursor: pointer;
    }
}

$thumbnail-size: 3.5rem;

.dropzone__thumbnail {
    background-position: center;
    background-size: cover;
    font-size: $thumbnail-size;
    height: $thumbnail-size;
    margin: 0 auto .75rem;
    width: $thumbnail-size;
}

.dropzone__name {
    line-height: 1.1;
    margin: 0;
    word-wrap: break-word;
}

.dropzone__size {
    margin: 0;
}

.dropzone__type {
    margin: 0;
}
