

.table {
    border-top: 1px solid #ccc;
    width: 100%;

    &:hover > .table-link {
        color: $link-color;
        outline: 1px solid red;
    }
}

.table__row {
    & > .table__head,
    & > .table__cell {
        border-bottom: 1px solid #ccc;
        line-height: 20px;
        text-align: left;

        &:first-of-type {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &:hover > .table__cell {
        background-color: $table-bg-hover;
    }
}

.table__head,
.table__cell {
    height: $line-height-large;
    padding: 0 5px;
}

.table__head {
    font-weight: normal;
    font-family: $font-family-regular;

    &:hover {
        background-color: $blue-light;
        cursor: pointer;
    }
}

.table__head > .table-link {
    color: $black;
    text-decoration: none;

    &:hover {
        color: $link-color;
        text-decoration: underline;
    }
}

.table__head--shrink,
.table__cell--shrink {
    width: 1%;
}

.table-link {
    color: $black;
}


.dataTables_length {
    display: inline-block;
}

.dataTables_filter {
    display: inline-block;
}

.table__head {
    &.sorting:after,
    &.sorting_asc:after,
    &.sorting_desc:after {
        @include icon-FontAwesome();
        font-size: 18px;
        margin-left: 10px;
    }
}


.dataTables_info {
    float: left;
    margin-top: 12px;
}

.dataTables_filter {
    float: right;
    margin-top: 10px;

    [type="search"] {
        border: 1px solid #ccc;
        color: black;
        border-radius: 4px;
        margin-left: 10px;
        padding: 5px;
    }
}

.dataTables_top {
    color: #ccc;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.dataTables_bottom {
    display: block;
    margin-top: 10px;
    width: 100%;
}

.dataTables_length {
    float: right;
}

.dataTables_paginate > span {
    padding-left: 10px;
    padding-right: 10px;
}

.paginate_button {
    padding: 5px;
}

.table__head.sorting_asc:after {
    content: $circle-arrow-up;
}

.table__head.sorting_desc:after {
    content: $circle-arrow-down;
}

.table__head.sorting_asc,
.table__head.sorting_desc {
    background-color: darken(#fff, 10);
}

.table__cell.sorting_1 {
    background-color: darken(#fff, 3);
}
