.colorpicker .input-group:not(.has-btn-prepended):not(.has-btn-appended) .form__control:not(:first-child):not(:last-child) {
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
    width: 110px;
}

.colorpicker .form__control {
    font-family: $font-family-monospace;
}

// Be specific to our use-case in order to override styles
.btn.sp-replacer {
    background: color(background);
    border: 0;
    color: color(text);
    height: 46px;
    margin-left: 6px;
    // padding: 8px 14px 6px;
    position: relative;
    vertical-align: top;
    width: 48px;

    &:hover:not(:disabled),
    &:active {
        vertical-align: top;
    }

    .sp-preview {
        border: 0;
        border-radius: 4px;
        bottom: 1px;
        // height: 32px;
        left: 1px;
        height: auto;
        margin-right: 0;
        overflow: hidden;
        position: absolute;
        right: 1px;
        top: 1px;
        // width: 32px;
        width: auto;
    }
}

.sp-dd {
    background-color: inherit;
    border-top-left-radius: 4px;
    bottom: 1px;
    float: none;
    font-size: inherit;
    height: 10px;
    line-height: inherit;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 1px;
    text-indent: 100%;
    white-space: nowrap;
    width: 16px;

    &::after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid;
        border-top-color: inherit;
        bottom: 2px;
        content: '';
        display: inline-block;
        height: 0;
        left: 4px;
        position: absolute;
        vertical-align: baseline;
        width: 0;
        zoom: 1;
    }
}

.sp-container,
.sp-container button,
.sp-container input,
.sp-color,
.sp-hue,
.sp-clear {
    font: inherit;
}

.sp-container {
    font-size: 14px;
    padding: 5px 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid color(border);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
}

.sp-picker-container {
    width: 300px;
}

.sp-palette-button-container,
.sp-button-container {
    float: left;

    * {
        float: right;
        text-transform: capitalize;
    }
}

.sp-cancel {
    font-size: 14px;
}

.sp-container button,
.sp-cancel {
    &,
    &:hover {
        -webkit-appearance: none;
        background: transparent;
        border: 0;
        border-radius: 4px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: inherit;
        cursor: pointer;
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        font-size: 14px;
        font-weight: normal;
        line-height: normal;
        margin: 0;
        padding: 8px 14px 6px;
        position: relative;
        text-align: center;
        text-decoration: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        // vertical-align: bottom;
        white-space: nowrap;

        border-bottom-style: solid;

        background-color: color(background);
        box-shadow: 0 2px 0 #c5c5c5;
        color: color(text);
        position: relative;
    }

    &:hover {
        box-shadow: 0 1px 0 #c5c5c5;
        color: color(text);
        top: 1px;
    }
}

.sp-container button {
    box-shadow: 0 2px 0 #1c5986;

    &,
    &:hover {
        background-color: #2575b0;
        color: #fff;
        text-shadow: none;
    }

    &:hover {
        box-shadow: 0 1px 0 #1c5986;
    }
}

.sp-cancel {
    &,
    &:hover {
        background: none;
        border: 0;
        box-shadow: none;
        color: #3e3e3e !important;
        vertical-align: top;
    }
}

.sp-replacer.sp-disabled {
    color: color(text);
    cursor: not-allowed;

    .sp-preview-inner {
        display: none;
    }
}
