.masterswitch-control {
	> .control__label,
	> .controls {
		display: table-cell;

		@include respond-min($screen-tablet) {
			@include col-span-width($form-label-cols);
			display: inline-block;
		}
	}
}


.masterswitch-content {
	&.is-disabled {
		cursor: not-allowed;
		opacity: .25;

		.u-ui-disabled & {
			opacity: 1;
		}
	}
}
