.signin .form {
    fieldset {
        padding: 0;
    }

    p {
        margin-bottom: calc($line-height-base / 2);
    }

    .legend {
        border-bottom: 1px solid var(--color-border);
        line-height: $line-height-base;
        margin-bottom: 5px;
    }

    .form__group {
        margin-bottom: 0;
    }

    .form__group--top .control__label {
        margin-bottom: 0;
    }

    .form__actions {
        border-top: 0;
        padding-bottom: 0;
    }
}
