
.datatable {
    border-top: 1px solid color(border);
    clear: both;
    width: 100%;

    &:hover > .table-link {
        color: color(link);
    }

    .btn {
        &,
        &:hover:not(:disabled) {
            margin: 8px 0 9px;
            vertical-align: top;
        }
    }
}

.datatable--fixed {
    table-layout: fixed;

    td {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.table__tr {
    vertical-align: top;

    &.selected .table__td {
        background-color: color(jadu-blue, pale);
    }

    &.is-disabled .table__td {
        &,
        & > * {
            color: color(text, disabled);
        }
    }
}

.table__tr--no-results td {
    padding: 1em 0;
    text-align: center;
}

.table-row-select {
    color: #666;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    top: 1px
}

.table__tr.selected .table-row-select:before {
    content: "\f14a";
}

.table__th,
.table__td {
    border-bottom: 1px solid color(border);
    height: $line-height-large;
    padding: 11.5px 10px 12px 10px;
    text-align: left;
    white-space: nowrap;

    &:hover > .table__td {
        background-color: $table-bg-hover;
    }

    &.centered {
        text-align: center;
    }
}



.table__th {
    background-color: #fff;
    font-weight: normal;
    font-family: $font-family-regular;

    &:hover:not(.table-selection):not(.sorting_disabled) {
        background-color: #efefef;
        cursor: pointer;
    }
}

.table__th > .table-link {
    color: color(black);
    text-decoration: none;

    &:hover {
        color: color(link);
        text-decoration: underline;
    }
}

.table__th.sorting_disabled:hover {
    border: 0;
    text-decoration: none;

    > .table-link {
        border: 0;
        cursor: default;
        text-decoration: none;
    }
}

.table__th--shrink,
.table__td--shrink {
    width: 1%;
}

.table-selection {
    text-align: center;
    min-width: 60px;
    max-width: 60px;
    position: relative;
    width: 60px;
    z-index: -1;
}

.table-link {
    border-bottom: 1px dotted color(gray, light);
    color: color(link);
    text-decoration: none;

    &:hover {
        border-bottom: 1px dotted color(black);
        color: color(black);
        text-decoration: none;
    }

    .sorting_disabled & {
        border: none;

        &:hover {
            border: 0;
            color: $black;
            cursor: default;
            text-decoration: none;
        }
    }
}

.table-action {
    border-right: 1px solid color(border);
    padding: 0 5px;

    &:last-child {
        border-right: 0;
    }
}




.table__th {
    &.sorting:after,
    &.sorting_asc:after,
    &.sorting_desc:after {
        @include icon-FontAwesome();
        font-size: 18px;
        left: 0;
        margin-left: 10px;
    }
}

.dataTables_wrapper {
    position: relative;
}

.dataTables_length {
    display: inline-block;
}

.dataTables_filter {
    display: inline-block;
}

.dataTables_info {
    display: none;
    float: left;
    margin-top: 11px;

    @include respond-min($screen-tablet) {
        display: block;
    }
}

.dataTables_filter {
    float: right;
    margin-top: 9px;

    [type="search"] {
        border: 1px solid color(border);
        color: black;
        border-radius: 4px;
        margin-left: 10px;
        padding: 5px;
    }
}

.dataTables_top {
    color: #ccc;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.dataTables_actions {
    position: absolute;
    font-size: 14px;
    left: 24px;
    top: 62px;
    z-index: 1;

    a {
        color: #666;
        cursor: pointer;
    }
}

.dataTables_bottom {
    display: block;
    margin-top: 10px;
    width: 100%;
}

.dataTables_length {
    float: right;
}

.dataTables_paginate > span {
    padding-left: 10px;
    padding-right: 10px;
}

.paginate_button {
    padding: 5px;
}

.table__th.sorting_asc:after {
    content: $circle-arrow-up;
}

.table__th.sorting_desc:after {
    content: $circle-arrow-down;
}

.table__th.sorting_asc,
.table__th.sorting_desc {
    background-color: darken(#fff, 10);
}

.table__td.sorting_1 {
    background-color: darken(#fff, 3);
}

.datatable .child {
    background-color: #efefef;
    border-bottom: 1px solid color(border);
    padding: 11.5px 0 12px 0;
}

// .dtr-inline.collapsed .parent .table__td:first-child:before {
//     content: $minus-sign;
//     color: $jadu-red;
// }


.table-child-toggle {
    color: color(jadu-blue);
    display: none;
    font-size: 14px;
    position: absolute;
    left: 5px;
    top: 17px;

    .collapsed & {
        display: inline-block;
    }

    .parent &:before {
        color: color(jadu-red);
        content: $minus-sign;
    }
}








.datatable .child ul {
    margin: 0 0 0 65px;
}

.datatable .child ul li {
    display: table-row;
}

.dtr-title {
    display: table-cell;
    padding: 0 5px 0 0;
}

.dtr-data {
    display: table-cell;
    padding: 0 5px;
}




.dataTables_empty {
    color: color(danger);
    height: 73px;
    padding-left: 10px;
    vertical-align: middle;

    &:before {
        content: $frown;
        color: color(danger);
        font-family: fontawesome;
        font-size: 48px;
        margin-right: 20px;
        vertical-align: middle;
    }
}

.dataTables_bottom {
    margin-bottom: 24px;
}


.DTTT_collection {
    opacity: 1;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .5);

    > .DTTT_button {
        display: block;
        padding: 5px 10px;
        width: 100%;
    }
}

