.filter-bar {
    background-color: lighten(color(gray, off-white), 1%);
    margin: 0 (-$gutter-width);
    padding: $padding-base ($padding-base * 2) 0;
    position: relative;

    .no-js & {
        display: block !important;
    }

    .form {
        background: none;

        fieldset {
            padding: 0;
        }
    }

    .label {
        box-sizing: border-box;
        display: block;
        margin-bottom: $gutter-width / 2;
        overflow-wrap: break-word;
        white-space: normal;
        width: 100%;
        word-break: break-all;

        @include respond-min($screen-tablet) {
            box-sizing: content-box;
            display: inline-block;
            margin-right: 5px;
            width: auto;
        }

        .remove-button {
            float: right;

            @include respond-min($screen-tablet) {
                float: none;
            }
        }
    }

    .popover-content .form__group,
    .popover-content .control__label {
        margin: 0;
        padding: 0;
    }

    .popover-content .form__actions {
        border: 0;
        min-height: auto;
        padding: 12px 0 6px;
    }

    .popover-content .controls {
        width: 100%;
    }

    .popover-content .select2.select2-container.select2-container--default {
        width: 100% !important;
    }

    .legend {
        border: 0;
        display: block;
        font-size: 16px;
        padding-right: $padding-base;

        @include respond-min($screen-tablet) {
            border: 0;
            display: table-cell;
            float: left;
            font-size: 16px;
            height: 100%;
            line-height: 35px;
            margin-bottom: 0;
            padding: 0;
            vertical-align: top;
            width: 95px;
        }
    }

    fieldset {
        @include respond-min($screen-tablet) {
            display: table-row;
        }

        > .form__actions {
            border: 0;
            margin-bottom: $gutter-width / 2;
            margin-top: 40px;
            min-height: 0;
            padding: 0;

            @include respond-min($screen-tablet) {
                margin-top: 0;
                position: absolute;
                right: 10px;
                top: 10px;
            }

            .btn {
                display: block;
                margin-top: $gutter-width / 2;
                width: 100%;

                @include respond-min($screen-tablet) {
                    display: inline-block;
                    margin-top: 0;
                    width: auto;
                }
            }
        }
    }
}

.filter-bar__labels {
    @include respond-min($screen-tablet) {
        display: table-cell;
        padding-right: 9em;
        vertical-align: top;
    }
}

.filter-bar__list {
    line-height: 2em;
    list-style: none;

    .form__control {
        height: 32px;
        line-height: 32px;
        margin-bottom: $line-height-base;
    }
}

.filter-bar__list-item {
    text-decoration: none;
}

.btn.filter-bar__add {
    display: block;
    margin-bottom: $gutter-width;
    padding: 7px 14px 6px;
    width: 100%;

    @include respond-min($screen-tablet) {
        display: inline-block;
        margin-bottom: $gutter-width / 2;
        vertical-align: top;
        width: auto;
    }

    &:hover,
    &:active,
    &:focus {
        @include button-states('primary');

        i {
            color: color(white);
        }
    }
}
