.footer {
    background-color: color(white);
    border-top: 1px solid color(gray, lightest);
    color: #999;
    font-size: $font-size-small;
    padding: 0 $gutter-width;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $zindex-footer;

    @include respond-min($screen-desktop) {
        left: 75px;
    }

    a {
        color: $gray-light;
        line-height: $line-height-base * 1.5;
        padding: 0;
        text-decoration: none;

        &:hover {
            color: color(link);
        }
    }
}

.branding-footer {
    margin-left: 15px;
}
