.breadcrumb {
    color: color(gray, dark); // must be AA 4.5:1
    margin: 0 0 ($line-height-base / 2);
    width: 100%;

    a,
    a:link,
    a:visited {
        color: color(gray, dark); // must be AA 4.5:1
    }

    a:active,
    a:hover {
        color: color(link); // must be AA 4.5:1
    }

    a:focus {
        outline: 3px solid color(border, focus);
        color: color(link, focus);
    }
}
