/**
 * Block Lists
 *
 * A simple way to present lists of information which can be marked up using
 * <div> <ul> or <ol>.
 *
 * Example:
 *
 * <ul class="block-list">
 *   <li class="block-list__item">One</li>
 *   <li class="block-list__item">Two</li>
 *   <li class="block-list__item">Three</li>
 * </ul>
 *
 * <div class="block-list">
 *   <a class="block-list__item" href="#">One</a>
 *   <a class="block-list__item" href="#">Two</a>
 *   <a class="block-list__item" href="#">Three</a>
 * </div>
 *
 * List items can be a singular block-level element, or a collection of elements
 * in a wrapper.
 *
 * Example:
 *
 * <div class="block-list">
 *   <a class="block-list__item" href="#">Link</a>
 * </div>
 *
 * or
 *
 * <div class="block-list">
 *   <div class="block-list__item">
 *     {{ html.icon('file') }}
 *     Filename
 *   </div>
 * </div>
 *
 * 1. Reset left margins in case we're using <ul> or <ol>
 */

/* -------------------------------------------------------------------------- *\
    Configuration
\* -------------------------------------------------------------------------- */

$padding: ($line-height-base / 2);
$width: 500px;

/* -------------------------------------------------------------------------- *\
    Default Presentation
\* -------------------------------------------------------------------------- */

.block-list {
    margin-left: 0; /* [1] */
    margin-bottom: 1em;
    max-width: $width;

    .preview {
        max-height: 75px;
        max-width: 75px;
        vertical-align: bottom;
    }
}

.block-list__header {
    font-size: $font-size-large;
    border-bottom: 1px solid color(border);
}

.block-list__footer {
    border-top: 1px solid color(border);
}

.block-list__item,
.block-list__header,
.block-list__footer {
    display: block;
    overflow-wrap: break-word;
    padding: $padding $padding;
    word-wrap: break-word;

    label {
        margin: 0;
        text-align: left;
        width: 100%;
    }

    .remove-button,
    .badge {
        float: right;
    }

    .preview {
        margin-right: $padding;
        vertical-align: top;
    }

    .progress {
        @extend .progress-bar--compact;
        margin: .5em 0 0 0;
    }
}

a.block-list__item:hover {
    background-color: lighten(#e5ecf2, 4%);

    .uploader__label {
        color: color(link);
        cursor: pointer;
    }
}

/* -------------------------------------------------------------------------- *\
    Variations
\* -------------------------------------------------------------------------- */

.block-list--full {
    max-width: 100%;
}

.block-list--underlined {
    .block-list__header,
    .block-list__item {
        border-bottom: 1px solid color(border);
    }

    .block-list__footer {
        border-top: 0;
    }

    .block-list__item.has-info {
        border-bottom-color: lighten(color(info), 5);
    }

    .block-list__item.has-success {
        border-bottom-color: lighten(color(success), 20);
    }

    .block-list__item.has-warning {
        border-bottom-color: darken(color(warning), 2);
    }

    .block-list__item.has-error {
        border-bottom-color: lighten(color(danger), 10);
    }
}

.block-list--bordered {
    border: 1px solid color(border);
    border-radius: $border-radius;

    .block-list__header,
    .block-list__footer {
        background-color: color(gray, off-white);
        border: 0;
    }

    .block-list__header,
    .block-list__item:not(:last-of-type) {
        border-bottom: 1px solid color(border);
    }
}

.block-list--horizontal {
    display: table;
    width: $width;

    &.block-list--full {
        min-width: 100%;
        width: 100%;
    }

    .block-list__item {
        display: table-cell;
    }

    &.block-list--bordered .block-list__item {
        &, &:last-of-type {
            border-bottom: 0;
        }

        &:not(:last-of-type) {
            border-right: 1px solid color(border);
        }
    }
}

.block-list--contrast {
    .block-list__item {
        background-color: color(gray, lighter);

        &:first-of-type {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        &:last-of-type {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }

        &:hover {
            background-color: darken(color(gray, lighter), 5);
        }
    }

    &.block-list--horizontal .block-list__item:not(:last-of-type) {
        border-right: 2px solid color(white);
    }
}

.block-list--tall .block-list__item {
    padding: $padding * 2;
}
