@media (max-width: 600px) {
	.masterswitch-control {
		> .control__label,
		> .controls {
			display: table-cell;
			min-width: $label-column-width;
			width: $label-column-width;
		}
	}
}

.masterswitch-content {
	&.is-disabled {
		cursor: not-allowed;
		opacity: .25;
	}
}
