.table-detail {
    -webkit-transform: translateX(100%);
    background: color(white);
    border-left: 1px solid $modal-header-border-color;
    bottom: 0;
    display: none;
    height: 100%;
    overflow-x: none;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform .2s ease-out;
    visibility: visible;
    width: 300px;
    will-change: transform;
    z-index: $zindex-modal;

    // Safari transition bug fix, if "display: table-cell" on mobile, content shifts left after panel opens.
    @include respond-min($screen-desktop) {
        display: table-cell;
    }

    @include prefers-reduced-motion() {
        transition: none;
    }
}

.table-detail.table-detail--open {
    box-shadow: 0 0 0 $shadow-large color(background, shadow);
    -webkit-transform: none;
    display: table-cell;
    transform: none;
    transition: transform .2s;

    @include respond-min($screen-xsmall) {
        width: 400px;
    }

    @include respond-min($screen-smaller) {
        width: 500px;
    }

    @include respond-min($screen-tablet) {
        width: 600px;
    }

    @include prefers-reduced-motion() {
        transition: none;
    }
}

.table-detail__header {
    border-bottom: 1px solid $modal-header-border-color;
    padding: $modal-title-padding;
}

.table-detail__header-close.table-detail__header-close {
    margin: -15px -15px 0 0;
    padding: 15px 15px 14px;
}

.table-detail__title {
    line-height: $modal-title-line-height;
    font-size: $font-size-xlarge;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-detail__body {
    padding: $modal-title-padding;
}

.table-detail-backdrop {
    background-color: transparent;
    height: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: background-color .5s, width .1s .5s, height .1s .5s;
    width: 0;
    z-index: ($zindex-modal - 10);

    &.in {
        height: 100%;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        background-color: color(background, shadow);
        transition: background-color .5s;
        width: 100%;
    }
}
