// -----------------------------------------------------------------------------
//  Branding
// -----------------------------------------------------------------------------

$brand-image:                         $image-path + 'brand.png' !default;
$brand-height:                        24px !default;
$brand-width:                         $nav-primary-width !default;
$brand-background-size:               100% !default;

$branding-site:                       $image-path + 'branding/logo-cms-white.svg';
$branding-site-fallback:              $image-path + 'branding/logo-cms-white.png';
$branding-site-height:                65px;
$branding-site-width:                 65px;
$branding-site-radius:                0;

$branding-navigation:                 $image-path + 'branding/logo-cms-white.svg' !default;
$branding-navigation-focus:           $image-path + 'branding/logo-cms-black.svg' !default;
$branding-navigation-fallback:        $image-path + 'branding/logo-cms-white.png' !default;
$branding-navigation-height:          50px !default;
$branding-navigation-width:           50px !default;

$branding-footer:                     $image-path + 'branding/jadu-continuum-brandmark.svg' !default;
$branding-footer-fallback:            $image-path + 'branding/jadu-continuum-brandmark.png' !default;
$branding-footer-height:              16px !default;
$branding-footer-width:               127px !default;

$branding-brandmark:                  $image-path + 'branding/continuum-brandmark.svg' !default;
$branding-brandmark-fallback:         $image-path + 'branding/continuum-brandmark.png' !default;

$brading-generic-brandmark:           $image-path + 'branding/jadu-brandmark.svg' !default;
$brading-generic-brandmark-fallback:  $image-path + 'branding/jadu-brandmark.png' !default;
