@import '_function.merge-maps';

/* -------------------------------------------------------------------------- *\
    Base palettes

    Defines what value a specific named colour should be. Used in conjunction
    with _config.theme.scss to defined how specific Jadu control centre elements
    should be styled in regards to colour.
\* -------------------------------------------------------------------------- */

$palette-branding: (
    'jadu-blue-principle':  #3399cc,
    'jadu-blue-secondary':  #2080c0,
    'jadu-blue-cool':       #a0cdef,
    'jadu-blue-warm':       #a4c2cd,
    'jadu-blue-pale':       #e0f3f9,
    'jadu-blue':            #3399cc,
    'jadu-orange':          #fcb130,
    'jadu-green':           #89b029,
    'jadu-teal':            #06a79d,
    'jadu-red':             #d12918,
    'jadu-yellow':          #ffcc33,
    'jadu-black':           #1e1e1e,
    'jadu-copy-gray':       #989699
);

$palette-monochromes: (
    'black':                #1e1e1e,
    'gray-darker':          #404040,
    'gray-dark':            #4d4d4d,
    'gray':                 #cccccc,
    'gray-light':           #dfdfdf,
    'gray-lighter':         #f2f2f2,
    'off-white':            #fafafa,
    'white':                #ffffff
);

$palette-monochromes-highcontrast: (
    'black':                #1e1e1e,
    'gray-darker':          darken(map-get($palette-monochromes, 'gray-darker'), 5%),
    'gray-dark':            darken(map-get($palette-monochromes, 'gray-dark'), 5%),
    'gray':                 darken(map-get($palette-monochromes, 'gray'), 5%),
    'gray-light':           darken(map-get($palette-monochromes, 'gray-light'), 5%),
    'gray-lighter':         darken(map-get($palette-monochromes, 'gray-lighter'), 5%),
    'off-white':            darken(map-get($palette-monochromes, 'off-white'), 5%),
    'white':                #ffffff
);

/* -------------------------------------------------------------------------- *\
    States

    The colour and its alternate MUST meet WCAG 2.0 AA compliance for contrast
\* -------------------------------------------------------------------------- */

$palette-states: (
    'base-color':           map_get($palette-monochromes, 'gray'),
    'primary-color':        #1f7bb8,
    'success-color':        #297c46,
    'warning-color':        #eaa96a,
    'danger-color':         #c84d40,
    'info-color':           map_get($palette-branding, 'jadu-blue-cool'),
    'inverse-color':        map_get($palette-monochromes, 'gray-dark'),
    'base-color-alt':       map_get($palette-monochromes, 'black'),
    'primary-color-alt':    #ffffff,
    'success-color-alt':    #ffffff,
    'warning-color-alt':    #000000,
    'danger-color-alt':     #ffffff,
    'info-color-alt':       #000000,
    'inverse-color-alt':    #ffffff
);

/* -------------------------------------------------------------------------- *\
    Combined States

    Loop over this using:

    @each $state, $state-color, $state-color-alt in $state-colors { ... }
\* -------------------------------------------------------------------------- */

$state-colors:
    ('base', map_get($palette-states, 'base-color'), map_get($palette-states, 'base-color-alt')),
    ('primary', map_get($palette-states, 'primary-color'), map_get($palette-states, 'primary-color-alt')),
    ('success', map_get($palette-states, 'success-color'), map_get($palette-states, 'success-color-alt')),
    ('warning', map_get($palette-states, 'warning-color'), map_get($palette-states, 'warning-color-alt')),
    ('danger', map_get($palette-states, 'danger-color'), map_get($palette-states, 'danger-color-alt')),
    ('info', map_get($palette-states, 'info-color'), map_get($palette-states, 'info-color-alt')),
    ('inverse', map_get($palette-states, 'inverse-color'), map_get($palette-states, 'inverse-color-alt'));

/* -------------------------------------------------------------------------- *\
    Colour maps

    Use in conjunction with _mixin.colour.scss to reference colours in your
    stylesheets without needing to use map_get and reference a palette.

    Example:

    background-color: colour('gray-light');

    If 'projector mode is enabled, then the high contrast version of any
    colours will be used automatically.
\* -------------------------------------------------------------------------- */

$colors: merge-maps(
    $palette-branding,
    $palette-monochromes,
    $palette-states
);

$colors-highcontrast: merge-maps(
    $palette-branding,
    $palette-monochromes-highcontrast,
    $palette-states
);
