
.branding-footer {
    background: url($branding-footer-fallback);
    background: url($branding-footer), linear-gradient(transparent, transparent);
    background-size: $branding-footer-width 35px;
    background-repeat: no-repeat;
    height: 35px;
    display: inline-block;
    text-indent: -9999px;
    width: $branding-footer-width;

    // Support transparent PNG background images in IE8
    @include ie-lte(8) {
        filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr=#00FFFFFF, endColorstr=#00FFFFFF
        );
    }
}

.jadu-logomark {
    background: url($branding-navigation-fallback);
    background: url($branding-navigation), linear-gradient(transparent, transparent);
    background-size: $branding-navigation-width $branding-navigation-height;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
    height: $branding-navigation-height;
    width: $branding-navigation-width;

    // Support transparent PNG background images in IE8
    @include ie-lte(8) {
        filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr=#00FFFFFF, endColorstr=#00FFFFFF
        );
    }
}

.jadu-wordmark {
    display: none;
}
