/**
 * -----------------------------------------------------------------------------
 *  deck.less
 * -----------------------------------------------------------------------------
 */

.deck {
	display: none; /* Hide decks by default */
	position: absolute;
	left: 16%;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.deck.active {
	display: block;
	z-index: 1;
}

// Standard [X] control to close individual deck slides
.deck .close {
	position: absolute;
	right: $line-height-base / 2;
	top: $line-height-base / 2;
	z-index: 2;
}

.slide {
	display: none;
	padding-bottom: 60px;
	position: absolute;
	right: 0;
	
	// Control the horizontal position of successive deck slides ---------------

	$left-offset: 20px;
	$right-offset: 2px;
	
	// IE8 Currently has issues supporting nth-of-type and n
	
	& {
	// &:nth-of-type(1)  { 
		left: $left-offset * 1; 
		right: $right-offset * 1;
		z-index: 1;
	}

	& + & {
	// &:nth-of-type(2)  { 
		left: $left-offset * 2; 
		right: $right-offset * 2;
		z-index: 2;
	}

	& + & + & {
	// &:nth-of-type(3)  { 
		left: $left-offset * 3; 
		right: $right-offset * 3;
		z-index: 3;
	}

	& + & + & + & {
	// &:nth-of-type(4)  { 
		left: $left-offset * 4; 
		right: $right-offset * 4;
		z-index: 4;
	}

	& + & + & + & + & {
	// &:nth-of-type(5)  { 
		left: $left-offset * 5; 
		right: $right-offset * 5;
		z-index: 5;
	}

	& + & + & + & + & + & {
	// &:nth-of-type(6)  { 
		left: $left-offset * 6; 
		right: $right-offset * 6;
		z-index: 6;
	}

	& + & + & + & + & + & + & {
	// &:nth-of-type(7)  { 
		left: $left-offset * 7; 
		right: $right-offset * 7;
		z-index: 7;
	}

	& + & + & + & + & + & + & + & {
	// &:nth-of-type(8)  { 
		left: $left-offset * 8; 
		right: $right-offset * 8;
		z-index: 8;
	}

	& + & + & + & + & + & + & + & + & {
	// &:nth-of-type(9)  { 
		left: $left-offset * 9; 
		right: $right-offset * 9;
		z-index: 9;
	}

	& + & + & + & + & + & + & + & + & + & {
	// &:nth-of-type(n + 11) { 
		left: $left-offset * 10;
		 right: $right-offset * 10;
		 z-index: 10;
	}

	// -------------------------------------------------------------------------
}

.slide-inner {
	background-color: $white;
	box-shadow: -3px 0px 3px rgba(0, 0, 0, .1);
	
	& {
	// &:nth-of-type(1)  { 
		box-shadow: 0 5px 10px rgba(0,0,0,.7);
	}

	& + & + & + & + & + & + & + & + & + & + & + & {
	// &:nth-of-type(n + 12) { 
		box-shadow: none;
	}

	// .form-horizontal {
	// 	padding-top: 0;
	// }

	// // h1,
	// // legend {
	// // 	border-bottom: 1px solid $gray-lighter;
	// // 	background-color: $gray-lighter;
	// // 	display: block;
	// // 	font-size: 14px;
	// // 	font-weight: normal;
	// // 	margin-top: 0;
	// // 	margin-bottom: $line-height-base;
	// // 	padding-left: 10px;
	// // 	width: 100%;
	// // }

	// // Remove the gray background from embedded fieldset legends	
	// fieldset > fieldset legend {
	// 	background-color: transparent;
	// }

	// fieldset {
	// 	overflow-x: hidden;
	// }

	// legend {
	// 	margin-bottom: 0;
	// }

	// form {
	// 	background-color: $white;
	// 	margin: 0;
	// 	padding-top: 8px;
	// 	position: relative;
	// }

	// .form-actions {
	// 	background-color: $gray-lighter;
	// 	margin: 0;
	// 	position: relative;
	// }

	.pager {
		margin-top: 0;
		text-align: left;
	}

	// legend + iframe {
	// 	margin-top: 18px;
	// }

	// legend > .btn {
	// 	margin-top: 4px;
	// }

	.table-scrollable {
		margin: $line-height-base 0 $line-height-base $gutter-width;
		max-height: 500px;

		tr:first-of-type td {
			border-top: 0;
		}
	}

	table input[type="checkbox"],
	table input[type="radio"] {
		margin-top: -5px;
	}


	.nav-tabs {
		border-bottom: 1px solid $white;
	}
	
	.nav-tabs > li > a {
		border: 0;
		border-radius: 0;
	}

	.nav-tabs > .active > a {
		background-color: $gray-lighter;
		border: 0;
	}

	.nav-tabs > .active > a:hover {
		text-decoration: none;
	}

	.tab-content {
		border: 0;
	}

}

// Define the animated transition when the .deck-background class is added and removed
.nav-tabs,
.tab-pane,
.tab-content,
.btn-toolbar,
.slide {
	opacity: 1;
	-o-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}

// The styles applied to background elements to reduce their visual prominence 
.deck-background {
	opacity: 0.4;
}

// Inverse deck styles for a white-on-black look
.deck-inverse {
	color: $gray-lighter;

	.slide {
		border: 1px solid darken(#333, 5%);
		form,
		h1,
		legend {
			background-color: #333;
			border-bottom: 1px solid #222;
			color: $gray-lighter;
			text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
		}
	}

	.slide .form-actions {
		background-color: #111;
		border: 0;
		border-top: 1px solid #333;
	}

	.documentation {
		text-shadow: 0px -1px 0px rgba(0, 0, 0, .9);
	}

	// Add a noise texture, just to make things interesting.
	.slide form,
	h1,
	legend,
	.form-actions {
		// .noise();
	}

	// The inverse label style is the same as the colour we're using for inverse
	// deck styles, so we make this a touch darker to compensate.
	.label-inverse {
		background-color: #222;
	}

	a {
		color: $white;
	}
}















