.filter {
    display: none; // filters shouldn't be visible on load
    text-align: center;
    
    .form__group:hover {
        box-shadow: none;
    }
}

.popover__content > .filter {
    display: block; // show the filter content when it's inside a popover
}

[data-popover-content] + .popover {
    max-width: 500px;
}

tr.filters {
    th:nth-of-type(2) {
        padding: 0 10px 0 0;
    }

    .label {
        position: relative;
        top: -2px;
    }

    [data-filter-action="clear-all"] {
        float: right;
    }
}

[data-daterange]:hover {
    cursor: pointer;
}

[data-filter-action="remove"] {
    margin-left: 5px;
    border-left: 1px dotted #ccc;
    i {
        margin-left: 7px;
    }
}