.form--horizontal .form__group {
  > .control__label + .checkbox {
    display: inline-block;
    margin-left: 0;
    width: 65%;
  }
  > .checkbox--multi {
    padding-top: 9px;
    .checkbox__label {
      margin: 0;
      text-align: left;
      width: 100%;
      input {
        margin-left: 0;
      }
    }
  }
  .form__collection {
    ul {
      list-style: none;
      margin-bottom: 0;
    }
    li {
      margin-bottom: $padding-small-vertical;
      position: relative;
    }
    .form__control {
      padding-right: $padding-base-horizontal * 3;
    }
    .remove__control {
      color: $gray-light;
      margin-top: - $input-height-base / 4;
      position: absolute;
      right: $padding-base-horizontal;
      text-decoration: none;
      top: 50%;
      &:hover {
        color: $danger-color;
      }
    }
  }
}
.table--datagrid tr.row--no-results {
  background-color: $gray-lighter;
  td {
    height: ($line-height-base * 1.8) * 3;
    text-align: center;
  }
}

tr.filters {
  .label {
    text-transform: none;
    user-select: none;
    cursor: pointer;
  }
  [data-filter-type="multi"]:hover {
    cursor: pointer;
  }
  .actions {
    [data-filter-action="done"], 
    [data-filter-action="save-as"] {
      // display: none;
    }
  }
  &.edit {
    .actions {
      float: right;

      [data-filter-action="add"] {
        display: none;
      }
      [data-filter-action="done"], 
      [data-filter-action="save"] {
        display: inline;
      }
    }
    [data-filter-action="clear-all"] {
      margin-right: -25px;
    }
  }
}
