$cyan : #ea33a3;

@-webkit-keyframes infinite-spinning {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.draggable {
    cursor: move;
}

.homepage-widget {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    &:hover, &.operating {
        z-index: 99;
        .resizer, .overlay {
            display: block;
        }
        .icon-container {
            display: block;
            cursor: pointer;
        }
    }
    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba($cyan,.15);
        display: none;
    }
    .icon-spinner:before {
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        -o-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation: infinite-spinning .6s infinite linear;
        animation: infinite-spinning .6s infinite linear;
        top: 50%;
        left: 50%;
        position: absolute;
        margin-left: -10px;
        margin-top: -10px;
    }
    .icon-container {
        position: absolute;
        top: 0;
        right: 5px;
        display: none;
        background: #FFF;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
        box-shadow: 0 1px 2px rgba(0,0,0,.3);
        -webkit-border-bottom-left-radius: 3px;
        border-bottom-left-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        border-bottom-right-radius: 3px;
        a {
            color: #444;
            display: inline-block;
            padding: 5px 7px;
            border-right: 1px solid #ccc;
            background: none;
            &:last-child {
                border-right: none;
            }
        }
    }
}

.resizer {
    display: block;
    height: 100%;
    width: 8px;
    border-right:2px solid $cyan;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    cursor: ew-resize;
    .indicator {
        display: none;
        position: absolute;
        width: 0;
        height: 100%;
        border: 2px dashed $cyan;
        border-left: none;
        content: ' ';
        margin-left: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &.flipped {
            border-right: none;
            border-left: 2px dashed $cyan;
        }
    }
    &.resizer__left {
        border-right: none;
        right: auto;
        left: 0;
        border-left: 2px dashed $cyan;
    }
}

.grid-container {
    float: left; // need's to have height so we can drop things on it
    position: relative;
    overflow: auto;
    margin-bottom: 1.2em;
    clear: both;
    &:hover, &.operating-on-child {
        .row-handler {
            opacity: 1;
        }
    }
    .row-handler {
        padding: 0.4em;
        color: #333;
        cursor: move;
        opacity: .6;
        position: relative;
        background: #FFF;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
        box-shadow: 0 1px 2px rgba(0,0,0,.3);
        z-index: 999;
        .remove-row {
            color: #333;
            text-decoration: none;
            cursor: pointer;
            position: absolute;
            padding: 9px;
            top: 0;
            right: 0;
            border-left: 1px solid #eee
        }
    }
    &.operating-row {
        .homepage-widget {
            .highlight {
                display: block;
            }
        }
        .row-handler {
            opacity: 1;
        }
    }
}

.homepage {
    padding-bottom: 2em;
}

.row-droppable {
    border: 2px dashed $cyan;
}
