.offset-1 {
	margin-left: $column-width + ($gutter-size) * $fluid-metric; 
}

.offset-2 {
	margin-left: ($column-width * 2) + ($gutter-size * 2) * $fluid-metric;
}

.offset-3 {
	margin-left: ($column-width * 3) + ($gutter-size * 3) * $fluid-metric; 
}

.offset-4 {
	margin-left: ($column-width * 4) + ($gutter-size * 4) * $fluid-metric; 
}

.offset-5 {
	margin-left: ($column-width * 5) + ($gutter-size * 5) * $fluid-metric; 
}

.offset-6 {
	margin-left: ($column-width * 6) + ($gutter-size * 6) * $fluid-metric; 
}

.offset-7 {
	margin-left: ($column-width * 7) + ($gutter-size * 7) * $fluid-metric; 
}

.offset-8 {
	margin-left: ($column-width * 8) + ($gutter-size * 8) * $fluid-metric; 
}

.offset-9 {
	margin-left: ($column-width * 9) + ($gutter-size * 9) * $fluid-metric; 
}

.offset-10 {
	margin-left: ($column-width * 10) + ($gutter-size * 10) * $fluid-metric; 
}

.offset-11 {
	margin-left: ($column-width * 11) + ($gutter-size * 11) * $fluid-metric; 
}

.offset-12 {
	margin-left: ($column-width * 12) + ($gutter-size * 12) * $fluid-metric; 
}

.offset-13 {
	margin-left: ($column-width * 13) + ($gutter-size * 13) * $fluid-metric; 
}

.offset-14 {
	margin-left: ($column-width * 14) + ($gutter-size * 14) * $fluid-metric; 
}

.offset-15 {
	margin-left: ($column-width * 15) + ($gutter-size * 15) * $fluid-metric; 
}

.offset-16 {
	margin-left: ($column-width * 16) + ($gutter-size * 16) * $fluid-metric; 
}

.offset-17 {
	margin-left: ($column-width * 17) + ($gutter-size * 17) * $fluid-metric; 
}

.offset-18 {
	margin-left: ($column-width * 18) + ($gutter-size * 18) * $fluid-metric; 
}

.offset-19 {
	margin-left: ($column-width * 19) + ($gutter-size * 19) * $fluid-metric; 
}

.offset-20 {
	margin-left: ($column-width * 20) + ($gutter-size * 20) * $fluid-metric; 
}

.offset-21 {
	margin-left: ($column-width * 21) + ($gutter-size * 21) * $fluid-metric; 
}

.offset-22 {
	margin-left: ($column-width * 22) + ($gutter-size * 22) * $fluid-metric; 
}

.offset-23 {
	margin-left: ($column-width * 23) + ($gutter-size * 23) * $fluid-metric; 
}

.offset-24 {
	margin-left: ($column-width * 24) + ($gutter-size * 24) * $fluid-metric; 
}