.tabs__list {
  clear: left;
  display: none;
  @include ie-lte(8) {
    display: block;
  }
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: $tab-column-width;

  @include respond-max($screen-tablet-max) {
    width: $tab-column-width-tablet;
  }

  &[data-mobile-togglable] {
    background-color: $accent-color;
    border-left: $toolbar-accent-height solid $accent-color;
    display: block;
    height: 100%;
    margin-right: -$tab-column-width-mobile;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: margin-right .15s ease-out;
    -moz-transition: margin-right .15s ease-out;
    -transition: margin-right .15s ease-out;
    z-index: $zindex-nav;
    width: $tab-column-width-mobile;

    &.toggled {
      margin-right: 0;
    }
  }

  @include respond-min($screen-tablet) {
    display: block;
  }

  > li {
    margin-bottom: -1px;
  }

  &[data-mobile-togglable] > li,
  &[data-mobile-togglable] > li > .tabs__list > li {
    margin-bottom: 0;
  }

  > li > a {
    border: 1px solid transparent;
    color: $black;
    display: block;
    line-height: $line-height-base * 1.75;
    @include ie-lte(7) {
      height: $line-height-base * 1.75;
    }
    padding: 0 $gutter-width / 2;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    > .label {
      margin-left: .5em;
      position: relative;
      top: -1px;
    }

    > i {
      display: inline-block;
      font-size: 14px;
      opacity: .6;
      text-align: center;
      margin-right: 3px;
      width: 14px;
      @include ie-lte(7) {
        margin-right: 6px;
      }
    }

    &:hover {
      background-color: $gray-lighter;

      > i {
        opacity: 1;
      }
    }
  }

  &[data-mobile-togglable] > li > a {
    color: $accent-color-alt;
    border: 0 none;

    &:hover {
      color: $accent-color;
      background-color: $accent-color-alt;
    }
  }

  > li.is-open > a {
    outline: 1px solid red;
  }

  > li.is-active > a {
    background-color: $white;
    border: 1px solid $gray;
    box-shadow: inset 2px 0 0 $gray;
    border-right: none;
    z-index: 1;
    &:hover {
      background-color: $gray-lighter;
    }
  }

  &[data-mobile-togglable] > li.is-active > a {
    background-color: lighten($accent-color, 10%);
    border: 0 none;
    border-bottom: 2px solid darken($accent-color-alt, 5%);
    box-shadow: none;
    color: $accent-color-alt;
    i {
      opacity: 1;
    }
  }
}

// horizontal navigation
.tabs__list.tabs--horizontal {
  margin: 0 $gutter-width;
  position: relative;
  width: auto;
  z-index: $zindex-dropdown;

  > li {
    float: left;
  }

  > li > a:hover {
    z-index: -1;
  }

  > li.is-active > a {
    border: 1px solid $gray;
    border-bottom: none;
    box-shadow: inset 0 2px 0 $gray;
  }

  + .tabs__content {
    border: 1px solid $gray;
    clear: left;
    margin: -2px $gutter-width 1em $gutter-width;
    position: relative;
    top: -1px;

    > .tab__pane {
      padding: $line-height-base 0;
    }
  }
}

// nested navigation
.tabs__list > li > .tabs__list {
  background-color: $white;
  border-bottom: 1px solid $gray;
  border-left: 1px solid $gray;
  box-shadow: 1px 0 0 $gray;
  padding-bottom: 1px;
  display: none;
  float: none;
  width: 100%;

  > li.is-active > a {
    background-color: $gray-lighter;
    border-color: transparent;
    box-shadow: none;
    &:hover {
      background-color: $gray-lighter;
    }
  }
}

.tabs__list[data-mobile-togglable] > li > .tabs__list {
  background-color: shade($accent-color, 15%);
  border: 0 none;
  padding: 0;

  > li > a {
    border: 0 none;
    color: lighten($accent-color-alt, 10%);

    &:hover {
      background-color: shade($accent-color, 25%);
      color: $white;
    }
  }

  > li.is-active > a {
    background-color: $accent-color-alt;
    color: $accent-color;

    i {
      opacity: 1;
    }
  }
}

.tabs__list .is-active > .tabs__list {
  display: block;
}

.tabs__content {
  display: block;
  overflow: auto;

  @include respond-max($screen-tablet) {
    position: relative;
    top: -($line-height-base * 2.5);
  }

  // show/hide tab panes
  > .tab__pane {
    display: none;

    &.is-active {
      display: block;
    }
  }
}

.tab__pane form {
  // make sure forms in tabs don't add extra spacing after the form actions
  margin-bottom: 0;
  width: 100%;
}

.tab__inner {
  background-color: $white;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  // box-shadow: -3px 1px 3px rgba(0, 0, 0, 0.05);
  float: left;
  position: relative;
  width: 100%;

  h2:first-of-type {
    margin-top: 0;
  }

  @include respond-min($screen-phone) {
    border: 1px solid $gray;
  }
}

.tab__main {
  overflow: hidden;
  width: 100%;

  @include respond-min($screen-desktop) {
    border-right: 1px solid $gray;
    padding-right: $gutter-width;
    width: auto;
  }
}



.tab--unpadded > p {
  clear: both;
  margin-left: $gutter-width;
}

.tab--padded {
  padding: $line-height-base $gutter-width;
}

.tabs {
  display: inline-block;
  height: 100%;
  margin-bottom: 3.2em;
  position: relative;
  width: 100%;
}

.tabs__list > li > a[data-show="#new-tab"] {
  @extend .muted;
  text-align: center;

  &:hover {
    color: $gray-dark;
  }
}

.tabs__list .new {
  background-color: $primary-color;
  border-bottom: none;
  height: $line-height-base * 1.75;

  input {
    background-color: $primary-color;
    border: 0;
    outline: none;
    color: $white;
    line-height: 1.75em;
    margin: 4px 0 0 5%;
    width: 90%;

    &::selection {
      background: white;
    }
  }
}


.tab__container {
	background-color: $white;
	border: 1px solid $gray;
	float: left;
	width: 100%;

	.tab__inner {
		background: none;
		border: none;
		width: 100%;

		@include respond-min($screen-tablet) {
			border-right: 1px solid $gray;
			width: 70%;
		}
	}
}

// experimenting with new tab rendering

.tab__container {
	display: table;
	float: none;
	height: 100%;
}

.tab__container .tab__inner {
	background-color: #eee;
	display: table-cell;
	float: none;
	height: 100%;
	vertical-align: top;

	.form-v2 {
		background-color: white;
	}
}

.tab__container .form__actions {
	// The second shadow here is a sneaky fix to a rendering issue at small
	// viewports when we have buttons that are floated right
	box-shadow: inset 0px 4px 0px #ccc, 0 8px 0 #efefef;

}
