.sidebar {
	display: none;
	float: none;
	height: 100%;
	padding: 0 0 0 40px;
	text-align: justify;
	vertical-align: top;
	width: 30%;

	@include respond-min($screen-large-desktop) {
		display: table-cell;
	}
}

.sidebar__header {
	border-bottom: 1px solid $gray;
    line-height: 24px;
    margin-bottom: 19px;
    padding-bottom: 4px;
	text-align: left;
}

.sidebar-link {
	display: block;
	margin-bottom: $line-height-base;
	text-align: left;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.sidebar-link__label {
	margin-right: 10px;
	position: relative;
	top: -2px;
}

.sidebar-icon {
	color: $gray-dark;
	line-height: 20px;
}
