.container {
    height: 100%;
}

.content-main {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.main-title {
    font-size: 1.75em;
    line-height: 24px;
    margin-bottom: 13px;
}

.sub-title {
    display: inline-block;
    margin-bottom: 0;

    &::before {
        content: '/ ';
        margin-left: 10px;
        width: 20px;
        display: inline-block;
    }
}

.inner-wrapper {
    -webkit-backface-visibility: hidden;
    -webkit-transform: none;
    -webkit-transition: -webkit-transform 500ms ease;
    backface-visibility: hidden;
    display: table;
    height: 100%;
    left: 0;
    padding-bottom: 24px; // make sure content clears the footer
    position: relative;
    transform: none;
    transition: transform 500ms ease;
    width: 100%;

    @include respond-min($screen-desktop) {
        display: table-row;
        left: auto;
        position: static;
    }

    .lt-ie10 & {
        left: 0;
    }
}

.open-nav .inner-wrapper {
    -webkit-transform: translate3d(75px, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(75px, 0, 0) scale3d(1, 1, 1);

    @include respond-min($screen-desktop) {
        -webkit-backface-visibility: hidden;
        -webkit-transform: none;
        -webkit-transition: -webkit-transform 500ms ease;
        backface-visibility: hidden;
        transform: none;
        transition: transform 500ms ease;
        width: 100%;
    }

    .lt-ie10 & {
        left: 75px;
    }
}

.open-help .inner-wrapper {
    -webkit-transform: translate3d(-300px, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(-300px, 0, 0) scale3d(1, 1, 1);

    @include respond-min($screen-desktop) {
        -webkit-backface-visibility: hidden;
        -webkit-transform: none;
        -webkit-transition: -webkit-transform 500ms ease;
        backface-visibility: hidden;
        transform: none;
        transition: transform 500ms ease;
        width: 100%;
    }
}

.lt-ie10.open-help .inner-wrapper {
    left: -300px;
}

.lt-ie10 .open-nav .inner-wrapper {
    left: 75px;
}

.tabs__content {
  @include clear-fix;
  display: table-cell;
  padding: 0 20px;
  // overflow: hidden; experimenting with turning this off to allow left positioned tooltips to work, shout up if it breaks anything
  vertical-align: top;
  width: 100%;

  // show/hide tab panes
  > .tab__pane {
    display: none;

    &.is-active {
      display: block;
    }
  }
}

.tab__pane {
    margin-top: 24px;
}

.tab__content {
    display: table-cell;
    width: auto;
}

.tab__inner {
  // float: left;
  padding-bottom: 48px;
  position: relative;
  width: 100%;

  // h2:first-of-type {
  //   margin-top: 0;
  // }
}

.tab__main {
  overflow: hidden;
  width: 100%;

  @include respond-min($screen-desktop) {
    border-right: 1px solid color(gray);
    padding-right: $gutter-width;
    width: auto;
  }
}


.tabs {
  display: inline-block;
  height: 100%;
  margin-bottom: 3.2em;
  position: relative;
  width: 100%;
}

.tabs__list > li > a[data-show="#new-tab"] {
  @extend .muted;
  text-align: center;

  &:hover {
    color: color(gray, dark);
  }
}

.tabs__list .new {
  background-color: color(primary);
  border-bottom: 0;
  height: $line-height-base * 1.75;

  input {
    background-color: color(primary);
    border: 0;
    outline: none;
    color: color(white);
    line-height: 1.75em;
    margin: 4px 0 0 5%;
    width: 90%;

    &::selection {
      background: white;
    }
  }
}


// experimenting with new tab rendering

.tab__container {
    float: none;
    height: 100%;

  // @include respond-min($screen-desktop) {
  //   display: table;
  // }
}

.tab__container {
    .tab__inner {
        float: none;
        height: 100%;
        vertical-align: top;
        width: 100%;

        @include respond-min($screen-desktop) {
            display: table;
        }
    }

    .tab__content {
        display: block;

        @include respond-min($screen-desktop) {
            display: table-cell;
            float: left;
            vertical-align: top;
            width: 100%;
        }
    }

    .tab__sidebar {
        display: none;

        @include respond-min($screen-desktop) {
          display: table-cell;
          float: right;
          padding-left: 40px;
          vertical-align: top;
          width: 30%;
        }

        .no-js & {
          display: table-cell;
          vertical-align: top;
        }

        .heading {
            margin: 0;
        }
    }
}

.tab__container.has-sidebar .tab__content {
  @include respond-min($screen-desktop) {
    width: 70%;
  }
}

