@mixin pulsar-link-focused {
    background-color: color(background, focus);
    color: color(black);
    outline: 2px solid color(black);
    text-decoration: none;
}

@mixin pulsar-button-focused {
    background-color: color(background, focus) !important;
    border-color: color(background, focus);
    color: color(black) !important;
    outline: 2px solid color(black);
    outline-offset: 0;
}

@mixin pulsar-outline-button-focused {
    background-color: color(background, focus) !important;
    border: 2px solid color(background, focus);
    border-bottom: 0;
    color: color(black) !important;
    outline: 2px solid color(black);
}

@mixin pulsar-icon-button-focused {
    background-color: color(background, focus);
    border-radius: 0;
    color: color(black) !important;
    outline: 2px solid color(black);
}

@mixin pulsar-input-focused {
    border-color: color(black);
    border-radius: 0;
    outline: 3px solid color(border, focus);
    outline-offset: 0;
}

@mixin pulsar-checkbox-focused {
    border-color: color(black);
    outline: 3px solid color(border, focus);
    outline-offset: 0;
}

@mixin pulsar-radio-focused {
    border-color: color(border, focus);
    outline: 2px solid color(black);
    outline-offset: -2px;
}

@mixin pulsar-toggle-focused {
    border-color: color(border, focus);
    outline: 4px solid color(black);
    outline-offset: 0;
}

@mixin pulsar-range-focused {
    border: 0;
    border-radius: 0;
    outline: 3px solid color(border, focus);
    outline-offset: 0;
    padding: 0 5px;
}

@mixin pulsar-datatables-sorting-focused {
    background-color: color(background, focus);
    box-shadow: inset 0 -4px color(black);
    outline: none;

    &::after {
        color: color(black);
    }
}

@mixin pulsar-pagination-focused {
    background-color: color(background, focus);
    box-shadow: inset 0 -4px color(black);
    outline: none;
}

@mixin pulsar-dropdown-item-focused {
    background-color: color(background, focus);
    box-shadow: inset 0 -4px color(black);
    color: color(black);
}

@mixin pulsar-progress-list-item-focused {
    background-color: color(background, focus);
    box-shadow: inset 0 -4px color(black);
    color: color(black);
    outline: 3px solid transparent;
}

@mixin pulsar-modal-header-button-focused {
    background-color: color(background, focus);
    box-shadow: inset 0 -2px 0 color(black);
    color: color(black) !important;
    outline: none;
}

@mixin pulsar-inline-nav-link-focused {
    outline: none;
    position: relative;

    &::after {
        background-color: color(black);
        bottom: 0;
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        width: 100%;
    }
}

@mixin pulsar-link-label-focused {
    background-color: color(background, focus);
    border-radius: 0;
    color: color(black);
    outline: 2px solid;
}

@mixin pulsar-label-remove-button-focused {
    box-shadow: inset 0 0 0 2px color(black);

    [class^="icon-"],
    [class^="icon-"]:hover {
        color: color(black) !important;
    }
}
