@mixin pulsar-link-focused {
    background-color: color(background, focus);
    box-shadow: 0 -2px color(background, focus), 0 4px color(black);
    color: color(black);
    outline: none;
    text-decoration: none;
}

@mixin pulsar-button-focused {
    background-color: color(background, focus);
    box-shadow: 0 2px 0 color(black);
    color: color(black) !important;
    outline: none;
}

@mixin pulsar-outline-button-focused {
    background-color: color(background, focus) !important;
    border: 2px solid color(background, focus);
    border-bottom: 0;
    box-shadow: 0 2px 0 color(black), 0 2px 0 color(background, focus);
    color: color(black) !important;
    outline: none;
}

@mixin pulsar-input-focused {
    border-color: color(black);
    border-radius: 0;
    box-shadow: inset 0 0 0 2px color(black);
    outline: 3px solid color(border, focus);
    outline-offset: 0;
}

@mixin pulsar-checkbox-focused {
    border-color: color(black);
    box-shadow: inset 0 0 0 1px color(black);
    outline: 3px solid color(border, focus);
    outline-offset: 0;
}

@mixin pulsar-radio-focused {
    border-color: color(border, focus);
    box-shadow: inset 0 0 0 2px color(black), 0 0 0 2px color(border, focus);
    outline: none;
    outline-offset: 0;
}

@mixin pulsar-toggle-focused {
    border-color: color(border, focus);
    box-shadow: inset 0 0 0 4px color(black), 0 0 0 4px color(border, focus);
    outline: none;
    outline-offset: 0;
}

@mixin pulsar-range-focused {
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px color(black);
    outline: 3px solid color(border, focus);
    outline-offset: 0;
    padding: 0 5px;

    &::-webkit-slider-thumb {
        box-shadow: 0 0 0 3px color(white), 0 0 0 6px color(black), 0 0 0 9px color(border, focus);
    }

    &::-moz-range-thumb {
        box-shadow: 0 0 0 3px color(white), 0 0 0 6px color(black), 0 0 0 9px color(border, focus);
    }

    &::-ms-thumb {
        box-shadow: 0 0 0 3px color(white), 0 0 0 6px color(black), 0 0 0 9px color(border, focus);
    }
}

@mixin pulsar-datatables-sorting-focused {
    background-color: color(background, focus);
    box-shadow: inset 0 -4px color(black);
    outline: none;

    &::after {
        color: color(black);
    }
}

@mixin pulsar-pagination-focused {
    background-color: color(background, focus);
    box-shadow: inset 0 -4px color(black);
    outline: none;
}

@mixin pulsar-dropdown-item-focused {
    background-color: color(background, focus);
    box-shadow: inset 0 -4px color(black);
    color: color(black);
}

@mixin pulsar-progress-list-item-focused {
    background-color: color(background, focus);
    box-shadow: inset 0 -4px color(black);
    color: color(black);
    outline: 3px solid transparent;
}

@mixin pulsar-modal-header-button-focused {
    background-color: color(background, focus);
    box-shadow: inset 0 -2px 0 color(black);
    color: color(black) !important;
    outline: none;
}

@mixin pulsar-inline-nav-link-focused {
    background-color: color(background, focus);
    box-shadow: 0 -2px color(background, focus), inset 0 -4px color(black);
    color: color(black);
    outline: none;
    text-decoration: none;
}

@mixin pulsar-link-label-focused {
    background-color: color(background, focus) !important;
    border-radius: 0;
    color: color(black) !important;
}

@mixin pulsar-label-remove-button-focused {
    background-color: color(background, focus) !important;
    color: color(black) !important;
    outline: none;

    [class^="icon-"] {
        color: color(black) !important;
    }

    [class^="icon-"]:hover {
        color: color(black) !important;
    }
}
