@mixin visuallyhidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin visuallyhiddenreset {
    clip: auto;
    height: auto;
    margin: auto;
    overflow: visible;
    padding: 0;
    position: static;
    width: auto;
}