@mixin label-variant($color, $text-color: $label-color-alt, $immutable: false) {

    $important: '';

    @if ($immutable) {
        $important: !important;
    }

    background-color: unquote($color + $important);
    border-color: unquote($color + $important);
    border-width: 0;
    color: unquote($text-color + $important);
    text-transform: lowercase;

    // Removable labels
    .btn.remove-button,
    .btn.remove-button [class^="icon-"],
    .btn.remove-button [class*=" icon-"] {
        &,
        &:hover {
            color: unquote($text-color + $important);
        }
    }

    &[href] {
        &:hover,
        &:focus {
            background-color: darken($color, 10%);
        }
    }
}
