// Legacy support for inline-block in IE7 (maybe IE6)
@mixin inline-block {
  display: inline-block;
  vertical-align: baseline;

  @include ie-lte(7) {
    display: inline;
    vertical-align: auto;
    zoom: 1;
  }
}
