.nav-item {
    display: inline-block;
    position: relative;
    font-size: 1.1em;
    height: $toolbar-height + 20px;
    @include user-select(none);
    > a {
        color: #EAEAEA;
        display: block;
        height: $toolbar-height + 20px;
        width: 100%;
        padding: (($toolbar-height - $brand-height) / 2) + 14 $gutter-width 0;
        cursor: pointer;
        &:hover {
            background: darken($gray-dark,5); 
            color: #FFF;
            border-bottom: 3px solid $primary-color; 
        }
    }
    &.open > a {
        background: $primary-color; 
        color: #FFF;
        border-bottom: 3px solid $primary-color; 
    }
}

.subnav-container {
    @extend .dropdown__menu;
    @extend .inverse;
    top: 0;
    left: 160px;
}