/** 
 * -----------------------------------------------------------------------------
 *  _navbar.scss
 * ----------------------------------------------------------------------------- 
 */

.navbar {
	background-color: $black;

	a {
		color: $inverseLinkColor;

		&:hover {
			color: $inverseLinkHoverColor;
		}
	}
}
