// scss-lint:disable all
.slotpicker {
    margin-bottom: 1em;

    ol {
        margin: 0;
    }

    li {
        list-style-type: none;
    }
}

.slotpicker-days {
    > ol {
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(9, 1fr);
    }
}

.slotpicker-collections {
    display: grid;
    gap: 5px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(9, 1fr);
    height: 500px;
    overflow: scroll;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 5px 0;
}

.slotpicker-collection {
    outline: 1px solid #fff;
}

.slotpicker-date__nav {
    border: 1px solid #fff;
    height: 3em;
    line-height: 3em;
    text-align: center;
}

.slotpicker-date, 
.slotpicker-time, 
.slotpicker-slot {
    background: none;
    border: 1px solid #ccc;
    color: #777;
    display: block;
    height: 3em;
    line-height: 3em;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}

.slotpicker-date,
.slotpicker-time {
    background-color: #efefef;
}

.slotpicker-date {
    line-height: 1em;
    text-decoration: none;
}

.slotpicker-date__day {
    display: block;
    margin: 5px 0;
    width: 100%;
}

.slotpicker-date__date {
    display: block;
    font-size: 1.5em;
    width: 100%;
}

.slotpicker-date__nav:hover,
.slotpicker-date:hover,
.slotpicker-slot:hover {
    background-color: lightblue;
    cursor: pointer;
}

.slotpicker-slot:focus {
    background-color: #fd0;
    border: 0;
    color: #000000;
    outline: 2px solid #000;
}

.slotpicker-slot-choice {
    display: none;
}

.slotpicker-slot--unavailable,
.slotpicker-slot--unavailable:hover,
.slotpicker-collection--active .slotpicker-slot.slotpicker-slot--unavailable {
    background-color: #ccc;
}

.slotpicker-slot.slotpicker-slot--selected,
.slotpicker-slot.slotpicker-slot--selected:hover,
.slotpicker-collection--active .slotpicker-slot.slotpicker-slot--selected {
    background-color: lightgreen;
    color: black;
    line-height: 4em;
    
    .icon {
        font-size: 2em;
    }
}

.slotpicker-collection--active .slotpicker-slot {
    background-color: #f5f6fd;
    border: 1px solid #999;
}

.slotpicker-required label {
    background-color: lightblue;
    
    .icon {
        scale: 1.2;
    }
}

.slotpicker-buffer .slotpicker-slot--unavailable,
.slotpicker-required .slotpicker-slot--unavailable {
    background-color: palevioletred;

    color: white;
}

.slotpicker-buffer {
    position: relative;
    background-color: #efefef;

    .icon::before {
        content: '\f254';
    }
}

.slotpicker-invalid {
    
}

// scss-lint:enable all