.modal__example {
  position: relative;
  margin-left: 0;
  z-index: 1 !important;
  display: block;
  overflow: hidden;

  .modal__dialog {
    padding-top: 30px;
  }
}

.example .flash {
  position: relative;

}

.example-popovers {
  @include clear-fix();
  padding-bottom: 24px;
  max-width: 600px;
  width: 100%;

  .popover {
    position: relative;
    display: block;
    max-width: 260px;
    width: 100%;
    margin: 20px auto;
    z-index: 0;

    @include respond-min($screen-phone) {
      float: left;
      margin-left: 2.5%;
      margin-right: 2.5%;
      width: 45%;
    }
  }
}

.example {
  margin-top: $line-height-base;
}

.markdown .tab__inner table {
  @extend .table;
}

.progress-list__item {
  background: $progress-bg !important;
  color: $black !important;
}

.progress-list__item--current {
  background: $primary-color !important;
  color: white !important;
}

.progress-list__item--success {
  background: $success-color !important;
  color: white !important;
}
