// When a button only contains an icon, the line height goes a bit screwy
.actionsbar--left .btn > i {
  line-height: 12px;
}

.form--inline {
  display: inline-block;

  .form__group {
    display: inline-block;
    margin-bottom: 0;

    &:hover {
      box-shadow: none;
    }
  }

  .control__label {
    margin-bottom: 0;
  }

  .controls {
    display: inline-block;
  }

  > .btn {
    margin-left: 20px;
  }
}

.flash select {
  height: 30px;
}

// inline checkboxes, make right aligned label autowidth
.form--horizontal .form__group.form-checkbox-inline .controls {
    width: auto;
    max-width: 100%;
}

.tab__title {
  border-bottom: 1px solid #ccc;
  line-height: 47px;
  margin: 0 0 24px;
}

.heading,
.legend {
    line-height: 48px;
}


.legend {
    margin-bottom: 24px;
    width: 100%;
}

.tab__inner .table--datagrid {
    outline: none;
}

// New translations UI (CMS)

.table--datagrid .select2 {
    max-width: 25%;

    @include respond-min($screen-xsmall) {
        max-width: 50%;
    }

    @include respond-min($screen-small) {
        max-width: 100%;
    }
}

.table--datagrid .btn__group {
    vertical-align: top;

    @include respond-min($screen-small) {
        vertical-align: middle;
    }
}

// fixes strange issue with content-main moving off screen when dropdown in toolbar is used
.lt-ie10 .content-main {
    clear: both;
}

.icon--align-with-fields {
    display: block;
    font-size: $font-size-xlarge;
    line-height: $line-height-large;
    text-align: center;
}

.slotpicker-calendar {
    display: inline-block;
    vertical-align: top;
    width: 400px;
}

.slotpicker-slots {
    display: inline-block;
    margin-left: $gutter-width;
    vertical-align: top;
    width: 250px;
}

// Used in reports pattern UI
// style to show chart container in lieu of an actual working chart
.lexicon-report-chart {
    border: 1px dashed #ccc;
    background-color: #efefef;
    color: #ccc;
    line-height: 240px;
    text-align: center;
    width: 100%;
}

.btn.link {
    border-bottom: 1px dotted color(grey, light);
    border-radius: 0;
    color: color(link) !important;
}

.table .link + .label {
    margin-left: $gutter-width / 2;
    vertical-align: text-top;
}

.btn__group.dropdown > .bulk-actions span.badge {
    margin-top: -2px;
}

.panel--callout {
    background-color: color(background, light);
    border-radius: 4px;
    color: color(text);
    padding: .75em $gutter-width;
}

main {
  border: 2px solid red !important;
}

aside {
  border: 2px solid blue !important;
}

section {
  border: 2px solid orange !important;
}

nav {
  border: 2px solid limegreen !important;
}

footer {
  border: 2px solid yellow !important;
}