// Main tour styling is handled by libs/hopscotch/css/hopscotch-0.1.1.min.css
// A couple of things needed to be fixed for alignment

div.hopscotch-bubble {
  z-index: $zindex-tour;

  .hopscotch-content {
    font-family: $font-family-base;
  }

  .hopscotch-bubble-number {
    padding-right: 0;
  }

  .hopscotch-bubble-close {
    padding: 12px;
  }
}
