// When a button only contains an icon, the line height goes a bit screwy
.actionsbar--left .btn > i {
  line-height: 12px;
}

.form--inline {
  display: inline-block;

  .form__group {
    display: inline-block;
    margin-bottom: 0;

    &:hover {
      box-shadow: none;
    }
  }

  .control__label {
    margin-bottom: 0;
  }

  .controls {
    display: inline-block;
  }

  > .btn {
    margin-left: 20px;
  }
}

.flash select {
  height: 30px;
}

// inline checkboxes, make right aligned label autowidth
.form--horizontal .form__group.form-checkbox-inline .controls {
    width: auto;
    max-width: 100%;
}

.tab__title {
  border-bottom: 1px solid #ccc;
  line-height: 47px;
  margin: 0 0 24px;
}

.heading,
.legend {
    line-height: 48px;
}


.legend {
    margin-bottom: 24px;
    width: 100%;
}

.tab__inner .table--datagrid {
    outline: none;
}

// Fix for P3 spacing on Q forms/fieldsets
.form--horizontal,
.form {
  // padding-top: 17px;

  .slide-inner & {
    padding-top: 17px;
  }

  .form__group .form__collection .remove__control {
    @include respond-min($screen-small) {
      position: static !important;
    }
  }

  .form__actions {
    margin: 0;
  }

  .form__group .form__collection ul {
    margin-left: 0;
  }

  .form__indent {
    margin-left: 25%;
    margin-right: $gutter-width;

    p {
      margin-left: 0;
      padding-left: 0;
    }
  }

  .form__group--inline .form__control:not(.checkbox):not(.radio) {
    max-width: none;
    width: auto;
  }

  .uploader__control {
    display: inline-block;
  }

  .tabs__list.tabs--horizontal,
  .tabs__list.tabs--horizontal + .tabs__content {
    margin: 0;
  }

  .tabs__content {
    padding: 0 10px 10px;
  }

  &.table-filter fieldset {
    padding: 0;

    .control__label {
        margin-bottom: 0;
        padding-top: 7px;
        text-align: right;
    }

    .legend {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: sub;
    }
  }
}

// New translations UI (CMS)

.table--datagrid .select2 {
    max-width: 25%;

    @include respond-min($screen-xsmall) {
        max-width: 50%;
    }

    @include respond-min($screen-small) {
        max-width: 100%;
    }
}

.table--datagrid .btn__group {
    vertical-align: top;

    @include respond-min($screen-small) {
        vertical-align: middle;
    }
}

// fixes strange issue with content-main moving off screen when dropdown in toolbar is used
.lt-ie10 .content-main {
    clear: both;
}

.icon--align-with-fields {
    display: block;
    font-size: $font-size-xlarge;
    line-height: $line-height-large;
    text-align: center;
}
