/** 
 * -----------------------------------------------------------------------------
 *  _scaffolding.scss
 * ----------------------------------------------------------------------------- 
 */

* {
	box-sizing: border-box;
}

body {
	// @include baseline-grid;

	background-color: $off-white;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin: 0;
    padding: 0;
}

header {
	margin-bottom: $line-height-base - 1;
}

.heading {
	display: inline-block;
	font-family: $font-family-light;
	line-height: 1em;
	margin: 0;
}

.container {
	clear: both;
	margin: 0 $gutter-width;
}

footer {
	margin-top: $line-height-base;
}

// Links

a {
	color: $link-color;
}

a:hover {
	color: $link-hover-color;
}
