* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: $off-white;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin: 0 0 ($line-height-base * 2) 0;
  padding: 0;
}

.heading {
  @include inline-block;
  font-family: $font-family-light;
  line-height: 1em;
  margin: $line-height-base 0 0 0;
}

.container {
  clear: both;
  margin: 0 $gutter-width;
  height: 100%;
  position: relative; // required for decks
}

footer {
  bottom: 0;
  margin-top: $line-height-base;
  position: fixed;
  width: 100%;
  z-index: $zindex-footer;
}

// Links

a {
  color: $link-color;
}

a:hover {
  color: $link-hover-color;
}

a.disabled {
  opacity: .5;
}
