/** 
 * -----------------------------------------------------------------------------
 *  _scaffolding.scss
 * ----------------------------------------------------------------------------- 
 */

* {
	box-sizing: border-box;
}

body {
	// @include baseline-grid;

	background-color: $offWhite;
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    margin: 0;
    padding: 0;
}

header {
	margin-bottom: $baseLineHeight - 1;
}

.container {
	clear: both;
	margin: 0 $gutterWidth;
}

footer {
	margin-top: $baseLineHeight;
}

// Links

a {
	color: $linkColor;
}

a:hover {
	color: $linkHoverColor;
}
