* {
  box-sizing: border-box;
}

html,
body {
  height: auto;
}

// Allow any content to clear the fixed footer
html {
  padding-bottom: 40px;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-medium;
  line-height: $line-height-small;
  margin: 0 0 ($line-height-base * 2);
  overflow-x: hidden;
  padding: 0;

  @include respond-min($screen-phone) {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}

.container {
  clear: both;
  display: table;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  width: 100%;

  @include ie-lte(8) {
    overflow: visible;
  }
}
