* {
  box-sizing: border-box;
}

html, body {
  height: auto;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-medium;
  line-height: $line-height-small;
  margin: 0 0 ($line-height-base * 2) 0;
  overflow-x: hidden;
  padding: 0;

  @include respond-min($screen-phone) {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}

// Make sure flash messages properly clear header/toolbar
#top {
  @include clear-fix;
}


.container {
  clear: both;
  display: table;
  height: 100%;
  margin: 0;
  overflow: visible;
  position: relative;
  width: 100%;
}

// Links

a {
  color: color('link-color');
  cursor: pointer;
}

a:hover {
  color: color('link-hover-color');
}

a.disabled {
  opacity: .5;
  cursor: not-allowed !important;

  &:hover {
    cursor: not-allowed !important;
  }
}
