$columns:       12;
$gutter_pc:     .5;

.g-row {
    display: block;
    float: left;
    margin-bottom: 24px;
    width: 100%;
}

.g-col {
    background-clip: padding-box !important;
    box-sizing: border-box;
    display: block;
    float: left;
    padding: 0;

    @include respond-min($screen-phone) {
        margin-left: 0;
    }

    @include respond-min($screen-tablet) {
        margin-left: percentage($gutter_pc / 100);
    }

}

.g-col--first {
    margin-left: 0;
}

/**
 * Creates column styling and assigns a set of responsive widths. Do not use within a media query or media query mixin.
 *
 * @param  {int}  $num                   The number of columns the width should span
 * @param  {bool} $force:  false         If true, prevents the width from becoming 100% at smaller screen sizes
 * @param  {bool} $first:  false         If true, removes the left hand column margin
 * @param  {bool} $important:  false     If true, adds the !important declaration
 */
@mixin col-span($num, $force: false, $gutter: false, $columns: $columns, $important: false) {
    $one_col: (100% - ($gutter_pc * ($columns - 1))) / $columns;
    $span_width: floor(($one_col * ($num)) + ($gutter_pc * ($num - 1)));

    @if $gutter == true {
        @include respond-min($screen-tablet) {
            @include gutter(true);
        }
    }

    @if $force == false {
        @include respond-max($screen-tablet) {
            width: 100%;
        }
    }
    @else {
        @if $important == false {
            width: $span_width;
        }
        @else {
            width: $span_width !important;
        }
    }

    @include respond-min($screen-tablet) {
        @if $important == false {
            width: $span_width;
        }
        @else {
            width: $span_width !important;
        }
    }
}

/**
 * Assigns width based on number of grid columns. Does not provide responsive styling, use the col-span mixin for
 * built in responsiveness. Useful when assigning grid width to an element within a media query.
 *
 * @param  {int}  $num                   The number of columns the width should span
 * @param  {int}  $columns: $columns      The total number of grid columns to use for grid calculations, defaults to $columns (12)
 * @param  {bool} $important:  false     If true, adds the !important declaration
 */
@mixin col-span-width($num, $columns: $columns, $important: false) {
    $one_col: (100% - ($gutter_pc * ($columns - 1))) / $columns;
    $span_width: floor(($one_col * ($num)) + ($gutter_pc * ($num - 1)));

    @if $important == false {
        width: $span_width;
    }
    @else {
        width: $span_width !important;
    }
}

// indent an element by a given number of columns
@mixin push($num) {
    $one_col: (100% - ($gutter_pc * ($columns - 1))) / $columns;
    margin-left: ($one_col * $num) + ($gutter_pc * ($num));
}

// indent an element using padding-left by a given number of columns
@mixin push-padding($num) {
    $one_col: (100% - ($gutter_pc * ($columns - 1))) / $columns;
    padding-left: ($one_col * $num) + ($gutter_pc * ($num));
}

// add (or suppress) the left hand gutter on an element
@mixin gutter($add_gutter: true) {
    @if $add_gutter == true {
        margin-left: percentage($gutter_pc / 100);
    }
    @else {
        margin-left: 0;
    }
}

@for $i from 1 through 12 {
    .g-col--#{$i}.g-col--#{$i} {
        @include col-span($i);
    }
}

@for $i from 1 through 12 {
    @include respond-min($screen-tablet) {
        .g-col-push--#{$i} {
            @include push($i);
        }
    }
}

.g-col--example {
    background-color: pink;
    text-align: center;
}
