/**
 * Controls the principle layout of Pulsar form elements and pays very little
 * notice to how they're styled.
 *
 * We rely heavily on table and table-cell layouts which (in lieu of flexbox)
 * give us great, predictable, cross browser columnar layouts.
 */

$label-column-width:   25%;
$control-column-width: 75%;

// each 'block' of a form, usually consisting of a label and one or more inputs
.form__group {
    display: table;
    table-layout: fixed; // prevent resizable textareas from causing the column to grow in width

    width: 100%;

    // the main label, usually placed in the left hand column
    > .control__label {
        width: $label-column-width;
        word-wrap: break-word;
    }

    .help-block {
        margin-top: .675em;
    }

    .help-block ~ .help-block {
        margin-top: 0;
    }
}

// all labels, regardless of their placement
.control__label,
.controls {
    display: table-cell;
    vertical-align: top;
}

// the container around one or more form inputs
.controls {
    width: $control-column-width;

    // stack inputs by default
    > .form__control,
    > .control__label {
        display: block; // test this moar!
    }
}

// inputs can be aligned next to each other if required
.form__group--inline > .controls {

    // override regular stacked styling
    > .form__control,
    > .control__label,
    &:first-child > .control__label {
        clear: none;
        display: inline-block;
        float: none;
    }

    // inline radio/checkboxes need spacing apart slightly
    > .control__label:not(:first-of-type) {
        margin-left: 10px;
    }
}

// make sure labels next to radio/checkboxes have some space to breathe
.control__label > .form__control {
    margin-right: 10px;
}

// radio/checkboxes before labels
.control__label--left {
    text-align: right;

    > .form__control {
        float: right;
        margin-left: 15px;
        margin-right: 0;
    }
}

.form__group--top {
  > .control__label,
  .controls {
    display: block;
    min-width: 100%;
  }

  // Create a 'fake' label to fill the gap left by a missing label element which removes the need to leave empty elements in the markup
  .controls::before {
    content: '\00a0';
    display: table-cell;
    float: left;
    width: $label-column-width;
  }

  .help-block {
    margin-left: $label-column-width;
  }
}

// control group inside first column (normally used for control labels)
.controls:first-child {
    display: table;
    width: $label-column-width;

    > .control__label--left {
        clear: right;
        float: right;
    }
}

.form__group--indent {
    width: $control-column-width;

    @include respond-min($screen-tablet) {
        margin-left: $label-column-width;
    }
}

.form__group--flush {
    margin-left: 0;

    .controls {
        display: table-row;

        &::before {
            display: none;
        }
    }

    .help-block {
        margin-left: 0;
    }
}

.controls > .textarea {
  max-width: 99%; // take into account any textarea border which might look like it’s overlapping at 100% width
}

// at narrow viewports, forms collapse into a single column view
@media (max-width: 600px) {
    .form__group {
        > .control__label,
        > .controls {
            display: block;
            min-width: 100%;
            width: 100%;
        }

        .controls:first-child {
            min-width: 100%;
        }

       .controls::before {
            display: none;
       }

      .help-block {
        margin-left: 0;
      }
    }
}

.fieldset {
  border: 0;
  margin: 0;
  padding: 0;

  .legend {
    border-bottom: 1px solid color(gray);
    margin: 0 0 .5em -20px;
    padding: 0 20px;
  }
}


// DEBUG STYLES

.form__group {
  margin-bottom: .5em;
}



// .form__group {
//     outline: 1px solid red;
// }

// .controls {
//     outline: 1px solid blue;
// }
