* {
  box-sizing: border-box;
}

html, body {
  height: auto;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-medium;
  line-height: $line-height-small;
  margin: 0 0 ($line-height-base * 2) 0;
  padding: 0;

  @include respond-min($screen-phone) {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}

// Make sure flash messages properly clear header/toolbar
#top {
  @include clear-fix;
}

// .heading {
//   @include inline-block;
//   font-family: $font-family-light;
//   line-height: $line-height-base * 2;
//   margin: ceil($line-height-base / $line-height-small) $gutter-width 0 0;

//   @include respond-max($screen-tablet) {
//     font-size: $font-size-large;
//     line-height: $line-height-base * 2;
//     margin: 0 0 0 ($sidebar-column-width-tablet + $gutter-width / 2);
//   }

//   @include respond-max($screen-tablet) {
//     margin-top: $line-height-base * 2;
//     margin-left: $gutter-width / 2;
//   }
// }

.container {
  clear: both;
  display: table;
  margin: 0;
  height: 100%;
  width: 100%;

  @include respond-min($screen-tablet) {
    position: relative; // required for decks
  }
}

// Links

a {
  color: $link-color;
}

a:hover {
  color: $link-hover-color;
}

a.disabled {
  opacity: .5;
  cursor: not-allowed !important;

  &:hover {
    cursor: not-allowed !important;
  }
}
