.tabs__list {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: $tab-column-width;

	> li {
		margin-bottom: -1px;
	}

	> li > a {
		border: 1px solid transparent;
		color: $black;
		display: block;
		line-height: $line-height-base * 1.75;
		padding: 0 $gutter-width / 2;
		text-decoration: none;

		> i {
			font-size: 14px;
			opacity: .6;
			text-align: right;
			margin-right: 3px;
		}

		&:hover {
			background-color: $gray-lighter;

			> i {
				opacity: 1;
			}
		}
	}

	> li.is-active > a {
		border: 1px solid $gray;
		box-shadow: inset 2px 0 0 $gray;
		border-right: none;
		background-color: $white;
		position: relative;
		z-index: 1;
	} 
}

.tabs__content {
	background-color: $white;
	border: 1px solid $gray;
	box-shadow: -3px 1px 3px rgba(0, 0, 0, 0.05);
	display: block;
	overflow: auto;
	// padding: $baseLineHeight $gutterWidth;

	// show/hide tab panes
	> .tab__pane {
		display: none;

		&.is-active {
			display: block;
		}
	}
}

// Add top spacing to the first element that's not a table
.tab__pane > :first-child:not(table) {
	// margin-top: $line-height-base;
}

.tab__inner {
	margin: 0 $gutter-width;
	overflow: hidden;
}

.tab__main {
	border-right: 1px solid $gray;
	overflow: hidden;
	padding-right: $gutter-width;
}

.tab__sidebar {
	border-left: 1px solid $gray;
	float: right;
	// opacity: .3;
	left: -1px; // match left border with that of .tab__main
	padding: $line-height-base 0 $line-height-base $gutter-width;
	position: relative;
	vertical-align: top;
	width: 25%;

	// &:hover {
	// 	opacity: 1;
	// }
}