.tabs__list {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: $tab-column-width;

  > li {
    margin-bottom: -1px;
  }

  > li > a {
    border: 1px solid transparent;
    color: $black;
    display: block;
    line-height: $line-height-base * 1.75;
    @include ie-lte(7) {
      height: $line-height-base * 1.75;
    }
    padding: 0 $gutter-width / 2;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    > i {
      font-size: 14px;
      opacity: .6;
      text-align: right;
      margin-right: 3px;
      @include ie-lte(7) {
        margin-right: 6px;
      }
    }

    &:hover {
      background-color: $gray-lighter;

      > i {
        opacity: 1;
      }
    }
  }

  > li.is-active > a {
    background-color: $white;
    border: 1px solid $gray;
    box-shadow: inset 2px 0 0 $gray;
    border-right: none;
    position: relative;
    z-index: 1;
  } 
}

// Nested navigation
.tabs__list > li > .tabs__list {
  background-color: $white;
  border-left: 1px solid $gray;
  border-bottom: 1px solid $gray;
  padding-bottom: 1px;
  display: none;
  float: none;

  > li.is-active > a {
    background-color: rgba(0, 0, 0, .1);
    border: 0;
    box-shadow: none;
  }
}

.tabs__list > li.is-open > .tabs__list,
.tabs__list > li.is-active > .tabs__list {
  display: block;
}

.tabs__content {
  background-color: $white;
  border: 1px solid $gray;
  box-shadow: -3px 1px 3px rgba(0, 0, 0, 0.05);
  display: block;
  overflow: auto;
  // padding: $baseLineHeight $gutterWidth;

  // show/hide tab panes
  > .tab__pane {
    display: none;

    &.is-active {
      display: block;
    }
  }
}

.tab__pane form {
  // Make sure forms in tabs don't add extra spacing after the form actions
  margin-bottom: 0;
}

.tab__inner {
  margin: 0 $gutter-width;
  overflow: hidden;
}

.tab__main {
  border-right: 1px solid $gray;
  overflow: hidden;
  padding-right: $gutter-width;
}

.tab__sidebar {
  border-left: 1px solid $gray;
  float: right;
  // opacity: .3;
  left: -1px; // match left border with that of .tab__main
  padding: $line-height-base 0 $line-height-base $gutter-width;
  position: relative;
  vertical-align: top;
  width: 25%;

  // &:hover {
  //  opacity: 1;
  // }
}

.tab--padded {
  padding: $line-height-base 0;
}