/** 
 * -----------------------------------------------------------------------------
 *  _type.scss
 * ----------------------------------------------------------------------------- 
 */

@import url(#{$fonts-path}proxima_nova/stylesheet.css);

// Headings

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0 0 ($line-height-base / 2) 0;
}

h1,
h2,
h3 {
  letter-spacing: -1px; 
}

h1 {
  font-size: $font-size-base * 2.75;                // 44px
  line-height: $line-height-base * 2.272727272;     // 50px
  margin: 0 0 ($line-height-base * 0.727272727) 0;  // 16px
}

h2 {
  font-size: $font-size-base * 2.25;                // 36px
  line-height: $line-height-base * 2.545454546;     // 56px
  margin: 0 0 ($line-height-base * 0.454545455) 0;  // 10px
}

h3 {
  font-size: $font-size-base * 1.75;                // 28px
  line-height: $line-height-base * 2.727272727;     // 60px
  margin: 0 0 ($line-height-base * 0.272727273) 0;  //  6px
}

h4 {
  font-size: $font-size-base * 1.25;                // 20px
  line-height: $line-height-base * 0.863636364;     // 19px
  margin: 0 0 ($line-height-base * 0.136363636) 0;  //  3px
}

h5, h6 {
  font-size: $font-size-base;                       // 16px
  line-height: $line-height-base;                   // 12px
  margin: 0; 
}

p {
  margin: 0 0 $line-height-base 0;
}

// Lists

ul, ol {
	margin: 0 0 $line-height-base 0;
	padding: 0 0 0 $gutter-width;
}

dl {
	margin: 0 0 $line-height-base 0;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 1em;
}

code, pre, kbd {
    font-size: $font-size-medium;
}

// Horizontal layout (like forms)
.dl-horizontal {
  dt {
    float: left;
    width: ($component-offset - 20);
    clear: left;
    text-align: right;
    @include text-overflow();
  }
  dd {
    @include clearfix; // Clear the floated `dt` if an empty `dd` is present
    margin-left: $component-offset;
  }
}

hr {
  border: 1px solid $gray;
  border-bottom: 0;
  margin-bottom: ($line-height-base * 0.727272727);
}