@mixin sortable-handle {
    color: color(text, light);
    content: '\f0c9';
    font-family: fontawesome;
    left: 10px;
    position: absolute;
    top: 10px;
}

@mixin sortable-success {
    color: color(success);
    font-family: fontawesome;
    left: 10px;
    position: absolute;
    top: 10px;
}

div.is-sortable {
    .ui-sortable-handle {
        background-color: color(background, light);
        margin-bottom: 4px;
        padding: 10px 10px 10px 50px;
        position: relative;

        &:hover {
            background-color: color(background);

            &::before {
                color: color(jadu-blue);
            }
        }

        &,
        .control__label {
            @include cursor('grab');
        }

        &::before {
            @include sortable-handle;
        }

        &.form__group::before {
            top: 22px;
        }
    }

    .input-group-guidance {
        background-color: transparent;
    }
}

div.is-sorting {
    background-color: color(sorting);
    border: 1px dashed color(sorting, dark);
    border-radius: 5px;
    display: block;
    margin-bottom: 4px;
    min-height: 68px;

    &::before {
        display: none;
    }
}


.table.is-sortable {
    tr > th:first-of-type,
    tr > td:first-of-type {
        padding-left: 50px;
    }

    .ui-sortable-handle > td:first-of-type {
        @include cursor('grab');
        position: relative;

        &::before {
            @include sortable-handle;
        }

        &:hover {
            &::before {
                color: color(jadu-blue);
            }
        }
    }

    .has-success > td:first-of-type::before {
        color: color(success);
        content: '\f058';
    }

    .ui-sortable-helper {
        display: table;
    }

    .is-sorting {
        background-color: color(sorting);
    }

    .sortable__count {
        color: #777;
        font-family: $font-family-regular;
        left: 30px;
        position: absolute;
    }
}

.is-dragging {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
