
.display--block {
    display: block;
}

.display--inline-block {
    display: inline-block;
}

.display--inline {
    display: inline;
}

.float--right {
    float: right;
}

.float--left {
    float: left;
}

.float--none {
    float: none;
}

.text--left {
    text-align: left;
}

.text--center {
    text-align: center;
}

.text--right {
    text-align: right;
}
