.swatch {
    display: inline-block;
    margin-bottom: $line-height-base;
    width: 150px;
    vertical-align: top;

    &__colour {
        border-radius: 100px;
        display: block;
        margin: 0 auto;
        height: 96px;
        width: 96px;
    }

    &__text {
        display: block;
        position: relative;
        top: 38%;
        text-align: center;
        width: 95px;
    }

    &__label {
        color: color(gray);

        code,
        span {
            display: block;
            font-size: .6em;
            text-align: center;
            width: 100%;
        }
    }

    @each $name, $palette in $colors {
        @each $variant, $value in $palette {
            @if $variant != 'alt' {
                &--#{$name}-#{$variant} .swatch__colour {
                    background-color: color($name, $variant);
                    color: color($name, 'alt');
                }
            }
        }
    }

    .swatch--white .swatch__color {
        border: 1px solid color(gray, lighter);
    }

}
