.show-baseline {
    @include baseline-grid;
}

%hide,
.hide {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

%show,
.show {
    clip: auto;
    display: inline-block;
    height: auto;
    overflow: visible;
    position: static;
    width: auto;
}

.visually-hidden {
    display: none;
}

.muted {
    color: color(gray, light);
}

p.success {
    background: rgba(0, 153, 51, .8);
    color: color(white);
    padding: 5px;
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);

    i {
        margin: 0 4px;
    }
}

// Removes default link styling
.naked-link,
.naked-link:hover {
    text-decoration: none;
    color: inherit;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// removes bottom margin from an element
.bottomless {
    margin-bottom: 0 !important;
}

.double-top {
    margin-top: 2em;
}

.margin-left {
    margin-left: $gutter-width;
}

.margin-right {
    margin-right: $gutter-width;
}

.no-results {
    background-color: color(gray, off-white);
    background-image: url($image-path + 'stripes.png');
    background-repeat: repeat;
    padding: 1em 0;
    text-align: center;
}

div.no-results {
    margin: 0 auto;
    width: 80%;

    @include respond-min($screen-desktop) {
        width: 50%;
    }
}


// Should span full width of content area
.tab__content > .no-results,
.tab__content *:not(table) .no-results {
    width: 100%;
}

.controls > .no-results {
    width: 100%;
    margin: 0;
    padding: 1px 0;
}

.no-results__message > p,
.no-results__action {
    margin: 12px 0;
}

// Replicates <hr /> but with nicer spacing
.divider {
    border-top: 1px solid color(border);
    display: block;
    margin: 10px 0;
}

%u-no-wrap,
.u-no-wrap {
    white-space: nowrap !important;
}

%u-word-break,
.u-word-break {
    word-break: break-all !important;
}

.u-visible-print {
    display: none !important;

    @media print {
        display: block !important;
    }

    @at-root {
        table#{&},
        &.table {
            @media print {
                display: table !important;
            }
        }

        tr#{&},
        &.table__tr {
            display: table-row !important;
        }

        td#{&},
        &.table__td,
        th#{&},
        &.table__th {
            display: table-cell !important;
        }
    }
}

.u-visible-print-inline {
    display: none !important;

    @media print {
        display: inline !important;
    }
}

.u-visible-print-inline-block {
    display: none !important;

    @media print {
        display: inline-block !important;
    }
}

.u-hidden-print {
    @media print {
        display: none !important;
    }
}

.u-visible-on-phone {
    @include visible-on-phone;
}

.u-visible-on-tablet {
    @include visible-on-tablet;
}

.u-visible-on-desktop {
    @include visible-on-desktop;
}

.u-hidden-on-phone {
    @include hidden-on-phone;
}

.u-hidden-on-tablet {
    @include hidden-on-tablet;
}

.u-hidden-on-desktop {
    @include hidden-on-desktop;
}

.u-sr-visible-on-phone {
    @include sr-visible-on-phone;
}

.u-sr-visible-on-tablet {
    @include sr-visible-on-tablet;
}

.u-sr-visible-on-desktop {
    @include sr-visible-on-desktop;
}

.u-sr-hidden-on-phone {
    @include sr-hidden-on-phone;
}

.u-sr-hidden-on-tablet {
    @include sr-hidden-on-tablet;
}

.u-sr-hidden-on-desktop {
    @include sr-hidden-on-desktop;
}

%u-display-none,
.u-display-none {
    display: none !important;
}

%u-display-block,
.u-display-block {
    display: block !important;
}

%u-display-inline,
.u-display-inline {
    display: inline;
}

%u-display-inline-block,
.u-display-inline-block {
    display: inline-block !important;
}

%u-float-none,
.u-float-none {
    float: none !important;
}

%u-float-left,
.u-float-left {
    float: left !important;
}

%u-float-right,
.u-float-right {
    float: right !important;
}

%u-vertical-align-top,
.u-vertical-align-top {
    vertical-align: top !important;
}

%u-vertical-align-middle,
.u-vertical-align-middle {
    vertical-align: middle !important;
}

%u-vertical-align-bottom,
.u-vertical-align-bottom {
    vertical-align: bottom !important;
}

%u-vertical-align-baseline,
.u-vertical-align-baseline {
    vertical-align: baseline !important;
}

%u-text-align-left
.u-text-align-left {
    text-align: left !important;
}

%u-text-align-center,
.u-text-align-center {
    text-align: center !important;
}

%u-text-align-right,
.u-text-align-right {
    text-align: right !important;
}

%u-text-align-justify,
.u-text-align-justify {
    text-align: justify !important;
}

%u-ui-disabled,
.u-ui-disabled.u-ui-disabled {
    @extend %u-cursor-not-allowed;

    opacity: .25 !important;
}

%u-cursor-not-allowed,
.u-cursor-not-allowed {
    cursor: not-allowed !important;
}
