$info-from-bg-color: lighten(color(info), 30);
$info-to-bg-color: transparent;
$info-from-text-color: darken(color(info), 30);
$info-to-text-color: black;

$danger-from-bg-color: lighten(color(danger), 30);
$danger-to-bg-color: transparent;
$danger-from-text-color: darken(color(danger), 30);
$danger-to-text-color: black;

.warning:not(.form__group) {
    background: rgba(255, 137, 9, .8);
    color: darken(rgb(255, 137, 9), 30%);
    text-shadow: none;

    @include ie-lte(8) {
        background: rgb(255, 137, 9);
    }

    &.fade {
        animation-name: fade-out;
        animation-delay: 5s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
}

.has-success:not(.form__group) {
    background-color: lighten($success-color, 50);

    &:hover {
        background-color: lighten($success-color, 47);
    }

    &.fade {
        animation-name: fade-out;
        animation-delay: 5s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
}

.has-warning:not(.form__group) {
    background-color: lighten($warning-color, 20);

    &:hover {
        background-color: lighten($warning-color, 17);
    }

    &.fade {
        animation-name: fade-out;
        animation-delay: 5s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
}

.has-success:not(.form__group) {
    background-color: lighten(color(success), 35);
    color: darken(color(success), 15);
}

.has-warning:not(.form__group) {
    background-color: lighten(color(warning), 15);
    color: darken(color(warning), 30);
}

@keyframes fade-out {
    from {
        background-color: inherit;
    }

    to {
        background-color: #fff;
    }
}

.is-new {
    background-color: color(new);
}

body a.is-disabled {
    color: color(link, disabled);
    cursor: not-allowed;
}

.text--success {
    color: color(success);
}

.text--danger {
    color: color(danger);
}
