
.display--block {
    display: block;
}

.display--inline-block {
    display: inline-block;
}

.display--inline {
    display: inline;
}

.float--right {
    float: right;
}

.float--left {
    float: left;
}

.float--none {
    float: none;
}

.text--left {
    text-align: left;
}

.text--center {
    text-align: center;
}

.text--right {
    text-align: right;
}

.padding {
    padding: 10px;

    &--large {
        padding: 20px;
    }
}

.padding-vertical {
    padding: 10px 0;

    &--large {
        padding: 20px 0;
    }
}

.padding-horizontal {
    padding: 0 10px;

    &--large {
        padding: 0 20px;
    }
}

.padding-right {
    padding-right: 10px;

    &--large {
        padding-right: 20px;
    }
}

.padding-left {
    padding-left: 10px;

    &--large {
        padding-left: 20px;
    }
}

.padding-top {
    padding-top: 10px;

    &--large {
        padding-top: 20px;
    }
}

.padding-bottom {
    padding-bottom: 10px;

    &--large {
        padding-bottom: 20px;
    }
}

.vertical-align--top {
    vertical-align: top !important;
}

.visibility-hidden {
    visibility: hidden;

    .lt-ie10 & {
        display: none;
    }
}

