// Type
$fonts-path: '../fonts/';
$font-family-light: "proxima_novalight", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family-regular: "proxima_nova_rgregular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family-semibold: "proxima_nova_semibold", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// Typographic grid
$font-family-base: 		$font-family-light;

@include ie-lte(8) {
	$font-family-base:  $font-family-regular;
}

$font-size-base: 		16px;
$font-size-large:       ceil($font-size-base * 1.25); // ~18px
$font-size-small:       ceil($font-size-base * 0.85); // ~12px
$line-height-base: 		22px;
$line-height-large:     1.33;
$line-height-small:     1.5;
$line-height-computed:  $line-height-base;
$font-size-small: 		ceil($font-size-base * 0.75);
$font-size-medium: 		ceil($font-size-base * 0.85);

// Columnar grid
$gutter-width: 			20px;
$tab-column-width: 		200px;
$sidebar-column-width: 	200px;
$component-offset: 		180px;

// Borders
$border-radius: 		4px;

// Dropdowns
$dropdown-font-size: 	$font-size-medium;

// Components
$padding-base-vertical:          6px;
$padding-base-horizontal:        12px;
$padding-large-vertical:         10px;
$padding-large-horizontal:       16px;
$padding-small-vertical:         5px;
$padding-small-horizontal:       10px;

// Forms
$form-label-column-width: 		 200px;
$input-bg:                       #fff;
$input-bg-disabled:              $gray-lighter;
$input-border:                   #ccc;
$input-border-radius:            $border-radius;
$input-border-focus:             #66afe9;
$input-color-placeholder:        $gray-light;
$input-height-base:              $line-height-base * 2;
$input-height-large:             (floor($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);
$legend-border-color:            #e5e5e5;
$input-group-addon-border-color: $input-border;

// z-index master list
$zindex-tour: 			 990;
$zindex-dropdown: 		1000;
$zindex-footer: 		1010;
$zindex-sticky:			1020;