$fontsPath: '../fonts/';

$sansSerifFontFamily: "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$sansSerifSemiBoldFontFamily: "Proxima Nova Semibold", "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// Typographic grid
$baseFontFamily: $sansSerifFontFamily;
$baseFontSize: 14px;
$baseLineHeight: 20px;