{% extends '@pulsar/pulsar/layouts/base.html.twig' %}
{% import '@pulsar/pulsar/v2/helpers/tabs.html.twig' as tabs %}

{% block body %}
<style type="text/css">

    .wrapper {
        padding: 20px;
    }

    .item {
        background-color: green;
        color: white;
        margin: 10px 0;
        padding: 10px;
    }

</style>

<div class="wrapper">
    <h1>Resize browser window to see which elements are hidden and shown at different breakpoints</h1>

    <div class="item u-visible-on-phone">
        1. Visible on mobile, hidden on tablet and desktop
    </div>

    <div class="item u-visible-on-tablet">
        2. Visible on tablet, hidden on mobile and desktop
    </div>

    <div class="item u-visible-on-desktop">
        3. Visible on desktop, hidden on mobile and tablet
    </div>

    <div class="item u-hidden-on-phone">
        4. Hidden on mobile, visible on tablet and desktop
    </div>

    <div class="item u-hidden-on-tablet">
        5. Hidden on tablet, visible on mobile and desktop
    </div>

    <div class="item u-hidden-on-desktop">
        6. Hidden on desktop, visible on mobile and tablet
    </div>
</div>


{% endblock %}

{% block javascript %}
<script type="text/javascript">

    $(window).on('resize', function() {
        $('.item').each(function () {
            $(this).attr('style', '');
        });

        $('.item:hidden').each(function () {
            this.style.setProperty('display', 'block', 'important');
            this.style.setProperty('background-color', 'red');
        });
    });

    $('.item:hidden').each(function () {
        this.style.setProperty('display', 'block', 'important');
        this.style.setProperty('background-color', 'red');
    });
</script>
{% endblock %}
