{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}

<h1>form.fieldset_end</h1>

<pre>
form.fieldset_end()
</pre>

{%
	set output = form.fieldset_end()
 %}

{{ output }}

<pre>{{ output|e }}</pre>
