{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}

<h1>form.select</h1>

<pre>
form.select({
	'label': 'Label',
	'options': {
		'foo': 'Foo',
		'bar': 'Bar'
	}
})
</pre>

{%
	set output = form.select({
		'label': 'Label',
		'options': {
			'foo': 'Foo',
			'bar': 'Bar'
		}
	})
 %}

{{ output }}

<pre>{{ output|e }}</pre>
