{% extends '@pulsar/pulsar/layouts/test_base.html.twig' %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}

{% block body %}
	<h1>form.submit</h1>

	<pre>
	form.submit({
		'label': 'Label'
	})
	</pre>

	{%
		set output = form.submit({
			'label': 'Label'
		})
	 %}

	{{ output }}

	<pre>{{ output|e }}</pre>
{% endblock %}
