{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}

<h1>form.create</h1>

<pre>
form.create()
</pre>

{%
	set output = form.create({
		'method': 'put'
	})
%}

{{ output }}

<pre>{{ output|e }}</pre>
