{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}

<h1>form.textarea</h1>

<pre>
form.textarea({
	'label': 'Label'
})
</pre>

{%
	set output = form.textarea({
		'label': 'Label',
		'value': 'rah rah rah'
	})
 %}

{{ output }}

<pre>{{ output|e }}</pre>
