{% extends '@cssTests/visual-regression-layout.html.twig' %}
{% block body %}
{{
    form.file({
        'label': 'foo',
        'guidance': 'foo <span class="bar">bar</span>',
        'name': 'form[field]',
        'id': 'form_field'
    })
}}
{% endblock %}
