{% extends '@cssTests/visual-regression-layout.html.twig' %}
{% block body %}
{{
    form.radio({
        'label': 'foo',
        'id': 'form_field',
        'name': 'form[field]',
        'guidance': 'foo <span class="bar">bar</span>',
        'value': '1'
    })
}}
{% endblock %}
