{% extends '@cssTests/visual-regression-layout.html.twig' %}
{% block body %}
{{
    form.text({
        'label': 'foo',
        'required': true,
        'id': 'form_field',
        'name': 'form[field]',
        'guidance': 'foo <span class="bar">bar</span>',
        'type': 'tel'
    })
}}
{% endblock %}
