{% extends '@cssTests/visual-regression-layout.html.twig' %}
{% block body %}
{{
    form.toggle_switch({
        'label': 'Toggle',
        'guidance': 'foo <span class="bar">bar</span>',
        'id': 'form_field',
        'guidance-container': 'baz',
        'name': 'form[field]',
        'value': '1'
    })
}}
{% endblock %}
