{% extends "@pulsar/pulsar/components/tab.html.twig" %}
{% import "@pulsar/pulsar/v2/helpers/rules.html.twig" as rule %}

{%- block actions_left -%}
    {{
        html.actions_menu({
            'items': [
                [
                    {
                        'label': 'Edit form',
                        'href': '/edit',
                        'icon': 'pencil'
                    }
                ],
                [
                    {
                        'label': 'View CXM case',
                        'href': '/cxm',
                        'icon': 'arrow-right'
                    },
                    {
                        'label': 'View payments',
                        'href': '/paybridge',
                        'icon': 'credit-card'
                    }
                ],
                [
                    {
                        'label': 'Download PDF',
                        'href': '/download-pdf',
                        'icon': 'file-pdf-o'
                    },
                    {
                        'label': 'Export archive',
                        'href': '/download-archive',
                        'icon': 'file-archive-o'
                    },
                    {
                        'label': 'Print',
                        'href': '/print',
                        'icon': 'print'
                    }
                ]
            ]
        })
    }}
{%- endblock -%}

{%- block actions_right -%}
    {{
        html.button({
            'label': 'Create Rule',
            'class': 'btn--primary'
        })
    }}
{%- endblock -%}

{% block tab_content %}

<div id="rule-form-container" class="rules-container rules-container--v2">
    
    <div class="rule-block rule-block--if">
        <div class="rule-block__header">
            <span class="rule-block__heading">if</span>
        </div>
        <div class="rule-block__controls">

            <div class="rule-block__control">
                <div class="form__group form__group--medium">
                    <label class="control__label hide">Choose trigger</label>
                    <div class="controls">
                        <select placeholder="Choose condition" class="form__control select js-select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                            <option value="foo">User type</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="rule-block--indent">
        <div class="rule-block rule-block--or">
            <div class="rule-block__header">
                <span class="rule-block__heading">or</span>
            </div>
            <div class="rule-block__controls">
                
            </div>
            <a data-action="remove" data-placement="left" data-toggle="tooltips" data-title="Remove this item"  class="remove__control js-remove-trigger"><i  class="icon-remove-sign"><span class="hide">Remove this item</span></i></a>
        </div>

        <div class="rule-links">
            <div class="rule-link rule-link--or">
                <a href="#or">or</a>
            </div>
            <div class="rule-link rule-link--and">
                <a href="#and">and</a>
            </div>
        </div>

        <div class="rule-block rule-block--and">
            <div class="rule-block__header">
                <span class="rule-block__heading">and</span>
            </div>
            <div class="rule-block__controls">
            
            </div>
            <a data-action="remove" data-placement="left" data-toggle="tooltips" data-title="Remove this item"  class="remove__control js-remove-trigger"><i  class="icon-remove-sign"><span class="hide">Remove this item</span></i></a>
        </div>

        <div class="rule-links">
            <div class="rule-link rule-link--and">
                <a href="#or">and</a>
            </div>
        </div>

        <div class="rule-block rule-block--return">
            <div class="rule-block__header">
                <span class="rule-block__heading">return</span>
            </div>
            <div class="rule-block__controls">
            </div>
        </div>
    </div>

    <div class="rule-links">
        <div class="rule-link rule-link--else-if">
            <a href="#or">else if</a>
        </div>
    </div>

    <div class="rule-block rule-block--else-if">
        <div class="rule-block__header">
            <span class="rule-block__heading">else if</span>
        </div>
        <div class="rule-block__controls">
        </div>
        <a data-action="remove" data-placement="left" data-toggle="tooltips" data-title="Remove this item"  class="remove__control js-remove-trigger"><i  class="icon-remove-sign"><span class="hide">Remove this item</span></i></a>
    </div>

    <div class="rule-block--indent">

        <div class="rule-links">
            <div class="rule-link rule-link--or">
                <a href="#or">or</a>
            </div>
            <div class="rule-link rule-link--and">
                <a href="#and">and</a>
            </div>
        </div>

        <div class="rule-block rule-block--return">
            <div class="rule-block__header">
                <span class="rule-block__heading">return</span>
            </div>
            <div class="rule-block__controls">
            </div>
        </div>

    </div>

    <div class="rule-links">
        <div class="rule-link rule-link--else-if">
            <a href="#or">else if</a>
        </div>
    </div>

    <div class="rule-block rule-block--else-return">
        <div class="rule-block__header">
            <span class="rule-block__heading">else return</span>
        </div>
        <div class="rule-block__controls">
            <div class="rule-block__control">
                <div class="form__group form__group--medium">
                    <label class="control__label hide">Choose trigger</label>
                    <div class="controls">
                        <select placeholder="Choose condition" class="form__control select js-select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                            <option value="foo">User type</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock tab_content %}





