<h2>Bill Murray facts</h2>
<ul>
    <li>He is great</li>
    <li>He is wonderful</li>
    <li>He is talented</li>
    <li>He lived in a fake castle on the outskirts Los Angeles. He wants to import an authentic one from overseas.</li>
    <li>He said he realized that all great movie stars, such as Spencer Tracy, had had recognizable voices, so he has stylized his to be distinctive.</li>
</ul>
