{% extends '@pulsar/pulsar/layouts/base.html.twig' %}

{% block tabs_content %}
    <span class="js-countdown" data-final-date="1665243907399" data-format="%Hh %Mm %Ss">Expires in 6 hours</span>
{% endblock %}

