{% import 'pulsar/v2/helpers/html.html.twig' as html %}
{% import 'pulsar/v2/helpers/form.html.twig' as form %}
{% import 'pulsar/helpers/flash.html.twig' as flash %}

<div class="tab__container">
    <div class="tab__inner">

        <div id="wrap_content">
<script type="text/javascript">
    function showHideTeaserText(selectBox) {
        if (selectBox.options[selectBox.selectedIndex].value == 1) {
            $('teaserTextDescription').style.display = '';
            $('teaserTextEditor').style.display = '';
        }
        else {
            $('teaserTextDescription').style.display = 'none';
            $('teaserTextEditor').style.display = 'none';
        }
    }

    function showPasswordFields()
    {
        if (document.getElementById('changePassword').checked == true) {
            document.getElementById('passwordFields').style.display = '';
        }
        else {
            document.getElementById('passwordFields').style.display = 'none';
        }
    }
</script>
    <form action="./websection_section_details.php" method="post" enctype="multipart/form-data" name="mainForm" id="mainForm">
    <input type="hidden" name="documentID" value="-1">
<!-- ################### CC Content ################### -->
    <div class="dropdown">
        <button class="btn action dropdown-toggle">Actions</button>
        <ul class="dropdown-menu">
            <li><a href="#" id="lockText" onclick="return loadLightbox('content_lock', 'lb', 'contentLockDateTarget=newlockTimeoutDate&amp;contentLockTimeTarget=newlockTimeoutTime&amp;existingLockDate='+$('newlockTimeoutDate').value+'&amp;existingLockTime='+$('newlockTimeoutTime').value); return false;">Unlock</a></li>
            <li class="divider"></li>
        </ul>
    </div>

        <!-- Metadata fields -->
        <input type="hidden" id="metadata_creator" name="metadata_creator" value="Admin">
        <input type="hidden" id="metadata_contributor" name="metadata_contributor" value="">
        <input type="hidden" id="metadata_publisher" name="metadata_publisher" value="">
        <input type="hidden" id="metadata_rights" name="metadata_rights" value="">
        <input type="hidden" id="metadata_source" name="metadata_source" value="">
        <input type="hidden" id="metadata_status" name="metadata_status" value="V1.0 Public Consumption">
        <input type="hidden" id="metadata_coverage" name="metadata_coverage" value="UK">
        <input type="hidden" id="metadata_created" name="metadata_created" value="08/07/2015">
        <input type="hidden" id="metadata_modified" name="metadata_modified" value="">
        <input type="hidden" id="metadata_valid" name="metadata_valid" value="">
        <input type="hidden" id="metadata_expired" name="metadata_expired" value="">
        <input type="hidden" id="metadata_format" name="metadata_format" value="">
        <input type="hidden" id="metadata_language" name="metadata_language" value="">
        <input type="hidden" id="metadata_subject" name="metadata_subject" value="">
        <input type="hidden" id="metadata_description" name="metadata_description" value="">
        <input type="hidden" id="metadata_completed" name="metadata_completed" value="false">

        <!-- Content Scheduling Fields -->
        <input type="hidden" id="useContentSchedule" name="useContentSchedule" value="false">
        <input type="hidden" id="schedule_action" name="schedule_action" value="">
        <input type="hidden" id="schedule_num_reminders" name="schedule_num_reminders" value="0">

        <!-- Content Locking Fields -->
        <input type="hidden" id="newlockTimeoutDate" name="newlockTimeoutDate" value="08/07/2015">
        <input type="hidden" id="newlockTimeoutTime" name="newlockTimeoutTime" value="21:08">

        <table class="generic_table">
            <tbody><tr>
                <td class="generic_desc"><em>1.</em> <p>Document Title*</p></td>
                <td class="generic_action">
                    <input type="text" name="title" size="33" value="">
<img src="../assets/img/lockedBBBBBB.png" class="unlock" id="lockIcon">             </td>
            </tr>
            <tr>
                <td class="generic_desc"><em>2.</em> <p>Categories*</p></td>
                <td class="generic_action">
                    <input type="button" class="btn interimButton" id="assignCategories" value="Assign Categories" onclick="loadLightbox('assign_category', 'lb', '');">
                </td>
            </tr>
            <tr>
                <td class="generic_desc"><em>3.</em> <p>Metadata*</p></td>
                <td class="generic_action">
                    <input type="button" class="btn interimButton" id="assignMetadata" value="Assign Metadata" onclick="return loadLightbox('assign_metadata', 'lb', 'section=documents');">
                </td>
            </tr>
            <tr>
                <td class="generic_desc"><em>4.</em> <p>Page Structure</p></td>
                <td class="generic_action">
                    <select name="pageStructureID">
                        <option value="1">Two column</option>
                        <option value="2">One column</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td class="generic_desc"><em>5.</em> <p>Enable Document Password?</p></td>
                <td class="generic_action">
                    <select class="select" name="enablePassword" id="enablePassword" onchange="if(this.value=='yes') {document.getElementById('setPasswordBlock').style.display = 'block';} else {document.getElementById('setPasswordBlock').style.display = 'none';}">
                        <option value="yes">Yes</option>
                        <option value="no" selected="selected">No</option>
                    </select>

                    <p id="setPasswordBlock" style="display:none;">
                        <input type="hidden" name="changePassword" id="changePassword" value="1">
                        <span id="passwordFields">
                            <label for="password">Password</label>
                            <input type="password" id="newPassword" name="newPassword" size="32" value="" autocomplete="off">
                        </span>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="generic_desc"><em>6.</em> <p>Document Access Level</p></td>
                <td class="generic_action">
                    <select class="select" name="accessLevel">
                        <option value="1" selected="selected">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="generic_finish"><em>7.</em>
                    <span>
                    <input type="submit" class="btn submit" name="saveDocumentHeader" value="Save">
                    </span>
                </td>
            </tr>
        </tbody></table>
    </form>
<script type="text/javascript">
    Event.observe(window, 'load', function() {
        // Initialise who_is_online
        var whoIsOnline = new WhoIsOnline({
            checkFrequency: '30'
        });
        //attach events to the names found by the loading inside this page (avoid running 'load' immediately for every page load!)
        whoIsOnline.attachEvents($('onlineAdminsStartActive').value);

        $('searchOnlineAdmins').observe('keyup', function (e) {
            whoIsOnline.filterResults(e);
        });

    });
</script>

<input type="hidden" id="canViewStats" value="1"><input type="hidden" id="canViewContent" value="1"><input type="hidden" id="onlineAdminsStartActive" value="0">

<div id="collaborationWindow" style="display: none;">
    <h3>Online now</h3>
    <ul id="who_is_online">

<li class="justYou">You're the only one</li>    </ul>
    <div id="searchOnlineAdminsContainer" style="display: none;">
        <input type="text" class="input" id="searchOnlineAdmins" value="">
    </div>
</div>
<div id="collaborationMenu">
    <div>
        <ul>
            <li><a href="#" class="onlineNowLink"><span id="onlineNowLink" class="disabled">Online now</span></a></li>
        </ul>
        <p><a href="#" onclick="scroll(0,0); return false;"><span class="top">↑</span></a> <a href="http://192.168.10.20/jadu/version.php"> Jadu Universe Continuum © 2015</a></p>
    </div>
</div>

</div>

    </div>


</div>
