{% extends '@pulsar/quantum/layouts/tabbed.html.twig' %}
{% import '@pulsar/pulsar/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/helpers/flash.html.twig' as flash %}

{% block title %}{{ parent() }}{% endblock %}

{% set heading = 'AB123C Appellant v Authority' %}

{% set tab_cases %}
    {% include 'quantum/control_centre/tabs/cases.html.twig' %}
{% endset %}

{%
  set tabs = [
    {
      "id"        : "my_cases",
      "label"     : "My Cases",
      "src"       : tab_cases
    },
    {
      "id"        : "all_cases",
      "label"     : "All Cases",
      "src"       : tab_cases
    }
  ]
%}

{% block summary %}
<div class="flash flash--warning is-sticky">
    <i class="icon-warning-sign"></i> This case is awaiting council confirmation
    <form class="form--inline" method="post" action="/q/app_dev.php/case/AA100001/transition?returnPath=http%3A%2F%2Ftpt.quantum.dev%2Fq%2Fapp_dev.php%2Fcase%2FAA100001">

      <button type="submit" class="btn btn--primary">Confirm Now</button>

      <input class="form__control" type="hidden" id="quantum_cc_case_status_transition__token" name="quantum_cc_case_status_transition[_token]" value="ca7Xbiv-8gpDPP6br6bFV7JWHO-nxjCPDN_SSwsooAU">
    </form>

    <form class="form--inline" method="post" action="/q/app_dev.php/case/AA100001/jump?returnPath=http%3A%2F%2Ftpt.quantum.dev%2Fq%2Fapp_dev.php%2Fcase%2FAA100001">

      <div class="form__group">
        <label class="control__label" for="quantum_cc_case_status_jump_status">or change status to</label>
        <div class="controls">
          <select class="form__control" id="quantum_cc_case_status_jump_status" name="quantum_cc_case_status_jump[status]">
            <option value="incomplete">Incomplete</option>
            <option value="awaiting_council_confirmation" selected="selected">Awaiting council confirmation</option>
            <option value="awaiting_adjudicator_registration">Awaiting registration</option>
            <option value="awaiting_evidence">Awaiting evidence</option>
            <option value="awaiting_hearing_request">Awaiting hearing request</option>
            <option value="awaiting_hearing_date">Awaiting hearing date</option>
            <option value="hearing_arranged">Hearing arranged</option>
            <option value="awaiting_decision">Awaiting decision</option>
            <option value="closed">Case closed</option>
            <option value="registration_rejected">Rejected by adjudicator</option>
          </select>
        </div>
      </div>

      <button type="submit" class="btn">Change Status</button>

      <input class="form__control" type="hidden" id="quantum_cc_case_status_jump__token" name="quantum_cc_case_status_jump[_token]" value="QMglN1rkt-xsRHKvfILh2jvAO0V_7QDXabdOWbDiBcM">

    </form>
</div>
{% endblock %}

{% block tabs_list %}


  <div class="actionsbar actionsbar--left">
    <div class="btn__toolbar">
      <div class="btn__group">
        <a class="btn btn__back" href="#back" onclick="history.back(); return false;"><i class="icon-arrow-left"></i></a>
        {% if actions_menu is not empty %}
          {{ html.button_dropdown(label = 'Actions', menu_items = actions_menu) }}
        {% endif %}
      </div>
    </div>
  </div>

  {{ html.tabs(tabs, editable = true) }}
{% endblock %}

{% block tabs_content %}
  {{ html.tabs_content(tabs) }}
{% endblock %}
