    <div class="btn__group dropdown toolbar-action toolbar-action--icon notifications">
        {{
            html.button({
                'class': 'btn--outline notifications-toggle has-new is-active',
                'label': html.icon('bell-o', { 'label': 'Show notifications'}) ~ ' <span class="caret"></span>',
                'data-toggle': 'dropdown',
                'aria-expanded': false
            })
        }}

        <div class="notifications-container dropdown__menu">
            <div class="notifications__header">
                <h1 class="notifications-title">Notifications</h1>
                <button class="notifications-dismiss btn--naked">dismiss all</button>
            </div>
            <ol class="notifications-list">
                <li>
                    <article class="notification is-new">
                        <div class="media">
                            <img src="/images/favicons/cms/android-chrome-48x48.png" alt="" class="media__image" />
                            <div class="media__body">
                                <div class="notification__header">
                                    <h2 class="notification__heading">CMS Continuum #29 now available.</h2>
                                    <button
                                        type="button"
                                        class="remove-button notification__dismiss"
                                        data-action="remove"
                                        data-action-target="#itemToRemove"
                                        >
                                        <i class="icon-remove"><span class="hide">Dismiss notification</span></i>
                                    </button>
                                    <span class="notification__time small-type">2 minutes ago</span>
                                </div>
                                <p class="u-margin-bottom">We've updated our user manual to feature our new and improved user interface. If you need a copy, drop us a message and we'll be happy to send one over.</p>
                                <p><i class="icon-file-text-alt" aria-hidden="true"></i> <a href="#">View detailed release notes <span class="hide">for CMS Continuum #29</span></a></p>
                            </div>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="notification">
                        <div class="media">
                            <img src="/images/favicons/cms/android-chrome-48x48.png" alt="" class="media__image" />
                            <div class="media__body">
                                <div class="notification__header">
                                    <h2 class="notification__heading">CMS Continuum #29 now available.</h2>
                                    <button
                                        type="button"
                                        class="remove-button notification__dismiss"
                                        data-action="remove"
                                        data-action-target="#itemToRemove"
                                        >
                                        <i class="icon-remove"><span class="hide">Dismiss notification</span></i>
                                    </button>
                                    <span class="notification__time small-type">2 minutes ago</span>
                                </div>
                                <p class="u-margin-bottom">We've updated our user manual to feature our new and improved user interface. If you need a copy, drop us a message and we'll be happy to send one over.</p>
                                <p><i class="icon-file-text-alt" aria-hidden="true"></i> <a href="#">View detailed release notes <span class="hide">for CMS Continuum #29</span></a></p>
                            </div>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="notification">
                        <div class="media">
                            <img src="/images/favicons/cms/android-chrome-48x48.png" alt="" class="media__image" />
                            <div class="media__body">
                                <div class="notification__header">
                                    <h2 class="notification__heading">CMS Continuum #29 now available.</h2>
                                    <button
                                        type="button"
                                        class="remove-button notification__dismiss"
                                        data-action="remove"
                                        data-action-target="#itemToRemove"
                                        >
                                        <i class="icon-remove"><span class="hide">Dismiss notification</span></i>
                                    </button>
                                    <span class="notification__time small-type">2 minutes ago</span>
                                </div>
                                <p class="u-margin-bottom">We've updated our user manual to feature our new and improved user interface. If you need a copy, drop us a message and we'll be happy to send one over.</p>
                                <p><i class="icon-file-text-alt" aria-hidden="true"></i> <a href="#">View detailed release notes <span class="hide">for CMS Continuum #29</span></a></p>
                            </div>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="notification">
                        <div class="media">
                            <img src="/images/favicons/cms/android-chrome-48x48.png" alt="" class="media__image" />
                            <div class="media__body">
                                <div class="notification__header">
                                    <h2 class="notification__heading">CMS Continuum #29 now available.</h2>
                                    <button
                                        type="button"
                                        class="remove-button notification__dismiss"
                                        data-action="remove"
                                        data-action-target="#itemToRemove"
                                        >
                                        <i class="icon-remove"><span class="hide">Dismiss notification</span></i>
                                    </button>
                                    <span class="notification__time small-type">2 minutes ago</span>
                                </div>
                                <p class="u-margin-bottom">We've updated our user manual to feature our new and improved user interface. If you need a copy, drop us a message and we'll be happy to send one over.</p>
                                <p><i class="icon-file-text-alt" aria-hidden="true"></i> <a href="#">View detailed release notes <span class="hide">for CMS Continuum #29</span></a></p>
                            </div>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="notification">
                        <div class="media">
                            <img src="/images/favicons/cms/android-chrome-48x48.png" alt="" class="media__image" />
                            <div class="media__body">
                                <div class="notification__header">
                                    <h2 class="notification__heading">CMS Continuum #29 now available.</h2>
                                    <button
                                        type="button"
                                        class="remove-button notification__dismiss"
                                        data-action="remove"
                                        data-action-target="#itemToRemove"
                                        >
                                        <i class="icon-remove"><span class="hide">Dismiss notification</span></i>
                                    </button>
                                    <span class="notification__time small-type">2 minutes ago</span>
                                </div>
                                <p class="u-margin-bottom">We've updated our user manual to feature our new and improved user interface. If you need a copy, drop us a message and we'll be happy to send one over.</p>
                                <p><i class="icon-file-text-alt" aria-hidden="true"></i> <a href="#">View detailed release notes <span class="hide">for CMS Continuum #29</span></a></p>
                            </div>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="notification">
                        <div class="media">
                            <img src="/images/favicons/cms/android-chrome-48x48.png" alt="" class="media__image" />
                            <div class="media__body">
                                <div class="notification__header">
                                    <h2 class="notification__heading">CMS Continuum #29 now available.</h2>
                                    <button
                                        type="button"
                                        class="remove-button notification__dismiss"
                                        data-action="remove"
                                        data-action-target="#itemToRemove"
                                        >
                                        <i class="icon-remove"><span class="hide">Dismiss notification</span></i>
                                    </button>
                                    <span class="notification__time small-type">2 minutes ago</span>
                                </div>
                                <p class="u-margin-bottom">We've updated our user manual to feature our new and improved user interface. If you need a copy, drop us a message and we'll be happy to send one over.</p>
                                <p><i class="icon-file-text-alt" aria-hidden="true"></i> <a href="#">View detailed release notes <span class="hide">for CMS Continuum #29</span></a></p>
                            </div>
                        </div>
                    </article>
                </li>
                <li>
                    <article class="notification notification--last">
                        <div class="media">
                            <img src="/images/favicons/cms/android-chrome-48x48.png" alt="" class="media__image" />
                            <div class="media__body">
                                <div class="notification__header">
                                    <h2 class="notification__heading">CMS Continuum #29 now available.</h2>
                                    <button
                                        type="button"
                                        class="remove-button notification__dismiss"
                                        data-action="remove"
                                        data-action-target="#itemToRemove"
                                        >
                                        <i class="icon-remove"><span class="hide">Dismiss notification</span></i>
                                    </button>
                                    <span class="notification__time small-type">2 minutes ago</span>
                                </div>
                                <p class="u-margin-bottom">We've updated our user manual to feature our new and improved user interface. If you need a copy, drop us a message and we'll be happy to send one over.</p>
                                <p><i class="icon-file-text-alt" aria-hidden="true"></i> <a href="#">View detailed release notes <span class="hide">for CMS Continuum #29</span></a></p>
                            </div>
                        </div>
                    </article>
                </li>

            </ol>
            <div class="notifications__footer">
                <button class="btn btn--naked notifications-all">View all</button>
            </div>
        </div>
    </div>
