{% extends 'layout.html.twig' %}
{% import 'pulsar/helpers/html.html.twig' as html %}
{% import 'pulsar/helpers/form.html.twig' as form %}
{% import 'pulsar/helpers/flash.html.twig' as flash %}

{% block title %}Pulsar Documentation{% endblock %}

{% set heading = 'Pulsar UI' %}

{% block tabs_list %}
    {{ tabs|raw }}
{% endblock %}

{% block tabs_content %}
    <div class="tabs__content">
        <div class="tab__pane is-active">
            <div class="tab__inner tab--padded">
                {{ content|raw }}
            </div>
        </div>
    </div>
{% endblock %}
