{% extends '@pulsar/pulsar/layouts/pulsar.html.twig' %}
{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}

{% block title %}Pulsar Documentation{% endblock %}

{% set heading = 'Pulsar UI' %}

{% block content %}
    <br />
    <p>Pulsar documentation is now on <a href="http://jadu.gitbooks.io/pulsar">http://jadu.gitbooks.io/pulsar</a>.</p>
{% endblock %}
