// Constructor
.flash {
  padding: (($line-height-base / $line-height-small) / 2) $gutter-width;
  position: absolute;
  width: 100%;
  z-index: $zindex-flash;

  &.is-sticky {
    display: none; // Flashes should be hidden on page load, then animated in so the user sees them.
  }

  i {
    margin: 0 ($gutter-width / 4) 0 0;

    @include respond-min($screen-phone) {
      margin-right: $gutter-width / 2;
    }
  }

  @include respond-min($screen-phone) {
    padding: ($line-height-base / 2) $gutter-width;
  }
}

// Make sure sticky flashes appear over the breadcrumb
.flash__wrapper--sticky {
  position: absolute;
  width: 100%;
}

// Default
.flash,
.flash--default {
  background: rgba(0, 0, 0, .8);
  color: $white;
  text-shadow: 0 0 2px rgba(0, 0, 0, .5);

  a {
    color: $white;
    text-decoration: underline;
  }

  @include ie-lte(8) {
    background:  rgb(0, 0, 0);
  }
}

// Variations
.flash--success {
  background: rgba(0, 153, 51, .8);
  @include ie-lte(8) {
    background:  rgb(0, 153, 51);
  }
}

.flash--warning {
  @extend .warning;
}

.flash--error {
  background: rgba(204, 51, 51, .8);
  @include ie-lte(8) {
    background:  rgb(204, 51, 51);
  }
}

.flash--info {
  background: $label-info-bg;
  // color: $state-info-text;
  text-shadow: none;
  @include ie-lte(8) {
    background:  $label-info-bg;
  }
}

// Close buttons
.flash {
  .close {
    color: $white;
    font-size: 1em;
    margin-left: $gutter-width / 4;
    margin-right: -($gutter-width / 2);
    opacity: .9;
    &:hover {
      opacity: 1;
    }

    @include respond-min($screen-phone) {
      margin-left: $gutter-width / 2;
      margin-right: -$gutter-width;
    }
  }
}
