.notifications {
  color: $accent-color-alt;
  // margin-right: $gutter-width / 2;
  max-width: 300px;
  position: relative;
  top: 5px;

  .btn {
    background: none;
    box-shadow: none;
    border: none;
    color: $white;
    text-shadow: none;

    > .badge {
      margin: -3px 0 -1px;
    }
  }

  .btn:hover {
    background-color: rgba(0, 0, 0, .2);
    background-image: none;
    box-shadow: none;
  }

  h1 {
    float: left;
    font-size: $font-size-large;
    line-height: $line-height-large;
    margin: 0 0 0 ($gutter-width / 2);
  }

  small {
    color: $gray-light;
  }

  @include respond-min($screen-phone) {
    // margin-right: $gutter-width;
  }

  .dropdown__menu {
    max-height: 75vh;
    overflow: hidden;
    overflow-y: scroll;
  }
}

.notifications__header {
  padding-bottom: 40px;
}


// very specific to overcome dropdown specifics
.dropdown__menu > li > a.notifications__dismiss {
  color: $accent-color-alt;
  float: right;
  padding-right: $gutter-width / 2;
  text-decoration: none;

  &:hover {
    color: $accent-color;
  }
}

.notification {
  border-bottom: 1px solid $gray-lighter;
  display: block;
  float: left;
  width: 100%;

  > a,
  > a > i,
  > a > img {
    float: left;
  }

  > a {
    width: 100%;
  }
}

.notification__title {
  font-family: $font-family-regular;
  margin-bottom: 0;

  .dropdown__menu > li & > i {
    margin: 0 2px 0 -4px;
  }
}

.notification__time {
  float: right;
  font-size: $font-size-small;
}

.notification__description {
  margin-left: 25px;
}

.notification__description {
  margin-bottom: 0;
}

.dropdown__menu > li {
  &:hover > .badge {
    @extend .badge--primary;
    background-color: darken($dropdown-link-active-bg, 20%);
  }
  &.notification--primary a {
    background-color: $label-primary-bg;
    color: $white;
    &:hover {
      background-color: $toolbar-notification-item-hover;
      color: $accent-color;
    }
    > .badge {
      @extend .badge--primary;
      background-color: darken($badge-primary-bg, 20%);
    }
  }
  &.notification--success a {
    background-color: $label-success-bg;
    color: $white;
    &:hover {
      background-color: $toolbar-notification-item-hover;
      color: $label-success-bg;
    }
    > .badge {
      @extend .badge--success;
      background-color: darken($badge-success-bg, 20%);
    }
  }
  &.notification--warning a {
    background-color: $label-warning-bg;
    color: $white;
    &:hover {
      background-color: $toolbar-notification-item-hover;
      color: $label-warning-bg;
    }
    > .badge {
      @extend .badge--warning;
      background-color: darken($badge-warning-bg, 20%);
    }
  }
  &.notification--info a {
    background-color: $label-info-bg;
    color: $white;
    &:hover {
      background-color: $toolbar-notification-item-hover;
      color: $label-info-bg;
    }
    > .badge {
      @extend .badge--info;
      background-color: darken($badge-info-bg, 20%);
    }
  }
  &.notification--danger a {
    background-color: $label-danger-bg;
    color: $white;
    &:hover {
      background-color: $toolbar-notification-item-hover;
      color: $label-danger-bg;
    }
    > .badge {
      @extend .badge--danger;
      background-color: darken($badge-danger-bg, 20%);
    }
  }
  &.notification--inverse a {
    background-color: $label-inverse-bg;
    color: $white;
    &:hover {
      background-color: $toolbar-notification-item-hover;
      color: $label-inverse-bg;
    }
    > .badge {
      @extend .badge--inverse;
      background-color: darken($badge-inverse-bg, 20%);
    }
  }
}
