/**
 * Richer lists can be displayed either as the entire layout for a tab, or as a
 * separate component within a form.
 *
 * 1. Rich lists should aim to chop the last item in a list in half horizontally
 *    in order to visually prompt the user that information has been hidden and
 *    that they should scroll to see more items.
 * 2. Outline is used here so that if the rich list is used in a container that
 *    already has a border, it wont be doubled up.
 * 3. The last item should always show empty space after/underneath, this helps
 *    to indicate that the end of the list has been reached.
 * 4. The colour to be shown 'underneath' the items, which helps to signify when
 *    the end of the list has been reached.
 * 5. Make sure the elements containing list items are always flush with the top
 *    of this container (tables are normally aligned to the bottom).
 * 6. Remove default styles from list elements used to display items.
 * 7. Rich list items can contain selection of different element types, which
 *    need padding applied to maintain layout.
 * 8. Don't show bullets/numbers when using ordered/unordered lists.
 * 9. Make sure links & spans used as list items are treated as block-level and
 *    100% width.
 * 10. Reset default table styles.
 * 11. Reset link styling used in list items, visual styling should be
 *     handled by the list item itself.
 * 12. Remove ability to scroll contents and simply stretch the height to fit
 *     the number of items.
 * 13. If streching to fit, or paginating, then we don't need the emtpy space
 *     after the last item as created in [3].
 * 14. Don't include a bottom border on the last item in stretched or paginated
 *     lists so that the border isn't 'doubled up' with the bottom border of the
 *     rich list container.
 * 15. Make sure .pagination element sits directly underneath the rich list.
 * 16. Size variants only available when the screen is wide enough for them to
 *     be useful.
 * 17. Rich lists within decks.
 */


/* -------------------------------------------------------------------------- *\
    Configuration
\* -------------------------------------------------------------------------- */

// Heights
$rich-list-height:                    215px !default; /* [1] */
$rich-list-height-tall:               490px !default; /* [1] */

// Items
$rich-list-item-padding:              .5em ($gutter-width / 2);

// Item widths
$rich-list-items-width-default:       .5 !default;  // small screen
$rich-list-items-width-small:         .25 !default; // large screen
$rich-list-items-width-medium:        .37 !default; // large screen
$rich-list-items-width-large:         .5 !default;  // large screen
$rich-list-items-width-xlarge:        .65 !default; // large screen

// Colour
$rich-list-border-color:              $gray !default;
$rich-list-item-bg-color:             $white !default;
$rich-list-item-bg-hover-color:       $gray-lighter !default;
$rich-list-item-bg-selected-color:    $jadu-blue !default;
$rich-list-item-text-selected-color:  $white !default;


/* -------------------------------------------------------------------------- *\
    Default Presentation
\* -------------------------------------------------------------------------- */

.richer-list {
  display: block;
  float: left;
  height: $rich-list-height;
  margin-bottom: 1em;
  outline: 1px solid $rich-list-border-color; /* [2] */
  width: 100%;
}

.richer-list__items-container,
.richer-list__detail {
  display: block;
  float: left;
  overflow: scroll;
}

.richer-list__items-container {
  height: $rich-list-height;
  overflow: scroll;
}

.richer-list__items {
  margin-bottom: 1em; /* [3] */
  width: 100%;

  ul &,
  ol & {
    display: block;
  }
}

.richer-list__detail {
  height: 100%;
}

.richer-list__items-container {
  background-color: $off-white; /* [4] */
  border-right: 1px solid $rich-list-border-color;
  vertical-align: top; /* [5] */
  width: percentage($rich-list_items-width-default);

  > ul,
  > ol { /* [6] */
    margin-left: 0;
  }
}

.richer-list__header,
.richer-list__item {
  background-color: $rich-list-item-bg-color;
  border-bottom: 1px solid $rich-list-border-color;

  > a,
  > div,
  > span,
  > td,
  > th { /* [7] */
    padding: $rich-list-item-padding;
  }
}

.richer-list__item {
  ol &,
  ul & { /* [8] */
    list-style-type: none;
  }

  a,
  span { /* [9] */
    display: inline-block;
    width: 100%;
  }

  th,
  td { /* [10] */
    background: none;
    background-color: none;
  }

  a { /* [11] */
    color: $black;
    text-decoration: none;
  }

  /**
   * States
   */

  &:hover {
    background-color: $rich-list-item-bg-hover-color;
    cursor: pointer;
  }

  &.is-selected {
    background-color: $rich-list-item-bg-selected-color;
    color: $rich-list-item-text-selected-color;
  }
}


.richer-list__item-placeholder {
  background-color: $off-white;
  height: ($line-height-base * 1.8) * 3;
  text-align: center;
  vertical-align: inherit;

  a {
    color: $link-color;
  }

  &:hover a {
    text-decoration: underline;
  }
}

.richer-list__detail {
  padding: $rich-list-item-padding;
  width: percentage(1 - $rich-list_items-width-default);
}


/* -------------------------------------------------------------------------- *\
    Variations
\* -------------------------------------------------------------------------- */

.richer-list--fit-items { /* [12] */
  &,
  .richer-list__items-container,
  .richer-list__detail {
    height: auto;
  }

  .richer-list__items {
    margin-bottom: 0; /* [13] */
  }

  .richer-list__item:last-of-type {
    border-bottom: 0; /* [14] */
  }
}


.richer-list__paginated {
  @extend .richer-list--fit-items;
  margin-bottom: 1px; /* [15] */
}


@include respond-min($screen-tablet) { /* [16] */
  .richer-list {
    .richer-list__items-container {
      width: percentage($rich-list-items-width-small);
    }

    .richer-list__detail {
      width: percentage(1 - $rich-list-items-width-small);
    }
  }


  .richer-list--medium {
    .richer-list__items-container {
      width: percentage($rich-list-items-width-medium);
    }

    .richer-list__detail {
      width: percentage(1 - $rich-list-items-width-medium);
    }
  }


  .richer-list--large {
    .richer-list__items-container {
      width: percentage($rich-list-items-width-large);
    }

    .richer-list__detail {
      width: percentage(1 - $rich-list-items-width-large);
    }
  }


  .richer-list--xlarge {
    .richer-list__items-container {
      width: percentage($rich-list-items-width-xlarge);
    }

    .richer-list__detail {
      width: percentage(1 - $rich-list-items-width-xlarge);
    }
  }
}


.richer-list--tall,
.richer-list--tall .richer-list__items-container {
  height: $rich-list-height-tall;
}


/* -------------------------------------------------------------------------- *\
    Alternative Uses
\* -------------------------------------------------------------------------- */

.deck { /* [17] */
  .richer-list__items,
  .richer-list__detail {
    height: 100%;
    overflow-y: visible;
  }
}
