{% extends '@pulsar/playground/workflow-comments/test-05/base.html.twig' %}

{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/tabs.html.twig' as tabs %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}

{% block title %}{{ parent() }}{% endblock %}

{% set heading = "My Example Document" %}

{% block progresslist %}
    <div class="progress-list progress-list-mini">

        <a href="#" class="progress-list__item progress-list__item--current">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 1</span>
                Draft
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

        <a href="#" class="progress-list__item">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 2</span>
                Submission
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

        <a href="#" class="progress-list__item">
            <span class="progress-list__label">
                <span class="badge badge--round badge--outline">Step 3</span>
                Approval
            </span>
            <span class="progress-list__arrow">&gt;</span>
        </a>

    </div>
{% endblock %}

{%
    set nav_data = {
        "1": {
            "label": "Test 01",
            "class": "",
            "href": "/app/app.php/playground/workflow-comments/test-01/index.html.twig",
            "icon": "folder"
        },
        "2": {
            "label": "Test 02",
            "class": "",
            "href": "/app/app.php/playground/workflow-comments/test-02/index.html.twig",
            "icon": "folder"
        },
        "3": {
            "label": "Test 03",
            "class": "",
            "href": "/app/app.php/playground/workflow-comments/test-03/index.html.twig",
            "icon": "folder"
        },
        "4": {
            "label": "Test 04",
            "class": "",
            "href": "/app/app.php/playground/workflow-comments/test-04/index.html.twig",
            "icon": "folder"
        },
        "5": {
            "label": "Test 05",
            "class": "is-active",
            "href": "/app/app.php/playground/workflow-comments/test-05/index.html.twig",
            "icon": "folder"
        },
        "6": {
            "label": "Final Editor's View",
            "class": "is-active",
            "href": "/app/app.php/playground/workflow-comments/final-editor/index.html.twig",
            "icon": "folder"
        },
        "7": {
            "label": "Final Approver's View",
            "class": "",
            "href": "/app/app.php/playground/workflow-comments/final-approver/index.html.twig",
            "icon": "folder"
        }
    }
%}

{% set tab %}
    {% include 'playground/workflow-comments/test-05/tab_reject.html.twig' %}
{% endset %}

{%
    set tabs_content = [
        {
          "id"    : "tab",
          "label" : "Content",
          "src"   : tab,
          "active": true
        }
    ]
%}

{% block tabs_list %}
    {{ tabs.list(tabs_content) }}
{% endblock %}

{% block tabs_content %}
    {{ tabs.content(tabs_content) }}
{% endblock %}
