{% extends '@pulsar/pulsar/layouts/tabbed.html.twig' %}

{% block body %}

    <div class="grid-container">
        <div class="grid-col grid-col--12">
            1 cols (grid-col-12)
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-col grid-col--6">
            2 cols (grid-col-6)
        </div>
        <div class="grid-col grid-col--6">
            2 cols (grid-col-6)
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-col grid-col--4">
            3 cols (grid-col-4)
        </div>
        <div class="grid-col grid-col--4">
            3 cols (grid-col-4)
        </div>
        <div class="grid-col grid-col--4">
            3 cols (grid-col-4)
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-col grid-col--3">
            4 cols (grid-col-3)
        </div>
        <div class="grid-col grid-col--3">
            4 cols (grid-col-3)
        </div>
        <div class="grid-col grid-col--3">
            4 cols (grid-col-3)
        </div>
        <div class="grid-col grid-col--3">
            4 cols (grid-col-3)
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-col grid-col--2">
            6 cols (grid-col-2)
        </div>
        <div class="grid-col grid-col--2">
            6 cols (grid-col-2)
        </div>
        <div class="grid-col grid-col--2">
            6 cols (grid-col-2)
        </div>
        <div class="grid-col grid-col--2">
            6 cols (grid-col-2)
        </div>
        <div class="grid-col grid-col--2">
            6 cols (grid-col-2)
        </div>
        <div class="grid-col grid-col--2">
            6 cols (grid-col-2)
        </div>
    </div>
{% endblock %}
