.error-summary {
    background-color: color(white);
    border: 5px solid color(danger);
    color: color(text);
    font-family: $font-family-regular;
    margin-bottom: $margin-base * 2;
    padding: $padding-base * 1.5;

    &:focus {
        outline: 3px solid color(border, focus);
    }
}

.error-summary__title {
    font-family: $font-family-heading-light;
    font-weight: normal;
    margin-bottom: $margin-base * 1.5;
    text-transform: uppercase;
}

.error-summary__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.error-summary__list-item {
    margin-bottom: $margin-small-vertical;
}

.error-summary__list-link {
    color: color(danger);

    &:hover {
        color: color(danger);
    }
}
