@mixin clear-fix($simple: false) {
    @if $simple != true {
        zoom: 1;

        // scss-lint:disable PseudoElement
        &:before,
        &:after {
            content: '';
            display: table;
        }

        &:after {
            clear: both;
        }
        // scss-lint:enable PseudoElement
    }
    @else {
        &::after {
            clear: both;
            content: '';
            display: table;
        }
    }
}
