@mixin word-wrap() {
    hyphens: auto; // not supported in chrome
    overflow-wrap: break-word; // various old FF and Saf
    word-break: break-word; // chrome
    word-break: break-all; // edge
    word-wrap: break-word; // various old FF and Saf

    // trigger word breaks and hyphens in FF
    @-moz-document url-prefix() {
        word-break: normal;
    }
}
