.columns {
  column-gap: $gutter-width;
}

.columns--2 {
  @include respond-min($screen-phone) {
    -webkit-column-count: 2;
  }
}

.columns--3 {
  @include respond-min($screen-tablet) {
    -webkit-column-count: 3;
  }
}

.columns--4 {
  @include respond-min($screen-phone) {
    -webkit-column-count: 2;
  }

  @include respond-min($screen-desktop) {
    -webkit-column-count: 4;
  }
}
