{% extends '@pulsar/pulsar/layouts/base.html.twig' %}

{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}

{% block content %}
<div class="actionsbar actionsbar--left">
  <div class="btn__toolbar">
    <div class="btn__group">
      <a class="btn btn__back" href="#back" onclick="history.back(); return false;"><i class="icon-arrow-left"></i></a>
      {% if actions_menu is not empty %}
        {{ html.button_dropdown({ 'label': 'Actions', 'items': actions_menu }) }}
      {% endif %}
    </div>
  </div>
</div>

<div class="actionsbar actionsbar--right">
  {% block actionsbar %}{% endblock %}
</div>

<h2 class="heading">{{ heading|sanitise|raw }}</h2>

<div class="dashboard">
  {% block widgets %}{% endblock %}
</div>
{% endblock %}
