{% extends 'pulsar/layouts/base.html.twig' %}
{% import 'pulsar/helpers/html.html.twig' as html %}
{% import 'pulsar/helpers/form.html.twig' as form %}
{% import 'pulsar/helpers/flash.html.twig' as flash %}

{% block content %}
<div class="actionsbar actionsbar--left">
  <div class="btn__toolbar">
    <div class="btn__group">
      <a class="btn btn__back" href="#back" onclick="history.back(); return false;"><i class="icon-arrow-left"></i></a>
      {% if actions_menu is not empty %}
        {{ html.button_dropdown(label = 'Actions', menu_items = actions_menu) }}
      {% endif %}
    </div>
  </div>
</div>

<div class="actionsbar actionsbar--right">
  {% block actionsbar %}{% endblock %}
</div>

<div class="homepage-content">
    <div class="grid-master">
        <div class="grid-container grid-overlay show-grid">
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
        </div>
    </div>
</div>
<div class="homepage-sidebar">
  
  <div class="widget-default-controls">
    {{ html.button(
        label = html.icon('copy') ~ ' Duplicate',
        attributes = 'data-action=widget-duplicate data-widget-id=null')
    }}
  </div>
</div>
{% endblock %}

{% block modals %}
<div id="remove_row_modal" class="modal modal--danger">
  {% include '/modals/homepages/remove_non_empty_row.html.twig' %}
</div>
<div id="clear_homepage_modal" class="modal modal--danger">
  {% include '/modals/homepages/clear_homepage.html.twig' %}
</div>
{% endblock %}