{% extends "pulsar/layouts/base.html.twig" %}

{% block content %}
<div class="homepage">
    <div class="grid-master">
        <div class="grid-container grid-overlay show-grid">
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-span-4 column widget draggable resizable">
            <div class="widget-content">
                <h2>Some content</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, cum, eius, deleniti quia magnam quisquam ut eum ipsam beatae hic numquam incidunt vitae nulla. Animi, quae quidem necessitatibus adipisci suscipit.
                </p>
            </div>
        </div>
        <div class="grid-span-4 column widget draggable resizable">
            <div class="widget-content">
                <h2>Some content</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, cum, eius, deleniti quia magnam quisquam ut eum ipsam beatae hic numquam incidunt vitae nulla. Animi, quae quidem necessitatibus adipisci suscipit.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}