{% extends "pulsar/layouts/base.html.twig" %}

{% block content %}
<div class="homepage">
    <div class="grid-master">
        <div class="grid-container grid-overlay show-grid">
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
        </div>
    </div>
    <div class="grid-container widget-row">
        <div class="row-handler column grid-span-12">
            <span>Row 1</span>
            <a href="#" class="remove-row">
                <span class="icon-remove"></span>
            </a>
        </div>
        <div class="grid-span-4 column widget draggable resizable">
            <div class="widget-content">
                <img src=" http://placecage.com/c/400/300" alt="">
            </div>
        </div>
        <div class="grid-span-6 column widget draggable resizable">
            <div class="widget-content">
                <h2>Nicholas Cage!!1!!</h2>
                <p>
                    That techno-rock you guys listen to is gutless. Well fuck you for sure like totally! Oh well Peter Piper picked a pepper I guess I did! This is pistachio paste isn't it? No but your face is. No one is gonna tell me who I can score with! Now I want this chick she wants me so fuck it we're goin' back. All right but when they attack the car save the radio.
                </p>
                <p>
                    They somehow managed to get every creep and freak in the universe onto this one plane. And then somehow managed to let them take it over. And then somehow managed to stick us right smack in the middle. What do you think I'm gonna do? I'm gonna save the fuckin' day! Hey! My mama lives in a trailer!
                </p>
            </div>
        </div>
        <div class="grid-span-2 column widget draggable resizable">
            <div class="widget-content">
                <img src=" http://placecage.com/c/200/150" alt="">
                <img src=" http://placecage.com/200/150" alt="">
            </div>
        </div>
    </div>

    <div class="grid-container widget-row">
         <div class="row-handler column grid-span-12">
            <span>Row 2</span>
        </div>
        <div class="grid-span-4 column widget draggable resizable">
            <h2>Nicholas Cage facts</h2>
            <ul>
                <li>He is great</li>
                <li>He is wonderful</li>
                <li>He is talented</li>
                <li>He lived in a fake castle on the outskirts Los Angeles. He wants to import an authentic one from overseas.</li>
                <li>He said he realized that all great movie stars, such as Spencer Tracy, had had recognizable voices, so he has stylized his to be distinctive.</li>
            </ul>
        </div>
    </div>

    <div class="grid-container widget-row">
        <div class="row-handler column grid-span-12">
            <span>Row 3</span>
        </div>
        <div class="grid-span-12 column widget draggable resizable">
            <img src=" http://placecage.com/c/1800/900" alt="">
        </div>
    </div>

    <div class="grid-container widget-row">
        <div class="row-handler column grid-span-12">
            <span>Row 4</span>
        </div>
        <div class="grid-span-12 column widget draggable resizable">
            <h1>I love you Nicholas Cage</h1>
        </div>
    </div>

    <div class="grid-container widget-row">
        <div class="row-handler column grid-span-12">
            <span>Row 5</span>
        </div>
        <div class="grid-span-2 column widget draggable resizable">
            <img src="http://placecage.com/c/150/150" alt="">
        </div>
        <div class="grid-span-2 column widget draggable resizable">
            <img src="http://placecage.com/c/75/75" alt="">
        </div>
        <div class="grid-span-2 column widget draggable resizable">
            <img src="http://placecage.com/c/90/90" alt="">
        </div>
        <div class="grid-span-2 column widget draggable resizable">
            <img src="http://placecage.com/c/100/100" alt="">
        </div>
        <div class="grid-span-2 column widget draggable resizable">
            <img src="http://placecage.com/c/200/200" alt="">
        </div>
        <div class="grid-span-2 column widget draggable resizable">
            <img src="http://placecage.com/c/300/300" alt="">
        </div>
    </div>

</div>
{% endblock %}