{% extends 'pulsar/layouts/pulsar.html.twig' %}
{% import 'pulsar/helpers/html.html.twig' as html %}
{% import 'pulsar/helpers/form.html.twig' as form %}
{% import 'pulsar/helpers/flash.html.twig' as flash %}

{% block content %}
<div class="buttons-container">
  <div class="actionsbar actionsbar--left">
    <div class="btn__toolbar">
      <div class="btn__group">
        <a class="btn btn__back" href="#back" onclick="history.back(); return false;"><i class="icon-arrow-left"></i></a>
        {% if actions_menu is not empty %}
          {{
              html.button_dropdown(
                label = 'Actions',
                menu_items = actions_menu,
                class = 'actions-menu')
          }}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="actionsbar actionsbar--right">
    {% block actionsbar %}{% endblock %}
  </div>
</div>

<div class="homepage-content">
    <div class="grid-master">
        <div class="grid-container grid-overlay show-grid">
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
        </div>
    </div>
    <div class="homepage-item ui-sortable">
      <div class="grid-container widget-row" id="row-1">
        <div class="row-handler column grid-span-12">
          <a class="icon-magic fill-row" data-toggle="tooltips" data-original-title="Resize widgets to fill row" data-placement="bottom"></a>
          <a class="icon-remove-sign clear-row" data-toggle="tooltips" data-original-title="Clear the contents of this row" data-placement="bottom"></a>
          <a class="icon-trash remove-row" data-toggle="tooltips" data-original-title="Remove this row" data-placement="bottom"></a>
            Row 1
        </div>
        <div class="row-hint">
          <p>Drop widgets into this row to start creating your homepage</p>
          {{
            html.button(
              label = 'Show Widgets',
              class = 'btn--primary',
              attributes = 'data-toggle=tray data-target=#tray')
          }}
        </div>
      </div>
    </div>
    <div class="homepage-sidebar">
      <div class="widget-default-controls">
        {{ html.button(
            label = html.icon('copy') ~ ' Duplicate',
            attributes = 'data-action=widget-duplicate data-widget-id=null')
        }}
      </div>
    </div>
</div>
{% endblock %}

{% block modals %}
<div id="remove_row_modal" class="modal modal--danger">
  {% include '/modals/homepages/remove_non_empty_row.html.twig' %}
</div>
<div id="clear_row_modal" class="modal modal--danger">
  {% include '/modals/homepages/clear_row.html.twig' %}
</div>
<div id="clear_homepage_modal" class="modal modal--danger">
  {% include '/modals/homepages/clear_homepage.html.twig' %}
</div>
{% endblock %}
