{% extends "pulsar/layouts/base.html.twig" %}

{% block content %}

<div class="homepage-content">
    <div class="grid-master">
        <div class="grid-container grid-overlay show-grid">
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
            <div class="grid-span-1 column"></div>
        </div>
    </div>
</div>
{% endblock %}