{% extends '@pulsar/pulsar/layouts/base.html.twig' %}

{% block body %}

    <header id="top">
        {% include '@pulsar/pulsar/components/flash.html.twig' %}
    </header>

    <div role="main" class="container" id="top">

        <div class="flash-container js-flash-container">
            {% include '@pulsar/pulsar/components/flash.html.twig' %}
        </div>

        {{ nav.primary({ 'data': nav_data|default() }) }}



        {% block content %}{% endblock %}
        {% block decks %}{% endblock %}
    </div>

    <div id="modal" class="modal" role="dialog" aria-hidden="true">
        <!-- empty modal for ajax requests -->
    </div>

    {% block modals %}{% endblock %}
    {% block javascript %}{% endblock %}

{% endblock body %}
