{% extends '@pulsar/pulsar/layouts/base.html.twig' %}

{% block body %}
<<<<<<< Updated upstream
    <header id="top">
        {% include '@pulsar/pulsar/components/flash.html.twig' %}
    </header>

<<<<<<< Updated upstream
    <div role="main" class="container">
=======
    {% block summary %}{% endblock %}
=======

    <div role="main" class="container" id="top">

        <div class="flash-container js-flash-container">
            {% include '@pulsar/pulsar/components/flash.html.twig' %}
        </div>
>>>>>>> Stashed changes
>>>>>>> Stashed changes

        {% block content %}{% endblock %}
        {% block decks %}{% endblock %}
    </div>

    <div id="modal" class="modal" role="dialog" aria-hidden="true">
        <!-- empty modal for ajax requests -->
    </div>

    {% block modals %}{% endblock %}
    {% block javascript %}{% endblock %}

{% endblock body %}
