{% extends '@pulsar/pulsar/layouts/base.html.twig' %}

{% block body %}
    <header id="top">
        {% include '@pulsar/pulsar/components/flash.html.twig' %}
    </header>
    {# include '@pulsar/pulsar/components/breadcrumb.html.twig' #}

    {% block summary %}{% endblock %}

    <div role="main" class="container">
        {% include '@pulsar/pulsar/components/navigation.html.twig' %}

        <div class="toolbar">
            <form class="nav-search">
                <input type="search" placeholder="Search" class="nav-search__field" />
                <button class="nav-search__submit">{{ html.icon('search') }}</button>
            </form>

            <div class="nav-user">
                {{
                    html.button_dropdown({
                        "label": "Paul Stanton",
                        "class": "user-menu btn--naked",
                        "items": [
                            html.link({
                                "label": html.icon('user') ~ " My details",
                                "href": "#foo"
                            }),
                            html.link({
                                "label": html.icon('key') ~ " Change password",
                                "href": "#foo"
                            }),
                            html.divider(),
                            html.link({
                                "label": html.icon('power-off') ~ " Sign out",
                                "href": "#foo"
                            }),
                        ]
                    })
                }}
            </div>

        </div>

        <div class="content-main">
            {% block content %}{% endblock %}
        </div>

        {% block decks %}{% endblock %}
    </div>

    <!-- <footer class="footer">
        {{
            html.link({
                'label': html.icon('long-arrow-up') ~ ' Top',
                'href': '#top'
            })
        }}
        {{
            html.link({
                'label': 'Jadu 1.12 &copy; 2014',
                'href': '/credits'
            })
        }}
    </footer> -->

    <div id="modal" class="modal" role="dialog" aria-hidden="true">
        <!-- empty modal for ajax requests -->
    </div>

    {% block modals %}
    {% endblock %}

    {% block javascript %}{% endblock %}
{% endblock %}
