{% import '@pulsar/pulsar/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/helpers/pulsar.html.twig' as pulsar %}
<div class="modal__dialog">
  <div class="modal__content">
    <div class="modal__header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 id="share-modal-title" class="modal__title">Share &lsquo;<span id="dashboard-title">{{ heading }}</span>&rsquo; Template</h4>
    </div>
    <div class="modal__body">
      <p>To share this dashboard as a template simply send this link to another Jadu user, when they click it they will be asked if they would like to use the template.</p>
      <ul>
        <li>No personal settings, usernames or passwords will be shared</li>
        <li>No other changes you make will be shared with anyone using this template</li>
      </ul>
      {{ form.create(action = '#dashboard-share', attributes = 'data-action=share') }}
      {{ 
        form.text(
          label =  'Share link',
          name =   'sharelink',
          class =  'form__group--full',
          value =  'http://jadu.net/myreallyreallylongdashboardlink'
        )
      }}
      </form>
    </div>
    <div class="modal__footer">
      <button type="button" class="btn" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn--primary" data-dismiss="modal">Finished</button>
      </form>
    </div>
  </div>
</div>
