.show-baseline {
  @include baseline-grid;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

.visually-hidden {
  display: none;
}

.muted {
  color: $gray;
}

.centered {
  text-align: center;
}

p.success {
  background: rgba(0, 153, 51, .8);
  color: $white;
  padding: 5px 5px;
  text-shadow: 0 0 2px rgba(0, 0, 0, .5);

  i {
    margin: 0 4px;
  }
}

// Removes default link styling
.naked-link,
.naked-link:hover {
  text-decoration: none;
  color: inherit;
}
