<!-- Demo ajax content for /views/lexicon/tabs/decks.html.twig -->
<div class="slide">
    <div class="slide-inner padded">
        <button class="close" data-dismiss="deck">×</button>
        <h2 class="slide__title">Ajax deck</h2>
        <p>This content was retrieved through the magic of Ajax.</p>
        <p>We strongly recommend you use Ajax decks where possible, it keeps your views uncluttered and allows decks to be used in multiple places.</p>
    </div>
</div>
