{% extends '@pulsar/pulsar/layouts/tabbed.html.twig' %}

{% block body %}

{#
    set nav_data = {
        "1": {
            "label": "Publishing",
            "class": "",
            "href": '#publishing',
            "icon": "pencil",
            "items": {
                "1.1": {
                    "1.1.1": {
                        "label": "Address &amp; Contacts",
                        "href": "#foo"
                    },
                    "1.1.2": {
                        "label": "Document pages",
                        "href": "#foo"
                    },
                    "1.1.3": {
                        "label": "Landing pages",
                        "href": "#foo"
                    },
                    "1.1.4": {
                        "label": "Blogs",
                        "href": "#foo"
                    },
                    "1.1.5": {
                        "label": "Document Directories",
                        "href": "#foo"
                    }
                },
                "1.2": {
                    "1.1.1": {
                        "label": "Address &amp; Contacts",
                        "href": "#foo"
                    },
                    "1.1.2": {
                        "label": "Document pages",
                        "href": "#foo"
                    },
                    "1.1.3": {
                        "label": "Landing pages",
                        "href": "#foo"
                    },
                    "1.1.4": {
                        "label": "Blogs",
                        "href": "#foo"
                    },
                    "1.1.5": {
                        "label": "Document Directories",
                        "href": "#foo"
                    }
                }
            }
        },
        "2": {
            "label": "xForms Pro",
            "class": "",
            "href": '#xforms',
            "icon": "check-sign",
            "items": {
                "2.1": {
                    "2.1.1": {
                        "label": "Create form",
                        "href": "#foo"
                    }
                }
            }
        },
        "3": {
            "label": "Settings",
            "class": "",
            "href": '#settings',
            "icon": "gear",
            "items": {
                "3.1": {
                    "3.1.1": {
                        "label": "Create form",
                        "href": "#foo"
                    }
                }
            }
        }

    }
#}

{% set nav_data = [
    {
      "label"     : "Components",
      "href"      : "#components",
      "icon"      : "th",
      "id"        : "components",
      "items"     : [{
        {
          "label" : "Colours",
          "href"  : "tab_colours",
          "icon"  : 'tint',
          "id"    : "colours"
        },
        {
          "label" : "Buttons",
          "href"  : "tab_buttons",
          "icon"  : "plus-sign-alt",
          "id"    : "buttons"
        }
      }]
    }
]
%}

<div class="ui">
    {{ nav.primary({ 'data': nav_data }) }}
</div>

{% endblock %}
