{% extends '@pulsar/pulsar/layouts/tabbed.html.twig' %}

{% block body %}

<div class="ui">
<nav class="nav-main">

  <div class="nav-primary">

    <a href="http://jadu.net">Jadu</a>

    <ul class="nav-items">
      <li class="nav-item">
          <a href="#home" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
          <a href="#publishing" class="nav-link">Publishing</a>
      </li>
      <li class="nav-item">
          <a href="#events" class="nav-link">Events</a>
      </li>
      <li class="nav-item">
          <a href="#xforms" class="nav-link">XForms Pro</a>
      </li>
      <li class="nav-item">
          <a href="#settings" class="nav-link">Settings</a>
      </li>
    </ul>
  </div><!--

--><div class="nav-secondary nav-secondary--closed">

    <a href="#close" data-nav-action="close">x</a>

    <form>
      <input type="search" placeholder="search" />
      <button>Go</button>
    </form>

    <ul data-nav="#publishing" class="nav-items">
      <li class="nav-item">
        <a href="#documents" class="nav-link">Document pages</a>
      </li>
      <li class="nav-item">
        <a href="#landing" class="nav-link">Landing pages</a>
      </li>
      <li class="nav-item">
        <a href="#news" class="nav-link">News articles</a>
      </li>
    </ul>

    <ul data-nav="#xforms" class="nav-items">
      <li class="nav-item">
        <a href="#forms" class="nav-link">Forms</a>
      </li>
    </ul>

  </div>

</nav><!--

--><div class="main">
  This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content This is my content
</div>

    </div>
</body>
</html>

{% endblock %}
