// TPT Branding

$tpt-blue:                          #64b7c6;
$tpt-blue-light:                    #a2d4dd;
$tpt-blue-lightest:                 #e0f1f4;

$tpt-gray:                          #54534a;
$tpt-gray-light:                    #a9a9a4;

// Assignments

$accent-color:                      $tpt-blue;
$accent-color-alt:                  $white;

$toolbar-bg:                        white;
$toolbar-bg-hover:                  transparent;

$toolbar-link-color:                $tpt-blue;
$toolbar-link-color-hover:          darken($tpt-blue, 5%);

$toolbar-notification-bg:           $accent-color;
$toolbar-notification-text-color:   $white;
$toolbar-notification-item-hover:   $white;

$search-bg:                         $tpt-blue-lightest;
$search-bg-focus:                   $search-bg;
$search-color:                      $accent-color;
$search-text-color:                 $accent-color;
$search-accent-color:               $accent-color;

$toolbar-dropdown-link-color:       $accent-color;

$btn-primary-color:                 $tpt-blue;
