$font-family-regular:                 'franklin_gothic_fsbook', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-family-semibold:                'franklin_gothic_medium', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$font-family-base:                    $font-family-regular;

// -----------------------------------------------------------------------------
//  Search
// -----------------------------------------------------------------------------

$search-border-radius:                50px;
