// -----------------------------------------------------------------------------
//  Paths
// -----------------------------------------------------------------------------

$theme-image-path:                    '../theme/images/';

// -----------------------------------------------------------------------------
//  Search
// -----------------------------------------------------------------------------

$search-border-radius:                50px;

// -----------------------------------------------------------------------------
//  Branding
// -----------------------------------------------------------------------------

$brand-image:                         $theme-image-path + 'tpt-logo.png';
$brand-height:                        84px / 2;
$brand-width:                         274px / 2;
$brand-background-size:               100%;

// -----------------------------------------------------------------------------
//  Toolbar
// -----------------------------------------------------------------------------

$toolbar-height:                      $brand-height + (16 * 2);
$toolbar-height-small:                90px;

// -----------------------------------------------------------------------------
//  Search
// -----------------------------------------------------------------------------

$search-form-height:                  $toolbar-height - $toolbar-accent-height;
$search-height:                       $line-height-base;
$search-width:                        100% !default;
$search-max-width:                    200px !default;
